/*.tempus-dominus-widget .calendar-header .next:hover {
  background: #e9ecef;
}
.tempus-dominus-widget .calendar-header .previous:hover {
  background: #e9ecef;
}
.tempus-dominus-widget .calendar-header .picker-switch:hover {
  background: #e9ecef;
}*/
.tempus-dominus-widget .toolbar div {
  border-radius: 0.2rem;
}
.tempus-dominus-widget .date-container-decades div:not(.no-highlight),
.tempus-dominus-widget .date-container-years div:not(.no-highlight),
.tempus-dominus-widget .date-container-months div:not(.no-highlight),
.tempus-dominus-widget .date-container-days div:not(.no-highlight),
.tempus-dominus-widget .time-container-clock div:not(.no-highlight),
.tempus-dominus-widget .time-container-hour div:not(.no-highlight),
.tempus-dominus-widget .time-container-minute div:not(.no-highlight),
.tempus-dominus-widget .time-container-second div:not(.no-highlight) {
  border-radius: 0.2rem;
}
.tempus-dominus-widget .time-container-clock {
  justify-items: center;
}
