{% extends 'base.html' %}
{% load views forms markdown %}

{% block title %}
Новый набор тестов
{% endblock title %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% breadcrumb contest.course contest.course %}
{% breadcrumb contest contest %}
{% if testsuite %}
{% breadcrumb testsuite testsuite %}
{% breadcrumb "Редактирование" %}
{% else %}
{% breadcrumb "Новый набор тестов" %}
{% endif %}
{% endblock breadcrumbs %}

{% block content %}
<legend>{% if testsuite %}Редактирование{% else %}Добавление{% endif %} набора тестов</legend>

<form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
    {% csrf_token %}
    {{ form.media }}
    {% render_form_errors form %}
    {% with WIDGET_RENDER_TO_TEMPLATE="field.html" %}
        {% render_field form.title class+="form-control" %}
        {% render_field form.description class+="form-control" %}
    {% endwith %}
    
    <legend class="mb-3">Тесты</legend>

    <!-- New test form -->
    <div class="card mb-4">
        <div class="card-body">
            <h6 class="card-title mb-3">
                Новый тест
            </h6>
            {% with WIDGET_RENDER_TO_TEMPLATE="field.html" %}
                {% render_field test_form.question class+="form-control" placeholder=test_form.question.label %}
                {% render_field test_form.right_answer class+="form-control"  %}
                {% endwith %}
            <input type="button" onclick="handleTestAdd()" class="btn btn-light border" value="Добавить тест"/>
        </div>
    </div>

    {{ test_formset.management_form }}

    <!-- Created tests list -->
    <div id="created_tests">
        
    </div>

    {% render_submit_button value="Сохранить" %}
</form>

<!-- Blank test card -->
<div id="blank_test" class="d-none">
    <div class="card mb-4">
        <div class="card-header d-flex justify-content-between align-items-center">
            <span class="test-title"></span>
            <input id="delete_test" type="button" onclick="handleTestDelete(this.name)" class="delete-test btn btn-danger btn-sm" value="Удалить"/>
        </div>
        <div class="card-body">
            <span class="test-question"></span>
            <span class="text-muted">Правильный ответ: </span>
            <span class="test-answer"></span>
        </div>
        <input class="question-hidden" type="hidden"/>
        <input class="answer-hidden" type="hidden"/>
    </div>
</div>

{% endblock content %}


{% block javascript %}
<script>

document.getElementById("id_right_answer").required = false;

function updateTestsNumeration(createdTests) {
    for (i = 0; i < createdTests.childElementCount; i++) {
        let card = createdTests.children[i];
        console.log(card)
        let testTitle = card.getElementsByClassName("test-title")[0];
        testTitle.innerText = "Тест " + (i + 1);

        card.getElementsByClassName("delete-test")[0].setAttribute("name", i);

        let questionHidden = card.getElementsByClassName("question-hidden")[0];
        questionHidden.setAttribute("id", "id_test_set-" + i + "-question");
        questionHidden.setAttribute("name", "test_set-" + i + "-question");

        let answerHidden = card.getElementsByClassName("answer-hidden")[0];
        answerHidden.setAttribute("id", "id_test_set-" + i + "-right_answer");
        answerHidden.setAttribute("name", "test_set-" + i + "-right_answer");
    }
}

function handleTestDelete(testNumber) {
    const createdTests = document.getElementById("created_tests");
    createdTests.removeChild(createdTests.children[testNumber]);
    updateTestsNumeration(createdTests);
}

function handleTestAdd() {
    const questionValue = CKEDITOR.instances.id_question.getData();
    const rightAnswer = document.getElementById("id_right_answer");
    const rightAnswerValue = document.getElementById("id_right_answer").value;
    const createdTests = document.getElementById("created_tests");
    
    createdTests.appendChild(createTestCard(questionValue, rightAnswerValue));
    
    let totalFormsHiddenInput = document.getElementById("id_test_set-TOTAL_FORMS")
    totalFormsHiddenInput.setAttribute("value", parseInt(totalFormsHiddenInput.value) + 1)

    updateTestsNumeration(createdTests);

    CKEDITOR.instances.id_question.setData("");  // reset CKEditor field
    rightAnswer.value = ""; // reset right_answer field
}

function createTestCard(question, rightAnswer) {
    const blankTest = document.getElementById("blank_test");

    let card = blankTest.getElementsByClassName("card")[0].cloneNode(true);

    card.getElementsByClassName("test-question")[0].innerHTML = question;
    card.getElementsByClassName("test-answer")[0].innerText = rightAnswer;
    card.getElementsByClassName("question-hidden")[0].setAttribute("value", question);
    card.getElementsByClassName("answer-hidden")[0].setAttribute("value", rightAnswer);

    return card;
}

</script>
{% endblock javascript %}
