{% extends 'base.html' %}
{% load views forms markdown %}

{% block title %}
Новый набор тестов
{% endblock title %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% breadcrumb contest.course contest.course %}
{% breadcrumb contest contest %}
{% if testsuite %}
{% breadcrumb testsuite testsuite %}
{% breadcrumb "Редактирование" %}
{% else %}
{% breadcrumb "Новый набор тестов" %}
{% endif %}
{% endblock breadcrumbs %}

{% block content %}
<legend>{% if testsuite %}Редактирование{% else %}Добавление{% endif %} набора тестов</legend>

<form id="testsuite_create" action="" method="post" enctype="multipart/form-data" class="form-horizontal">
    {% csrf_token %}
    {{ form.media }}
    {% render_form_errors form %}
    {% with WIDGET_RENDER_TO_TEMPLATE="field.html" WIDGET_ERROR_CLASS="is-invalid" %}
        {% render_field form.title class+="form-control" %}
        {% render_field form.description class+="form-control" %}
    {% endwith %}
    
    <legend class="mb-3">Тесты</legend>

    {% if form.errors.test_formset %}
    <div class="alert alert-danger">
        {{ form.errors.test_formset }}
    </div>
    {% endif %}

    {{ test_formset.management_form }}

    <!-- Created tests list -->
    <div id="created_tests">
        {% for form in test_formset %}
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <span class="test-title"></span>
                    <input id="delete_test" type="button" onclick="handleTestDelete(this.name)" class="delete-test btn btn-danger btn-sm" value="Удалить"/>
                </div>
                <div class="card-body">
                    {% with form.question as field %}
                        <span class="question-hidden">
                            {{ field.as_hidden }}
                        </span>
                        <div class="text-muted">Вопрос: </div>
                        <span class="test-question">
                        </span>
                        <div class="text-danger">
                            {% for error in form.errors.question %}
                                {{ error }}
                            {% endfor %}
                        </div>
                        {% if form.question.append_text %}
                            <div>{{ form.question.append_text }}</div>
                        {% endif %}
                        {% if form.question.help_text %}
                            <small class="text-muted">{{ form.question.help_text }}</small>
                        {% endif %}
                    {% endwith %}

                    {% with form.right_answer as field %}
                        <span class="text-muted">Правильный ответ: </span>
                        <span class="answer-hidden">
                            {{ field.as_hidden }}
                        </span>
                        <span class="test-answer">

                        </span>
                        <div class="text-danger">
                            {% for error in form.errors.right_answer %}
                                {{ error }}
                            {% endfor %}
                        </div>
                        {% if form.right_answer.append_text %}
                            <div class="input-group-append">
                                <span class="input-group-text">{{ form.right_answer.append_text }}</span>
                            </div>
                        {% endif %}
                        {% if form.right_answer.help_text %}
                            <small class="form-text text-muted">{{ form.right_answer.help_text }}</small>
                        {% endif %}
                    {% endwith %}
                </div>
            </div>            
        {% endfor %}
    </div>

    <!-- New test form -->
    <div id="new_test" class="card mb-4">
        <div class="card-body">
            <h6 class="card-title mb-3">
                Новый тест
            </h6>
            {% with WIDGET_RENDER_TO_TEMPLATE="field.html" %}
                {% render_field test_form.question class+="form-control" %}
                {% render_field test_form.right_answer class+="form-control" %}
            {% endwith %}
            <div class="text-danger mb-3">

            </div>
            <input type="button" onclick="handleTestAdd()" class="btn btn-light border" value="Добавить тест"/>
        </div>
    </div>

    {% render_submit_button value="Сохранить" %}
</form>

<!-- Blank test card -->
<div id="blank_test" class="d-none">
    <div class="card mb-4">
        <div class="card-header d-flex justify-content-between align-items-center">
            <span class="test-title"></span>
            <input id="delete_test" type="button" onclick="handleTestDelete(this.name)" class="delete-test btn btn-danger btn-sm" value="Удалить"/>
        </div>
        <div class="card-body">
            <span class="question-hidden">
                <input type="hidden"/>
            </span>
            <span class="test-question">
            </span>
            <span class="text-muted">Правильный ответ: </span>
            <span class="answer-hidden">
                <input type="hidden"/>
            </span>
            <span class="test-answer">
            </span>
        </div>
    </div>
</div>

{% endblock content %}


{% block javascript %}
<script>

document.getElementById("id_right_answer").required = false;

const createdTests = document.getElementById("created_tests");
updateTestsNumeration(createdTests);
updateCardsValues(createdTests);

function updateCardsValues(createdTests) {
    for (i = 0; i < createdTests.childElementCount; i++) {
        let card = createdTests.children[i];

        const questionHiddenInputValue = card.getElementsByClassName("question-hidden")[0].firstElementChild.value;
        const answerHiddenInputValue = card.getElementsByClassName("answer-hidden")[0].firstElementChild.value;
        card.getElementsByClassName("test-question")[0].innerHTML = questionHiddenInputValue;
        card.getElementsByClassName("test-answer")[0].innerText = answerHiddenInputValue;
    }
}

function updateTestsNumeration(createdTests) {
    for (i = 0; i < createdTests.childElementCount; i++) {
        let card = createdTests.children[i];

        card.getElementsByClassName("test-title")[0].innerText = "Тест " + (i + 1);
        card.getElementsByClassName("delete-test")[0].setAttribute("name", i);

        let questionHiddenInput = card.getElementsByClassName("question-hidden")[0].firstElementChild;
        questionHiddenInput.setAttribute("id", "id_test_set-" + i + "-question");
        questionHiddenInput.setAttribute("name", "test_set-" + i + "-question");

        let answerHiddenInput = card.getElementsByClassName("answer-hidden")[0].firstElementChild;
        answerHiddenInput.setAttribute("id", "id_test_set-" + i + "-right_answer");
        answerHiddenInput.setAttribute("name", "test_set-" + i + "-right_answer");
    }
}

function handleTestDelete(testNumber) {
    const createdTests = document.getElementById("created_tests");
    createdTests.removeChild(createdTests.children[testNumber]);
    updateTestsNumeration(createdTests);

    let totalFormsHiddenInput = document.getElementById("id_test_set-TOTAL_FORMS")
    totalFormsHiddenInput.setAttribute("value", parseInt(totalFormsHiddenInput.value) - 1)
}

function handleTestAdd() {
    const questionValue = CKEDITOR.instances.id_question.getData();
    const rightAnswer = document.getElementById("id_right_answer");
    const rightAnswerValue = rightAnswer.value;

    const newTestCard = document.getElementById("new_test");

    if (questionValue.length == 0 || rightAnswerValue.length == 0) {
        newTestCard.getElementsByClassName("text-danger")[0].innerText = "Оба поля обязательны для заполнения.";
        newTestCard.classList.add("border-danger");
        return;
    }

    newTestCard.getElementsByClassName("text-danger")[0].innerText = "";
    newTestCard.classList.remove("border-danger");

    const createdTests = document.getElementById("created_tests");
    createdTests.appendChild(createTestCard(questionValue, rightAnswerValue));
    let totalFormsHiddenInput = document.getElementById("id_test_set-TOTAL_FORMS")
    totalFormsHiddenInput.setAttribute("value", parseInt(totalFormsHiddenInput.value) + 1)

    updateTestsNumeration(createdTests);

    CKEDITOR.instances.id_question.setData("");  // reset CKEditor field
    rightAnswer.value = ""; // reset right_answer field
}

function createTestCard(question, rightAnswer) {
    const blankTest = document.getElementById("blank_test");

    let card = blankTest.getElementsByClassName("card")[0].cloneNode(true);

    card.getElementsByClassName("test-question")[0].innerHTML = question;
    card.getElementsByClassName("test-answer")[0].innerText = rightAnswer;
    card.getElementsByClassName("question-hidden")[0].firstElementChild.setAttribute("value", question);
    card.getElementsByClassName("answer-hidden")[0].firstElementChild.setAttribute("value", rightAnswer);

    return card;
}

</script>
{% endblock javascript %}
