{% extends 'base.html' %}
{% load views contests markdown static %}

{% block title %}
Набор тестов
{% endblock title %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% breadcrumb testsuite.contest.course testsuite.contest.course %}
{% breadcrumb testsuite.contest testsuite.contest %}
{% breadcrumb testsuite %}
{% endblock breadcrumbs %}

{% block content %}
<legend>{{ testsuite }}</legend>
<ul class="nav nav-tabs mb-3" role="tablist">
    <li class="nav-item">
        <a aria-controls="description" aria-selected="{% if not tab or tab == 'description' %}true{% else %}false{% endif %}"
           class="nav-link {% if not tab or tab == 'description' %}active{% endif %}" data-toggle="tab"
           href="#description" id="description-tab" role="tab">Описание</a>
    </li>
    <li class="nav-item">
        <a aria-controls="submissions" aria-selected="{% if tab == 'submissions' %}true{% else %}false{% endif %}"
           class="nav-link {% if tab == 'submissions' %}active{% endif %}" data-toggle="tab" href="#submissions"
           id="submissions-tab" role="tab">Посылки</a>
    </li>
    {% if perms.contests.view_solution %}
    {% endif %}

</ul>
<div class="tab-content">
    <div aria-labelledby="description-tab" class="tab-pane fade {% if not tab or tab == 'description' %}show active{% endif %}" id="description" role="tabpanel">
        <p>{{ testsuite.description|markdown|safe }}</p>
        <legend>Тесты</legend>

        {% if perms.contests.add_testsuite %}
        <div class="form-check mb-3">
            <input class="form-check-input" type="checkbox" onclick="handleShowAnswers()" value="" id="show_answers">
            <label class="form-check-label" for="show_answers">
                Показать ответы
            </label>
        </div>
        {% endif %}
        
        {% for test in tests %}
        <div class="card mb-4">
            <div class="card-header">
                Тест #{{ test.number }}
            </div>
            <div class="card-body">
                {{ test.question|markdown|safe }}
                {% if perms.contests.add_testsuite %}
                <span class="test-answer" style="display:none">Правильный ответ: {{ test.right_answer }}</span>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
    <div aria-labelledby="submissions-tab" class="tab-pane fade {% if tab == 'submissions' %}show active{% endif %}" id="submissions" role="tabpanel">
        {% with testsuite.testsuitesubmission_set.all as testsuitesubmissions %}
        {% render_testsuitesubmission_table %}
        {% endwith %}
    </div>
    {% if perms.contests.view_solution %}
    <div aria-labelledby="solutions-tab" class="tab-pane fade" id="solutions" role="tabpanel">
        <div class="alert alert-warning">Доступно только преподавателям</div>
        {% render_list problem.solution_set.all %}
    </div>
    {% endif %}
</div>


{% endblock content %}

{% block submenu %}
<div class="list-group mb-3">
<!--    {% if perms.contests.change_testsuite %}-->
<!--    <a href="{% url 'contests:testsuite-update' testsuite.id %}" class="list-group-item list-group-item-action"><i-->
<!--            class="fa fa-edit fa-fw"></i> Редактировать набор тестов</a>-->
<!--    {% endif %}-->
    {% if perms.contests.change_testsuite %}
    <a href="{% url 'contests:testsuite-delete' testsuite.id %}" class="list-group-item list-group-item-action"><i
            class="fa fa-trash fa-fw"></i> Удалить набор тестов</a>
    {% endif %}
</div>
<div class="list-group mb-3">
    {% if perms.contests.add_testsuitesubmission %}
    <a href="{% url 'contests:testsuitesubmission-create' testsuite.id %}" class="btn btn-info btn-block"><i
            class="fa fa-file-code-o fa-fw"></i> Решить тест</a>
    {% endif %}
</div>
{% endblock submenu %}

{% block javascript %}
<script>

function handleShowAnswers() {
    const showAnswersCheckbox = document.getElementById("show_answers");
    const testAnswerElements = document.getElementsByClassName("test-answer");

    if (showAnswersCheckbox.checked) {
        for (let testAnswer of testAnswerElements) {
            testAnswer.style.display = "block";
        }
    } else {
        for (let testAnswer of testAnswerElements) {
            testAnswer.style.display = "none";
        }
    }

}

</script>

<script src="{% static 'MathJax/es5/tex-chtml.js' %}" type="text/javascript"></script>
<!--<script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS_CHTML"></script>-->
{% endblock javascript %}
