{% extends 'base.html' %}
{% load views forms %}

{% block title %}
Вариант ответа
{% endblock title %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% breadcrumb option.question.contest.course option.question.contest.course %}
{% breadcrumb option.question.contest option.question.contest %}
{% breadcrumb option.question option.question %}
{% breadcrumb option %}
{% breadcrumb "Удаление" %}
{% endblock breadcrumbs %}

{% block content %}
<legend>Удаление варианта ответа</legend>
{% render_delete_form option %}
{% endblock content %}
