Django==3.2.16
django-pagedown>=2.2.1
django-ckeditor>=6.1.0
Markdown>=3.3.4
Pygments>=2.10.0
Pillow>=8.4.0
mysqlclient>=2.0.3  # mysql_config not found? install libmysqlclient-dev (ubuntu) or similar
mosspy>=1.0.9
python-docx>=0.8.11
celery>=5.2.0
numpy>=1.21.4
scipy>=1.7.2
sqlalchemy>=1.4.27
docker>=5.0.3
mammoth~=1.4.19
xlsx2html~=0.4.0
PyDocX~=0.9.10
xls2xlsx~=0.1.5
currency-symbols==2.0.1
openpyxl==3.0.9
aspose.slides==22.1
aspose-words==22.5.0
billiard~=3.6.4.0
pyTelegramBotAPI>=4.10.0