{% extends 'base_wide.html' %}
{% load views forms %}

{% block title %}
Подзадача
{% endblock title %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% breadcrumb subproblem.course subproblem.course %}
{% breadcrumb subproblem.contest subproblem.contest %}
{% breadcrumb subproblem.problem subproblem.problem %}
{% breadcrumb subproblem.sub_problem %}
{% breadcrumb "Удаление" %}
{% endblock breadcrumbs %}

{% block content %}
<legend>Удаление подзадачи</legend>
{% render_delete_form subproblem %}
{% endblock content %}
