{% extends 'base_main.html' %}
{% load views forms static %}

{% block title %}Подзадача{% endblock title %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% breadcrumb subproblem.problem.course subproblem.problem.course %}
{% breadcrumb subproblem.problem.contest subproblem.problem.contest %}
{% breadcrumb subproblem.problem subproblem.problem %}
{% breadcrumb subproblem %}
{% breadcrumb "Редактирование" %}
{% endblock breadcrumbs %}

{% block main_content %}
<legend>Изменение номера подзадачи в тесте</legend>
<form action="" method="post">
    {% csrf_token %}
    {% include 'forms/errors/non_field_errors.html' %}
    {% render_field form.problem %}
    {% with WIDGET_RENDER_TO_TEMPLATE="forms/fields/field.html" WIDGET_ERROR_CLASS="is-invalid" %}
    {% render_field form.number class+="form-control" %}
    {% endwith %}
    {% include 'forms/submit_button.html' with value="Сохранить" %}
</form>
{% endblock main_content %}
