{% extends 'base_wide.html' %}
{% load views forms static %}

{% block title %}
Подзадача
{% endblock title %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% breadcrumb subproblem.problem.course subproblem.problem.course %}
{% breadcrumb subproblem.problem.contest subproblem.problem.contest %}
{% breadcrumb subproblem.problem subproblem.problem %}
{% breadcrumb subproblem %}
{% breadcrumb "Редактирование" %}
{% endblock breadcrumbs %}

{% block content %}
<legend>Изменение номера подзадачи в тесте</legend>
<form action="" method="post" class="form-horizontal">
    {% csrf_token %}
    {% render_form_errors form %}
    {% render_field form.problem %}
    {% with WIDGET_RENDER_TO_TEMPLATE="field.html" WIDGET_ERROR_CLASS="is-invalid" %}
    {% render_field form.number class+="form-control" %}
    {% endwith %}
    {% render_submit_button value="Сохранить" %}
</form>
{% endblock content %}
