{% extends 'base_wide.html' %}
{% load views %}

{% block title %}
Расписание
{% endblock title %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% breadcrumb "Расписание" %}
{% endblock breadcrumbs %}

{% block content %}
<legend>Расписание{% if perms.schedule.add_schedule %}<a href="{% url 'schedule:schedule-create' %}" class="text-success text-decoration-none pull-right" data-toggle="popover" data-placement="left" data-content="Добавить расписание"><i class="fa fa-plus fa-fw"></i></a>{% endif %}</legend>
{% now 'Y-m-d' as current_date %}
<div class="list-group mb-3">
    {% for obj in schedules %}
        <a href="{{ obj.get_absolute_url }}" class="list-group-item list-group-item-action d-flex"><span>{{ obj }}</span>{% if obj.is_current %} <span class="numtus badge-primary align-middle ml-auto">Текущее</span>{% elif obj.is_upcoming %} <span class="numtus badge-success align-middle">Будущее</span>{% endif %}</a>
    {% endfor %}
</div>
{% endblock content %}
