{% extends 'base_wide.html' %}
{% load views accounts %}

{% block title %}
Расписание
{% endblock title %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% breadcrumb "Расписание" 'schedule:schedule-list' %}
{% breadcrumb schedule %}
{% endblock breadcrumbs %}

{% block content %}
<legend>
    <div class="d-flex justify-content-between">
        <span class="text-truncate">Расписание: {{ schedule }}</span>
        <span class="d-flex justify-content-between">
            {% if perms.schedule.delete_schedule %}
            <a href="{% url 'schedule:schedule-delete' schedule.id %}" class="text-danger" data-toggle="tooltip" data-placement="left" title="Удалить расписание" style="position: relative; top: -0.08rem;"><i class="fa fa-trash-o fa-fw"></i></a>
            {% endif %}
        </span>
    </div>
</legend>
{% include 'list.html' with lst=schedule.scheduleattachment_set.all %}
{% endblock content %}
