{% extends 'base_main.html' %}
{% load views accounts %}

{% block title %}Расписание{% endblock title %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% breadcrumb "Расписание" 'schedule:schedule-list' %}
{% breadcrumb schedule %}
{% endblock breadcrumbs %}

{% block main_content %}
<legend>
    <span class="d-flex justify-content-between">
        <span class="text-truncate">Расписание: {{ schedule }}</span>
        <span class="d-flex justify-content-between gap-1">
            {% if perms.schedule.delete_schedule %}
            <a href="{% url 'schedule:schedule-delete' schedule.id %}" class="text-danger" data-bs-toggle="tooltip" data-bs-placement="left" title="Удалить расписание"><i class="fa fa-trash-o fa-fw"></i></a>
            {% endif %}
        </span>
    </span>
</legend>
{% include 'list.html' with lst=schedule.scheduleattachment_set.all %}
{% endblock main_content %}
