.EasyMDEContainer {
    width: 100%;
}

.EasyMDEContainer .CodeMirror {
    padding: 0;
}

.editor-toolbar {
    padding: 4px 5px;
}

/*.EasyMDEContainer .CodeMirror-linenumber {*/
/*    font-family: monospace !important;*/
/*}*/
