{% load accounts static %}

{% unread_comments_count request.user.id obj as unread_comments_count %}
{% if tab == 'discussion' %}
    <a aria-controls="discussion" aria-selected="true" class="nav-link active" data-toggle="tab" href="#discussion" id="discussion-tab" role="tab">
{% else %}
    <a class="nav-link" href="{% url discussion_url obj.id %}" id="discussion-tab" role="tab">
{% endif %}
    Обсуждение{% if unread_comments_count > 0 %} <span class="badge badge-pill badge-secondary align-middle">{{ unread_comments_count }}</span>{% endif %}
    {% if tab == 'discussion' %}
        {% mark_comments_as_read request.user.id obj %}
    {% endif %}
</a>
