{% extends 'base_main.html' %}
{% load views contests tutorial humanize static %}

{% block title %}Главная{% endblock title %}

{% block breadcrumbs %}
{% breadcrumb "Главная" %}
{% endblock breadcrumbs %}

{% block main_content %}
<legend>
    <span class="d-flex justify-content-between flex-column flex-md-row">
        <span class="text-truncate d-none d-md-flex">Главная</span>
        <span class="d-flex justify-content-between gap-1">
            {% if perms.contests.add_course %}
            <a href="{% url 'contests:course-create' %}" class="text-success" id="btn_course_create" data-bs-toggle="tooltip" data-bs-placement="left" title="Добавить курс"><i class="fa fa-plus fa-fw"></i></a>
            {% endif %}
            <a href="{% url 'contests:course-list' %}" data-bs-toggle="tooltip" data-bs-placement="top" title="Все курсы"><i class="fa fa-book fa-fw"></i></a>
            {% if perms.contests.view_submission_list %}
            <a href="{% url 'contests:submission-list' %}" data-bs-toggle="tooltip" data-bs-placement="top" title="Все посылки"><i class="fa fa-tasks fa-fw"></i></a>
            {% endif %}
            {% if perms.accounts.change_account %}
            <a href="{% url 'accounts:account-list' %}" id="btn_account_list" data-bs-toggle="tooltip" data-bs-placement="top" title="Пользователи"><i class="fa fa-users fa-fw"></i></a>
            {% endif %}
            {% if perms.accounts.view_filter %}
            <a href="{% url 'contests:filter-table' %}" data-bs-toggle="tooltip" data-bs-placement="top" title="Фильтры"><i class="fa fa-bookmark fa-fw"></i></a>
            {% endif %}
            {% if perms.accounts.view_deleted %}
            <div class="dropstart">
                <a href="#" role="button" id="dropdownMoreMenuLink" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-h fa-fw"></i></a>
                <div class="dropdown-menu shadow-sm" aria-labelledby="dropdownMoreMenuLink">
                    <a href="{% url 'contests:deleted-list' %}" class="dropdown-item"><i class="fa fa-trash-o fa-fw"></i> Корзина</a>
                </div>
            </div>
            {% endif %}
        </span>
    </span>
</legend>
<div class="row">
    <div class="col-12 col-md-8">
        <p class="lead">Последние посылки</p>
        <table class="table">
            <tbody>
                {% for submission in latest_submissions|slice:':10' %}
                <tr>
                    <td class="contest-shrink-column">
                        <a href="{{ submission.get_absolute_url }}" class="contest-status contest-status-{{ submission.status|colorize }}" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ submission.get_status_display }}">
                            {{ submission.status }}
                        </a>
                    </td>
                    <td>
                        <a href="{{ submission.owner.account.get_absolute_url }}" class="text-truncate" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ submission.owner.account.faculty.short_name }}, {{ submission.owner.account.get_level_display }}">{{ submission.owner.account.get_short_name }}</a>
                        отправил решение задачи
                        <a href="{{ submission.problem.get_absolute_url }}" class="text-truncate" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ submission.contest }}, {{ submission.course }}">{{ submission.problem }}</a>
                    </td>
                    <td class="text-muted text-end">
                        <span data-bs-toggle="tooltip" data-bs-placement="top" title="{{ submission.date_created|date:'d E Y г. в H:i' }}">{{ submission.date_created|naturaltime }}</span>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if unread_notifications_count > 0 %}
        <div class="alert alert-info shadow-sm">У Вас <strong>{{ unread_notifications_count }}</strong> <a href="{% url 'accounts:notification-list' %}">непрочитанных оповещений</a>.</div>
        {% endif %}
        {% if announcements.exists %}
        <p class="lead">Объявления</p>
        <div>
            {% for announcement in announcements %}
            <div class="alert alert-info">
                <a href="{{ announcement.get_absolute_url }}"><i class="fa fa-info fa-fw"></i></a> {{ announcement }}
            </div>
            {% endfor %}
        </div>
        {% endif %}
        {% if schedules.exists %}
        <p class="lead">Расписание</p>
        <div class="list-group mb-3">
            {% for schedule in schedules %}
            <a class="list-group-item list-group-item-action d-flex" href="{{ schedule.get_absolute_url }}">
                {{ schedule }}
                {% if schedule.is_upcoming %}
                <span class="d-none d-sm-inline text-success ms-auto">новое</span>
                {% endif %}
            </a>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    <div class="col-12 col-md-4">
        <p class="lead">Ваши курсы</p>
        {% for course in courses %}
        <div class="card shadow-sm mb-3">
            <div class="card-body">
                <a href="{{ course.get_absolute_url }}" class="card-title">{{ course }}</a>
                <p class="card-text"><small class="text-muted">{{ course.get_level_display }}</small></p>
                <div class="d-flex gap-3">
                    <a href="{% url 'contests:submission-list' course.id %}" class="btn btn-light btn-sm"><i class="fa fa-tasks fa-fw"></i> Посылки</a>
                    <a href="{% url 'contests:assignment-table' course.id %}" class="btn btn-light btn-sm"><i class="fa fa-table fa-fw"></i> Таблица</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock main_content %}

{% block main_scripts %}
<script type="text/javascript">
driver.defineSteps([
    {% if not request|have_passed_step:'contest_logo' %}
    {
        view: '{% tutorial_step_view request %}',
        step: 'contest_logo',
        element: '#contestLogo',
        popover: {
            title: "Добро пожаловать в Контест!",
            description: "Это пошаговое руководство познакомит Вас с основными возможностями системы Контест. " +
                "<br>Для навигации используйте кнопки &laquo;Далее&raquo; и &laquo;Назад&raquo;. " +
                "<br>Вы можете в любой момент остановить руководство, нажав на кнопку &laquo;Закрыть&raquo;.",
            position: 'bottom',
            className: 'driver-popover-md'
        }
    },
    {% endif %}
    {% if not request|have_passed_step:'contest_tutorial_reset' %}
    {
        view: '{% tutorial_step_view request %}',
        step: 'contest_tutorial_reset',
        element: '#contest_tutorial_reset',
        popover: {
            title: " ",
            description: "Если Вы случайно закрыли руководство или хотите пройти его заново, нажмите на эту кнопку.",
            position: 'top'
        }
    },
    {% endif %}
    {% if request.user.account.is_instructor %}
    {% if not request|have_passed_step:'contest_main' %}
    {
        view: '{% tutorial_step_view request %}',
        step: 'contest_main',
        element: '#contest_main_container',
        popover: {
            title: "Главная",
            description: "На главной странице будет располагаться сводная информация о Ваших курсах.",
            position: 'mid-center',
            className: 'driver-popover-shadow'
        }
    },
    {% endif %}
    {% if not request|have_passed_step:'contest_course_create_button' %}
    {
        view: '{% tutorial_step_view request %}',
        step: 'contest_course_create_button',
        element: '#btn_course_create',
        popover: {
            title: " ",
            description: "Если у Вас еще нет курсов в Контесте, то Вы можете добавить их перейдя по этой ссылке.",
            position: 'bottom'
        }
    },
    {% endif %}
    {% if not request|have_passed_step:'contest_course_card' %}
    {
        view: '{% tutorial_step_view request %}',
        step: 'contest_course_card',
        element: '#course_card_1',
        popover: {
            title: " ",
            description: "Это карточка курса - в ней отображаются последние посылки решений к задачам данного курса. Ссылки в нижней части карточки помогут быстро перейти к списку всех посылок и таблице заданий.",
            position: 'bottom',
        }
    },
    {% endif %}
    {% if not request|have_passed_step:'contest_course_card_link' %}
    {
        view: '{% tutorial_step_view request %}',
        step: 'contest_course_card_link',
        element: '#course_card_1_link',
        popover: {
            title: " ",
            description: "Чтобы добавить Ваши учебные материалы к этому курсу, перейдите по ссылке на страницу курса.",
            position: 'bottom',
        }
    },
    {% endif %}
    {% endif %}
    {% if request.user.account.is_moderator %}
    {% if not request|have_passed_step:'button_account_list' %}
    {
        view: '{% tutorial_step_view request %}',
        step: 'button_account_list',
        element: '#btn_account_list',
        popover: {
            title: "Пользователи",
            description: "С помощью этой кнопки Вы можете перейти к разделу &laquo;Пользователи&raquo;.<br><br>" +
            "В этом разделе можно редактировать профили пользователей, сбрасывать их пароли, а также изменять уровень обучения студентов (курс/семестр), отчислять и восстанавливать их.<br><br>" +
            "Раздел &laquo;Пользователи&raquo; доступен только модераторам.",
            position: 'left',
        }
    },
    {% endif %}
    {% endif %}
]);
</script>
{% endblock main_scripts %}
