{% extends 'base_main.html' %}
{% load views contests tutorial static %}

{% block title %}Главная{% endblock title %}

{% block breadcrumbs %}
{% breadcrumb "Главная" %}
{% endblock breadcrumbs %}

{% block main_content %}
<legend>
    <div class="d-flex justify-content-between flex-column flex-md-row">
        <span class="text-truncate d-none d-md-flex">Главная</span>
        <span class="d-flex justify-content-between gap-1">
            {% if perms.contests.add_course %}
            <a href="{% url 'contests:course-create' %}" class="text-success" id="btn_course_create" data-bs-toggle="tooltip" data-bs-placement="left" title="Добавить курс"><i class="fa fa-plus fa-fw"></i></a>
            {% endif %}
            <a href="{% url 'contests:course-list' %}" data-bs-toggle="tooltip" data-bs-placement="top" title="Все курсы"><i class="fa fa-book fa-fw"></i></a>
            {% if perms.contests.view_submission_list %}
            <a href="{% url 'contests:submission-list' %}" data-bs-toggle="tooltip" data-bs-placement="top" title="Все посылки"><i class="fa fa-tasks fa-fw"></i></a>
            {% endif %}
            {% if perms.accounts.change_account %}
            <a href="{% url 'accounts:account-list' %}" id="btn_account_list" data-bs-toggle="tooltip" data-bs-placement="top" title="Пользователи"><i class="fa fa-users fa-fw"></i></a>
            {% endif %}
            {% if perms.accounts.view_filter %}
            <a href="{% url 'contests:filter-table' %}" data-bs-toggle="tooltip" data-bs-placement="top" title="Фильтры"><i class="fa fa-bookmark fa-fw"></i></a>
            {% endif %}
            {% if perms.accounts.add_faculty %}
            <div class="dropstart">
                <a href="#" role="button" id="dropdownMoreMenuLink" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-h fa-fw"></i></a>
                <div class="dropdown-menu shadow-sm" aria-labelledby="dropdownMoreMenuLink">
                    <a href="{% url 'contests:deleted-list' %}" class="dropdown-item"><i class="fa fa-trash-o fa-fw"></i> Корзина</a>
                </div>
            </div>
            {% endif %}
        </span>
    </div>
</legend>
{% include 'contests/news_block.html' %}
<div id="contest_index_row" class="row">
    {% for course in courses %}
    <div class="col-12 col-md-4 mb-3">
        <div id="course_card_{{ forloop.counter }}" class="card shadow-sm">
            <div class="card-header">
                <a id="course_card_{{ forloop.counter }}_link" href="{% url 'contests:course-detail' course.id %}">{{ course }}</a>
            </div>
            {% with latest_submissions=course|get_latest_submissions:request|slice:':3' %}
            <table class="table table-sm table-borderless mb-0" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Последние посылки по заданиям" style="min-height: 98px;">
                <tbody>
                    {% for submission in latest_submissions %}
                    <tr>
                        <td class="text-end ps-3" style="width: 18%;">{{ submission.date_created|date:'d.m.y' }}</td>
                        <td class="text-truncate overflow-hidden">
                            <a class="text-truncate" href="{{ submission.owner.account.get_absolute_url }}">{{ submission.owner.account.get_short_name }}</a>
                        </td>
                        <td class="text-center pe-3" style="width: 13%;">
                            <a href="{{ submission.get_absolute_url }}" class="contest-status contest-status-{{ submission.status|colorize }}" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ submission.get_status_display }}">
                                {{ submission.status }}
                            </a>
                        </td>
                    </tr>
                    {% empty %}
                    <tr><td colspan="3" class="text-center">&nbsp;</td></tr>
                    <tr><td colspan="3" class="text-center text-muted">нет посылок</td></tr>
                    <tr><td colspan="3" class="text-center">&nbsp;</td></tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endwith %}
            <div class="card-footer d-flex justify-content-end gap-1 p-2">
                <a href="{% url 'contests:submission-list' course.id %}" class="btn btn-light btn-sm"><i class="fa fa-tasks fa-fw"></i> Посылки</a>
                <a href="{% url 'contests:assignment-table' course.id %}" class="btn btn-light btn-sm"><i class="fa fa-table fa-fw"></i> Таблица</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock main_content %}

{% block main_scripts %}
<script type="text/javascript">
driver.defineSteps([
    {% if not request|have_passed_step:'contest_logo' %}
    {
        view: '{% tutorial_step_view request %}',
        step: 'contest_logo',
        element: '#contestLogo',
        popover: {
            title: "Добро пожаловать в Контест!",
            description: "Это пошаговое руководство познакомит Вас с основными возможностями системы Контест. " +
                "<br>Для навигации используйте кнопки &laquo;Далее&raquo; и &laquo;Назад&raquo;. " +
                "<br>Вы можете в любой момент остановить руководство, нажав на кнопку &laquo;Закрыть&raquo;.",
            position: 'bottom',
            className: 'driver-popover-md'
        }
    },
    {% endif %}
    {% if not request|have_passed_step:'contest_tutorial_reset' %}
    {
        view: '{% tutorial_step_view request %}',
        step: 'contest_tutorial_reset',
        element: '#contest_tutorial_reset',
        popover: {
            title: " ",
            description: "Если Вы случайно закрыли руководство или хотите пройти его заново, нажмите на эту кнопку.",
            position: 'top'
        }
    },
    {% endif %}
    {% if request.user.account.is_instructor %}
    {% if not request|have_passed_step:'contest_main' %}
    {
        view: '{% tutorial_step_view request %}',
        step: 'contest_main',
        element: '#contest_main_container',
        popover: {
            title: "Главная",
            description: "На главной странице будет располагаться сводная информация о Ваших курсах.",
            position: 'mid-center',
            className: 'driver-popover-shadow'
        }
    },
    {% endif %}
    {% if not request|have_passed_step:'contest_course_create_button' %}
    {
        view: '{% tutorial_step_view request %}',
        step: 'contest_course_create_button',
        element: '#btn_course_create',
        popover: {
            title: " ",
            description: "Если у Вас еще нет курсов в Контесте, то Вы можете добавить их перейдя по этой ссылке.",
            position: 'bottom'
        }
    },
    {% endif %}
    {% if not request|have_passed_step:'contest_course_card' %}
    {
        view: '{% tutorial_step_view request %}',
        step: 'contest_course_card',
        element: '#course_card_1',
        popover: {
            title: " ",
            description: "Это карточка курса - в ней отображаются последние посылки решений к задачам данного курса. Ссылки в нижней части карточки помогут быстро перейти к списку всех посылок и таблице заданий.",
            position: 'bottom',
        }
    },
    {% endif %}
    {% if not request|have_passed_step:'contest_course_card_link' %}
    {
        view: '{% tutorial_step_view request %}',
        step: 'contest_course_card_link',
        element: '#course_card_1_link',
        popover: {
            title: " ",
            description: "Чтобы добавить Ваши учебные материалы к этому курсу, перейдите по ссылке на страницу курса.",
            position: 'bottom',
        }
    },
    {% endif %}
    {% endif %}
    {% if request.user.account.is_moderator %}
    {% if not request|have_passed_step:'button_account_list' %}
    {
        view: '{% tutorial_step_view request %}',
        step: 'button_account_list',
        element: '#btn_account_list',
        popover: {
            title: "Пользователи",
            description: "С помощью этой кнопки Вы можете перейти к разделу &laquo;Пользователи&raquo;.<br><br>" +
            "В этом разделе можно редактировать профили пользователей, сбрасывать их пароли, а также изменять уровень обучения студентов (курс/семестр), отчислять и восстанавливать их.<br><br>" +
            "Раздел &laquo;Пользователи&raquo; доступен только модераторам.",
            position: 'left',
        }
    },
    {% endif %}
    {% endif %}
]);
</script>
{% endblock main_scripts %}
