{% load views contests accounts static %}
{% if count_of_news %}
<div class="accordion mb-3 shadow-sm" id="accordionNews">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingNews">
            <button class="accordion-button collapsed gap-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNews" aria-expanded="false" aria-controls="collapseNews">
                Последние новости <span class="badge text-bg-danger rounded-pill">{{ count_of_news }}</span>
            </button>
        </h2>
        <div class="accordion-collapse collapse" id="collapseNews" aria-labelledby="headingNews" data-bs-parent="#accordionNews">
            <div class="accordion-body">
            <!-- Актуальное расписание -->
            {% if schedules %}
                <div class="{% if notifications or announcements %}mb-3{% endif %}">
                    <h6 class="mb-2">
                        Актуальное расписание
                    </h6>
                    <div class="list-group">
                    {% for obj in schedules %}
                        <a href="{{ obj.get_absolute_url }}" class="list-group-item list-group-item-action d-flex"><span>{{ obj }}</span></a>
                    {% endfor %}
                    </div>
                </div>
            {% endif %}
            <!-- Непрочитанные оповещения -->
            {% if notifications %}
                <div class="{% if announcements %}mb-3{% endif %}">
                    <h6 class="mb-2 d-flex">
                        Последние 10 непрочитанных оповещений <a class="text-muted ms-auto" href="{% url 'accounts:notification-list' %}">Смотреть все</a>
                    </h6>
                    {% now 'Y' as current_year %}
                    <div id="notifications" class="list-group">
                    {% for notification in notifications %}
                        <li id="{{ notification.id }}" class="list-group-item d-flex {% if not notification.is_read %}bg-light"
                            data-unread=true{% else %}"{% endif %} data-id={{ notification.id }}>
                            <span class="notification-body me-auto">
                                {% if notification.subject.username %}
                                    <a href="{{ notification.subject.account.get_absolute_url }}">{{ notification.subject.account }}</a>
                                {% elif notification.subject %}
                                    <a href="{{ notification.subject.get_absolute_url }}"> {{ notification.subject }}</a>
                                {% endif %}
                                {{ notification.action }}
                                {% if notification.object %}
                                    <a href="{{ notification.object.get_absolute_url }}" id="object_notif_{{ notification.id }}"> {{ notification.object }}</a>
                                {% endif %}
                                {% if notification.reference %}
                                    {% if notification.relation %}
                                        {{ notification.relation }}
                                    {% endif %}
                                    <a href="{{ notification.reference.get_absolute_url }}"> {{ notification.reference }}</a>
                                {% endif %}
                            </span>
                            <span class="text-muted text-end">
                                {% if notification.date_created|date:'Y' == current_year %}
                                    {{ notification.date_created|naturaltime_if_lt_week_ago:'j E в H:i' }}
                                {% else %}
                                    {{ notification.date_created|naturaltime_if_lt_week_ago:'j E Y г. в H:i' }}
                                {% endif %}
                            </span>
                        </li>
                    {% endfor %}
                    </div>
                </div>
            {% endif %}
            <!-- Актуальные объявления -->
            {% if announcements %}
                <div class="">
                    <h6 class="mb-2">
                        Актуальные объявления
                    </h6>
                    <div class="list-group">
                    {% for announcement in announcements %}
                        <a href="{% url 'accounts:announcement-detail' announcement.id %}" class="list-group-item list-group-item-action d-flex">
                            <span class="notification-body me-auto">
                                {{ announcement.title }}
                            </span>
                            <span class="text-muted text-end" style="width: 25%;">
                                {{ announcement.date_created }}
                            </span>
                        </a>
                    {% endfor %}
                    </div>
                </div>
            {% endif %}
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="{% static 'js/notifications.js' %}"></script>
<script type="text/javascript">
document.addEventListener("DOMContentLoaded", function() {
    const watcher = new ReadWatcher("{% url 'accounts:mark-notifications-as-read' %}");
    let notifications_list = document.getElementById('notifications');
    for(let notif_body of notifications_list.children) {
        document.getElementById(`object_notif_${notif_body.id}`).addEventListener('mousedown', function () {
            watcher.set_notification_to_read(notif_body.id);
            setTimeout(watcher.markNotificationsAsRead.bind(watcher), 10);
        });
    }
});
</script>
{% endif %}
