{% load views contests accounts static %}
<div class="card">
    {% if count_of_news %}
        <div class="card-header news-header alert-info" id="course_description">
            <h2 class="mb-0">
                <button class="btn btn-link news-btn-link btn-block text-left d-flex collapsed" type="button" data-toggle="collapse"
                        data-target="#collapseNews" aria-expanded="false" aria-controls="collapseNews">
                    Последние новости
                    <span class="numtus badge-info align-middle ml-auto">{{ count_of_news }}</span>
                </button>
            </h2>
        </div>
    {% else %}
        <div class="card-header news-header alert-secondary" id="course_description">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left d-flex collapsed" type="button" data-toggle="collapse"
                        data-target="#collapseNews" aria-expanded="false" aria-controls="collapseNews" disabled>
                    Последние новости
                </button>
            </h2>
        </div>
    {% endif %}
    <div id="collapseNews" class="collapse" aria-labelledby="course_description">
        <div class="card-body">
            <!-- Актуальное расписание -->
            <div class="card">
                <div class="card-header news-line-header" id="course_description">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block news-list-line-btn text-left" type="button" data-toggle="collapse"
                                data-target="#collapseSchedule" aria-expanded="true" aria-controls="collapseSchedule">
                            Актуальное расписание
                        </button>
                    </h2>
                </div>
                <div id="collapseSchedule" class="collapse show" aria-labelledby="course_description">
                    <div class="card-body short-notification-list">
                        {% if schedules %}
                            {% for obj in schedules %}
                                <a href="{{ obj.get_absolute_url }}" class="list-group-item list-group-item-action d-flex"><span>{{ obj }}</span>{% if obj.is_current %} <span class="numtus badge-primary align-middle ml-auto">На текущую неделю</span>{% elif obj.is_upcoming %} <span class="numtus badge-success align-middle ml-auto">На грядущую неделю</span>{% endif %}</a>
                            {% endfor %}
                        {% else %}
                            <div class="alert alert-info mb-3" role="alert">
                                <span class="actual-word" title="На текущую и/или следующую неделю" role="button">Актуальное</span> расписание не добавлено
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <!-- Непрочитанные оповещения -->
            <div class="card">
                <div class="card-header news-line-header" id="course_description">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block news-list-line-btn text-left" type="button" data-toggle="collapse"
                                data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Последние непрочитанные оповещения
                        </button>
                    </h2>
                </div>
                <div id="collapseOne" class="collapse show" aria-labelledby="course_description">
                    <div class="card-body short-notification-list">
                        <div id="notifications" class="notification-list list-group mb-3">
                            {% if notifications %}
                                {% now 'Y' as current_year %}
                                {% for notification in notifications %}
                                    <li id="{{ notification.id }}" class="notification-list-item list-group-item d-flex {% if not notification.is_read %}bg-light"
                                        data-unread=true{% else %}"{% endif %} data-id={{ notification.id }}>
                                        <span class="notification-body mr-auto">
                                            {% if notification.subject.username %}
                                                <a href="{{ notification.subject.account.get_absolute_url }}">{{ notification.subject.account }}</a>
                                            {% elif notification.subject %}
                                                <a href="{{ notification.subject.get_absolute_url }}"> {{ notification.subject }}</a>
                                            {% endif %}
                                            {{ notification.action }}
                                            {% if notification.object %}
                                                <a href="{{ notification.object.get_absolute_url }}" id="object_notif_{{ notification.id }}"> {{ notification.object }}</a>
                                            {% endif %}
                                            {% if notification.reference %}
                                                {% if notification.relation %}
                                                    {{ notification.relation }}
                                                {% endif %}
                                                <a href="{{ notification.reference.get_absolute_url }}"> {{ notification.reference }}</a>
                                            {% endif %}
                                        </span>
                                        <span class="text-muted text-right" style="width: 25%;">
                                            {% if notification.date_created|date:'Y' == current_year %}
                                                {{ notification.date_created|naturaltime_if_lt_week_ago:'j E в H:i' }}
                                            {% else %}
                                                {{ notification.date_created|naturaltime_if_lt_week_ago:'j E Y г. в H:i' }}
                                            {% endif %}
                                        </span>
                                    </li>
                                {% endfor %}
                            {% else %}
                                <div class="alert alert-info mb-3" role="alert">
                                    Непрочитанных оповещений нет
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <!-- Актуальные объявления -->
            <div class="card">
                <div class="card-header news-line-header" id="course_description">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block news-list-line-btn text-left" type="button" data-toggle="collapse"
                                data-target="#collapseAnnouncement" aria-expanded="true" aria-controls="collapseAnnouncement">
                            Актуальные объявления
                        </button>
                    </h2>
                </div>
                <div id="collapseAnnouncement" class="collapse show" aria-labelledby="course_description">
                    <div class="card-body short-announcement-list">
                        {% if announcements %}
                            {% for announcement in announcements %}
                                {% if announcement.is_actual %}
                                    <div class="card{% if forloop.counter > 1 %} mt-3{% endif %}">
                                        <div class="card-header d-flex align-items-center">
                                            <span class="text-primary mr-auto">{{ announcement.title }}</span>
                                            <span class="text-muted mx-2">Актуально до: {{ announcement.get_actual }}</span>
                                            {% if perms.accounts.change_announcement %}
                                            <a href="{% url 'accounts:announcement-update' announcement.id %}" class="card-link" data-toggle="tooltip" data-placement="left" title="Редактировать объявление"><i class="fa fa-edit fa-lg fa-fw"></i></a>
                                            {% endif %}
                                            {% if perms.accounts.delete_announcement %}
                                            <a href="{% url 'accounts:announcement-delete' announcement.id %}" class="card-link text-danger ml-2" data-toggle="tooltip" data-placement="top" title="Удалить объявление" style="position: relative; top: -0.08rem;"><i class="fa fa-trash-o fa-lg fa-fw"></i></a>
                                            {% endif %}
                                        </div>
                                        <div class="card-body">
                                            <div class="card-text">{{ announcement.text|safe }}</div>
                                        </div>
                                        <div class="card-footer d-flex align-items-center">
                                            <span class="text-muted mr-auto">{{ announcement.date_created|date:'' }}</span>
                                            <span class="numtus badge-secondary">{{ announcement.group }}</span>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <div class="alert alert-info mb-3" role="alert">
                                Актуальных объявлений нет
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="{% static 'js/notifications.js' %}"></script>
<script type="text/javascript">
document.addEventListener("DOMContentLoaded", function() {
    const watcher = new ReadWatcher("{% url 'accounts:mark-notifications-as-read' %}");
    let notifications_list = document.getElementById('notifications');
    for(let notif_body of notifications_list.children) {
        document.getElementById(`object_notif_${parseInt(notif_body.id)}`).addEventListener('mousedown', function () {
            watcher.set_notification_to_read(notif_body.id);
            setTimeout(watcher.markNotificationsAsRead.bind(watcher), 10);
        });
    }
});
</script>
