{% extends 'base.html' %}
{% load views %}

{% block title %}
Вопросы
{% endblock title %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li><a href="{% url 'contests:index' %}">Главная</a></li>
    <li><a href="{% url 'support:index' %}">Помощь</a></li>
    <li class="active">Вопросы</li>
</ol>
{% endblock breadcrumbs %}

{% block content %}
<legend>Вопросы</legend>
{% render_list questions %}
{% endblock content %}

{% block submenu %}
<ul class="list-group">
    {% if perms.support.add_question %}
    <a href="{% url 'support:question-create' %}" class="list-group-item"><i class="fa fa-plus fa-fw"></i> Задать вопрос</a>
    {% endif %}
</ul>
{% endblock submenu %}
