{% extends 'base_main.html' %}
{% load views static %}

{% block title %}Вопросы{% endblock title %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% breadcrumb "Помощь" 'support:index' %}
{% breadcrumb "Вопросы" %}
{% endblock breadcrumbs %}

{% block main_content %}
<legend>
    <span class="d-flex justify-content-between">
        <span class="text-truncate">Вопросы</span>
        <span class="d-flex justify-content-between gap-2">
            {% if perms.support.add_question %}
            <a href="{% url 'support:question-create' %}" class="btn btn-light" data-bs-toggle="tooltip" data-bs-placement="left" title="Задать вопрос">
                <svg class="contest-icon text-success"><use href="{% static 'icons/sprites/solid.svg' %}#plus"></use></svg>
            </a>
            {% endif %}
        </span>
    </span>
</legend>
{% include 'list.html' with lst=questions %}
{% endblock main_content %}
