{% extends 'base.html' %}
{% load views comments %}

{% block title %}
Вопрос
{% endblock title %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% breadcrumb "Помощь" 'support:index' %}
{% breadcrumb "Вопросы" 'support:question-list' %}
{% breadcrumb question %}
{% endblock breadcrumbs %}

{% block content %}
<legend>{{ question.question }}</legend>
<p>{{ answer|safe }}</p>
<p>
    {% if perms.support.change_question or question.owner == request.user %}
    От: <a href="{{ question.owner.account.get_absolute_url }}">{{ question.owner.account }}</a><br>
    {% if question.addressee %}
    Кому: <a href="{{ question.addressee.account.get_absolute_url }}">{{ question.addressee.account }}</a><br>
    {% endif %}
    {% if question.redirect_comment %}
    Комментарий к переадресации: {{ question.redirect_comment|safe }}
    {% endif %}
    {% endif %}
    Отправлен: {{ question.date_created|date }}<br>
</p>
<div class="pull-right text-right">
    {% if perms.support.change_question %}
    <p>{{ question.is_published|yesno:'опубликован,скрыт' }}</p>
    {% endif %}
</div>
{% endblock content %}

{% block submenu %}
<div class="list-group mb-3">
    {% if perms.support.change_question %}
    <a href="{% url 'support:question-update' question.id %}" class="list-group-item list-group-item-action"><i class="fa fa-edit fa-fw"></i> Редактировать вопрос</a>
    {% endif %}
    {% if perms.support.delete_question %}
    <a href="{% url 'support:question-delete' question.id %}" class="list-group-item list-group-item-action"><i class="fa fa-trash-o fa-fw"></i> Удалить вопрос</a>
    {% endif %}
</div>
{% endblock submenu %}
