{% extends 'base_wide.html' %}
{% load views comments %}

{% block title %}
Вопрос
{% endblock title %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% breadcrumb "Помощь" 'support:index' %}
{% breadcrumb "Вопросы" 'support:question-list' %}
{% breadcrumb question %}
{% endblock breadcrumbs %}

{% block content %}
<legend>
    <div class="d-flex justify-content-between">
        <span class="text-truncate">Вопрос {{ question.id }}</span>
        <span class="d-flex justify-content-between">
            {% if perms.support.change_question %}
            <a href="{% url 'support:question-update' question.id %}" data-toggle="tooltip" data-placement="left" title="Редактировать вопрос"><i class="fa fa-edit fa-fw"></i></a>
            {% endif %}
            {% if perms.support.delete_question %}
            <a href="{% url 'support:question-delete' question.id %}" class="text-danger" data-toggle="tooltip" data-placement="top" title="Удалить вопрос" style="position: relative; top: -0.08rem;"><i class="fa fa-trash-o fa-fw"></i></a>
            {% endif %}
        </span>
    </div>
</legend>
<div class="alert alert-secondary">
    <h5 class="alert-heading">Вопрос</h5>
    <hr>
    {{ question }}
</div>
<div class="alert alert-info">
    <h5 class="alert-heading">Ответ</h5>
    <hr>
    {{ answer|safe }}
</div>
<p>
    {% if perms.support.change_question or question.owner == request.user %}
    От: <a href="{{ question.owner.account.get_absolute_url }}">{{ question.owner.account }}</a><br>
    {% if question.addressee %}
    Кому: <a href="{{ question.addressee.account.get_absolute_url }}">{{ question.addressee.account }}</a><br>
    {% endif %}
    {% if question.redirect_comment %}
    Комментарий к переадресации: {{ question.redirect_comment|safe }}
    {% endif %}
    {% endif %}
    Отправлен: {{ question.date_created|date }}<br>
</p>
<div class="pull-right text-end">
    {% if perms.support.change_question %}
    <p>{{ question.is_published|yesno:'опубликован,скрыт' }}</p>
    {% endif %}
</div>
{% endblock content %}
