{% extends 'base_main.html' %}
{% load views forms %}

{% block title %}Вопрос{% endblock title %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% breadcrumb "Помощь" 'support:index' %}
{% breadcrumb "Вопросы" 'support:question-list' %}
{% if question %}
{% breadcrumb question question %}
{% breadcrumb "Редактирование" %}
{% else %}
{% breadcrumb "Новый вопрос" %}
{% endif %}
{% endblock breadcrumbs %}

{% block main_content %}
<legend>{% if question %}Редактирование вопроса{% else %}Задайте вопрос{% endif %}</legend>
<form action="" method="post">
    {% csrf_token %}
    {% include 'forms/errors/non_field_errors.html' %}
    {% with WIDGET_RENDER_TO_TEMPLATE="forms/fields/field.html" WIDGET_ERROR_CLASS="is-invalid" %}
    {% render_field form.question class+="form-control" %}
    {% if perms.support.change_question %}
    {% render_field form.answer class+="form-control" %}
    {% endif %}
    {% if not question or perms.support.change_question %}
    {% render_field form.addressee class+="form-control selectpicker" data-container="body" data-live-search="true" data-size=10 %}
    {% endif %}
    {% if perms.support.change_question %}
    {% render_field form.redirect_comment class+="form-control" %}
    {% with WIDGET_RENDER_TO_TEMPLATE="forms/fields/switch.html" %}
    {% render_field form.is_published class+="form-check-input" %}
    {% endwith %}
    {% endif %}
    {% endwith %}
    {% include 'forms/submit_button.html' with value="Сохранить" %}
</form>
{% endblock main_content %}
