{% extends 'base_wide.html' %}
{% load views %}

{% block title %}
Вопросы
{% endblock title %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% breadcrumb "Помощь" 'support:index' %}
{% breadcrumb "Вопросы" %}
{% endblock breadcrumbs %}

{% block content %}
<legend>
    Вопросы
    <span class="pull-right">
        {% if perms.support.add_question %}
        <a href="{% url 'support:question-create' %}" class="text-success text-decoration-none" data-toggle="tooltip" data-placement="left" title="Задать вопрос"><i class="fa fa-plus fa-fw"></i></a>
        {% endif %}
    </span>
</legend>
{% include 'list.html' with lst=questions %}
{% endblock content %}
