{% extends 'base_main.html' %}
{% load views comments static %}

{% block title %}Вопрос{% endblock title %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% breadcrumb "Помощь" 'support:index' %}
{% breadcrumb "Вопросы" 'support:question-list' %}
{% breadcrumb question %}
{% endblock breadcrumbs %}

{% block main_content %}
<legend>
    <span class="d-flex justify-content-between">
        <span class="text-truncate">Вопрос {{ question.id }}</span>
        <span class="d-flex justify-content-between gap-2">
            {% if perms.support.change_question %}
            <a href="{% url 'support:question-update' question.id %}" class="btn btn-light" data-bs-toggle="tooltip" data-bs-placement="left" title="Редактировать вопрос">
                <svg class="contest-icon text-primary"><use href="{% static 'icons/sprites/regular.svg' %}#pen-to-square"></use></svg>
            </a>
            {% endif %}
            {% if perms.support.delete_question %}
            <a href="{% url 'support:question-delete' question.id %}" class="btn btn-light" data-bs-toggle="tooltip" data-bs-placement="top" title="Удалить вопрос">
                <svg class="contest-icon text-danger"><use href="{% static 'icons/sprites/regular.svg' %}#trash-can"></use></svg>
            </a>
            {% endif %}
        </span>
    </span>
</legend>
<div class="alert alert-secondary">
    <h5 class="alert-heading">Вопрос</h5>
    <hr>
    {{ question }}
</div>
<div class="alert alert-info">
    <h5 class="alert-heading">Ответ</h5>
    <hr>
    {{ answer|safe }}
</div>
<div class="row text-muted">
    {% if perms.support.change_question or question.owner == request.user %}
    <div class="col-12">
        Отправитель: <a href="{{ question.owner.account.get_absolute_url }}">{{ question.owner.account }}</a>
    </div>
    {% if question.addressee %}
    <div class="col-12">
        Получатель: <a href="{{ question.addressee.account.get_absolute_url }}">{{ question.addressee.account }}</a>
    </div>
    {% endif %}
    {% if question.redirect_comment %}
    <div class="col-12">
        Комментарий к переадресации: {{ question.redirect_comment|safe }}
    </div>
    {% endif %}
    {% endif %}
    <div class="col-12">
        Отправлен: {{ question.date_created|date }}
    </div>
    {% if perms.support.change_question %}
    <div class="col-12">
        {{ question.is_published|yesno:'опубликован,скрыт' }}
    </div>
    {% endif %}
</div>
{% endblock main_content %}
