{% extends 'base_wide.html' %}
{% load views forms %}

{% block title %}
Вопрос
{% endblock title %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% breadcrumb "Помощь" 'support:index' %}
{% breadcrumb "Вопросы" 'support:question-list' %}
{% if question %}
{% breadcrumb question question %}
{% breadcrumb "Редактирование" %}
{% else %}
{% breadcrumb "Новый вопрос" %}
{% endif %}
{% endblock breadcrumbs %}

{% block content %}
<legend>{% if question %}Редактирование вопроса{% else %}Задайте вопрос{% endif %}</legend>
<form action="" method="post" class="form-horizontal">
    {% csrf_token %}
    {% render_form_errors form %}
    {% with WIDGET_RENDER_TO_TEMPLATE="field.html" WIDGET_ERROR_CLASS="is-invalid" %}
    {% render_field form.question class+="form-control" %}
    {% if perms.support.change_question %}
    {% render_field form.answer class+="form-control" %}
    {% endif %}
    {% if not question or perms.support.change_question %}
    {% render_field form.addressee class+="form-control selectpicker" data-container="body" data-live-search="true" data-size=10 %}
    {% endif %}
    {% if perms.support.change_question %}
    {% render_field form.redirect_comment class+="form-control" %}
    {% with WIDGET_RENDER_TO_TEMPLATE="field_switch.html" %}
    {% render_field form.is_published class+="custom-control-input" %}
    {% endwith %}
    {% endif %}
    {% endwith %}
    {% render_submit_button value="Сохранить" %}
</form>
{% endblock content %}
