{% extends 'base_main.html' %}
{% load views forms %}

{% block title %}Шаблон посылки{% endblock title %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% if submission_pattern %}
{% breadcrumb submission_pattern submission_pattern %}
{% breadcrumb "Редактирование" %}
{% else %}
{% breadcrumb "Новый шаблон посылки" %}
{% endif %}
{% endblock breadcrumbs %}

{% block main_content %}
<legend><span class="text-truncate">{% if submission_pattern %}Редактирование{% else %}Добавление{% endif %} шаблона посылки</span></legend>
<form action="" method="post">
    {% csrf_token %}
    {% include 'forms/errors/non_field_errors.html' %}
    {% with WIDGET_RENDER_TO_TEMPLATE="forms/fields/field.html" WIDGET_ERROR_CLASS="is-invalid" %}
    {% render_field form.problems class+="form-control selectpicker" data-actions-box="true" %}
    {% render_field form.title class+="form-control" %}
    {% render_field form.description class+="form-control" %}
    {% render_field form.pattern class+="form-control" %}
    {% endwith %}
    {% include 'forms/submit_button.html' with value="Сохранить" %}
</form>
{% endblock main_content %}
