{% extends 'base_main.html' %}
{% load views %}

{% block title %}Шаблон посылки{% endblock title %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% breadcrumb submission_pattern %}
{% endblock breadcrumbs %}

{% block main_content %}
<legend>
    <span class="d-flex justify-content-between">
        <span class="text-truncate">{{ submission_pattern }}</span>
        <span class="d-flex justify-content-between gap-1">
            {% if perms.contests.change_submission_pattern or request|has_leader_permission:course %}
            <a href="{% url 'contests:submission-pattern-update' submission_pattern.id %}" data-bs-toggle="tooltip" data-bs-placement="left" title="Редактировать шаблон посылки"><i class="fa fa-edit fa-fw"></i></a>
            {% endif %}
            {% if perms.contests.delete_submission_pattern or request|has_leader_permission:course %}
            <a href="{% url 'contests:submission-pattern-delete' submission_pattern.id %}" class="text-danger" data-bs-toggle="tooltip" data-bs-placement="top" title="Удалить шаблон посылки"><i class="fa fa-trash-o fa-fw"></i></a>
            {% endif %}
        </span>
    </span>
</legend>
<div>
    <h6>Описание:</h6>
    <div class="alert alert-secondary">
        {{ submission_pattern.description|safe|linebreaksbr }}
    </div>
    <h6>Шаблон:</h6>
    <div class="alert alert-secondary">
        <samp>{{ submission_pattern.pattern|safe|linebreaksbr }}</samp>
    </div>
    {% include 'list.html' with lst=submission_pattern.problems.all title="Задачи:" %}
</div>
{% endblock main_content %}
