{% extends 'base_wide.html' %}
{% load views %}

{% block title %}
Шаблон посылки
{% endblock title %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% breadcrumb submission_pattern %}
{% endblock breadcrumbs %}

{% block content %}
<legend>
    {{ submission_pattern }}
    <span class="pull-right">
        {% if perms.contests.change_submission_pattern or request|has_leader_permission:course %}
        <a href="{% url 'contests:submission-pattern-update' submission_pattern.id %}" class="text-decoration-none" data-toggle="tooltip" data-placement="left" title="Редактировать шаблон посылки"><i class="fa fa-edit fa-fw"></i></a>
        {% endif %}
        {% if perms.contests.delete_submission_pattern or request|has_leader_permission:course %}
        <a href="{% url 'contests:submission-pattern-delete' submission_pattern.id %}" class="text-danger text-decoration-none" data-toggle="tooltip" data-placement="top" title="Удалить шаблон посылки" style="position: relative; top: -0.08rem;"><i class="fa fa-trash-o fa-fw"></i></a>
        {% endif %}
    </span>
</legend>
<div>
    <h6>Описание:</h6>
    <div class="alert alert-secondary">
        {{ submission_pattern.description|safe|linebreaksbr }}
    </div>
    <h6>Шаблон:</h6>
    <div class="alert alert-secondary">
        <samp>{{ submission_pattern.pattern|safe|linebreaksbr }}</samp>
    </div>
    {% include 'list.html' with lst=submission_pattern.problems.all title="Задачи:" %}
</div>
{% endblock content %}
