{% extends 'base.html' %}
{% load views forms %}

{% block title %}
Шаблон посылки
{% endblock title %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% if submission_pattern %}
{% breadcrumb submission_pattern submission_pattern %}
{% breadcrumb "Редактирование" %}
{% else %}
{% breadcrumb "Новый шаблон посылки" %}
{% endif %}
{% endblock breadcrumbs %}

{% block content %}
<legend>{% if submission_pattern %}Редактирование{% else %}Добавление{% endif %} шаблона посылки</legend>
<form action="" method="post" class="form-horizontal">
    {% csrf_token %}
    {% render_form_errors form %}
    {% with WIDGET_RENDER_TO_TEMPLATE="field.html" WIDGET_ERROR_CLASS="is-invalid" %}
    {% render_field form.problems class+="form-control selectpicker" data-actions-box="true" %}
    {% render_field form.title class+="form-control" %}
    {% render_field form.description class+="form-control" %}
    {% render_field form.pattern class+="form-control" %}
    {% endwith %}
    {% render_submit_button value="Сохранить" %}
</form>
{% endblock content %}
