{% extends 'base.html' %}
{% load views contests markdown static %}

{% block title %}
Решение набора задач
{% endblock title %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% breadcrumb testsubmission.test.contest.course testsubmission.test.contest.course %}
{% breadcrumb testsubmission.test.contest testsubmission.test.contest %}
{% breadcrumb testsubmission.test testsubmission.test %}
{% breadcrumb testsubmission %}
{% endblock breadcrumbs %}

{% block content %}
<legend>{{ testsubmission }}</legend>

<table class="table table-sm">
    <tr><td class="text-right" style="width: 20%;">Автор</td><td><a href="{{ submission.owner.account.get_absolute_url }}">{{ testsubmission.owner.account }}</a></td></tr>
    <tr><td class="text-right" style="width: 20%;">К набору задач</td><td><a href="{{ submission.problem.get_absolute_url }}">{{ testsubmission.test }}</a></td></tr>
    <tr><td class="text-right" style="width: 20%;">Отправлена</td><td>{{ testsubmission.date_created }}</td></tr>
</table>

<h5 class="mb-3">Ответы</h5>

{% for question, answer in questions %}
<div class="card mb-3">
    <div class="card-header bg-white d-flex justify-content-between align-items-center">
        #{{ question.number }}
        <span class="badge badge-pill badge-light`">Способ ответа: {{ question.get_answer_type_display|lower }}</span>
        <span class="text-{% if answer == None %}warning{% elif answer.status == 1 %}dark{% elif answer.status == 2 %}success{% elif answer.status == 3 %}danger{% endif %}">
            {% if answer == None %}Не решено{% elif answer.status == 1 %}Не проверено{% elif answer.status == 2 %}Правильно{% elif answer.status == 3 %}Неправильно{% endif %}
        </span>
    </div>
    <div class="card-body">
        <p class="card-text">{{ question.text }}</p>
    </div>
    {% if question.answer_type == 1 and answer.file %}
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <label class="card-text text-muted">
                Ответ:
                <div>
                    {{ answer.text }}
                </div>
            </label>
        </li>
    </ul>
    {% endif %}
    {% if question.answer_type == 2 and question.option_set.all %}
    <div class="card ml-2 mb-2 mr-2">
        <ul class="list-group list-group-flush">
            {% for option in question.option_set.all %}
            <li class="list-group-item {% if option in answer.options.all %}text-primary{% endif %}">
                {% if option in answer.options.all %}<i class="fa fa-check-circle-o" aria-hidden="true"></i>{% endif %} {{ option.text }}
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    {% if question.answer_type == 3 and answer.file %}
    <div class="card-footer">
        <a href="{{ answer.file.url }}" class="card-link" title="Скачать" target="blank"><i class="fa fa-download fa-fw"></i> Скачать файл</a>
    </div>
    {% endif %}
</div>
{% empty %}
<div>Нет задач.</div>
{% endfor %}
{% endblock content %}
{% block submenu %}
{% endblock submenu %}