{% extends 'base.html' %}
{% load views forms %}

{% block title %}
Лекция
{% endblock title %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% breadcrumb course course %}
{% if lecture %}
{% breadcrumb lecture lecture %}
{% breadcrumb "Редактирование" %}
{% else %}
{% breadcrumb "Новая лекция" %}
{% endif %}
{% endblock breadcrumbs %}

{% block content %}
<legend>{% if lecture %}Редактирование{% else %}Добавление{% endif %} лекцию</legend>
<form action="" method="post" class="form-horizontal">
    {% csrf_token %}
    {% render_form_errors form %}
    {% with WIDGET_RENDER_TO_TEMPLATE="field.html" %}
    {% render_field form.title class+="form-control" %}
    {% render_field form.description class+="form-control" %}
    {% endwith %}
    {% render_submit_button value="Сохранить" %}
</form>
{% endblock content %}
