{% extends 'base.html' %}
{% load views comments %}

{% block title %}
Лекция
{% endblock title %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% breadcrumb lecture.course lecture.course %}
{% breadcrumb lecture %}
{% endblock breadcrumbs %}

{% block content %}
<legend>{{ lecture }}</legend>
<div>
    <p>{{ description|safe }}</p>
</div>
{% render_comments lecture %}
{% endblock content %}

{% block submenu %}
<div class="list-group mb-3">
    {% if perms.contests.change_lecture %}
    <a href="{% url 'contests:lecture-update' lecture.id %}" class="list-group-item list-group-item-action"><i class="fa fa-edit fa-fw"></i> Редактировать лекцию</a>
    {% endif %}
    {% if perms.contests.delete_lecture %}
    <a href="{% url 'contests:lecture-delete' lecture.id %}" class="list-group-item list-group-item-action"><i class="fa fa-trash-o fa-fw"></i> Удалить лекцию</a>
    {% endif %}
</div>
{% endblock submenu %}
