.driver-popover {
    border-radius: 4px;
}

.driver-popover-md {
    max-width: 500px !important;
    width: 500px !important;
}

.driver-popover-lg {
    max-width: 700px !important;
    width: 700px !important;
}
