{% extends 'base.html' %}
{% load views forms %}

{% block title %}
Привязка задачи к тесту
{% endblock title %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% breadcrumb testmembership.test.contest.course testmembership.test.contest.course %}
{% breadcrumb testmembership.test.contest testmembership.test.contest %}
{% breadcrumb testmembership.test testmembership.test %}
{% breadcrumb "Удаление" %}
{% endblock breadcrumbs %}

{% block content %}
<legend>Удаление привязки задачи к тесту</legend>
{% render_delete_form testmembership %}
{% endblock content %}
