{% extends 'base_wide.html' %}
{% load views forms humanize %}

{% block title %}
Настройки оповещений
{% endblock title %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% breadcrumb "Оповещения" 'accounts:activity-list' %}
{% breadcrumb "Настройки оповещений" %}
{% endblock breadcrumbs %}

{% block content %}
<legend>Настройки оповещений</legend>

<form id="root" method="post" enctype="multipart/form-data" class="form-horizontal">
    {% csrf_token %}

    {% render_form_errors form %}
    <div id="activity_settings">
        {{ form.object_type }}
    </div>

    {% render_submit_button value="Сохранить" %}
</form>

{% endblock content %}
