{% extends 'base_wide.html' %}
{% load accounts views forms humanize %}

{% block title %}
Настройки оповещений
{% endblock title %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% breadcrumb "Оповещения" 'accounts:activity-list' %}
{% breadcrumb "Настройки оповещений" %}
{% endblock breadcrumbs %}

{% block content %}
<legend>Настройки оповещений</legend>

<form id="root" method="post" enctype="multipart/form-data" class="form-horizontal">
    {% csrf_token %}

    {% render_form_errors form %}
    <div id="activity_settings">
        {{ form.object_type }}
    </div>

    {% render_submit_button value="Сохранить" %}

    {% if courses %}
    <div class="mb-3">
        <p>Вы подписаны на курс{% if courses.count > 1 %}ы{% endif %}:</p>
        {% for course in courses %}
        {% subscription_id_for_course_id request.user course.id as subscription_id %}
        <a class="btn btn-primary mb-2 mr-1" href="{% url 'accounts:subscription-delete' subscription_id %}?previous_url={{ request.path }}" title="Отписаться" style="border-radius:23px;">{{ course.title }}<i class="fa fa-times fa-lg ml-2"></i></a>
        {% endfor %}
    </div>
    {% endif %}
</form>

{% endblock content %}
