{% extends 'base_wide.html' %}
{% load views humanize %}

{% block title %}
Оповещения
{% endblock title %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% breadcrumb "Оповещения" %}
{% endblock breadcrumbs %}

{% block content %}
<legend>Оповещения</legend>
{% if activities %}
<div id="p" class="list-group mb-3">
    {% for activity in activities %}
    <li class="list-group-item d-flex {% if not activity.is_read %}bg-light{% endif %}">
    <span class="mr-auto ">
        {% if activity.subject.username %}
        <a href="{{ activity.subject.account.get_absolute_url }}">{{ activity.subject.account }}</a>
        {% else %}
        <a href="{{ activity.subject.get_absolute_url }}"> {{ activity.subject }}</a>
        {% endif %}
        {{ activity.action }}
        {% if activity.object %}
        <a href="{{ activity.object.get_absolute_url }}"> {{ activity.object }}</a>
        {% endif %}
        {% if activity.reference %}
        / <a href="{{ activity.reference.get_absolute_url }}"> {{ activity.reference }}</a>
        {% endif %}
    </span>
    <span class="text-muted text-right"  style="width: 20%;">
        {{ activity.date_created|naturaltime }}
    </span>
    </li>
    {% endfor %}
</div>
{% else %}
<div class="alert alert-info mb-3" role="alert">
    Оповещений нет
</div>
{% endif %}
{% render_page_nav %}
{% endblock content %}
