{% extends 'base.html' %}
{% load paginator humanize %}

{% block title %}
Оповещения
{% endblock title %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li><a href="{% url 'contests:index' %}">Главная</a></li>
    <li class="active">Оповещения</li>
</ol>
{% endblock breadcrumbs %}

{% block content %}
<legend>Оповещения</legend>
<form action="{% url 'accounts:activity-mark' %}" method="post" id="marker">
    {% csrf_token %}
    <table id="panchor" class="table table-hover">
        <thead>
            <tr>
                <th class="col-md-1 text-center"></th>
                <th class="col-md-8">Событие</th>
                <th class="col-md-3">Произошло</th>
            </tr>
        </thead>
        <tbody>
            {% for activity in activities %}
            <tr>
                <td class="text-center">
                    <input type="checkbox" value="{{ activity.id }}" name="choices" id="choices" {% if not activity.is_read %}checked{% endif %}/>
                </td>
                <td>
                    <label for="choices" class="label-activity">
                        {% if not activity.is_read %}
                        <span class="label label-info">Новое</span>
                        {% endif %}
                        {% if activity.subject.last_name %}
                        <a href="{{ activity.subject.account.get_absolute_url }}">{{ activity.subject.account }}</a>
                        {% else %}
                        <a href="{{ activity.subject.get_absolute_url }}">{{ activity.subject }}</a>
                        {% endif %}
                        {{ activity.action }}
                        {% if activity.object %}
                        <a href="{{ activity.object.get_absolute_url }}">{{ activity.object }}</a>
                        {% endif %}
                        {% if activity.reference %}
                        / <a href="{{ activity.reference.get_absolute_url }}"> {{ activity.reference }}</a>
                        {% endif %}
                    </label>
                </td>
                <td>
                    <span class="text-muted">{{ activity.date_created|naturaltime }}</span>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</form>
{% render_page_nav %}
{% endblock content %}

{% block submenu %}
<ul class="list-group">
    <button type=submit form="marker" name="mark" value="read" class="list-group-item"><i class="fa fa-check fa-fw"></i> Отметить как прочтенные</button>
</ul>
<ul class="list-group">
    <button type=submit form="marker" name="mark" value="delete" class="list-group-item"><i class="fa fa-trash fa-fw"></i> Удалить отмеченные</button>
</ul>
{% endblock submenu %}