{% extends 'base_wide.html' %}
{% load views accounts humanize static %}

{% block title %}
Оповещения
{% endblock title %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% breadcrumb "Оповещения" %}
{% endblock breadcrumbs %}

{% block content %}
<legend>
    Оповещения
    <span class="pull-right">
        <a href="{% url 'accounts:activity-settings' %}" class="text-decoration-none" data-toggle="tooltip" data-placement="left" title="Настроить оповещения"><i class="fa fa-cog fa-fw"></i></a>
    </span>
</legend>
<div id="activities" class="activity-list list-group list-group-flush mb-3">
    {% if activities %}
    {% now 'Y' as current_year %}
    {% for activity in activities %}
    <li class="activity-list-item list-group-item d-flex {% if not activity.is_read %}bg-light" data-unread=true{% else %}"{% endif %} data-id={{ activity.id }}>
    <span class="activity-body mr-auto">
        {% if activity.subject.username %}
        <a href="{{ activity.subject.account.get_absolute_url }}">{{ activity.subject.account }}</a>
        {% else %}
        <a href="{{ activity.subject.get_absolute_url }}"> {{ activity.subject }}</a>
        {% endif %}
        {{ activity.action }}
        {% if activity.object %}
        <a href="{{ activity.object.get_absolute_url }}"> {{ activity.object }}</a>
        {% endif %}
        {% if activity.reference %}
        / <a href="{{ activity.reference.get_absolute_url }}"> {{ activity.reference }}</a>
        {% endif %}
    </span>
    <span class="text-muted text-right" style="width: 25%;">
        {% if activity.date_created|date:'Y' == current_year %}
        {{ activity.date_created|naturaltime_if_lt_week_ago:'j E в H:i' }}
        {% else %}
        {{ activity.date_created|naturaltime_if_lt_week_ago:'j E Y г. в H:i' }}
        {% endif %}
    </span>
    </li>
    {% endfor %}
    {% else %}
    <div class="alert alert-info mb-3" role="alert">
        Оповещений нет
    </div>
    {% endif %}
</div>
{% if page_obj.has_next %}
<a class="activity-list-more btn btn-block btn-link" href="?page={{ page_obj.next_page_number }}">еще</a>
{% endif %}

{% endblock content %}

{% block javascript %}
<script src="{% static 'MathJax/es5/tex-chtml.js' %}" type="text/javascript"></script>
<script src="{% static 'waypoints/lib/jquery.waypoints.min.js' %}" type="text/javascript"></script>
<script src="{% static 'waypoints/lib/shortcuts/infinite.min.js' %}" type="text/javascript"></script>
<script>
    var infinite = new Waypoint.Infinite({
        element: $('.activity-list')[0],
        items: '.activity-list-item',
        more: '.activity-list-more'
    });
</script>
<script type="text/javascript" src="{% static 'js/activities.js' %}"></script>
<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function(event) {
        let watcher = new ReadWatcher("{% url 'accounts:mark-activities-as-read' %}");
        if(parseInt('{% unread_activities_count request.user %}') > 0) {
            window.addEventListener('scroll', watcher, false);
        }
        setTimeout(watcher.markActivitiesAsRead.bind(watcher), 1000);
    });
    </script>
{% endblock javascript %}