{% extends 'base_main.html' %}
{% load views accounts comments contests markdown static %}

{% block title %}Раздел{% endblock title %}

{% block main_links %}
<link href="{% static 'easymde/easymde.min.css' %}" rel="stylesheet">
<link href="{% static 'easymde/easymde.fix.css' %}" rel="stylesheet">
{% endblock main_links %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% breadcrumb contest.course contest.course %}
{% breadcrumb contest contest %}
{% breadcrumb "Обсуждение" %}
{% endblock breadcrumbs %}

{% block main_content %}
<legend>Обсуждение раздела <span class="text-muted">№{{ contest.number }}</span> {{ contest.title }}</legend>
<div class="d-grid mb-3">
    <div class="btn-group">
        <a class="btn btn-light border col-md-2" href="{% url 'contests:contest-detail' contest.id %}">
            <i class="fa-solid fa-chevron-left fa-fw"></i> Вернуться к разделу
        </a>
        <a class="btn btn-light border col-md-10 disabled">
            {% unread_comments_count request.user.account contest as ucc %}
            <i class="fa-regular fa-comments fa-fw"></i> Обсуждение{% if ucc > 0 %} <span id="unread_comments_count" class="badge rounded-pill bg-secondary align-middle">{{ ucc }}</span>{% endif %}
        </a>
    </div>
</div>
{% include 'accounts/comment/comment_list.html' with obj=contest %}
{% endblock main_content %}
