{% extends 'base_main.html' %}
{% load views forms %}

{% block title %}Раздел{% endblock title %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% breadcrumb contest.course contest.course %}
{% breadcrumb contest contest %}
{% breadcrumb "Удаление" %}
{% endblock breadcrumbs %}

{% block main_content %}
<legend>Удаление раздела</legend>
{% if action == 'delete_permanently' %}
<form action="" method="post">
    {% csrf_token %}
    <div class="alert alert-info" role="alert">
        Вместе с разделом будут безвозвратно удалены:
        <ul>
            <li>все задачи этого раздела</li>
            <li>все задания студентов по задачам из этого раздела</li>
            <li>все комментарии в обсуждениях раздела и его задач</li>
        </ul>
    </div>
    <div class="alert alert-warning text-center" role="alert">
        Вы точно хотите удалить раздел: {{ contest }}?
    </div>
    <div class="d-grid">
        <input class="btn btn-danger" type="submit" value="Удалить" />
    </div>
</form>
{% else %}
{% render_delete_form contest %}
{% endif %}
{% endblock main_content %}
