{% extends 'base_main.html' %}
{% load views forms tutorial static %}

{% block title %}Раздел{% endblock title %}

{% block main_links %}
<link href="{% static 'ckeditor/ckeditor.min.css' %}" rel="stylesheet">
<link href="{% static 'ckeditor/ckeditor.fix.css' %}" rel="stylesheet">
<link href="{% static 'easymde/easymde.min.css' %}" rel="stylesheet">
<link href="{% static 'easymde/easymde.fix.css' %}" rel="stylesheet">
{% endblock main_links %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% breadcrumb course course %}
{% if contest %}
{% breadcrumb contest contest %}
{% breadcrumb "Редактирование" %}
{% else %}
{% breadcrumb "Новый раздел" %}
{% endif %}
{% endblock breadcrumbs %}

{% block main_content %}
<legend>{{ title }}</legend>
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% include 'forms/errors/non_field_errors.html' %}
    {% if action == 'restore' or action == None %}
    {% render_field form.course %}
    {% endif %}
    {% if action == 'restore' or action == None %}
    {% with WIDGET_RENDER_TO_TEMPLATE="forms/fields/field.html" WIDGET_ERROR_CLASS="is-invalid" %}
    <div class="driver-active-standout" id="fieldTitle">
        {% render_field form.title class+="form-control" %}
    </div>
    {% endwith %}
    <div class="driver-active-standout" id="fieldDescription">
        {% with WIDGET_RENDER_TO_TEMPLATE="forms/fields/textarea.html" %}
        {% render_field form.description class+="form-control" %}
        {% endwith %}
    </div>
    {% endif %}
    {% with WIDGET_RENDER_TO_TEMPLATE="forms/fields/field.html" WIDGET_ERROR_CLASS="is-invalid" %}
    {% if action == 'move' %}
    {% render_field form.course class+="form-control selectpicker" %}
    {% endif %}
    {% if action == 'move' or action == 'restore' or action == None %}
    <div class="driver-active-standout" id="fieldNumber">
        {% render_field form.number class+="form-control" %}
    </div>
    {% endif %}
    {% endwith %}
    {% if action == 'add_files' or action == 'restore' or action == None %}
    {% with WIDGET_RENDER_TO_TEMPLATE="forms/fields/file.html" WIDGET_ERROR_CLASS="is-invalid" %}
    <div class="driver-active-standout" id="fieldFiles">
        {% render_field form.files class+="form-control" %}
    </div>
    {% endwith %}
    {% endif %}
    {% if action == 'restore' or action == None %}
    {% with WIDGET_RENDER_TO_TEMPLATE="forms/fields/check_button.html" WIDGET_ERROR_CLASS="is-invalid" %}
    {% render_field form.hidden class+="btn-check" autocomplete="off" %}
    {% endwith %}
    {% endif %}
    <div id="formSubmitButton">
        {% include 'forms/submit_button.html' with value="Сохранить" %}
    </div>
</form>
{% endblock main_content %}

{% block main_scripts %}
<script src="{% static 'ckeditor/ckeditor.min.js' %}" type="text/javascript"></script>
<script src="{% static 'ckeditor/ckeditor.config.js' %}" type="text/javascript"></script>
<script src="{% static 'easymde/easymde.min.js' %}" type="text/javascript"></script>
<script src="{% static 'easymde/easymde.config.js' %}" type="text/javascript"></script>
<script type="text/javascript">
document.addEventListener("DOMContentLoaded", function(event) {
    initCKEditor(document.getElementById('id_description'), 'default');
});

driverObj.setSteps([
    {% if request.user.account.is_instructor or request.user.is_superuser %}
    {% if not request|have_passed_step:'field_title' %}
    {
        view: '{% tutorial_step_view request %}',
        step: 'field_title',
        element: '#fieldTitle',
        popover: {
            description: "С таким названием раздел будет отображаться в списке разделов курса.<br>" +
                "Вы можете заменить предложенный вариант заголовка.",
            side: 'bottom',
            popoverClass: 'driver-popover-md'
        }
    },
    {% endif %}
    {% if not request|have_passed_step:'field_description' %}
    {
        view: '{% tutorial_step_view request %}',
        step: 'field_description',
        element: '#fieldDescription',
        popover: {
            description: "В это поле можно вставлять форматированный текст, скопированный из документа " +
                "<em class='text-primary'>Word</em>.<br>" +
                "Кроме того, доступно форматирование LaTeX через пары символов " +
                "<span class='text-nowrap'>&laquo;\\(&raquo; и &laquo;\\)&raquo;</span> для " +
                "строчной нотации, <span class='text-nowrap'>&laquo;$$&raquo; и &laquo;$$&raquo;</span> для блочной.",
            side: 'top',
            popoverClass: 'driver-popover-md'
        }
    },
    {% endif %}
    {% if not request|have_passed_step:'field_number' %}
    {
        view: '{% tutorial_step_view request %}',
        step: 'field_number',
        element: '#fieldNumber',
        popover: {
            description: "Номер раздела определяет порядок отображения столбцов с заданиями в таблице заданий курса. " +
                "<br>Это поле обязательное и заполнено по умолчанию. Номер раздела должен быть уникальным в данном курсе.",
            side: 'bottom',
            popoverClass: 'driver-popover-md'
        }
    },
    {% endif %}
    {% if not request|have_passed_step:'field_files' %}
    {
        view: '{% tutorial_step_view request %}',
        step: 'field_files',
        element: '#fieldFiles',
        popover: {
            description: "Вы можете прикрепить к разделу файлы следующих типов:<ul>" +
                "<li><em class='text-primary'>Word</em> - .doc/.docx</li>" +
                "<li><em class='text-success'>Excel</em> - .xls/.xlsx</li>" +
                "<li><em class='text-danger'>PowerPoint</em> - .ppt/.pptx</li>" +
                "<li>а также - .txt, .pdf, .djvu, .csv и др.</li></ul>",
            side: 'bottom',
            popoverClass: 'driver-popover-md'
        }
    },
    {% endif %}
    {% if not request|have_passed_step:'form_submit_button' %}
    {
        view: '{% tutorial_step_view request %}',
        step: 'form_submit_button',
        element: '#formSubmitButton',
        popover: {
            description: "Когда заполните необходимые поля, нажмите на кнопку &laquo;Сохранить&raquo;",
            side: 'top',
            popoverClass: 'driver-popover-md'
        }
    },
    {% endif %}
    {% endif %}
])
</script>
{% endblock main_scripts %}
