{% extends 'base.html' %}
{% load views accounts contests markdown static %}

{% block title %}
Раздел
{% endblock title %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% breadcrumb contest.course contest.course %}
{% breadcrumb contest %}
{% endblock breadcrumbs %}

{% block content %}
<legend>{{ contest.title }} <small class="text-muted">№{{ contest.number }}</small></legend>
<a class="btn btn-light btn-block border mb-3" href="{% url 'contests:contest-discussion' contest.id %}">
    {% unread_comments_count request.user.account contest as ucc %}
    Обсуждение{% if ucc > 0 %} <span id="unread_comments_count" class="badge badge-pill badge-secondary align-middle">{{ ucc }}</span>{% endif %}
</a>
<div class="accordion mb-3" id="contest_details">
    <div class="card">
        <div class="card-header" id="contest_description">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                        data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Описание раздела
                </button>
            </h2>
        </div>
        <div id="collapseOne" class="collapse show" aria-labelledby="contest_description">
            <div class="card-body">
                {{ contest.description|markdown|safe }}
                {% render_attachment_list contest %}
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="contest_problems">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                        data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    Задачи
                </button>
            </h2>
        </div>
        <div id="collapseTwo" class="collapse show" aria-labelledby="contest_problems">
            <div class="card-body">
                {% include 'list.html' with lst=contest.problem_set.all mb=0 warn_if_empty="Добавьте задачу" %}
            </div>
        </div>
    </div>
    <!--
    <div class="card">
        <div class="card-header" id="contest_tests">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                        data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                    Наборы задач
                </button>
            </h2>
        </div>
        <div id="collapseThree" class="collapse show" aria-labelledby="contest_tests">
            <div class="card-body">
                {% include 'list.html' with lst=contest.test_set.all mb=0 warn_if_empty="Добавьте набор задач" %}
            </div>
        </div>
    </div>
    -->
</div>
{% endblock content %}

{% block submenu %}
<div class="list-group mb-3">
    {% if perms.contests.change_contest %}
    <a href="{% url 'contests:contest-update' contest.id %}" class="list-group-item list-group-item-action"><i class="fa fa-edit fa-fw"></i> Редактировать раздел</a>
    {% endif %}
    {% if perms.contests.delete_contest %}
    <a href="{% url 'contests:contest-delete' contest.id %}" class="list-group-item list-group-item-action"><i class="fa fa-trash-o fa-fw"></i> Удалить раздел</a>
    {% endif %}
</div>
<div class="list-group mb-3">
    {% if perms.contests.add_problem %}
    <a href="{% url 'contests:problem-create' contest.id %}" class="list-group-item list-group-item-action"><i class="fa fa-plus fa-fw"></i> Добавить задачу</a>
    {% endif %}
    <!--
    {% if perms.contests.add_question %}
    <a href="{% url 'contests:question-create' contest.id %}" class="list-group-item list-group-item-action"><i class="fa fa-plus fa-fw"></i> Добавить задачу (!)</a>
    {% endif %}
    -->
    {% if perms.contests.add_test %}
    <a href="{% url 'contests:test-create' contest.id %}" class="list-group-item list-group-item-action"><i class="fa fa-plus fa-fw"></i> Добавить набор задач</a>
    {% endif %}
</div>
{% endblock submenu %}

{% block javascript %}
<script src="{% static 'MathJax/es5/tex-chtml.js' %}" type="text/javascript"></script>
<!--<script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS_CHTML"></script>-->
{% endblock javascript %}
