{% extends 'base.html' %}
{% load views forms %}

{% block title %}
Раздел
{% endblock title %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% breadcrumb course course %}
{% if contest %}
{% breadcrumb contest contest %}
{% breadcrumb "Редактирование" %}
{% else %}
{% breadcrumb "Новый раздел" %}
{% endif %}
{% endblock breadcrumbs %}

{% block content %}
<legend>{% if contest %}Редактирование{% else %}Добавление{% endif %} раздела</legend>
<form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
    {% csrf_token %}
    {% render_errors form %}
    {% with WIDGET_RENDER_TO_TEMPLATE="field.html" %}
    {% render_field form.title class+="form-control" %}
    {% render_field form.description class+="form-control" %}
    {% endwith %}
    <div class="form-group">
        <div class="custom-file">
            {% with is_invalid=form.files.errors|yesno:"is-invalid," %}
            {% render_field form.files class+="custom-file-input" class+=is_invalid %}
            {% endwith %}
            <label class="custom-file-label" for="{{ form.files.id_for_label }}">{{ form.files.label }}</label>
            {% if form.files.errors %}
            <div class="invalid-feedback">
                {% for error in form.files.errors %}
                {{ error }}
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
    {% render_button value="Сохранить" %}
</form>
{% endblock content %}
