{% extends 'base_main.html' %}
{% load views accounts contests tutorial markdown static %}

{% block title %}Раздел{% endblock title %}

{% block main_links %}
<link href="{% static 'ckeditor/ckeditor.content.css' %}" rel="stylesheet">
{% endblock main_links %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% breadcrumb contest.course contest.course %}
{% breadcrumb contest %}
{% endblock breadcrumbs %}

{% block main_content %}
<legend>
    <span class="d-flex justify-content-between flex-column flex-md-row">
        <span class="text-truncate"><span class="text-muted">№{{ contest.number }}</span> {{ contest.title }}</span>
        <span class="d-flex justify-content-between gap-1">
            {% if perms.contests.add_problem or request|has_leader_permission:contest.course %}
            <span class="dropstart" data-bs-toggle="tooltip" data-bs-placement="top" title="Добавить задачу">
                <a href="#" class="text-success" role="button" id="dropdownAddProblemMenuLink" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-plus fa-fw"></i></a>
                <span class="dropdown-menu shadow-sm" aria-labelledby="dropdownAddProblemMenuLink">
                    <a class="dropdown-item" href="{% url 'contests:problem-create' contest.id 'Text' %}"><i class="fa fa-keyboard-o fa-fw"></i> С ответом в виде текста</a>
                    <a class="dropdown-item" href="{% url 'contests:problem-create' contest.id 'Files' %}"><i class="fa fa-file-text-o fa-fw"></i> С ответом в виде файлов</a>
                    <a class="dropdown-item" href="{% url 'contests:problem-create' contest.id 'Program' %}"><i class="fa fa-file-code-o fa-fw"></i> С ответом в виде программы</a>
                    <a class="dropdown-item" href="{% url 'contests:problem-create' contest.id 'Options' %}"><i class="fa fa-check-square-o fa-fw"></i> С вариантами ответа</a>
                    <a class="dropdown-item" href="{% url 'contests:problem-create' contest.id 'Verbal' %}"><i class="fa fa-microphone fa-fw"></i> С устным ответом</a>
                    <span><hr class="dropdown-divider"></span>
                    <a class="dropdown-item" href="{% url 'contests:problem-create' contest.id 'Test' %}"><i class="fa fa-folder-o fa-fw"></i> Тест</a>
                </span>
            </span>
            {% endif %}
            {% if perms.contests.change_contest or request|has_leader_permission:contest.course %}
            <a id="btn_contest_update" href="{% url 'contests:contest-update' contest.id %}" data-bs-toggle="tooltip" data-bs-placement="top" title="Редактировать"><i class="fa fa-edit fa-fw"></i></a>
            {% endif %}
            {% if perms.contests.delete_contest or request|has_leader_permission:contest.course %}
            <span class="dropstart">
                <a href="#" role="button" id="dropdownMoreMenuLink" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-h fa-fw"></i></a>
                <span class="dropdown-menu shadow-sm" aria-labelledby="dropdownMoreMenuLink">
                    <a href="{% url 'contests:contest-update' contest.id %}?action=move" class="dropdown-item"><i class="fa fa-share-square-o fa-fw"></i> Переместить</a>
                    <a href="{% url 'contests:contest-delete' contest.id %}" class="dropdown-item text-danger"><i class="fa fa-trash-o fa-fw"></i> Удалить</a>
                </span>
            </span>
            {% endif %}
        </span>
    </span>
</legend>
<div class="accordion mb-3" id="contestDetails">
    <div class="accordion-item">
        <h2 class="accordion-header" id="contestDescriptionHeader">
            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#contestDescriptionCollapse" aria-expanded="true" aria-controls="contestDescriptionCollapse">
                Описание раздела
            </button>
        </h2>
        <div class="accordion-collapse collapse show" id="contestDescriptionCollapse" aria-labelledby="contestDescriptionHeader">
            <div class="accordion-body ck-content overflow-scroll">
            {% if contest.get_description_type_display == 'markdown' %}
                {{ contest.description|markdown|safe }}
            {% else %}
                {{ contest.description|safe }}
            {% endif %}
                <div class="w-100 mt-3">
                    {% render_attachment_list contest contest.course %}
                </div>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="contestProblemsHeader">
            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#contestProblemsCollapse" aria-expanded="true" aria-controls="contestProblemsCollapse">
                Задачи
            </button>
        </h2>
        <div class="accordion-collapse collapse show" id="contestProblemsCollapse" aria-labelledby="contestProblemsHeader">
            <div class="accordion-body">
                {% include 'contests/problem/problem_list.html' with problems=contest.problem_set.all %}
            </div>
        </div>
    </div>
</div>
{% if not request.user.account.is_student and contest.hidden_from_students %}
<div class="alert alert-warning">
    <strong><i class="fa fa-lock"></i> Раздел скрыт.</strong> Чтобы раздел стал видимым для студента, Вы можете назначить ему задание по задаче из этого раздела.<br>
    Вы также можете <a href="{% url 'contests:contest-update' contest.id %}">отключить</a> сокрытие раздела на странице редактирования.
</div>
{% endif %}
<div class="row mb-3">
    <div class="col-12 col-md-6">
        <div class="col-12 text-muted text-start">Факультет: {{ contest.course.faculty }}</div>
        <div class="col-12 text-muted text-start">Порядковый номер: {{ contest.number }}</div>
    </div>
    <div class="col-12 col-md-6">
        <div class="col-12 text-muted text-start text-md-end">Добавлен: {{ contest.date_created|date:'d E Y г.' }}</div>
        <div class="col-12 text-muted text-start text-md-end">Добавил(а): <a href="{{ contest.owner.account.get_absolute_url }}" class="text-muted">{{ contest.owner.account }}</a></div>
    </div>
</div>
<div class="d-grid">
    <a class="btn btn-light border" href="{% url 'contests:contest-discussion' contest.id %}">
        {% unread_comments_count request.user.account contest as ucc %}
        <i class="fa fa-comments fa-fw"></i> Обсуждение{% if ucc > 0 %} <span id="unread_comments_count" class="badge rounded-pill bg-secondary align-middle">{{ ucc }}</span>{% endif %}
    </a>
</div>
{% endblock main_content %}

{% block main_scripts %}
<script src="{% static 'mathjax/es5/tex-chtml.js' %}" type="text/javascript" defer></script>
<script type="text/javascript">
driver.defineSteps([
    {% if request.user.account.is_instructor or request.user.is_superuser %}
    {% if not request|have_passed_step:'contest_detail' %}
    {
        view: '{% tutorial_step_view request %}',
        step: 'contest_detail',
        element: '#collapseOne',
        popover: {
            title: "Описание",
            description: "В описание раздела Вы можете добавлять все соответствующие ему учебные материалы - текст, " +
                "ссылки на литературу в ИРЦ, документы <em>Microsoft Word</em>, <em>Excel</em>, " +
                "<em>PowerPoint</em>, файлы <em>PDF</em>, видео/аудио записи лекций и семинаров. ",
            position: 'bottom'
        }
    },
    {% endif %}
    {% if not request|have_passed_step:'contest_update_button' %}
    {
        view: '{% tutorial_step_view request %}',
        step: 'contest_update_button',
        element: '#btn_contest_update',
        popover: {
            title: "Редактирование",
            description: "Чтобы перейти на страницу редактирования курса, кликните по этой кнопке",
            position: 'left'
        }
    },
    {% endif %}
    {% if not request|have_passed_step:'contest_problems' %}
    {
        view: '{% tutorial_step_view request %}',
        step: 'contest_problems',
        element: '#collapseTwo',
        popover: {
            title: "Задачи",
            description: "Студентам доступны для решения все задачи раздела, а назначенные им задачи отображаются в списке заданий. Список заданий студента можно посмотреть в его профиле, а сам студент видит свой список заданиий на своей главной странице Контеста. " +
                "В Контесте задачи бывают 4 типов и отличаются способом решения:" +
                "<ul>" +
                "<li>текстовые - решением таких задач является текст, набранный с клавиатуры прямо на странице Контеста</li>" +
                "<li>файловые - решением таких задач является файл или набор файлов (файлы с текстом, изображения, документы <em>Microsoft Word</em>, таблицы <em>Excel</em>, презентации <em>PowerPoint</em>, файлы <em>PDF</em> и др.)</li>" +
                "<li>программы - решением таких задач является файл или набор файлов с исходным кодом (.c/.cpp/.h/.hpp)</li>" +
                "<li>варианты - задача представляет из себя вопрос с вариантами ответов, а решением служит выбранный студентом один или несколько вариантов ответа</li>" +
                "</ul>",
            position: 'top',
            className: 'driver-popover-lg'
        }
    },
    {% endif %}
    {% if not request|have_passed_step:'contest_problem_create_button' %}
    {
        view: '{% tutorial_step_view request %}',
        step: 'contest_problem_create_button',
        element: '#btn_problem_create',
        popover: {
            title: "Добавить задачу",
            description: "Начать добавление задачи к этому разделу можно нажав на кнопку &laquo;Добавить задачу&raquo;",
            position: 'top'
        }
    }
    {% endif %}
    {% endif %}
])
</script>
{% endblock main_scripts %}
