{% extends 'base.html' %}
{% load views accounts contests markdown static %}

{% block title %}
Раздел
{% endblock title %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% breadcrumb contest.course contest.course %}
{% breadcrumb contest %}
{% endblock breadcrumbs %}

{% block content %}
<legend>{{ contest }}</legend>
<ul class="nav nav-tabs mb-3" role="tablist">
    <li class="nav-item">
        <a aria-controls="description" aria-selected="{% if not tab or tab == 'description' %}true{% else %}false{% endif %}"
           class="nav-link {% if not tab or tab == 'description' %}active{% endif %}" data-toggle="tab"
           href="#description" id="description-tab" role="tab">Описание</a>
    </li>
    <li class="nav-item">
        <a aria-controls="problems" aria-selected="{% if tab == 'problems' %}true{% else %}false{% endif %}"
           class="nav-link {% if tab == 'problems' %}active{% endif %}" data-toggle="tab" href="#problems"
           id="problems-tab" role="tab">Задачи</a>
    </li>
    <li class="nav-item">
        {% render_discussion_tab contest %}
    </li>
    <li class="nav-item">
        <a aria-controls="tests" aria-selected="{% if tab == 'tests' %}true{% else %}false{% endif %}"
        class="nav-link {% if tab == 'tests' %}active{% endif %}" data-toggle="tab"
        href="#tests" id="tests-tab" role="tab">Наборы задач</a>
    </li>
</ul>
<div class="tab-content">
    <div aria-labelledby="description-tab" class="tab-pane fade {% if not tab or tab == 'description' %}show active{% endif %}" id="description" role="tabpanel">
        <p>{{ contest.description|markdown|safe }}</p>
        {% render_attachment_list contest %}
    </div>
    <div aria-labelledby="problems-tab" class="tab-pane fade {% if tab == 'problems' %}show active{% endif %}" id="problems" role="tabpanel">
        {% include 'list.html' with lst=contest.problem_set.all %}
    </div>
    <div aria-labelledby="tests-tab" class="tab-pane fade {% if tab == 'tests' %}show active{% endif %}" id="tests" role="tabpanel">
        {% include 'list.html' with lst=contest.test_set.all %}
    </div>
</div>
{% endblock content %}

{% block submenu %}
<div class="list-group mb-3">
    {% if perms.contests.change_contest %}
    <a href="{% url 'contests:contest-update' contest.id %}" class="list-group-item list-group-item-action"><i class="fa fa-edit fa-fw"></i> Редактировать раздел</a>
    {% endif %}
    {% if perms.contests.delete_contest %}
    <a href="{% url 'contests:contest-delete' contest.id %}" class="list-group-item list-group-item-action"><i class="fa fa-trash-o fa-fw"></i> Удалить раздел</a>
    {% endif %}
</div>
<div class="list-group mb-3">
    {% if perms.contests.add_problem %}
    <a href="{% url 'contests:problem-create' contest.id %}" class="list-group-item list-group-item-action"><i class="fa fa-plus fa-fw"></i> Добавить задачу</a>
    {% endif %}
    {% if perms.contests.add_test %}
    <a href="{% url 'contests:test-create' contest.id %}" class="list-group-item list-group-item-action"><i class="fa fa-plus fa-fw"></i> Добавить набор задач</a>
    {% endif %}
</div>
{% endblock submenu %}

{% block javascript %}
<script src="{% static 'MathJax/es5/tex-chtml.js' %}" type="text/javascript"></script>
<!--<script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS_CHTML"></script>-->
{% endblock javascript %}
