{% extends 'base.html' %}
{% load forms %}

{% block title %}
Раздел
{% endblock title %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li><a href="{% url 'contests:index' %}">Главная</a></li>
    <li><a href="{{ contest.course.get_absolute_url }}">{{ contest.course }}</a></li>
    <li><a href="{{ contest.get_absolute_url }}">{{ contest }}</a></li>
    <li class="active">Удаление</li>
</ol>
{% endblock breadcrumbs %}

{% block content %}
<legend>Удаление раздела</legend>
{% render_delete_form contest %}
{% endblock content %}
