{% extends 'base.html' %}
{% load views forms static %}

{% block title %}
Раздел
{% endblock title %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% breadcrumb course course %}
{% if contest %}
{% breadcrumb contest contest %}
{% breadcrumb "Редактирование" %}
{% else %}
{% breadcrumb "Новый раздел" %}
{% endif %}
{% endblock breadcrumbs %}

{% block content %}
<legend>{% if contest %}Редактирование{% else %}Добавление{% endif %} раздела</legend>
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% render_form_errors form %}
    {% with WIDGET_RENDER_TO_TEMPLATE="field.html" WIDGET_ERROR_CLASS="is-invalid" %}
    {% render_field form.title class+="form-control" %}
    {% render_field form.description class+="form-control" %}
    {% render_field form.number class+="form-control" %}
    {% with WIDGET_RENDER_TO_TEMPLATE="field_file.html" %}
    {% render_field form.files class+="custom-file-input" %}
    {% endwith %}
    {% endwith %}
    {% render_submit_button value="Сохранить" %}
</form>
{% endblock content %}

{% block javascript %}
<script src="{% static 'js/bs-custom-file-input.min.js' %}" type="text/javascript"></script>
<script type="text/javascript">
$(function () {
    bsCustomFileInput.init()
});
</script>
{% endblock javascript %}
