{% extends 'base.html' %}
{% load views accounts contests comments markdown static %}

{% block title %}
Раздел
{% endblock title %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% breadcrumb contest.course contest.course %}
{% breadcrumb contest %}
{% endblock breadcrumbs %}

{% block content %}
<legend>{{ contest }}</legend>
<ul class="nav nav-tabs mb-3" role="tablist">
    <li class="nav-item">
        <a aria-controls="description" aria-selected="false" class="nav-link" data-toggle="tab" href="#description" id="description-tab"
           role="tab">Описание</a>
    </li>
    <li class="nav-item">
        <a aria-controls="problems" aria-selected="false" class="nav-link" data-toggle="tab" href="#problems" id="problems-tab"
           role="tab">Задачи</a>
    </li>
    <li class="nav-item">
        {% render_discussion_tab contest %}
    </li>
</ul>
<div class="tab-content">
    <div aria-labelledby="description-tab" class="tab-pane fade" id="description" role="tabpanel">
        <p>{{ contest.description|markdown|safe }}</p>
        {% render_attachment_list contest %}
    </div>
    <div aria-labelledby="problems-tab" class="tab-pane fade" id="problems" role="tabpanel">
        {% include 'list.html' with lst=contest.problem_set.all %}
    </div>
    <div aria-labelledby="discussion-tab" class="tab-pane fade show active" id="discussion" role="tabpanel">
        {% render_comments contest comments %}
    </div>
</div>
{% endblock content %}

{% block submenu %}
<div class="list-group mb-3">
    {% if perms.contests.change_contest %}
    <a href="{% url 'contests:contest-update' contest.id %}" class="list-group-item list-group-item-action"><i class="fa fa-edit fa-fw"></i> Редактировать раздел</a>
    {% endif %}
    {% if perms.contests.delete_contest %}
    <a href="{% url 'contests:contest-delete' contest.id %}" class="list-group-item list-group-item-action"><i class="fa fa-trash-o fa-fw"></i> Удалить раздел</a>
    {% endif %}
</div>
<div class="list-group mb-3">
    {% if perms.contests.add_problem %}
    <a href="{% url 'contests:problem-create' contest.id %}" class="list-group-item list-group-item-action"><i class="fa fa-plus fa-fw"></i> Добавить задачу</a>
    {% endif %}
</div>
{% endblock submenu %}

{% block javascript %}
<script src="{% static 'MathJax/es5/tex-chtml.js' %}" type="text/javascript"></script>
<script src="{% static 'waypoints/lib/jquery.waypoints.min.js' %}" type="text/javascript"></script>
<script src="{% static 'waypoints/lib/shortcuts/infinite.min.js' %}" type="text/javascript"></script>
<script>
    var infinite = new Waypoint.Infinite({
        element: $('.comment-list')[0],
        items: '.comment-list-item',
        more: '.comment-list-more'
    });
</script>
{% endblock javascript %}