{% extends 'base_wide.html' %}
{% load views static %}

{% block title %}
Раздел
{% endblock title %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% breadcrumb contest.course contest.course %}
{% breadcrumb contest contest %}
{% breadcrumb attachment.filename %}
{% endblock breadcrumbs %}

{% block content %}
<legend>{{ contest }}</legend>
<samp>{{ attachment.filename }}</samp>
<div class="alert alert-light border mt-2 overflow-auto">{{ code|safe }}</div>
{% endblock content %}

{% block stylesheets %}
<link href="{% static 'css/highlight.css' %}" rel="stylesheet"/>
    <style>
        body{
           width: 100%!important;
           margin-top: 70px!important;
        }
        table td{
            text-align: right!important;
            min-width: 100px;
            font-weight: 500;
            font-size: 12px!important;
            padding: 0 3px;
            border: 1px solid #D4D4D4!important;
            color: black!important;
            height: 30px!important;
        }
    </style>
{% endblock stylesheets %}
