{% extends 'base.html' %}
{% load views markdown static %}

{% block title %}
Задача
{% endblock title %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% breadcrumb question.test.contest.course question.test.contest.course %}
{% breadcrumb question.test.contest question.test.contest %}
{% breadcrumb question.test question.test %}
{% breadcrumb question %}
{% endblock breadcrumbs %}

{% block content %}

<legend>Задача {{ question.number }}, <small class="text-muted">способ ответа: {{ question.get_answer_type_display|lower }}</small></legend>

<div class="card">
    <div class="card-body">
        <p class="card-text">{{ question.text }}</p>
        {% if question.answer_type == 2 and not question.option_set.all %}
        <p class="card-text">Добавьте варианты ответов.</p>
        {% endif %}
    </div>
    {% if question.option_set.all %}
    <ul class="list-group list-group-flush">
        {% for option in question.option_set.all %}
        <li class="list-group-item">{{ option.text }}
            {% if perms.contests.update_option %}
            <a href="{% url 'contests:option-update' option.id %}" class="btn btn-outline-primary btn-sm ml-2">Изменить</a>
            {% endif %}
            {% if perms.contests.delete_option %}
            <a href="{% url 'contests:option-delete' option.id %}" class="btn btn-outline-danger btn-sm ml-1">Удалить</a>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
    {% endif %}
</div>

{% endblock content %}

{% block submenu %}

<div class="list-group mb-3">
    {% if perms.contests.update_question %}
    <a href="{% url 'contests:question-update' question.id %}" class="list-group-item list-group-item-action"><i class="fa fa-edit fa-fw"></i> Редактировать задачу</a>
    {% endif %}
    {% if perms.contests.delete_question %}
    <a href="{% url 'contests:question-delete' question.id %}" class="list-group-item list-group-item-action"><i class="fa fa-trash fa-fw"></i> Удалить задачу</a>
    {% endif %}
</div>
{% if perms.contests.add_option and question.answer_type == 2 %}
<div class="list-group mb-3">
    <a href="{% url 'contests:option-create' question.id %}" class="list-group-item list-group-item-action"><i class="fa fa-plus fa-fw"></i> Добавить вариант ответа</a>
</div>
{% endif %}

{% endblock submenu %}

{% block javascript %}
<script src="{% static 'MathJax/es5/tex-chtml.js' %}" type="text/javascript"></script>
{% endblock javascript %}
