{% extends 'base.html' %}
{% load views forms markdown %}

{% block title %}
Задача
{% endblock title %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% breadcrumb test.contest.course test.contest.course %}
{% breadcrumb test.contest test.contest %}
{% breadcrumb test test %}
{% if question %}
{% breadcrumb question question %}
{% breadcrumb "Редактирование" %}
{% else %}
{% breadcrumb "Новая задача" %}
{% endif %}
{% endblock breadcrumbs %}

{% block content %}
<legend>{% if question %}Редактирование{% else %}Добавление{% endif %} задачи</legend>

<form id="root" method="post" enctype="multipart/form-data" class="form-horizontal">
    {% csrf_token %}

    {% render_form_errors form %}
    {% with WIDGET_RENDER_TO_TEMPLATE="field.html" WIDGET_ERROR_CLASS="is-invalid" %}
        {% render_field form.title class+="form-control" %}
        {% render_field form.description class+="form-control" %}
        {% render_field form.answer_type class+="form-control" %}
        {% render_field form.number class+="form-control" %}
    {% endwith %}

    {{new_number}}

    {% render_submit_button value="Сохранить" %}
</form>

{% endblock content %}
