{% extends 'base_main.html' %}
{% load views comments markdown humanize static %}

{% block title %}Комментарий{% endblock title %}

{% block main_links %}
<link href="{% static 'easymde/easymde.min.css' %}" rel="stylesheet">
<link href="{% static 'easymde/easymde.fix.css' %}" rel="stylesheet">
{% endblock main_links %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% if parent %}
{% breadcrumb parent %}
{% endif %}
{% breadcrumb "Ответ" %}
{% endblock breadcrumbs %}

{% block main_content %}
<legend>Ответ на комментарий</legend>
{% if parent %}
<div class="contest-comment-list mb-3">
    <div class="contest-comment-list-item d-flex" id="comment_{{ parent.id }}">
        <div class="contest-comment-avatar me-3">
            {% include 'accounts/account/account_image.html' with last_name=parent.author.account.last_name first_name=parent.author.account.first_name size=40 rounded=True %}
        </div>
        <div class="contest-comment-main d-flex flex-column gap-1">
            <div class="contest-comment-header d-flex">
                <div class="contest-comment-author text-nowrap me-2">
                    <a href="{{ parent.author.account.get_absolute_url }}" class="{% if not parent.author.account.is_student %}text-success{% endif %}">
                        {{ parent.author.account }}
                    </a>
                </div>
                <div class="text-muted">∙</div>
                <div class="text-muted text-nowrap ms-2">
                    <small data-bs-toggle="tooltip" data-bs-placement="top" title="{{ parent.date_created|date:'d E Y г. в H:i' }}">
                        <a class="text-muted" href="{{ parent.get_absolute_url }}">{{ parent.date_created|naturaltime }}</a>
                    </small>
                </div>
            </div>
            <div class="d-block contest-comment-text">
                {{ parent.text|markdown|safe }}
            </div>
        </div>
    </div>
</div>
{% endif %}
{% render_comment_form parent.object parent form %}
{% endblock main_content %}
