{% extends 'base.html' %}
{% load views forms %}

{% block title %}
Комментарий
{% endblock title %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% breadcrumb comment %}
{% breadcrumb "Редактирование" %}
{% endblock breadcrumbs %}

{% block content %}
<legend>Редактирование комментария</legend>
<form action="" method="post">
    {% csrf_token %}
    {{ form.parent_id }}
    {{ form.object_type }}
    {{ form.object_id }}
    {% render_errors form %}
    <div class="form-group">
        {% render_field form.text class+="form-control" rows="5" placeholder="Ваш комментарий" %}
    </div>
    {% render_button value="Сохранить" %}
</form>
{% endblock content %}
