{% extends 'base_main.html' %}
{% load views forms %}

{% block title %}Комментарий{% endblock title %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% breadcrumb comment %}
{% breadcrumb "Удаление" %}
{% endblock breadcrumbs %}

{% block main_content %}
<legend>Удаление комментария</legend>
<form action="" method="post">
    {% csrf_token %}
    <div class="alert alert-warning text-center" role="alert">
        {% if not perms.accounts.delete_comment and thread_length > 1 %}
        Вы не можете удалить цепочку комментариев.<br>
        <a href="{{ comment.get_absolute_url }}">Вернуться к комментарию</a>
        {% else %}
        Вы точно хотите удалить {{ comment }}?<br>
        Удаление комментария приведет к удалению всех ответов на него.
        {% endif %}
    </div>
    <div class="d-grid">
        <input class="btn btn-danger" type="submit" value="Удалить" {% if not perms.accounts.delete_comment and thread_length > 1 %}disabled{% endif %}/>
    </div>
</form>
{% endblock main_content %}
