<link href="/static/css/pagedown.css" type="text/css" media="all" rel="stylesheet">
<script type="text/javascript" src="/static/pagedown/Markdown.Converter.js"></script>
<script type="text/javascript" src="/static/pagedown-extra/pagedown/Markdown.Converter.js"></script>
<script type="text/javascript" src="/static/pagedown/Markdown.Sanitizer.js"></script>
<script type="text/javascript" src="/static/js/Markdown.Editor.js"></script>
<script type="text/javascript" src="/static/pagedown-extra/Markdown.Extra.js"></script>
<script type="text/javascript" src="/static/pagedown_init.js"></script>

<div class="wmd-wrapper">
    <div class="wmd-panel">
        <div id="wmd-button-bar-{{ widget.attrs.id }}" class="wmd-button-bar"></div>
        {% include 'pagedown/forms/widgets/textarea.html' %}
    </div>
    <br>
    <div>Предпросмотр комментария:</div>
    <div id="wmd-preview-{{ widget.attrs.id }}" class="wmd-preview"></div>
</div>
