{% load forms static %}
<link href="{% static 'easymde/easymde.min.css' %}" rel="stylesheet">
<link href="{% static 'easymde/easymde.fix.css' %}" rel="stylesheet">
<form class="mb-3" action="{% url 'accounts:comment-create' %}" method="post">
    {% csrf_token %}
    {{ form.parent_id }}
    {{ form.object_type }}
    {{ form.object_id }}
    {% for message in messages %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Закрыть"></button>
    </div>
    {% endfor %}
    {% render_form_errors form %}
    <div class="mb-3">
        {% render_field_errors form.text %}
        {% render_field form.text class+="form-control" rows="3" placeholder="Ваш комментарий" %}
    </div>
    <div class="d-grid">
        <input class="btn btn-light border" type="submit" value="Отправить комментарий" />
    </div>
</form>
<script src="{% static 'easymde/easymde.min.js' %}" type="text/javascript"></script>
<script src="{% static 'easymde/easymde.config.js' %}" type="text/javascript"></script>
<script type="text/javascript">
document.addEventListener("DOMContentLoaded", function(event) {
    initMDEditor(document.getElementById('id_text'), 'comments');
});
</script>
