{% load forms %}
<form action="{% url 'accounts:comment-create' %}" class="mb-4" method="post">
    {% csrf_token %}
    {{ form.parent_id }}
    {{ form.object_type }}
    {{ form.object_id }}
    {% render_errors form %}
    <div class="form-group">
        {% if form.text.errors %}
        <div class="alert alert-danger">
            {% for error in form.text.errors %}
            {{ error }}<br>
            {% endfor %}
        </div>
        {% endif %}
        {% render_field form.text class+="form-control" rows="5" placeholder="Ваш комментарий" %}
    </div>
    <div class="form-group">
        <input class="btn btn-light btn-block border" type="submit" value="Отправить" tabindex="0"/>
    </div>
</form>
