{% extends 'base_wide.html' %}
{% load views comments markdown humanize static %}

{% block title %}
Комментарий
{% endblock title %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% if parent %}
{% breadcrumb parent %}
{% endif %}
{% breadcrumb "Ответ" %}
{% endblock breadcrumbs %}

{% block content %}
<legend>Ответ на комментарий</legend>
{% if parent %}
<div class="comment-list">
    <div id="comment_{{ parent.id }}" class="d-flex comment-list-item mb-4">
        <div class="comment-avatar mr-3">
            <img src="{% static 'comment-avatar.png' %}" alt="Изображение профиля">
        </div>
        <div class="comment-main">
            <div class="comment-header mb-1 d-flex">
                <div class="comment-user mr-2">
                    <a href="{{ parent.author.account.get_absolute_url }}" class="{% if parent.author.account.is_teacher %}text-success{% endif %}">
                        {{ parent.author.account }}
                    </a>
                </div>
                <div class="text-muted">
                    ∙
                </div>
                <div class="comment-timesince text-muted ml-2">
                    <small class="comment-naturaltime">{{ parent.date_created|naturaltime }}</small>
                    <small class="comment-datetime">{{ parent.date_created|date:'d b Y г. в H:i' }}</small>
                </div>
            </div>
            <div class="d-block comment-text mb-1">
                {{ parent.text|markdown|safe }}
            </div>
        </div>
    </div>
</div>
{% endif %}
{% render_comment_form parent.object parent form %}
{% endblock content %}
