{% extends 'base.html' %}
{% load views comments humanize markdown %}

{% block title %}
Комментарий
{% endblock title %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% breadcrumb "Ответ на комментарий" %}
{% endblock breadcrumbs %}

{% block content %}
<legend>Ответ на комментарий</legend>
<div class="comment-list mb-4">
    <div class="d-flex comment-list-item col-md-11">
<!--        <div class="comment-avatar pull-left">-->

<!--        </div>-->
        <div class="comment-main col-md-11">
            <div class="d-flex comment-header col-md-12 mb-1">
                <div class="comment-user mr-2">
                    <a href="{{ parent.author.account.get_absolute_url }}">
                        {{ parent.author.account }}
                    </a>
                </div>
                <div class="comment-timesince text-muted pull-left">
                    {{ parent.date_created|naturaltime }}
                </div>
            </div>
            <div class="comment-text col-md-12">
                {{ parent.text|markdown|safe }}
            </div>
        </div>
    </div>
</div>
{% render_comment_form parent.object parent %}
{% endblock content %}
