{% extends 'base.html' %}
{% load views forms markdown static %}

{% block title %}
Проверка решения
{% endblock title %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% if answer.test_submission %}
{% breadcrumb answer.test_submission.test.contest.course answer.test_submission.test.contest.course %}
{% breadcrumb answer.test_submission.test.contest answer.test_submission.test.contest %}
{% breadcrumb answer.test_submission.test answer.test_submission.test %}
{% breadcrumb answer.test_submission answer.test_submission %}
{% else %}
{% breadcrumb answer.question.contest.course answer.question.contest.course %}
{% breadcrumb answer.question.contest answer.question.contest %}
{% breadcrumb answer.question answer.question %}
{% endif %}
{% breadcrumb answer %}
{% endblock breadcrumbs %}

{% block content %}

<legend>Решение задачи {{ answer.question.number }}</legend>
<h5>{{ answer.question.title }}</h5>
<p>{{ answer.question.description }}</p>
{% if answer.question.type == 1 %}
    <label class="text-muted">Ответ:
        <p>{{ answer.text }}</p>
    </label>
{% elif answer.question.type == 2 %}
    <ul class="list-group mb-3">
        {% for option in answer.question.option_set.all %}
        <li class="list-group-item {% if option in answer.options.all %}{% if option.is_right %}text-success{% else %}text-danger{% endif %}{% endif %}">
            {% if option in answer.options.all %}{% if option.is_right %}<i class="fa fa-check-circle-o" aria-hidden="true"></i>{% else %}<i class="fa fa-times-circle-o" aria-hidden="true"></i>{% endif %}{% endif %} {{ option.text }}
        </li>
        {% endfor %}
    </ul>
{% elif answer.question.type == 3 %}
    {% if text or image %}
        <p>
            <samp>{{ answer.file.name }}</samp>
        </p>
        <div class="alert alert-light border mt-2">
        {% if text %}
            {{ text|safe }}
        {% elif image %}
            <img src="{{ image }}" alt="Изображение" style="width: 100%">
        {% endif %}
        </div>
    {% endif %}
    {% if answer.file %}
    <p>
        <a href="{{ answer.file.url }}" class="btn btn-light border" title="Скачать файл" target="blank"><i class="fa fa-download fa-fw"></i> Скачать файл</a>
    </p>
    {% endif %}
{% endif %}

{% endblock content %}

{% block submenu %}
<div class="list-group mb-3">
    {% if perms.contests.check_answer %}
    <a href="{% url 'contests:answer-check' answer.id %}" class="list-group-item list-group-item-action"><i class="fa fa-check"></i> Проверить решение</a>
    {% endif %}
</div>
{% endblock submenu %}
