{% extends 'base.html' %}
{% load views forms markdown static %}

{% block title %}
Проверка решения
{% endblock title %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% breadcrumb answer.test_submission.test.contest.course answer.test_submission.test.contest.course %}
{% breadcrumb answer.test_submission.test.contest answer.test_submission.test.contest %}
{% breadcrumb answer.test_submission.test answer.test_submission.test %}
{% breadcrumb answer.test_submission answer.test_submission %}
{% breadcrumb answer %}
{% breadcrumb "Проверка" %}
{% endblock breadcrumbs %}

{% block content %}
<legend>Проверка решения задачи {{ question.number }}</legend>
<p>{{ answer.question.description }}</p>
{% if answer.question.type == 1 %}
<label class="text-muted">Ответ:
    <p>{{ answer.text }}</p>
</label>
{% elif answer.question.type == 2 %}
<ul class="list-group mb-3">
    {% for option in answer.question.option_set.all %}
    <li class="list-group-item {% if option in answer.options.all %}{% if option.is_right %}text-success{% else %}text-danger{% endif %}{% endif %}">
        {% if option in answer.options.all %}{% if option.is_right %}<i class="fa fa-check-circle-o" aria-hidden="true"></i>{% else %}<i class="fa fa-times-circle-o" aria-hidden="true"></i>{% endif %}{% endif %} {{ option.text }}
    </li>
    {% endfor %}
</ul>
<div class="alert alert-info">
    Тесты проверяются автоматически.
</div>
{% elif answer.question.type == 3 %}
{% if text or image %}
        <p>
            <samp>{{ answer.file.name }}</samp>
        </p>
        <div class="alert alert-light border mt-2">
        {% if text %}
            {{ text|safe }}
        {% elif image %}
            <img src="{{ image }}" alt="Изображение" style="width: 100%">
        {% endif %}
        </div>
    {% endif %}
    {% if answer.file %}
    <p>
        <a href="{{ answer.file.url }}" class="btn btn-light border" title="Скачать файл" target="blank"><i class="fa fa-download fa-fw"></i> Скачать файл</a>
    </p>
{% endif %}
{% endif %}

<form id="root" method="post" enctype="multipart/form-data" class="form-horizontal">
    {% csrf_token %}

    {% render_form_errors form %}
    {% with WIDGET_RENDER_TO_TEMPLATE="field.html" WIDGET_ERROR_CLASS="is-invalid" %}
        {% render_field form.score class+="form-control selectpicker" %}
        {% render_field form.status class+="form-control selectpicker" %}
    {% endwith %}
    {% render_submit_button value="Сохранить" %}
</form>
{% endblock content %}