{% extends 'base.html' %}
{% load views forms markdown %}

{% block title %}
Решение задачи
{% endblock title %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% breadcrumb testsubmission.test.contest.course testsubmission.test.contest.course %}
{% breadcrumb testsubmission.test.contest testsubmission.test.contest %}
{% breadcrumb testsubmission.test testsubmission.test %}
{% breadcrumb testsubmission testsubmission %}
{% if answer %}
{% breadcrumb answer answer %}
{% breadcrumb "Редактирование" %}
{% else %}
{% breadcrumb "Новое решение" %}
{% endif %}
{% endblock breadcrumbs %}

{% block content %}
<legend>Добавление решения задачи {{ question.number }}</legend>

<p>{{ question.text }}</p>

<form id="root" method="post" enctype="multipart/form-data" class="form-horizontal">
    {% csrf_token %}

    {% render_form_errors form %}
    {% with WIDGET_RENDER_TO_TEMPLATE="field.html" WIDGET_ERROR_CLASS="is-invalid" %}
            {% if question.answer_type == 1 %}
                {% render_field form.text class+="form-control" %}
            {% elif question.answer_type == 2 %}
                {{ form.options }}
            {% elif question.answer_type == 3 %}
                {{ form.file }}
            {% endif %}
        {% endwith %}
    {% if has_next %}
    {% render_submit_button value="Далее" %}
    {% else %}
    {% render_submit_button value="Завершить" %}
    {% endif %}
</form>

{% endblock content %}
