{% extends 'base_wide.html' %}
{% load views contests %}

{% block title %}
Задания
{% endblock title %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% breadcrumb course course %}
{% breadcrumb "Задания" %}
{% endblock breadcrumbs %}

{% block content %}
<legend>
    Таблица заданий {% if debts %}должников{% endif %}
    <span class="pull-right">
        <a href="{% url 'contests:course-start' course.id %}" class="text-decoration-none" data-toggle="popover" data-placement="left" data-content="Начать курс"><i class="fa fa-play fa-fw"></i></a>
        {% if debts %}
        <a href="{% url 'contests:assignment-table' course.id %}" class="text-decoration-none" data-toggle="popover" data-placement="top" data-content="Перейти к таблице"><i class="fa fa-table fa-fw"></i></a>
        {% else %}
        <a href="{% url 'contests:assignment-table' course.id %}?debts=1" class="text-decoration-none" data-toggle="popover" data-placement="top" data-content="Перейти к должникам"><i class="fa fa-columns fa-fw"></i></a>
        {% endif %}
        <a href="{% url 'contests:credit-report' course.id %}{% if debts %}?debts=1{% endif %}" class="text-decoration-none" data-toggle="popover" data-placement="top" data-content="Сгенерировать отчетную ведомость"><i class="fa fa-file-word-o fa-fw"></i></a>
        <a href="{% url 'contests:assignment-randomize' course.id %}{% if debts %}?debts=1{% endif %}" class="text-decoration-none" data-toggle="popover" data-placement="top" data-content="Распределить задания случайно"><i class="fa fa-random fa-fw"></i></a>
        <a href="{% url 'contests:assignment-create' course.id %}{% if debts %}?debts=1{% endif %}" class="text-decoration-none text-success" data-toggle="popover" data-placement="top" data-content="Назначить новое задание"><i class="fa fa-plus fa-fw"></i></a>
    </span>
</legend>
{% render_assignment_course_table course students assignments debts %}
{% render_assignment_progress assignments "Прогресс" %}
<div class="collapse mt-3" id="assignments_legend">
    <div class="card card-body">
        <p><span class="numtus status-success">#</span> - 4, 5</p>
        <p><span class="numtus status-warning">#</span> - 3</p>
        <p><span class="numtus status-danger">#</span> - 2</p>
        <p><span class="numtus status-info">#</span> - есть непроверенные посылки</p>
        <p class="mb-0"><span class="numtus status-default">#</span> - посылок нет</p>
    </div>
</div>
<button class="btn btn-light btn-block mt-3" type="button" data-toggle="collapse" data-target="#assignments_legend" aria-expanded="false" aria-controls="assignments_legend">
    Показать легенду
</button>
{% endblock content %}
