{% extends 'base_wide.html' %}
{% load views accounts comments contests static %}

{% block title %}
Задание
{% endblock title %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% if perms.contests.view_assignment_table %}
{% breadcrumb assignment.course assignment.course %}
{% breadcrumb "Задания" 'contests:assignment-table' assignment.course.id %}
{% else %}
{% breadcrumb "Мои задания" 'contests:assignment-list' %}
{% endif %}
{% breadcrumb assignment assignment %}
{% breadcrumb "Обсуждение" %}
{% endblock breadcrumbs %}

{% block content %}
<legend>Обсуждение задания {{ assignment }}</legend>
<div class="btn-group btn-block mb-3">
    <a class="btn btn-light border col-6" href="{% url 'contests:assignment-detail' assignment.id %}">
        <i class="fa fa-chevron-left fa-fw"></i> Вернуться к заданию
    </a>
    <a class="btn btn-light border col-6 disabled">
        {% unread_comments_count request.user.account assignment as ucc %}
        <i class="fa fa-comments fa-fw"></i> Обсуждение{% if ucc > 0 %} <span id="unread_comments_count" class="badge badge-pill badge-secondary align-middle">{{ ucc }}</span>{% endif %}
    </a>
</div>
{% include 'accounts/comment/comment_list.html' with obj=assignment %}
{% endblock content %}

{% block javascript %}
<script src="{% static 'waypoints/lib/jquery.waypoints.min.js' %}" type="text/javascript"></script>
<script src="{% static 'waypoints/lib/shortcuts/infinite.min.js' %}" type="text/javascript"></script>
<script>
    var infinite = new Waypoint.Infinite({
        element: $('.comment-list')[0],
        items: '.comment-list-item',
        more: '.comment-list-more'
    });
</script>
{% endblock javascript %}
