{% extends 'base_main.html' %}
{% load views contests %}

{% block title %}Мои задания{% endblock title %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% breadcrumb "Мои задания" %}
{% endblock breadcrumbs %}

{% block main_content %}
<legend>
    <span class="d-flex justify-content-between">
        <span class="text-truncate">Мои задания</span>
        <span class="d-flex justify-content-between gap-1">
            <a href="{% url 'contests:course-list' %}" data-bs-toggle="tooltip" data-bs-placement="left" title="Все курсы"><i class="fa fa-book fa-fw"></i></a>
        </span>
    </span>
</legend>
<div class="mb-3">
    {% render_assignment_user_table assignments credits %}
    {% include 'progress.html' with progress=assignments.progress title="Прогресс" %}
</div>
{% endblock main_content %}
