{% extends 'base_wide.html' %}
{% load views forms %}

{% block title %}
Задание
{% endblock title %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% breadcrumb course course %}
{% breadcrumb "Задания" 'contests:assignment-table' course.id %}
{% if assignment %}
{% breadcrumb assignment assignment %}
{% breadcrumb "Редактирование" %}
{% else %}
{% breadcrumb "Новое задание" %}
{% endif %}
{% endblock breadcrumbs %}

{% block content %}
<legend>{% if assignment %}Редактирование{% else %}Добавление{% endif %} задания</legend>
<form action="" method="post">
    {% csrf_token %}
    {% render_form_errors form %}
    {% with WIDGET_RENDER_TO_TEMPLATE="field.html" WIDGET_ERROR_CLASS="is-invalid" %}
    {% if not partial %}
    {% render_field form.user class+="form-control selectpicker" %}
    {% render_field form.problem class+="form-control selectpicker" %}
    {% endif %}
    {% render_field form.score class+="form-control" %}
    {% render_field form.score_max class+="form-control" %}
    {% with WIDGET_RENDER_TO_TEMPLATE="field_switch.html" %}
    {% render_field form.score_is_locked class+="custom-control-input" %}
    {% endwith %}
    {% render_field form.submission_limit class+="form-control" %}
    {% render_field form.remark class+="form-control" %}
    {% endwith %}
    {% render_submit_button value="Сохранить" %}
</form>
{% endblock content %}
