{% extends 'base.html' %}
{% load contests %}

{% block title %}
Задания
{% endblock title %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li><a href="{% url 'contests:index' %}">Главная</a></li>
    <li><a href="{{ course.get_absolute_url }}">{{ course }}</a></li>
    <li class="active">Задания</li>
</ol>
{% endblock breadcrumbs %}

{% block content %}
<legend>Таблица заданий {% if debts %}должников{% endif %}</legend>
{% render_assignment_course_table course students assignments %}
{% render_assignment_progress assignments %}
{% endblock content %}

{% block submenu %}
<ul class="list-group">
    {% if perms.contests.add_credit %}
    <a href="{% url 'contests:course-start' course.id %}" class="list-group-item"><i class="fa fa-terminal fa-fw"></i> Начать курс</a>
    {% endif %}

</ul>
<ul class="list-group">
    {% if debts %}
    <a href="{% url 'contests:assignment-table' course.id %}" class="list-group-item"><i class="fa fa-table fa-fw"></i> Таблица заданий</a>
    {% else %}
    <a href="{% url 'contests:assignment-table' course.id %}?debts=1" class="list-group-item"><i class="fa fa-table fa-fw"></i> Должники</a>
    {% endif %}
</ul>
<ul class="list-group">
    {% if perms.contests.add_assignment %}
    <a href="{% url 'contests:assignment-randomize' course.id %}" class="list-group-item"><i class="fa fa-random fa-fw"></i> Случайные задания</a>
    <a href="{% url 'contests:assignment-create' course.id %}" class="list-group-item"><i class="fa fa-plus fa-fw"></i> Добавить задание</a>
    {% endif %}
</ul>
{% endblock submenu %}
