{% load contests %}
<table class="table table-bordered table-condensed table-hover table-responsive">
    <thead>
        <tr>
            <th class="col-md-1 text-right">№</th>
            <th class="col-md-3">Студент</th>
            {% for contest in contests %}
            <th class=" text-center">
                <a href="{{ contest.get_absolute_url }}" title="{{ contest }}">{{ forloop.counter }}</a>
            </th>
            {% endfor %}
            <th class="col-md-1 text-center">Зачет</th>
        </tr>
    </thead>
    <tbody>
        {% for row in table %}
        <tr>
            <td class="text-right">{{ forloop.counter|stringformat:"02d" }}</td>
            <td><a href="{{ row.student.get_absolute_url }}">{{ row.student }}</a></td>
            {% for col in row.columns %}
            <td class="msu-problem-set lake">
                {% for assignment in col.assignments %}
                <a href="{% url 'contests:assignment-detail' assignment.id %}">
                    <span class="label {% get_label assignment.score %}">{{ assignment.problem.number }}<sup>{{ assignment.remark.0 }}</sup></span>
                </a>
                {% if forloop.last %}
                <a href="{% url 'contests:assignment-create' course.id %}?user_id={{ assignment.user_id }}&contest_id={{ assignment.problem.contest_id }}" class="pebble"><span class="label label-info" title="Добавить задачу">+</span></a>
                {% endif %}
                {% empty %}
                <a href="{% url 'contests:assignment-create' course.id %}?user_id={{ row.student.user_id }}&contest_id={{ col.contest.id }}" class="pebble"><span class="label label-info" title="Добавить задачу">+</span></a>
                {% endfor %}
            </td>
            {% endfor %}
            <td class="text-center">
                {% if row.student.credit_id %}
                <a href="{% url 'contests:credit-update' row.student.credit_id %}">
                    <span class="label {% get_label row.student.credit_score %}" title="Оценка">{{ row.student.credit_score|default:'-' }}</span>
                </a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>