{% extends 'base.html' %}
{% load forms %}

{% block title %}
Задание
{% endblock title %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li><a href="{% url 'contests:index' %}">Главная</a></li>
    <li><a href="{{ assignment.problem.contest.course.get_absolute_url }}">{{ assignment.problem.contest.course }}</a></li>
    <li><a href="{% url 'contests:assignment-table' assignment.problem.contest.course.id %}">Задания</a></li>
    <li><a href="{{ assignment.get_absolute_url }}">{{ assignment }}</a></li>
    <li class="active">Удаление</li>
</ol>
{% endblock breadcrumbs %}

{% block content %}
<legend>Удаление задания</legend>
{% render_delete_form assignment %}
{% endblock content %}
