{% extends 'base_wide.html' %}
{% load views forms static %}

{% block title %}
Задание
{% endblock title %}

{% block stylesheets %}
<link href="{% static 'tempus-dominus/css/tempus-dominus.css' %}" rel="stylesheet">
{% endblock stylesheets %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% breadcrumb course course %}
{% breadcrumb "Задания" 'contests:assignment-table' course.id %}
{% if assignment %}
{% breadcrumb assignment assignment %}
{% breadcrumb "Редактирование" %}
{% else %}
{% breadcrumb "Новое задание" %}
{% endif %}
{% endblock breadcrumbs %}

{% block content %}
<legend>{{ title }}</legend>
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% render_form_errors form %}
    {% with WIDGET_RENDER_TO_TEMPLATE="field.html" WIDGET_ERROR_CLASS="is-invalid" %}
    {% if action is None %}
    {% render_field form.user class+="form-control selectpicker" %}
    {% render_field form.problem class+="form-control selectpicker" %}
    {% endif %}
    {% if action == 'evaluate' or action is None %}
    {% render_field form.score class+="form-control" %}
    {% render_field form.score_max class+="form-control" %}
    {% with WIDGET_RENDER_TO_TEMPLATE="field_switch.html" %}
    {% render_field form.score_is_locked class+="custom-control-input" %}
    {% endwith %}
    {% render_field form.submission_limit class+="form-control" %}
    {% render_field form.deadline class+="form-control" placeholder="Неограниченно" %}
    {% render_field form.remark class+="form-control" %}
    {% endif %}
    {% if action == 'add_files' or action == 'evaluate' %}
    {% with WIDGET_RENDER_TO_TEMPLATE="field_file.html" WIDGET_ERROR_CLASS="is-invalid" %}
    {% render_field form.files class+="custom-file-input" %}
    {% endwith %}
    {% endif %}
    {% endwith %}
    {% render_submit_button value="Сохранить" %}
</form>
{% endblock content %}

{% block javascript %}
<script src="{% static 'popper/popper.min.js' %}" type="text/javascript"></script>
<script src="{% static 'tempus-dominus/js/tempus-dominus.js' %}" type="text/javascript"></script>
<script src="{% static 'tempus-dominus/plugins/custom-date-format.js' %}" type="text/javascript"></script>
<script src="{% static 'tempus-dominus/tempus-dominus.options.js' %}" type="text/javascript"></script>
<script type="text/javascript">
tempusDominus.extend(tempusDominus.plugins.customDateFormat);
document.addEventListener("DOMContentLoaded", function() {
    tdOptions.localization.format = "dd.MM.yyyy HH:mm:ss";
    const picker = new tempusDominus.TempusDominus(document.getElementById('id_deadline'), tdOptions);
});
</script>
{% endblock javascript %}
