{% load contests %}
<div class="table-responsive">
    <table class="table table-sm">
        <thead>
            <tr>
                <th>Курс</th>
                <th>Раздел</th>
                <th>Задача</th>
                <th class="text-center" style="width: 8%;">Оценка</th>
                <th class="text-center" style="width: 8%;">Зачет</th>
            </tr>
        </thead>
        <tbody>
            {% regroup assignments by credit.course as course_group %}
            {% for course, course_assignments in course_group %}
            {% regroup course_assignments by problem.contest as contest_group %}
            {% for contest, contest_assignments in contest_group %}
            {% for assignment in contest_assignments %}
            <tr>
                {% if forloop.parentloop.first and forloop.first %}
                <td rowspan="{{ course_assignments|length }}" style="vertical-align: middle;"><a href="{{ course.get_absolute_url }}">{{ course }}</a></td>
                {% endif %}
                {% if forloop.first %}
                <td rowspan="{{ contest_assignments|length }}" style="vertical-align: middle;"><a href="{{ contest.get_absolute_url }}">{{ contest }}</a></td>
                {% endif %}
                <td style="vertical-align: middle;"><a href="{{ assignment.problem.get_absolute_url }}">{{ assignment.problem }}</a></td>
                <td class="text-center" style="vertical-align: middle;">
                    <a href="{% url 'contests:assignment-detail' assignment.id %}" class="numtus status-{{ assignment.score|colorize }}">
                        {{ assignment.score|default:'-' }}
                    </a>
                </td>
                {% if forloop.parentloop.first and forloop.first and assignment.attached_credit %}
                <td class="text-center" rowspan="{{ course_assignments|length }}" style="vertical-align: middle;">
                    {% if perms.contests.change_credit %}
                    <a href="{% url 'contests:credit-update' assignment.attached_credit.id %}" class="numtus status-{{ assignment.attached_credit.score|colorize }}" data-toggle="tooltip" data-placement="bottom" title="{{ assignment.attached_credit.get_score_display }}">
                        {{ assignment.attached_credit.score|default:'-' }}
                    </a>
                    {% else  %}
                    <span class="numtus status-{{ assignment.attached_credit.score|colorize }}" data-toggle="tooltip" data-placement="bottom" title="{{ assignment.attached_credit.get_score_display }}">
                        {{ assignment.attached_credit.score|default:'-' }}
                    </span>
                    {% endif %}
                </td>
                {% endif %}
            </tr>
            {% endfor %}
            {% endfor %}
            {% empty %}
            <tr><td colspan="5"><div class="alert alert-info mb-0">Заданий нет</div></td></tr>
            {% endfor %}
        </tbody>
    </table>
</div>
