{% extends 'base_wide.html' %}
{% load views contests %}

{% block title %}
Мои задания
{% endblock title %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% breadcrumb "Мои задания" %}
{% endblock breadcrumbs %}

{% block content %}
<legend>
Мои задания
<a href="{% url 'contests:course-list' %}" class="text-secondary text-decoration-none pull-right" data-toggle="tooltip" data-placement="left" title="Все курсы"><i class="fa fa-book fa-fw"></i></a>
</legend>
{% render_assignment_user_table assignments credits %}
{% render_assignment_progress assignments "Прогресс" %}
{% endblock content %}
