{% extends 'base.html' %}
{% load views forms %}

{% block title %}
Задание
{% endblock title %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% breadcrumb assignment.problem.contest.course assignment.problem.contest.course %}
{% breadcrumb "Задания" 'contests:assignment-table' assignment.problem.contest.course.id %}
{% breadcrumb assignment assignment %}
{% breadcrumb "Удаление" %}
{% endblock breadcrumbs %}

{% block content %}
<legend>Удаление задания</legend>
{% render_delete_form assignment %}
{% endblock content %}
