{% extends 'base_main.html' %}
{% load views forms static %}

{% block title %}Задания{% endblock title %}

{% block main_links %}
<link href="{% static 'tempus-dominus/css/tempus-dominus.css' %}" rel="stylesheet">
<link href="{% static 'tempus-dominus/css/tempus-dominus.patch.css' %}" rel="stylesheet">
{% endblock main_links %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% breadcrumb course course %}
{% breadcrumb "Задания" 'contests:assignment-table' course.id query_string=request|get_query_string %}
{% breadcrumb "Случайные задания" %}
{% endblock breadcrumbs %}

{% block main_content %}
<legend><span class="text-truncate">Добавление случайного набора заданий</span></legend>
<form action="" method="post">
    {% csrf_token %}
    {% include 'forms/errors/non_field_errors.html' %}
    {% with WIDGET_RENDER_TO_TEMPLATE="forms/fields/field.html" WIDGET_ERROR_CLASS="is-invalid" %}
    {% render_field form.contest class+="form-control selectpicker" %}
    {% render_field form.type class+="form-control selectpicker" %}
    {% render_field form.limit_per_user class+="form-control selectpicker" %}
    {% render_field form.submission_limit class+="form-control" %}
    {% render_field form.deadline class+="form-control" placeholder="Неограниченно" %}
    {% endwith %}
    {% include 'forms/submit_button.html' with value="Распределить" %}
</form>
{% endblock main_content %}

{% block main_scripts %}
<script src="{% static 'popper/popper.min.js' %}" type="text/javascript"></script>
<script src="{% static 'tempus-dominus/js/tempus-dominus.js' %}" type="text/javascript"></script>
<script src="{% static 'tempus-dominus/js/tempus-dominus.options.js' %}" type="text/javascript"></script>
<script type="text/javascript">
document.addEventListener("DOMContentLoaded", function() {
    tdOptions.localization.format = "L LT";
    const picker = new tempusDominus.TempusDominus(document.getElementById('id_deadline'), tdOptions);
});
</script>
{% endblock main_scripts %}
