{% extends 'base.html' %}
{% load views contests %}

{% block title %}
Задание
{% endblock title %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% if perms.contests.view_assignment_table %}
{% breadcrumb assignment.problem.contest.course assignment.problem.contest.course %}
{% breadcrumb "Задания" 'contests:assignment-table' assignment.problem.contest.course.id %}
{% else %}
{% breadcrumb "Мои задания" 'contests:assignment-list' %}
{% endif %}
{% breadcrumb assignment %}
{% endblock breadcrumbs %}

{% block content %}
<legend>{{ assignment }}</legend>
<ul class="nav nav-tabs mb-3" role="tablist">
    <li class="nav-item">
        <a aria-controls="description" aria-selected="true" class="nav-link active" data-toggle="tab" href="#description"
           id="description-tab" role="tab">Описание</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'contests:assignment-discussion' assignment.id %}" id="discussion-tab" role="tab">
            Обсуждение{% if unread_comments_count > 0 %} <span class="badge badge-pill badge-secondary align-middle">{{ unread_comments_count }}</span>{% endif %}
        </a>
    </li>
</ul>
<div class="tab-content">
    <div aria-labelledby="description-tab" class="tab-pane fade show active" id="description" role="tabpanel">
        <table class="table table-sm">
            <tr><td class="text-right" style="width: 20%;">Студент</td><td><a href="{{ assignment.user.account.get_absolute_url }}">{{ assignment.user.account }}</a></td></tr>
            <tr><td class="text-right" style="width: 20%;">Задача</td><td><a href="{{ assignment.problem.get_absolute_url }}">{{ assignment.problem }}</a></td></tr>
            <tr>
                <td class="text-right" style="width: 20%;">Оценка</td>
                <td>
                    <span class="numtus status-{{ assignment.score|colorize }}">{{ assignment.score|default:'-' }}</span>{% if perms.contests.change_assignment %} {% if assignment.score_max < 5 %}/ {{ assignment.score_max }}{% endif %}{% if assignment.score_is_locked %} <span class="numtus status-warning" title="Оценка заблокирована и не может быть изменена системой автоматической проверки посылок"><i class="fa fa-lock"></i></span>{% endif %}{% endif %}
                </td>
            </tr>
            <tr><td class="text-right" style="width: 20%;">Посылок</td><td>{{ assignment.get_submissions.count }} / {{ assignment.submission_limit }}</td></tr>
            {% if perms.contests.view_assignment_table %}
            <tr title="Отображается только преподавателям">
                <td class="text-right text-warning" style="width: 20%;"><i class="fa fa-lock fa-fw"></i>Пометка</td><td>{{ assignment.remark }}</td>
            </tr>
            {% endif %}
        </table>
        <div class="col-xs-12 col-md-6 mx-auto">
            {% render_submission_table %}
        </div>
    </div>
</div>
{% endblock content %}

{% block submenu %}
<div class="list-group mb-3">
    {% if perms.contests.change_assignment %}
    <a href="{% url 'contests:assignment-update' assignment.id %}" class="list-group-item list-group-item-action"><i class="fa fa-edit fa-fw"></i> Редактировать задание</a>
    {% endif %}
    {% if perms.contests.delete_assignment %}
    <a href="{% url 'contests:assignment-delete' assignment.id %}" class="list-group-item list-group-item-action"><i class="fa fa-trash-o fa-fw"></i> Удалить задание</a>
    {% endif %}
    {% if request.user == assignment.user %}
    {% if assignment.submission_limit > assignment.get_submissions.count %}
    <a href="{% url 'contests:submission-create' assignment.problem.id %}" class="btn btn-info btn-block"><i class="fa fa-file-code-o fa-fw"></i> Отправить решение</a>
    {% else %}
    <button class="btn btn-warning btn-block">Все попытки потрачены</button>
    {% endif %}
    {% endif %}
</div>
{% endblock submenu %}
