{% extends 'base.html' %}
{% load views forms %}

{% block title %}
Задания
{% endblock title %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% breadcrumb course course %}
{% breadcrumb "Задания" 'contests:assignment-table' course.id %}
{% breadcrumb "Случайные задания" %}
{% endblock breadcrumbs %}

{% block content %}
<legend>Добавление случайного набора задач</legend>
<form action="" method="post">
    {% csrf_token %}
    {% render_form_errors form %}
    {% with WIDGET_RENDER_TO_TEMPLATE="field.html" %}
    {% render_field form.contest class+="form-control selectpicker" %}
    {% render_field form.limit_per_user class+="form-control selectpicker" %}
    {% endwith %}
    {% render_submit_button value="Распределить" %}
</form>
{% endblock content %}
