{% extends 'contests/attachment/attachment_detail.html' %}
{% load views static %}

{% block title %}
Задание
{% endblock title %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% if perms.contests.view_assignment_table or request|has_leader_permission:assignment.course %}
{% breadcrumb assignment.course assignment.course %}
{% breadcrumb "Задания" 'contests:assignment-table' assignment.course.id %}
{% else %}
{% breadcrumb "Мои задания" 'contests:assignment-list' %}
{% endif %}
{% breadcrumb assignment assignment %}
{% breadcrumb attachment.filename %}
{% endblock breadcrumbs %}