{% extends 'base_main.html' %}
{% load views accounts comments contests static %}

{% block title %}Задание{% endblock title %}

{% block main_links %}
<link href="{% static 'easymde/easymde.min.css' %}" rel="stylesheet">
<link href="{% static 'easymde/easymde.fix.css' %}" rel="stylesheet">
{% endblock main_links %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% if perms.contests.view_assignment_table or request|has_leader_permission:assignment.course %}
{% breadcrumb assignment.course assignment.course %}
{% breadcrumb "Задания" 'contests:assignment-table' assignment.course.id %}
{% else %}
{% breadcrumb "Мои задания" 'contests:assignment-list' %}
{% endif %}
{% breadcrumb assignment assignment %}
{% breadcrumb "Обсуждение" %}
{% endblock breadcrumbs %}

{% block main_content %}
<legend>Обсуждение задания {{ assignment }}</legend>
<div class="d-grid mb-3">
    <div class="btn-group">
        <a class="btn btn-light border col-md-2" href="{% url 'contests:assignment-detail' assignment.id %}">
            <i class="fa fa-chevron-left fa-fw"></i> Вернуться к заданию
        </a>
        <a class="btn btn-light border col-md-10 disabled">
            {% unread_comments_count request.user.account assignment as ucc %}
            <i class="fa fa-comments fa-fw"></i> Обсуждение{% if ucc > 0 %} <span id="unread_comments_count" class="badge rounded-pill bg-secondary align-middle">{{ ucc }}</span>{% endif %}
        </a>
    </div>
</div>
{% include 'accounts/comment/comment_list.html' with obj=assignment %}
{% endblock main_content %}
