{% extends 'base_wide.html' %}
{% load views contests %}

{% block title %}
Задания
{% endblock title %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% breadcrumb course course %}
{% breadcrumb "Задания" %}
{% endblock breadcrumbs %}

{% block content %}
<legend>
    Таблица заданий {% if debts %}должников{% endif %}
    <span id="assignment_table_controls" class="pull-right">
        {% if perms.contests.add_assignment or request|has_leader_permission:course %}
        <a id="assignment_table_controls_add" href="{% url 'contests:assignment-create' course.id %}{% if debts %}?debts=1{% endif %}" class="text-decoration-none text-success" data-toggle="tooltip" data-placement="left" title="Назначить новое задание"><i class="fa fa-plus fa-fw"></i></a>
        <a id="assignment_table_controls_random" href="{% url 'contests:assignment-randomize' course.id %}{% if debts %}?debts=1{% endif %}" class="text-decoration-none" data-toggle="tooltip" data-placement="top" title="Распределить задания случайно"><i class="fa fa-random fa-fw"></i></a>
        {% endif %}
        {% if debts %}
        <a href="{% url 'contests:assignment-table' course.id %}" class="text-decoration-none" data-toggle="tooltip" data-placement="top" title="Перейти к таблице"><i class="fa fa-table fa-fw"></i></a>
        {% else %}
        <a id="assignment_table_controls_debts" href="{% url 'contests:assignment-table' course.id %}?debts=1" class="text-decoration-none" data-toggle="tooltip" data-placement="top" title="Перейти к должникам"><i class="fa fa-columns fa-fw"></i></a>
        {% endif %}
        {% if perms.accounts.change_account %}
        <a id="assignment_table_controls_finish" href="{% url 'contests:course-finish' course.id %}" class="text-decoration-none" data-toggle="tooltip" data-placement="top" title="Завершить курс"><i class="fa fa-stop fa-fw"></i></a>
        {% endif %}
        {% if perms.contests.add_credit or request|has_leader_permission:course %}
        <a id="assignment_table_controls_start" href="{% url 'contests:course-start' course.id %}" class="text-decoration-none" data-toggle="tooltip" data-placement="top" title="Начать курс"><i class="fa fa-play fa-fw"></i></a>
        {% endif %}
        {% if perms.contests.report_credit or request|has_leader_permission:course %}
        <a id="assignment_table_controls_report" href="{% url 'contests:credit-report' course.id %}{% if debts %}?debts=1{% endif %}" class="text-decoration-none" data-toggle="tooltip" data-placement="top" title="Создать ведомость"><i class="fa fa-file-word-o fa-fw"></i></a>
        {% endif %}
        <!--<span class="dropdown show">
            <a href="#" class="text-decoration-none" role="button" id="dropdownMoreMenuLink" data-toggle="dropdown" data-flip="false" aria-haspopup="true" aria-expanded="false"><i class="fa fa-ellipsis-h fa-fw"></i></a>
            <span class="dropdown-menu dropdown-menu-right shadow-sm" aria-labelledby="dropdownMoreMenuLink">
                <a id="assignment_table_controls_start" href="{% url 'contests:course-start' course.id %}" class="dropdown-item"><i class="fa fa-play fa-fw"></i> Начать курс</a>
                <a href="{% url 'contests:credit-report' course.id %}{% if debts %}?debts=1{% endif %}" class="dropdown-item"><i class="fa fa-file-word-o fa-fw"></i> Создать ведомость</a>
            </span>
        </span>-->
    </span>
</legend>
<form>
    <div id="assignment_table_filters" class="form-row">
        <div class="col-6">
            <select id="group_select" name="type" class="form-control selectpicker" onchange="document.location=this.options[this.selectedIndex].value;">
                <option value="{% get_full_path_with_updated_query_string request group=0 %}" {% if group == 0 %}selected{% endif %}>Все группы</option>
                <option value="{% get_full_path_with_updated_query_string request group=1 %}" {% if group == 1 %}selected{% endif %}>1 группа</option>
                <option value="{% get_full_path_with_updated_query_string request group=2 %}" {% if group == 2 %}selected{% endif %}>2 группа</option>
                <option value="{% get_full_path_with_updated_query_string request group=2 %}" {% if group == 3 %}selected{% endif %}>3 группа</option>
            </select>
            <label for="group_select"></label>
        </div>
            <div class="col-6">
            <select id="subgroup_select" name="type" class="form-control selectpicker" onchange="document.location=this.options[this.selectedIndex].value;">
                <option value="{% get_full_path_with_updated_query_string request subgroup=0 %}" {% if subgroup == 0 %}selected{% endif %}>Все подгруппы</option>
                <option value="{% get_full_path_with_updated_query_string request subgroup=1 %}" {% if subgroup == 1 %}selected{% endif %}>1 подгруппа</option>
                <option value="{% get_full_path_with_updated_query_string request subgroup=2 %}" {% if subgroup == 2 %}selected{% endif %}>2 подгруппа</option>
                <option value="{% get_full_path_with_updated_query_string request subgroup=2 %}" {% if subgroup == 3 %}selected{% endif %}>3 подгруппа</option>
            </select>
            <label for="subgroup_select"></label>
        </div>
    </div>
</form>
{% render_assignment_course_table course students assignments debts %}
{% render_assignment_progress assignments "Прогресс" %}
<div class="collapse mt-3" id="assignments_legend">
    <div class="card card-body">
        <p><span class="numtus status-success">#</span> - 5</p>
        <p><span class="numtus status-primary">#</span> - 4</p>
        <p><span class="numtus status-warning">#</span> - 3</p>
        <p><span class="numtus status-danger">#</span> - 2</p>
        <p><span class="numtus status-info">#</span> - есть непроверенные посылки</p>
        <p class="mb-0"><span class="numtus status-default">#</span> - посылок нет</p>
    </div>
</div>
<button class="btn btn-light btn-block mt-3" type="button" data-toggle="collapse" data-target="#assignments_legend" aria-expanded="false" aria-controls="assignments_legend">
    Показать легенду
</button>
{% endblock content %}
