{% load views contests %}
<div class="table-responsive-lg" style="overflow-x: scroll;">
    <table class="contest-assignment-table table table-sm table-hover" id="assignmentTable">
        <thead>
            <tr>
                <th class="contest-sticky-column text-end" style="width: 4%;">№</th>
                <th class="contest-sticky-column" style="width: 25%;">Студент</th>
                <th class="contest-sticky-column text-center" style="width: 4%;"><span id="attendance_column" data-bs-toggle="tooltip" data-bs-placement="top" title="Посещаемость">П</span></th>
                {% for contest in contests %}
                <th class="contest-table-cell text-truncate">
                    <a href="{{ contest.get_absolute_url }}" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ contest }}">{{ contest.number }}</a>
                    <a href="{% url 'contests:assignment-randomize' course.id %}{% get_updated_query_string request contest_id=contest.id %}" class="contest-status-number contest-status-info contest-table-cell-hidden" data-bs-toggle="tooltip" data-bs-placement="top" title="Распределить задания случайно в этом разделе"><i class="fa fa-random"></i></a>
                </th>
                {% endfor %}
                <th class="text-center" style="width: 6%;">Зачет</th>
            </tr>
        </thead>
        <tbody>
            {% for row in table %}
            <tr>
                <td class="contest-sticky-column text-end font-monospace">{{ forloop.counter|stringformat:"02d" }}</td>
                <td class="contest-sticky-column text-truncate"><a href="{{ row.student.get_absolute_url }}" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ row.student.get_full_name }}">{{ row.student.get_short_name }}</a></td>
                <td class="contest-sticky-column text-center">
                    <span class="badge text-bg-{% if row.student.is_attending_now is None %}light{% elif row.student.is_attending_now %}success{% else %}danger{% endif %}" data-bs-toggle="tooltip" data-bs-placement="top" title="Посещено пар: {{ row.student.attendance_sum }}">
                        {{ row.student.attendance_sum }}
                    </span>
                </td>
                {% for col in row.columns %}
                <td class="contest-table-cell text-truncate">
                    {% for assignment in col.assignments %}
                    <a href="{% url 'contests:assignment-detail' assignment.id %}" class="contest-status-number contest-status-{{ assignment|get_assignment_style }}" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ assignment.remark }}">
                        {{ assignment.problem.number }}<sup>{{ assignment.remark.0 }}</sup>
                    </a>
                    {% if forloop.last %}
                    <a href="{% url 'contests:assignment-create' course.id %}{% get_updated_query_string request user_id=assignment.user_id contest_id=assignment.problem.contest_id %}" class="contest-status-number contest-status-info contest-table-cell-hidden" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Добавить задачу"><i class="fa fa-plus"></i></a>
                    {% endif %}
                    {% empty %}
                    <a href="{% url 'contests:assignment-create' course.id %}{% get_updated_query_string request user_id=row.student.user_id contest_id=col.contest.id %}" class="contest-status-number contest-status-info contest-table-cell-hidden" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Добавить задачу"><i class="fa fa-plus"></i></a>
                    {% endfor %}
                </td>
                {% endfor %}
                <td class="text-center">
                    {% if row.student.credit_id %}
                    <a href="{% url 'contests:credit-update' row.student.credit_id %}{% get_updated_query_string request %}" class="contest-status-number contest-status-{{ row.student.credit_score|colorize }}" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Оценка">
                        {{ row.student.credit_score|default:'-' }}
                    </a>
                    {% endif %}
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="{{ contests|length|add:"4" }}" class="text-center">
                    <div class="alert alert-info mb-0">Заданий нет.
                    {% if perms.contests.change_course or request|has_leader_permission:course %}
                        Вы можете <a href="{% url 'contests:course-start' course.id %}{% get_updated_query_string request %}">начать курс</a>, чтобы здесь появились студенты.
                    {% endif %}
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
