{% extends 'base_wide.html' %}
{% load views contests %}

{% block title %}
Мои задания
{% endblock title %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% breadcrumb "Мои задания" %}
{% endblock breadcrumbs %}

{% block content %}
{% include 'contests/news_block.html' %}
<legend>
    <div class="d-flex justify-content-between">
        <span class="text-truncate">Мои задания</span>
        <span class="d-flex justify-content-between">
            <a href="{% url 'contests:course-list' %}" class="text-decoration-none" data-toggle="tooltip" data-placement="left" title="Все курсы"><i class="fa fa-book fa-fw"></i></a>
        </span>
    </div>
</legend>
{% render_assignment_user_table assignments credits %}
{% render_assignment_progress assignments "Прогресс" %}
{% endblock content %}
