{% extends 'base_wide.html' %}
{% load views %}

{% block title %}
Изменения
{% endblock title %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% breadcrumb "Помощь" 'support:index' %}
{% breadcrumb "Изменения" %}
{% endblock breadcrumbs %}

{% block content %}
<legend>Список изменений</legend>
<h5>17.03.2022</h5>
<div class="alert alert-info pb-0">
<ul>
    <li class="mb-3"><strong>Раздел курса теперь можно скрыть от студентов до назначения задания по задаче из этого
        раздела.</strong><br> Скрытые разделы будут отображаться для студентов в списке разделов курса под названием
        &laquo;Скрытый раздел&raquo; без возможности перейти на страницу просмотра раздела. Скрытый раздел станет
        доступен для просмотра тем студентам, которым преподаватель назначит задания по задачам из этого раздела.</li>
    <li class="mb-3"><strong>Результаты автоматической проверки посылок к заданиям с ограниченным временем приёма
        посылок теперь не отображаются студентам до истечения этого времени.</strong><br> Например: если указать время
        приёма посылок в задании (или заданиях при случайном распределении) по задаче типа &laquo;варианты ответа&raquo;
        , то студенты увидят результаты автоматической проверки и оценку только после истечения указанного времени.</li>
</ul>
</div>
<h5>05.03.2022</h5>
<div class="alert alert-info pb-0">
<ul>
    <li class="mb-3"><strong>Курсы, разделы и задачи теперь при удалении попадают в корзину.</strong><br> Находящиеся в
        корзине курсы, разделы и задачи можно восстановить или удалить безвозвратно. Доступ к корзине (по ссылке в
        выпадающем меню в заголовке главной страницы) имеют только модераторы.</li>
    <li class="mb-3"><strong>Разделы и задачи теперь можно перемещать в другие курсы и разделы, к которым у
        преподавателя есть доступ.</strong><br> Чтобы переместить раздел (или задачу) в другой курс (или раздел)
        выберите пункт выпадающего меню "Переместить" в заголовке страницы перемещаемого курса (или задачи).</li>
    <li class="mb-3"><strong>Добавлен факультет "МФК".</strong><br> Курсы в этом факультете допускают назначение ведущих
        преподавателей из других факультетов, а таблицы заданий содержат дополнительный фильтр по факультету. Начинать и
        завершать курсы на факультете "МФК" можно отдельно для каждого потока другого факультета, так и для всех
        потоков сразу.</li>
    <li class="mb-3"><strong>Добавлен тип задачи "Устный ответ".</strong></li>
    <li class="mb-3"><strong>Разрешена загрузка файлов с расширениями <code>.djvu</code> и <code>.sav</code> в разделы
        и задачи.</strong></li>
    <li class="mb-3"><strong>Увеличено с 5 до 20 максимальное количество заданий для каждого студента, генерируемое
        при случайном распределении заданий.</strong></li>
    <li class="mb-3"><strong>Комментарии к заданию теперь отображаются на странице задания.</strong></li>
    <li class="mb-3"><strong>Теперь студенты могут отправлять посылки только к задачам по назначенным им
        заданиям.</strong><br> После завершения курса, все задания по задачам из этого курса считаются завершенными и не
        допускают отправки новых посылок.</li>
</ul>
</div>
{% endblock content %}
