{% extends 'base.html' %}
{% load forms %}

{% block title %}
Восстановление пароля
{% endblock title %}

{% block container %}
<div class="d-flex justify-content-center align-items-center mt-5">
    <form method="post" class="w-25">
        {% csrf_token %}
        {% render_form_errors form %}
        <div class="form-group">
            {% with is_invalid=form.new_password1.errors|yesno:"is-invalid," %}
            {% render_field form.new_password1 class+="form-control" class+=is_invalid placeholder="Новый пароль" %}
            {% endwith %}
            {% if form.new_password1.errors %}
            <div class="invalid-feedback">
                {% for error in form.new_password1.errors %}
                {{ error }}
                {% endfor %}
            </div>
            {% endif %}
        </div>
        <div class="form-group">
            {% with is_invalid=form.new_password2.errors|yesno:"is-invalid," %}
            {% render_field form.new_password2 class+="form-control" class+=is_invalid placeholder="Подтверждение нового пароля" %}
            {% endwith %}
            {% if form.new_password2.errors %}
            <div class="invalid-feedback">
                {% for error in form.new_password2.errors %}
                {{ error }}
                {% endfor %}
            </div>
            {% endif %}
        </div>
        <button class="btn btn-light btn-block border" type="submit">Продолжить</button>
    </form>
</div>
{% endblock container %}
