{% extends 'base.html' %}
{% load views forms %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% breadcrumb "Пользователи" 'accounts:account-list' %}
{% breadcrumb request.user.account request.user.account %}
{% breadcrumb "Изменение пароля" %}
{% endblock breadcrumbs %}

{% block content %}
<legend>Изменение пароля</legend>
<form action="" method="post">
    {% csrf_token %}
    {% render_errors form %}
    {% with WIDGET_RENDER_TO_TEMPLATE="field.html" %}
    {% render_field form.old_password class+="form-control" %}
    {% render_field form.new_password1 class+="form-control" %}
    {% render_field form.new_password2 class+="form-control" %}
    {% endwith %}
    {% render_button value="Изменить пароль" %}
</form>
{% endblock content %}
