{% extends 'base.html' %}
{% load forms %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li><a href="{% url 'contests:index' %}">Главная</a></li>
    <li><a href="{% url 'accounts:account-list' %}">Пользователи</a></li>
    <li><a href="{{ request.user.account.get_absolute_url }}">{{ request.user.account }}</a></li>
    <li class="active">Смена пароля</li>
</ol>
{% endblock breadcrumbs %}

{% block content %}
<legend>Смена пароля</legend>
<form action="" method="post" class="form-horizontal">
    {% csrf_token %}
    {% render_errors form %}
    {% with WIDGET_RENDER_TO_TEMPLATE="field.html" offset="4" width="8" help_text="no" %}
    {% render_field form.old_password class+="form-control" %}
    {% render_field form.new_password1 class+="form-control" %}
    {% render_field form.new_password2 class+="form-control" %}
    {% endwith %}
    {% render_button value="Изменить пароль" %}
</form>
{% endblock content %}
