{% extends 'registration/login.html' %}
{% load forms %}

{% block title %}Восстановление пароля{% endblock title %}

{% block login_content %}
{% if form.non_field_errors %}
<div class="alert alert-danger text-start">
    {% for error in form.non_field_errors %}
    {{ error }}<br>
    {% endfor %}
</div>
{% endif %}
{% with WIDGET_ERROR_CLASS="is-invalid" %}
<div class="form-floating">
    {% render_field form.new_password1 class+="form-control" placeholder=form.new_password1.label %}
    <label for="{{ form.new_password1.id_for_label }}">{{ form.new_password1.label }}</label>
    {% if form.new_password1.errors %}
    <div class="invalid-feedback">
        {% for error in form.new_password1.errors %}{{ error }}<br>{% endfor %}
    </div>
    {% endif %}
</div>
<div class="form-floating">
    {% render_field form.new_password2 class+="form-control" placeholder=form.new_password2.label %}
    <label for="{{ form.new_password2.id_for_label }}">{{ form.new_password2.label }}</label>
    {% if form.new_password2.errors %}
    <div class="invalid-feedback">
        {% for error in form.new_password2.errors %}{{ error }}<br>{% endfor %}
    </div>
    {% endif %}
</div>
{% endwith %}
<button class="btn btn-outline-primary btn-lg mt-3 w-100" type="submit">Продолжить</button>
{% endblock login_content %}
