{% extends 'base.html' %}
{% load forms %}

{% block container %}
<form method="post" class="form-signin text-center">
    {% csrf_token %}
    <h4 class="form-signin-heading mb20 mt-clear">{{ title }}</h4>
    {% if form.non_field_errors %}
    <div class="alert alert-danger">{{ form.non_field_errors }}</div>
    {% endif %}
    <div class="form-group {% if form.email.errors %} has-error {% endif %}">
        {% if form.email.errors %}
        <div class="alert alert-danger">{{ form.email.errors }}</div>
        {% endif %}
        {% render_field form.email class+="form-control" placeholder="email" %}
    </div>
    <button class="btn btn-primary btn-block" type="submit">Восстановить</button>
</form>
{% endblock container %}