{% extends 'base_main.html' %}
{% load views %}

{% block title %}Изменение пароля{% endblock title %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% breadcrumb "Пользователи" 'accounts:account-list' %}
{% breadcrumb request.user.account request.user.account %}
{% breadcrumb "Изменение пароля" %}
{% endblock breadcrumbs %}

{% block main_content %}
<legend>Изменение пароля</legend>
<div class="alert alert-success text-center">{{ title }}</div>
<div class="d-grid">
    <a href="{% url 'contests:index' %}" class="btn btn-light border">На главную</a>
</div>
{% endblock main_content %}
