{% extends 'base.html' %}
{% load forms %}

{% block title %}
Восстановление пароля
{% endblock title %}

{% block container %}
<div class="d-flex justify-content-center align-items-center mt-5">
    <form method="post" class="w-25">
        {% csrf_token %}
        {% if form.non_field_errors %}
        <div class="alert alert-danger">
            {% for error in form.non_field_errors %}
            {{ error }}
            {% endfor %}
        </div>
        {% endif %}
        <div class="form-group">
            {% with is_invalid=form.email.errors|yesno:"is-invalid," %}
            {% render_field form.email class+="form-control" class+=is_invalid placeholder="email" %}
            {% endwith %}
            {% if form.email.errors %}
            <div class="invalid-feedback">
                {% for error in form.email.errors %}
                {{ error }}
                {% endfor %}
            </div>
            {% endif %}
        </div>
        <button class="btn btn-light btn-block border" type="submit">Восстановить</button>
    </form>
</div>
{% endblock container %}
