{% extends 'registration/login.html' %}
{% load forms %}

{% block title %}Восстановление пароля{% endblock title %}

{% block login_content %}
{% if form.non_field_errors %}
<div class="alert alert-danger text-start">
    {% for error in form.non_field_errors %}
    {{ error }}<br>
    {% endfor %}
</div>
{% endif %}
<div class="form-floating">
    {% with WIDGET_ERROR_CLASS="is-invalid" %}
    {% render_field form.email class+="form-control" placeholder="email" %}
    {% endwith %}
    <label for="{{ form.email.id_for_label }}">E-mail</label>
</div>
<button class="btn btn-outline-primary btn-lg mt-3 w-100" type="submit">Восстановить</button>
{% endblock login_content %}
