{% extends 'base.html' %}
{% load views %}

{% block title %}
Объявления
{% endblock title %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% breadcrumb "Объявления" %}
{% endblock breadcrumbs %}

{% block content %}
<legend>Объявления</legend>
{% for announcement in announcements %}
<div>
    <h4><a href="{{ announcement.get_absolute_url }}">{{ announcement.title }}</a></h4>
    <p>{{ announcement.text|safe }}</p>
    <div class="text-right">
        <p><span class="badge badge-secondary">{{ announcement.group }}</span> | {{ announcement.date_created|date:'' }}</p>
    </div>
</div>
{% endfor %}
{% endblock content %}

{% block submenu %}
<div class="list-group">
    {% if perms.accounts.add_announcement %}
    <a href="{% url 'accounts:announcement-create' %}" class="list-group-item list-group-item-action"><i class="fa fa-plus fa-fw"></i> Добавить объявление</a>
    {% endif %}
</div>
{% endblock submenu %}
