{% extends 'base.html' %}
{% load views accounts comments %}

{% block title %}
{% mark_notification_as_read request.user.account announcement %}
Объявление
{% endblock title %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% breadcrumb "Объявления" 'accounts:announcement-list' %}
{% breadcrumb announcement %}
{% endblock breadcrumbs %}

{% block content %}
<legend>{{ announcement }}</legend>
<div>
    <p>{{ text|safe }}</p>
</div>
<div class="pull-right text-right">
    <p><span class="badge badge-secondary">{{ announcement.group }}</span> | {{ announcement.date_created|date:'' }}</p>
</div>
{% endblock content %}

{% block submenu %}
<div class="list-group mb-3">
    {% if perms.accounts.change_announcement %}
    <a href="{% url 'accounts:announcement-update' announcement.id %}" class="list-group-item list-group-item-action"><i class="fa fa-edit fa-fw"></i> Редактировать объявление</a>
    {% endif %}
    {% if perms.accounts.delete_announcement %}
    <a href="{% url 'accounts:announcement-delete' announcement.id %}" class="list-group-item list-group-item-action"><i class="fa fa-trash-o fa-fw"></i> Удалить объявление</a>
    {% endif %}
</div>
{% endblock submenu %}
