{% extends 'base_main.html' %}
{% load views %}

{% block title %}Объявления{% endblock title %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% breadcrumb "Объявления" %}
{% endblock breadcrumbs %}

{% block main_content %}
<legend>
    <span class="d-flex justify-content-between">
        <span class="text-truncate">Объявления</span>
        <span class="d-flex justify-content-between gap-1">
        {% if perms.accounts.add_announcement %}
            <a class="text-success" href="{% url 'accounts:announcement-create' %}" data-bs-toggle="tooltip" data-bs-placement="left" title="Добавить объявление"><i class="fa fa-plus fa-fw"></i></a>
        {% endif %}
        </span>
    </span>
</legend>
{% for announcement in announcements %}
<div class="card{% if forloop.counter > 1 %} mt-3{% endif %}">
    <div class="card-header d-flex align-items-center gap-2">
        <a class="text-primary me-auto" href="{% url 'accounts:announcement-detail' announcement.id %}">{{ announcement.title }}</a>
        <span class="text-muted">Актуально до: {{ announcement.actual }}</span>
        {% if perms.accounts.change_announcement %}
        <a href="{% url 'accounts:announcement-update' announcement.id %}" data-bs-toggle="tooltip" data-bs-placement="left" title="Редактировать объявление"><i class="fa fa-edit fa-lg fa-fw"></i></a>
        {% endif %}
        {% if perms.accounts.delete_announcement %}
        <a class="text-danger" href="{% url 'accounts:announcement-delete' announcement.id %}" data-bs-toggle="tooltip" data-bs-placement="top" title="Удалить объявление"><i class="fa fa-trash-o fa-lg fa-fw"></i></a>
        {% endif %}
    </div>
    <div class="card-body">
        <div class="card-text">{{ announcement.text|safe }}</div>
    </div>
    <div class="card-footer d-flex align-items-center">
        <span class="text-muted me-auto">{{ announcement.date_created }}</span>
        <span class="contest-status-number bg-secondary">{{ announcement.group_name }}</span>
    </div>
</div>
{% empty %}
<div class="alert alert-info" role="alert">Актуальных объявлений нет</div>
{% endfor %}
{% endblock main_content %}
