{% extends 'base_main.html' %}
{% load views accounts comments %}

{% block title %}Объявление{% endblock title %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% breadcrumb "Объявления" 'accounts:announcement-list' %}
{% breadcrumb announcement %}
{% endblock breadcrumbs %}

{% block main_content %}
<legend>
    <span class="d-flex justify-content-between">
        <span class="text-truncate">{{ announcement }}</span>
        <span class="d-flex justify-content-between gap-1">
            {% if perms.accounts.change_announcement %}
            <a href="{% url 'accounts:announcement-update' announcement.id %}" data-bs-toggle="tooltip" data-bs-placement="left" title="Редактировать объявление"><i class="fa fa-edit fa-fw"></i></a>
            {% endif %}
            {% if perms.accounts.delete_announcement %}
            <a href="{% url 'accounts:announcement-delete' announcement.id %}" class="text-danger" data-bs-toggle="tooltip" data-bs-placement="top" title="Удалить объявление"><i class="fa fa-trash-o fa-fw"></i></a>
            {% endif %}
        </span>
    </span>
</legend>
<div class="alert alert-light">
    {{ text|safe }}
</div>
<div class="d-flex justify-content-between">
    <span class="contest-status-number bg-secondary">{{ announcement.group_name }}</span>
    <span class="text-muted">{{ announcement.date_created }} ∙ до {{ announcement.actual }}</span>
</div>
{% endblock main_content %}
