{% extends 'base_wide.html' %}
{% load views accounts comments %}

{% block title %}
Объявление
{% endblock title %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% breadcrumb "Объявления" 'accounts:announcement-list' %}
{% breadcrumb announcement %}
{% endblock breadcrumbs %}

{% block content %}
<legend>
    {{ announcement }}
    <span class="pull-right">
        {% if perms.accounts.change_announcement %}
        <a href="{% url 'accounts:announcement-update' announcement.id %}" class="text-decoration-none" data-toggle="tooltip" data-placement="left" title="Редактировать объявление"><i class="fa fa-edit fa-fw"></i></a>
        {% endif %}
        {% if perms.accounts.delete_announcement %}
        <a href="{% url 'accounts:announcement-delete' announcement.id %}" class="text-danger text-decoration-none" data-toggle="tooltip" data-placement="top" title="Удалить объявление" style="position: relative; top: -0.08rem;"><i class="fa fa-trash-o fa-fw"></i></a>
        {% endif %}
    </span>
</legend>
<div class="alert alert-primary">
    {{ text|safe }}
</div>
<div class="pull-right text-right">
    <p><span class="badge badge-secondary">{{ announcement.group_name }}</span> | {{ announcement.date_created|date:'' }}</p>
</div>
{% endblock content %}
