{% extends 'base_main.html' %}
{% load views forms static %}

{% block title %}Объявление{% endblock title %}

{% block main_links %}
<link href="{% static 'tempus-dominus/css/tempus-dominus.css' %}" rel="stylesheet">
<link href="{% static 'tempus-dominus/css/tempus-dominus.patch.css' %}" rel="stylesheet">
{% endblock main_links %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% breadcrumb "Объявления" 'accounts:announcement-list' %}
{% if announcement %}
{% breadcrumb announcement announcement %}
{% breadcrumb "Редактирование" %}
{% else %}
{% breadcrumb "Новое объявление" %}
{% endif %}
{% endblock breadcrumbs %}

{% block main_content %}
<legend><span class="text-truncate">{% if announcement %}Редактирование{% else %}Добавление{% endif %} объявления</span></legend>
<form action="" method="post">
    {% csrf_token %}
    {% include 'forms/errors/non_field_errors.html' %}
    {% with WIDGET_RENDER_TO_TEMPLATE="forms/fields/field.html" WIDGET_ERROR_CLASS="is-invalid" %}
    {% render_field form.group class+="form-control selectpicker" %}
    {% render_field form.title class+="form-control" %}
    {% render_field form.text class+="form-control" %}
    {% render_field form.actual class+="form-control" placeholder="По умолчанию: 3 месяца" %}
    {% endwith %}
    {% include 'forms/submit_button.html' with value="Сохранить" %}
</form>
{% endblock main_content %}

{% block main_scripts %}
<script src="{% static 'popper/popper.min.js' %}" type="text/javascript"></script>
<script src="{% static 'tempus-dominus/js/tempus-dominus.js' %}" type="text/javascript"></script>
<script src="{% static 'tempus-dominus/tempus-dominus.options.js' %}" type="text/javascript"></script>
<script type="text/javascript">
document.addEventListener("DOMContentLoaded", function() {
    tdOptions.display.components.clock = false;
    const picker = new tempusDominus.TempusDominus(document.getElementById('id_actual'), tdOptions);
});
</script>
{% endblock main_scripts %}
