{% extends 'base_main.html' %}
{% load views %}

{% block title %}FN-Тест{% endblock title %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% breadcrumb fntest %}
{% endblock breadcrumbs %}

{% block main_content %}
<legend>
    <span class="d-flex justify-content-between">
        <span class="text-truncate">{{ fntest }}</span>
        <span class="d-flex justify-content-between gap-1">
            {% if perms.contests.change_fntest or request|has_leader_permission:course %}
            <a href="{% url 'contests:fntest-update' fntest.id %}" data-bs-toggle="tooltip" data-bs-placement="left" title="Редактировать FN-тест"><i class="fa fa-edit fa-fw"></i></a>
            {% endif %}
            {% if perms.contests.delete_fntest or request|has_leader_permission:course %}
            <a href="{% url 'contests:fntest-delete' fntest.id %}" class="text-danger" data-bs-toggle="tooltip" data-bs-placement="top" title="Удалить FN-тест"><i class="fa fa-trash-o fa-fw"></i></a>
            {% endif %}
        </span>
    </span>
</legend>
<h6>Обработчик:</h6>
<div class="alert alert-light">
    <code>{{ fntest.handler }}</code>
</div>
{% include 'list.html' with lst=fntest.problems.all title="Задачи:" %}
{% endblock main_content %}
