{% extends 'base.html' %}
{% load views forms %}

{% block title %}
Тест
{% endblock title %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% if fntest %}
{% breadcrumb fntest fntest %}
{% breadcrumb "Редактирование" %}
{% else %}
{% breadcrumb "Новый FN-тест" %}
{% endif %}
{% endblock breadcrumbs %}

{% block content %}
<legend>{% if fntest %}Редактирование{% else %}Добавление{% endif %} FN-теста</legend>
<form action="" method="post" class="form-horizontal">
    {% csrf_token %}
    {% render_errors form %}
    {% with WIDGET_RENDER_TO_TEMPLATE="field.html" %}
    {% render_field form.problems class+="form-control selectpicker" data-none-selected-text="---------" data-actions-box="true" data-select-all-text="Выбрать все" data-deselect-all-text="Очистить выбор" %}
    {% render_field form.title class+="form-control" %}
    {% render_field form.handler class+="form-control selectpicker" %}
    {% endwith %}
    {% render_button value="Сохранить" %}
</form>
{% endblock content %}
