{% extends 'base.html' %}
{% load views %}

{% block title %}
Тест
{% endblock title %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% breadcrumb fntest %}
{% endblock breadcrumbs %}

{% block content %}
<legend>{{ fntest }}</legend>
<p>Обработчик: <code>{{ fntest.handler }}</code></p>
<p>Задачи:</p>
{% render_list fntest.problems.all %}
{% endblock content %}

{% block submenu %}
<div class="list-group mb-3">
    {% if perms.contests.change_fntest %}
    <a href="{% url 'contests:fntest-update' fntest.id %}" class="list-group-item list-group-item-action"><i class="fa fa-edit fa-fw"></i> Редактировать FN-тест</a>
    {% endif %}
    {% if perms.contests.delete_fntest %}
    <a href="{% url 'contests:fntest-delete' fntest.id %}" class="list-group-item list-group-item-action"><i class="fa fa-trash-o fa-fw"></i> Удалить FN-тест</a>
    {% endif %}
</div>
{% endblock submenu %}
