{% extends 'base.html' %}

{% block title %}
Тест
{% endblock title %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li><a href="{% url 'contests:index' %}">Главная</a></li>
    <li class="active">{{ fntest }}</li>
</ol>
{% endblock breadcrumbs %}

{% block content %}
<legend>{{ fntest }}</legend>
<div>
    <p>Задачи:</p>
    <ul>
    {% for problem in fntest.problems.all %}
        <li>{{ problem }}</li>
    {% endfor %}
    </ul>
    <p>Обработчик:
        <code>{{ fntest.handler }}</code>
    </p>
</div>
{% endblock content %}

{% block submenu %}
<ul class="list-group">
    {% if perms.contests.change_fntest %}
    <a href="{% url 'contests:fntest-update' fntest.id %}" class="list-group-item"><i class="fa fa-edit fa-fw"></i> Редактировать FN-тест</a>
    {% endif %}
    {% if perms.contests.delete_fntest %}
    <a href="{% url 'contests:fntest-delete' fntest.id %}" class="list-group-item"><i class="fa fa-trash-o fa-fw"></i> Удалить FN-тест</a>
    {% endif %}
</ul>
{% endblock submenu %}
