{% extends 'base_main.html' %}
{% load views forms %}

{% block title %}FN-Тест{% endblock title %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% if fntest %}
{% breadcrumb fntest fntest %}
{% breadcrumb "Редактирование" %}
{% else %}
{% breadcrumb "Новый FN-тест" %}
{% endif %}
{% endblock breadcrumbs %}

{% block main_content %}
<legend>{% if fntest %}Редактирование{% else %}Добавление{% endif %} FN-теста</legend>
<form action="" method="post">
    {% csrf_token %}
    {% render_form_errors form %}
    {% with WIDGET_RENDER_TO_TEMPLATE="field.html" WIDGET_ERROR_CLASS="is-invalid" %}
    {% render_field form.title class+="form-control" %}
    {% render_field form.problems class+="form-control selectpicker" data-actions-box="true" %}
    {% render_field form.handler class+="form-control selectpicker" %}
    {% endwith %}
    {% render_submit_button value="Сохранить" %}
</form>
{% endblock main_content %}
