{% extends 'base.html' %}
{% load views forms markdown %}

{% block title %}
Новый набор задач
{% endblock title %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% breadcrumb contest.course contest.course %}
{% breadcrumb contest contest %}
{% if test %}
{% breadcrumb test test %}
{% breadcrumb "Редактирование" %}
{% else %}
{% breadcrumb "Новый набор задач" %}
{% endif %}
{% endblock breadcrumbs %}

{% block content %}
<legend>{% if test %}Редактирование{% else %}Добавление{% endif %} набора задач</legend>

<form id="root" method="post" enctype="multipart/form-data" class="form-horizontal">
    {% csrf_token %}

    {% render_form_errors form %}
    {% with WIDGET_RENDER_TO_TEMPLATE="field.html" WIDGET_ERROR_CLASS="is-invalid" %}
        {% render_field form.title class+="form-control" %}
        {% render_field form.description class+="form-control" %}
    {% endwith %}

    {% render_submit_button value="Сохранить" %}
</form>

{% endblock content %}
