{% extends 'base.html' %}
{% load views contests markdown static %}

{% block title %}
Набор задач
{% endblock title %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% breadcrumb test.contest.course test.contest.course %}
{% breadcrumb test.contest test.contest %}
{% breadcrumb test %}
{% endblock breadcrumbs %}

{% block content %}

<legend>{{ test }}</legend>
<ul class="nav nav-tabs mb-3" role="tablist">
    <li class="nav-item">
        <a aria-controls="description" aria-selected="{% if not tab or tab == 'description' %}true{% else %}false{% endif %}"
           class="nav-link {% if not tab or tab == 'description' %}active{% endif %}" data-toggle="tab"
           href="#description" id="description-tab" role="tab">Описание</a>
    </li>
    <li class="nav-item">
        <a aria-controls="testsubmissions" aria-selected="{% if tab == 'testsubmissions' %}true{% else %}false{% endif %}"
           class="nav-link {% if tab == 'testsubmissions' %}active{% endif %}" data-toggle="tab" href="#testsubmissions"
           id="testsubmissions-tab" role="tab">Посылки</a>
    </li>
</ul>
<div class="tab-content">
    <div aria-labelledby="description-tab" class="tab-pane fade {% if not tab or tab == 'description' %}show active{% endif %}" id="description" role="tabpanel">
        <p>{{ test.description|safe }}</p>
        <h5 class="mb-3">Задачи</h5>

        {% for question in test.question_set.all %}
        <div class="card mb-3">
            <div class="card-header bg-white d-flex justify-content-between align-items-center">
                #{{ question.number }} {% if question.title %}{{ question.title }}{% endif %} <span class="badge badge-pill badge-light">Способ ответа: {{ question.get_type_display|lower }}</span>
            </div>
            <div class="card-body">
                <p class="card-text">{{ question.description }}</p>
            </div>
            {% if question.option_set.all %}
            <div class="card ml-2 mb-2 mr-2">
                <ul class="list-group list-group-flush">
                    {% for option in question.option_set.all %}
                    <li class="list-group-item">{{ option.text }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            {% if perms.contests.view_problem or perms.contests.delete_problem %}
            <div class="card-footer">
                {% if perms.contests.view_problem %}
                <a href="{% url 'contests:question-detail' question.id %}" class="card-link">Просмотреть</a>
                {% endif %}
                {% if perms.contests.delete_problem %}
                <a href="{% url 'contests:question-delete' question.id %}" class="card-link text-danger">Удалить</a>
                {% endif %}
            </div>
            {% endif %}
        </div>
        {% empty %}
        <div class="alert alert-warning" role="alert">
            Добавьте задачи.
        </div>
        {% endfor %}
    </div>
    <div aria-labelledby="testsubmissions-tab" class="tab-pane fade {% if tab == 'testsubmissions' %}show active{% endif %}" id="testsubmissions" role="tabpanel">
        {% if testsubmissions %}
        {% load views contests %}
        <div class="table-responsive">
            <table id="p" class="table table-bordered table-sm">
                <thead>
                    <tr>
                        <th class="text-center" style="width: 18%;">Дата</th>
                        {% if perms.contests.view_testsubmission_list %}
                        <th>Студент</th>
                        {% endif %}
                        <th class="text-center" style="width: 8%;">Оценка</th>
                    </tr>
                </thead>
                <tbody>
                    {% now 'Y' as current_year %}
                    {% for testsubmission in testsubmissions %}
                    <tr>
                        <td class="text-center">{% if testsubmission.date_created|date:'Y' == current_year %}{{ testsubmission.date_created|date:'d b в H:i' }}{% else %}{{ testsubmission.date_created|date:'d b y г. в H:i' }}{% endif %}</td>
                        {% if perms.contests.view_submission_list %}
                        <td><a href="{{ testsubmission.owner.account.get_absolute_url }}">{{ testsubmission.owner.account }}</a></td>
                        {% endif %}
                        <td class="text-center">
                            <a href="{{ testsubmission.get_absolute_url }}" class="badge badge-secondary">{{ testsubmission.score }}</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        <div class="alert alert-info">Нет посылок.</div>
        {% endif %}
    </div>
</div>
{% endblock content %}

{% block submenu %}
<div class="list-group mb-3">
    {% if perms.contests.delete_test %}
    <a href="{% url 'contests:test-update' test.id %}" class="list-group-item list-group-item-action">
        <i class="fa fa-edit fa-fw"></i> Редактировать набор задач
    </a>
    {% endif %}
    {% if perms.contests.delete_test %}
    <a href="{% url 'contests:test-delete' test.id %}" class="list-group-item list-group-item-action">
        <i class="fa fa-trash fa-fw"></i> Удалить набор задач
    </a>
    {% endif %}
</div>
{% if perms.contests.add_question %}
    <div class="list-group mb-3">
    <a href="{% url 'contests:question-create' test.id %}" class="list-group-item list-group-item-action">
        <i class="fa fa-plus fa-fw"></i> Добавить задачу
    </a>
</div>
{% endif %}
{% if request.user.account.type == 1 or request.user.is_superuser %}
{% if test.question_set.count %}
<div class="list-group mb-3">
    <a href="{% url 'contests:testsubmission-create' test.id %}" class="btn btn-info btn-block">
        <i class="fa fa-check-square-o fa-fw"></i> Решить набор задач
    </a>
</div>
{% endif %}
{% endif %}
{% endblock submenu %}