{% extends 'base.html' %}
{% load views contests markdown static %}

{% block title %}
Набор задач
{% endblock title %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% breadcrumb test.contest.course test.contest.course %}
{% breadcrumb test.contest test.contest %}
{% breadcrumb test %}
{% endblock breadcrumbs %}

{% block content %}

<legend>{{ test }}</legend>
<p>{{ test.description|safe }}</p>

<h5 class="mb-3">Задачи</h5>

{% for question in test.question_set.all %}
<div class="card mb-3">
    <div class="card-header bg-white d-flex justify-content-between align-items-center">
        #{{ question.number }} <span class="badge badge-pill badge-light">Способ ответа: {{ question.get_answer_type_display|lower }}</span>
    </div>
    <div class="card-body">
        <p class="card-text">{{ question.text }}</p>
    </div>
    {% if question.option_set.all %}
    <ul class="list-group list-group-flush">
        {% for option in question.option_set.all %}
        <li class="list-group-item">{{ option.text }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% if perms.contests.view_problem or perms.contests.delete_problem %}
    <div class="card-footer">
        {% if perms.contests.view_problem %}
        <a href="{% url 'contests:question-detail' question.id %}" class="card-link">Просмотреть</a>
        {% endif %}
        {% if perms.contests.delete_problem %}
        <a href="{% url 'contests:question-delete' question.id %}" class="card-link text-danger">Удалить</a>
        {% endif %}
    </div>
    {% endif %}
</div>
{% empty %}
<div class="alert alert-warning" role="alert">
    Добавьте задачи.
</div>
{% endfor %}

{% endblock content %}

{% block submenu %}

<div class="list-group mb-3">
    {% if perms.contests.delete_test %}
    <a href="{% url 'contests:test-update' test.id %}" class="list-group-item list-group-item-action">
        <i class="fa fa-edit fa-fw"></i> Редактировать набор задач
    </a>
    {% endif %}
    {% if perms.contests.delete_test %}
    <a href="{% url 'contests:test-delete' test.id %}" class="list-group-item list-group-item-action">
        <i class="fa fa-trash fa-fw"></i> Удалить набор задач
    </a>
    {% endif %}
</div>
{% if perms.contests.add_question %}
    <div class="list-group mb-3">
    <a href="{% url 'contests:question-create' test.id %}" class="list-group-item list-group-item-action">
        <i class="fa fa-plus fa-fw"></i> Добавить задачу
    </a>
</div>
{% endif %}
{% if perms.contests.add_testsubmission %}
<div class="list-group mb-3">
    <a href="{% url 'contests:testsubmission-create' test.id %}" class="btn btn-info btn-block">
        <i class="fa fa-check-square-o fa-fw"></i> Решить набор задач
    </a>
</div>
{% endif %}

{% endblock submenu %}