{% extends 'base_main.html' %}
{% load views static %}

{% block title %}IO-Тест{% endblock title %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% breadcrumb iotest.course iotest.course %}
{% breadcrumb iotest.contest iotest.contest %}
{% breadcrumb iotest.problem iotest.problem %}
{% breadcrumb iotest %}
{% endblock breadcrumbs %}

{% block main_content %}
<legend>
    <span class="d-flex justify-content-between">
        <span class="text-truncate">{{ iotest }}</span>
        <span class="d-flex justify-content-between gap-2">
            {% if perms.contests.change_iotest or request|has_leader_permission:iotest.course %}
            <a href="{% url 'contests:iotest-update' iotest.id %}" class="btn btn-light" data-bs-toggle="tooltip" data-bs-placement="left" title="Редактировать IO-тест">
                <svg class="contest-icon text-primary"><use href="{% static 'icons/sprites/regular.svg' %}#pen-to-square"></use></svg>
            </a>
            {% endif %}
            {% if perms.contests.delete_iotest or request|has_leader_permission:iotest.course %}
            <a href="{% url 'contests:iotest-delete' iotest.id %}" class="btn btn-light" data-bs-toggle="tooltip" data-bs-placement="top" title="Удалить IO-тест">
                <svg class="contest-icon text-danger"><use href="{% static 'icons/sprites/regular.svg' %}#trash-can"></use></svg>
            </a>
            {% endif %}
        </span>
    </span>
</legend>
<h6>Входные данные:</h6>
<div class="alert alert-secondary">
    <samp>{{ iotest.input|linebreaksbr }}</samp>
</div>
<h6>Выходные данные:</h6>
<div class="alert alert-secondary">
    <samp>{{ iotest.output|linebreaksbr }}</samp>
</div>
<table class="table table-sm">
    <tr>
        <td class="text-end" style="width: 22%;">Параметры компиляции</td>
        <td>
            <code>{{ iotest.compile_args|default:"не заданы" }}</code>
            {% if iotest.compile_args_override %}
            <span data-bs-toggle="tooltip" data-bs-placement="right" title="Заменяют параметры компиляции задачи"><i class="fa-solid fa-circle-exclamation fa-fw text-danger"></i></span>
            {% else %}
            <span data-bs-toggle="tooltip" data-bs-placement="right" title="Дополняют параметры компиляции задачи"><i class="fa-solid fa-circle-exclamation fa-fw text-info"></i></span>
            {% endif %}
        </td>
    </tr>
    <tr>
        <td class="text-end" style="width: 22%;">Параметры запуска</td>
        <td>
            <code>{{ iotest.launch_args|default:"не заданы" }}</code>
            {% if iotest.launch_args_override %}
            <span data-bs-toggle="tooltip" data-bs-placement="right" title="Заменяют параметры запуска задачи"><i class="fa-solid fa-circle-exclamation fa-fw text-danger"></i></span>
            {% else %}
            <span data-bs-toggle="tooltip" data-bs-placement="right" title="Дополняют параметры запуска задачи"><i class="fa-solid fa-circle-exclamation fa-fw text-info"></i></span>
            {% endif %}
        </td>
    </tr>
</table>
{% endblock main_content %}
