{% extends 'base.html' %}
{% load views %}

{% block title %}
Тест
{% endblock title %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% breadcrumb iotest.problem.contest.course iotest.problem.contest.course %}
{% breadcrumb iotest.problem.contest iotest.problem.contest %}
{% breadcrumb iotest.problem iotest.problem %}
{% breadcrumb iotest %}
{% endblock breadcrumbs %}

{% block content %}
<legend>{{ iotest }}</legend>
<table class="table table-sm">
    <tr>
        <td class="text-right" style="width: 22%;">Параметры компиляции</td>
        <td>
            <code class="mr-2">{{ iotest.compile_args|default:"не указаны" }}</code>
            {% if iotest.compile_args_override %}
            <span data-toggle="tooltip" data-placement="right" title="Затирают параметры задачи!" class="badge badge-danger"><i class="fa fa-exclamation-circle fa-fw"></i></span>
            {% else %}
            <span data-toggle="tooltip" data-placement="right" title="Дополняют параметры задачи!" class="badge badge-info"><i class="fa fa-exclamation-circle fa-fw"></i></span>
            {% endif %}
        </td>
    </tr>
    <tr>
        <td class="text-right" style="width: 22%;">Параметры запуска</td>
        <td>
            <code class="mr-2">{{ iotest.launch_args|default:"не указаны" }}</code>
            {% if iotest.launch_args_override %}
            <span data-toggle="tooltip" data-placement="right" title="Затирают параметры задачи!" class="badge badge-danger"><i class="fa fa-exclamation-circle fa-fw"></i></span>
            {% else %}
            <span data-toggle="tooltip" data-placement="right" title="Дополняют параметры задачи!" class="badge badge-info"><i class="fa fa-exclamation-circle fa-fw"></i></span>
            {% endif %}
        </td>
    </tr>
</table>
<p>Входные данные:</p>
<div class="alert alert-secondary">
    <samp>{{ iotest.input|linebreaksbr }}</samp>
</div>
<p>Выходные данные:</p>
<div class="alert alert-secondary">
    <samp>{{ iotest.output|linebreaksbr }}</samp>
</div>
{% endblock content %}

{% block submenu %}
<div class="list-group mb-3">
    {% if perms.contests.change_iotest %}
    <a href="{% url 'contests:iotest-update' iotest.id %}" class="list-group-item list-group-item-action"><i class="fa fa-edit fa-fw"></i> Редактировать IO-тест</a>
    {% endif %}
    {% if perms.contests.delete_iotest %}
    <a href="{% url 'contests:iotest-delete' iotest.id %}" class="list-group-item list-group-item-action"><i class="fa fa-trash-o fa-fw"></i> Удалить IO-тест</a>
    {% endif %}
</div>
{% endblock submenu %}
