{% extends 'base_wide.html' %}
{% load views forms %}

{% block title %}
Тест
{% endblock title %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% breadcrumb problem.course problem.course %}
{% breadcrumb problem.contest problem.contest %}
{% breadcrumb problem problem %}
{% if iotest %}
{% breadcrumb iotest iotest %}
{% breadcrumb "Редактирование" %}
{% else %}
{% breadcrumb "Новый IO-тест" %}
{% endif %}
{% endblock breadcrumbs %}

{% block content %}
<legend>{% if iotest %}Редактирование{% else %}Добавление{% endif %} IO-теста</legend>
<form action="" method="post" class="form-horizontal">
    {% csrf_token %}
    {% render_form_errors form %}
    {% with WIDGET_RENDER_TO_TEMPLATE="field.html" WIDGET_ERROR_CLASS="is-invalid" %}
    {% render_field form.title class+="form-control" %}
    {% render_field form.compile_args class+="form-control" %}
    {% with WIDGET_RENDER_TO_TEMPLATE="field_switch.html" %}
    {% render_field form.compile_args_override class+="form-check-input" %}
    {% endwith %}
    {% render_field form.launch_args class+="form-control" %}
    {% with WIDGET_RENDER_TO_TEMPLATE="field_switch.html" %}
    {% render_field form.launch_args_override class+="form-check-input" %}
    {% endwith %}
    {% render_field form.input class+="form-control" %}
    {% render_field form.output class+="form-control" %}
    {% endwith %}
    {% render_submit_button value="Сохранить" %}
</form>
{% endblock content %}
