{% extends 'base_wide.html' %}
{% load views forms %}

{% block title %}
Тест
{% endblock title %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% breadcrumb iotest.problem.course iotest.problem.course %}
{% breadcrumb iotest.problem.contest iotest.problem.contest %}
{% breadcrumb iotest.problem iotest.problem %}
{% breadcrumb iotest iotest %}
{% breadcrumb "Удаление" %}
{% endblock breadcrumbs %}

{% block content %}
<legend>Удаление IO-теста</legend>
{% render_delete_form iotest %}
{% endblock content %}
