{% load views contests %}
<div class="accordion mb-3" id="execution_list">
    {% for execution in executions %}
    <div class="accordion-item">
        <div class="accordion-header d-flex align-items-center" style="min-width: 0;">
            <div class="contest-accordion-header bg-light pe-0 gap-3 {% if execution.test_is_passed %}collapsed{% endif %}" style="min-width: 0;">
                {% if execution.test_is_passed %}
                <span class="badge bg-success p-1 align-self-center" data-bs-toggle="tooltip" data-bs-placement="top" title="Тест пройден"><i class="fa fa-check fa-l fa-fw"></i></span>
                {% else %}
                <span class="badge bg-danger p-1 align-self-center" data-bs-toggle="tooltip" data-bs-placement="top" title="Тест провален"><i class="fa fa-times fa-l fa-fw"></i></span>
                {% endif %}
                <span class="text-truncate">
                    {% if perms.contests.view_submission and execution.test or request|has_leader_permission:course and execution.test %}
                    <a class="" href="{{ execution.test.get_absolute_url }}">{{ execution.test }}</a>
                    {% else %}
                    Тест {{ forloop.counter }}
                    {% endif %}
                </span>
                <span class="text-nowrap text-muted ms-auto">
                    <span class="d-none d-md-inline">{{ execution.date_created|date:'d E Y г., H:i' }}</span>
                    <span class="d-inline d-md-none">{{ execution.date_created|date:'d.m.y, H:i' }}</span>
                </span>
            </div>
            <button class="contest-accordion-button accordion-button bg-light w-auto {% if execution.test_is_passed %}collapsed{% endif %}" href="#test_{{ execution.test.id }}_{{ forloop.counter }}" data-bs-toggle="collapse" data-bs-target="#test_{{ execution.test.id }}_{{ forloop.counter }}" aria-expanded="{% if not execution.test_is_passed %}true{% else %}false{% endif %}" aria-controls="test_{{ execution.test.id }}_{{ forloop.counter }}"></button>
        </div>
        <div class="contest-accordion-collapse accordion-collapse collapse {% if not execution.test_is_passed %}show{% endif %}" id="test_{{ execution.test.id }}_{{ forloop.counter }}">
            <div class="accordion-body">
                <table class="table table-sm">
                    <tr><td class="text-end" style="width: 25%;">Команда компиляции</td><td><code>{{ execution.compilation_command|remove_pwd|default:"-" }}</code></td></tr>
                    <tr><td class="text-end" style="width: 25%;">Время компиляции</td><td class="font-monospace">{{ execution.compilation_time|floatformat:"-4" }} с</td></tr>
                    <tr><td class="text-end" style="width: 25%;">Команда исполнения</td><td><code>{{ execution.execution_command|remove_pwd|default:"-" }}</code></td></tr>
                    <tr><td class="text-end" style="width: 25%;">Время исполнения</td><td class="font-monospace">{{ execution.execution_time|floatformat:"-4" }} с</td></tr>
                    <tr><td class="text-end" style="width: 25%;">Код возврата</td><td class="font-monospace">{{ execution.execution_returncode }}</td></tr>
                    <tr><td class="text-end" style="width: 25%;">Использовано памяти</td><td class="font-monospace">{{ execution.execution_memory|filesizeformat }}</td></tr>
                </table>
                {% if execution.compilation_stdout %}
                <span class="badge bg-secondary rounded-0-bottom">Вывод компилятора в stdout:</span>
                <pre class="alert alert-secondary rounded-0-top-left">{{ execution.compilation_stdout|remove_pwd }}</pre>
                {% endif %}
                {% if execution.compilation_stderr %}
                <span class="badge bg-secondary rounded-0-bottom">Вывод компилятора в stderr:</span>
                <pre class="alert alert-secondary rounded-0-top-left">{{ execution.compilation_stderr|remove_pwd }}</pre>
                {% endif %}
                {% if execution.execution_stdout %}
                {% if perms.contests.view_submission or request|has_leader_permission:course %}
                <span class="badge text-bg-warning rounded-0-bottom"><i class="fa fa-lock fa-fw" data-bs-toggle="tooltip" data-bs-placement="right" title="Отображается только для преподавателя"></i>Вывод программы в stdout:</span>
                <pre class="alert alert-secondary rounded-0-top-left">{{ execution.execution_stdout }}</pre>
                {% endif %}
                {% endif %}
                {% if execution.execution_stderr %}
                {% if perms.contests.view_submission or request|has_leader_permission:course or not execution.test_is_passed %}
                <span class="badge bg-secondary rounded-0-bottom">Вывод программы в stderr:</span>
                <pre class="alert alert-secondary rounded-0-top-left">{{ execution.execution_stderr|remove_pwd }}</pre>
                {% endif %}
                {% endif %}
                {% if execution.test_input %}
                <span class="badge bg-secondary rounded-0-bottom">Входные данные:</span>
                <pre class="alert alert-secondary rounded-0-top-left">{{ execution.test_input|linebreaksbr }}</pre>
                {% endif %}
                {% if execution.test_output %}
                <span class="badge bg-secondary rounded-0-bottom">Выходные данные:</span>
                <pre class="alert alert-secondary rounded-0-top-left">{{ execution.test_output|linebreaksbr }}</pre>
                {% endif %}
                {% if execution.test_output_correct %}
                <span class="badge bg-secondary rounded-0-bottom">Верные выходные данные:</span>
                <pre class="alert alert-secondary rounded-0-top-left">{{ execution.test_output_correct|linebreaksbr }}</pre>
                {% endif %}
                {% if execution.test_summary %}
                <span class="badge bg-secondary rounded-0-bottom">Сводка:</span>
                <pre class="alert alert-secondary rounded-0-top-left">{{ execution.test_summary|linebreaksbr }}</pre>
                {% endif %}
                {% if execution.exception %}
                {% if perms.contests.view_submission or request|has_leader_permission:course %}
                <span class="badge text-bg-warning rounded-0-bottom">Исключение: <i class="fa fa-lock fa-fw" data-bs-toggle="tooltip" data-bs-placement="right" title="Отображается только для преподавателя"></i></span>
                <pre class="alert alert-secondary rounded-0-top-left">{{ execution.exception }}</pre>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<script>
document.addEventListener("DOMContentLoaded", function(event) {
    if (window.contestAccordionCollapseFixAdded !== undefined)
        return;
    window.contestAccordionCollapseFixAdded = true;
    const accordionCollapseList = document.querySelectorAll('.contest-accordion-collapse');
    for (let accordionCollapse of accordionCollapseList) {
        for (let eventType of ['show.bs.collapse', 'hide.bs.collapse']) {
            accordionCollapse.addEventListener(eventType, event => {
                event.target.previousElementSibling.firstElementChild.classList.toggle('collapsed');
            });
        }
    }
});
</script>
