{% extends 'base.html' %}
{% load forms %}
{% load static %}

{% block title %}
Чат
{% endblock title %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li><a href="{% url 'contests:index' %}">Главная</a></li>
    <li><a href="{% url 'accounts:chat-list' %}">Сообщения</a></li>
    <li class="active">Чат</li>
</ol>
{% endblock breadcrumbs %}

{% block content %}
<legend>Чат с {{ recipient.account }}</legend>
<div class="message-list">
    <div class="message-hidden-scroll">
    {% for message in messages reversed %}
        <div class="message-list-item col-md-12">
            <div class="message-user col-md-2 text-right">
                {% if message.sender == request.user %}Вы{% else %}<a href="{{ message.sender.account.get_absolute_url }}">{{ message.sender.account }}</a>{% endif %}
            </div>
            <div class="message-main col-md-10">
                <div class="message-text">
                    {{ message.text }}
                </div>
                <div class="message-footer">
                    <span class="text-muted">{{ message.timesince }} назад</span>
                </div>
            </div>
        </div>
        {% if forloop.last %}
        <div id="message-anchor" class="col-md-12"></div>
        {% endif %}
    {% endfor %}
    </div>
</div>
<form action="" method="post" class="form-horizontal">
    {% csrf_token %}
    <div class="form-group">
        <div class="col-md-12">
            {% render_field form.text class+="form-control" rows="3" cols="20" autofocus="true" placeholder="Ваше сообщение" %}
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            <input class="btn btn-primary btn-block" type="submit" value="Отправить" tabindex="0"/>
        </div>
    </div>
</form>
{% endblock content %}

{% block javascript %}
<script type="text/javascript" src="{% static 'waypoints/lib/jquery.waypoints.min.js' %}"></script>
<script type="text/javascript" src="{% static 'waypoints/lib/shortcuts/infinite.min.js' %}"></script>
<script>
var elmnt = document.getElementById("message-anchor");
elmnt.scrollIntoView();
</script>
{% endblock javascript %}
