{% extends 'base.html' %}
{% load comments %}
{% load views %}

{% block title %}
FAQ
{% endblock title %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li><a href="{% url 'contests:index' %}">Главная</a></li>
    <li><a href="{% url 'support:index' %}">Помощь</a></li>
    <li><a href="{% url 'support:faq-list' %}">FAQ</a></li>
    <li class="active">{{ faq }}</li>
</ol>
{% endblock breadcrumbs %}

{% block content %}
<legend>{{ faq.question }}</legend>
<div>
    <p>{{ answer|safe }}</p>
</div>
<div class="pull-right text-right">
    {% if perms.support.change_faq %}
    <p>{{ faq.is_published|yesno:'опубликовано,скрыто' }}</p>
    {% endif %}
</div>
{% endblock content %}

{% block submenu %}
<ul class="list-group">
    {% if perms.support.change_faq %}
    <a href="{% url 'support:faq-update' faq.id %}" class="list-group-item"><i class="fa fa-edit fa-fw"></i> Редактировать вопрос</a>
    {% endif %}
    {% if perms.support.delete_faq %}
    <a href="{% url 'support:faq-delete' faq.id %}" class="list-group-item"><i class="fa fa-trash-o fa-fw"></i> Удалить вопрос</a>
    {% endif %}
</ul>
{% endblock submenu %}

{% block javascript %}
<script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS_CHTML"></script>
{% endblock javascript %}
