{% extends 'base_main.html' %}
{% load views forms static %}

{% block title %}Профиль{% endblock title %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% breadcrumb "Пользователи" 'accounts:account-list' %}
{% breadcrumb account account %}
{% breadcrumb "Редактирование" %}
{% endblock breadcrumbs %}

{% block main_content %}
<legend>Редактирование профиля</legend>
<form action="" method="post">
    {% csrf_token %}
    {% include 'forms/errors/non_field_errors.html' %}
    {% with WIDGET_RENDER_TO_TEMPLATE="forms/fields/field_left_labeled.html" WIDGET_ERROR_CLASS="is-invalid" %}
    {% render_field form.email class+="form-control" %}
    {% if perms.accounts.change_account %}
    {% render_field form.first_name class+="form-control" %}
    {% render_field form.patronymic class+="form-control" %}
    {% render_field form.last_name class+="form-control" %}
    {% render_field form.faculty class+="form-control selectpicker" %}
    {% if account.is_student %}
    {% render_field form.level class+="form-control selectpicker" %}
    {% render_field form.group class+="form-control selectpicker" %}
    {% render_field form.subgroup class+="form-control selectpicker" %}
    {% render_field form.admission_year class+="form-control selectpicker" %}
    {% render_field form.record_book_id class+="form-control" %}
    {% with WIDGET_RENDER_TO_TEMPLATE="forms/fields/switch_left_labeled.html" %}
    {% render_field form.enrolled class+="form-check-input" %}
    {% render_field form.graduated class+="form-check-input" %}
    {% endwith %}
    {% else %}
    {% render_field form.department class+="form-control" %}
    {% render_field form.degree class+="form-control" %}
    {% render_field form.position class+="form-control" %}
    {% render_field form.type class+="form-control selectpicker" %}
    {% endif %}
    {% with WIDGET_RENDER_TO_TEMPLATE="forms/fields/switch_left_labeled.html" %}
    {% render_field form.is_active class+="form-check-input" %}
    {% endwith %}
    {% endif %}
    {% endwith %}
    {% include 'forms/submit_button.html' with value="Сохранить" %}
</form>
{% endblock main_content %}
