{% extends 'base_wide.html' %}
{% load views forms tutorial %}

{% block title %}
Регистрация
{% endblock title %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% breadcrumb "Пользователи" 'accounts:account-list' %}
{% breadcrumb "Регистрация" %}
{% endblock breadcrumbs %}

{% block content %}
<legend>Регистрация <span class="text-muted pull-right">{{ faculty }}</span></legend>
<form action="" method="post">
    {% csrf_token %}
    {% render_form_errors form %}
    {% with WIDGET_RENDER_TO_TEMPLATE="field.html" WIDGET_ERROR_CLASS="is-invalid" %}
    <div id="field_faculty">
    {% render_field form.faculty class+="form-control selectpicker" %}
    </div>
    <div id="field_level">
    {% render_field form.level class+="form-control selectpicker" %}
    </div>
    <div id="field_type">
    {% render_field form.type class+="form-control selectpicker" %}
    </div>
    <div id="field_admission_year">
    {% render_field form.admission_year class+="form-control selectpicker" %}
    </div>
    <div id="field_names">
    {% render_field form.names class+="form-control" placeholder="в формате: Фамилия Имя Отчество" %}
    </div>
    {% endwith %}
    <div id="form_submit_button">
    {% render_submit_button value="Зарегистрировать" %}
    </div>
</form>
{% endblock content %}

{% block javascript %}
<script>
driver.defineSteps([
    {% if request.user.account.is_moderator %}
    {% if not request|have_passed_step:'field_faculty' %}
    {
        view: '{% tutorial_step_view request %}',
        step: 'field_faculty',
        element: '#field_faculty',
        popover: {
            title: " ",
            description: "Выберите из списка факультет добавляемых пользователей.",
            position: 'bottom'
        }
    },
    {% endif %}
    {% if not request|have_passed_step:'field_level' %}
    {
        view: '{% tutorial_step_view request %}',
        step: 'field_level',
        element: '#field_level',
        popover: {
            title: " ",
            description: "Выберите из списка курс и семестр добавляемых пользователей.",
            position: 'bottom'
        }
    },
    {% endif %}
    {% if not request|have_passed_step:'field_type' %}
    {
        view: '{% tutorial_step_view request %}',
        step: 'field_type',
        element: '#field_type',
        popover: {
            title: " ",
            description: "Выберите из списка группу для добавляемых пользователей.",
            position: 'bottom'
        }
    },
    {% endif %}
    {% if not request|have_passed_step:'field_admission_year' %}
    {
        view: '{% tutorial_step_view request %}',
        step: 'field_admission_year',
        element: '#field_admission_year',
        popover: {
            title: " ",
            description: "Выберите из списка год поступления добавляемых пользователей.",
            position: 'bottom'
        }
    },
    {% endif %}
    {% if not request|have_passed_step:'field_names' %}
    {
        view: '{% tutorial_step_view request %}',
        step: 'field_names',
        element: '#field_names',
        popover: {
            title: " ",
            description: "Задайте данные добавляемых пользователей в указанном формате.",
            position: 'top'
        }
    },
    {% endif %}
    {% if not request|have_passed_step:'form_submit_button' %}
    {
        view: '{% tutorial_step_view request %}',
        step: 'form_submit_button',
        element: '#form_submit_button',
        popover: {
            title: " ",
            description: "Регистрация всех указанных выше пользователей.",
            position: 'top'
        }
    },
    {% endif %}
    {% endif %}
]);
</script>
{% endblock %}
