{% extends 'base_wide.html' %}
{% load views forms %}

{% block title %}
Регистрация
{% endblock title %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% breadcrumb "Пользователи" 'accounts:account-list' %}
{% breadcrumb "Регистрация" %}
{% endblock breadcrumbs %}

{% block content %}
<legend>Регистрация</legend>
<form action="" method="post">
    {% csrf_token %}
    {% render_form_errors form %}
    {% with WIDGET_RENDER_TO_TEMPLATE="field.html" WIDGET_ERROR_CLASS="is-invalid" %}
    {% render_field form.level class+="form-control selectpicker" %}
    {% render_field form.type class+="form-control selectpicker" %}
    {% render_field form.admission_year class+="form-control selectpicker" %}
    {% render_field form.names class+="form-control" placeholder="в формате: Фамилия Имя Отчество" %}
    {% endwith %}
    {% render_submit_button value="Зарегистрировать" %}
</form>
{% endblock content %}
