{% extends 'base.html' %}
{% load views forms %}

{% block title %}
Пользователи
{% endblock title %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% breadcrumb "Пользователи" %}
{% endblock breadcrumbs %}

{% block content %}
<legend>{% if type == 1 %}Студенты{% else %}Сотрудники{% endif %} {% if graduated %}выпускники{% elif enrolled == False %}отчисленные{% endif %} <span class="text-muted pull-right">{{ faculty }}</span></legend>
<form id="account_list_form" action="{{ request.get_full_path }}" method="post">
    {% csrf_token %}
    {% render_form_errors form %}
    {% render_field_errors form.accounts %}
    <table class="table table-bordered table-sm table-hover">
        <thead>
            <tr>
                <th class="text-center" style="width: 4%;">
                    <div class="custom-control custom-checkbox" data-toggle="tooltip" data-placement="top" title="Выбрать всех пользователей">
                        <input id="check_all" type="checkbox" class="custom-control-input">
                        <label for="check_all" class="custom-control-label ml-2"></label>
                    </div>
                </th>
                <th class="text-center">Фамилия, Имя</th>
                <th class="text-center" style="width: 17%;">Уровень</th>
            </tr>
        </thead>
        <tbody>
            {% for account in accounts %}
            <tr>
                <td class="text-center">
                    <div class="custom-control custom-checkbox">
                        <input id="check_{{ account.user_id }}" type="checkbox" class="custom-control-input check" name="accounts" value="{{ account.user_id }}">
                        <label for="check_{{ account.user_id }}" class="custom-control-label ml-2"></label>
                    </div>
                </td>
                <td class="text-nowrap"><a href="{{ account.get_absolute_url }}">{{ account }}</a></td>
                <td class="text-center text-nowrap">{{ account.get_level_display }}</td>
            </tr>
            {% empty %}
            <tr>
                <td class="text-center" colspan="3"><div class="alert alert-info mb-0">Здесь никого нет</div></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</form>
{% endblock content %}

{% block submenu %}
<div class="list-group mb-3">
    {% for lvl, lvl_display in levels %}
    <a href="{% url 'accounts:account-list' %}?level={{ lvl }}&faculty_id={{ faculty.id }}" class="list-group-item list-group-item-action"><i class="fa fa-circle{% if enrolled is None and lvl != level or type != 1 %}-o{% endif %} fa-fw"></i> {{ lvl_display }}</a>
    {% endfor %}
</div>
<div class="list-group mb-3">
    <a href="{% url 'accounts:account-list' %}?enrolled=0&graduated=1&faculty_id={{ faculty.id }}" class="list-group-item list-group-item-action"><i class="fa fa-circle{% if enrolled != False or graduated != True %}-o{% endif %} fa-fw"></i> Выпускники</a>
    <a href="{% url 'accounts:account-list' %}?enrolled=0&faculty_id={{ faculty.id }}" class="list-group-item list-group-item-action"><i class="fa fa-circle{% if enrolled != False or graduated != False %}-o{% endif %} fa-fw"></i> Отчисленные</a>
</div>
<div class="list-group mb-3">
    <a href="{% url 'accounts:account-list' %}?type=2&faculty_id={{ faculty.id }}" class="list-group-item list-group-item-action"><i class="fa fa-circle{% if type != 2 %}-o{% endif %} fa-fw"></i> Модераторы</a>
    <a href="{% url 'accounts:account-list' %}?type=3&faculty_id={{ faculty.id }}" class="list-group-item list-group-item-action"><i class="fa fa-circle{% if type != 3 %}-o{% endif %} fa-fw"></i> Преподаватели</a>
</div>
<div class="list-group mb-3">
    {% if perms.accounts.add_account %}
    <a href="{% url 'accounts:account-create-set' %}?faculty_id={{ faculty.id }}" class="list-group-item list-group-item-action"><i class="fa fa-plus fa-fw"></i> Добавить пользователей</a>
    {% endif %}
</div>
<legend>Действия</legend>
<div class="list-group mb-3">
    {% if perms.accounts.change_account %}
    <button type="submit" name="action" form="account_list_form" value="reset_password" class="btn btn-info btn-block" data-toggle="tooltip" data-placement="left" title="Выставить новый пароль для профилей выбранных пользователей"><i class="fa fa-key fa-fw"></i> Сбросить пароль</button>
    {% if type == 1 %}
    <button type="submit" name="action" form="account_list_form" value="level_up" class="btn btn-info btn-block" data-toggle="tooltip" data-placement="left" title="Повысить уровень выбранных студентов на 1"><i class="fa fa-level-up fa-fw"></i> Повысить уровень</button>
    <button type="submit" name="action" form="account_list_form" value="level_down" class="btn btn-info btn-block" data-toggle="tooltip" data-placement="left" title="Понизить уровень выбранных студентов на 1"><i class="fa fa-level-down fa-fw"></i> Понизить уровень</button>
    <button type="submit" name="action" form="account_list_form" value="enroll" class="btn btn-info btn-block" data-toggle="tooltip" data-placement="left" title="Восстановить выбранных отчисленных студентов"><i class="fa fa-undo fa-fw"></i> Восстановить</button>
    <button type="submit" name="action" form="account_list_form" value="graduate" class="btn btn-success btn-block" data-toggle="tooltip" data-placement="left" title="Пометить выбранных студентов как выпускников"><i class="fa fa-graduation-cap fa-fw"></i> Выпустить</button>
    <button type="submit" name="action" form="account_list_form" value="expel" class="btn btn-danger btn-block" data-toggle="tooltip" data-placement="left" title="Пометить выбранных студентов как отчисленных"><i class="fa fa-ban fa-fw"></i> Отчислить</button>
    {% endif %}
    {% endif %}
</div>
{% endblock submenu %}

{% block javascript %}
<script type="text/javascript">
$("#check_all").click(function () {
    $(".check").prop('checked', $(this).prop('checked'));
});
</script>
{% endblock javascript %}

