{% extends 'base_main.html' %}
{% load views contests static %}

{% block title %}Профиль{% endblock title %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% breadcrumb "Пользователи" 'accounts:account-list' %}
{% breadcrumb account %}
{% endblock breadcrumbs %}

{% block main_content %}
<legend>
    <span class="d-flex justify-content-between">
        <span class="text-truncate">{{ account }}</span>
        <span class="d-flex justify-content-between gap-1">
            {% if account.user_id == request.user.id %}
            <a href="{% url 'password-change' %}" class="text-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Изменить пароль"><i class="fa fa-lock fa-fw"></i></a>
            {% endif %}
            {% if perms.accounts.change_account or perms.auth.change_user_email or account.user_id == request.user.id %}
            <a href="{% url 'accounts:account-update' account.user.id %}" data-bs-toggle="tooltip" data-bs-placement="left" title="Редактировать профиль"><i class="fa fa-edit fa-fw"></i></a>
            {% endif %}
        </span>
    </span>
</legend>
<div class="row">
    <div class="col-12 col-md-3">
        {% include 'accounts/account/account_card.html' with image=True %}
    </div>
    <div class="col-12 col-md-9">
        <table class="table table-borderless table-sm">
            <tr><td class="text-end" style="width: 30%;">e-mail</td><td>{% if account.email %}<a href="mailto:{{ account.email }}">{{ account.email }}</a>{% elif perms.auth.change_account or perms.auth.change_user_email or account.user_id == request.user.id %}<a href="{% url 'accounts:account-update' account.user_id %}" class="text-danger" >укажите e-mail</a>{% else %}-{% endif %}</td></tr>
            <tr><td class="text-end" style="width: 30%;">Факультет</td><td>{{ account.faculty }}</td></tr>
            {% if account.is_student %}
            <tr><td class="text-end" style="width: 30%;">Уровень</td><td>{{ account.get_level_display }}</td></tr>
            <tr><td class="text-end" style="width: 30%;">Группа</td><td>{{ account.get_group_name }}, подгруппа {{ account.subgroup }}</td></tr>
            <tr><td class="text-end" style="width: 30%;">Год поступления</td><td>{{ account.admission_year }}</td></tr>
            <tr><td class="text-end" style="width: 30%;">№ зачетной книжки</td><td>{{ account.record_book_id|default:'' }}</td></tr>
            <tr><td class="text-end" style="width: 30%;">Обучается</td><td>{{ account.enrolled|yesno:'да,нет' }}</td></tr>
            <tr><td class="text-end" style="width: 30%;">Закончил обучение</td><td>{{ account.graduated|yesno:'да,нет' }}</td></tr>
            {% endif %}
            <tr><td class="text-end" style="width: 30%;">Права</td><td>{% for group in account.user.groups.all %} <span class="badge bg-secondary">{{ group }}</span>{% endfor %}</td></tr>
            <tr><td class="text-end" style="width: 30%;">Тип учетной записи</td><td>{{ account.get_type_display }}</td></tr>
            {% if perms.accounts.change_account %}
            <tr><td class="text-end" style="width: 30%;">Логин</td><td>{{ account.username }}</td></tr>
            <tr><td class="text-end" style="width: 30%;">Активен</td><td>{% if account.is_active %}<i class="fa fa-check-circle fa-lg text-success"></i>{% else %}<i class="fa fa-times-circle fa-lg text-danger"></i>{% endif %}</td></tr>
            <tr><td class="text-end" style="width: 30%;">Последний вход</td><td>{{ account.last_login|date:'d E Y, H:i' }}</td></tr>
            <tr><td class="text-end" style="width: 30%;">Дата регистрации</td><td>{{ account.date_joined|date:'d E Y' }}</td></tr>
            {% endif %}
        </table>
    </div>
</div>
{% if account.is_student %}
<a class="activity-anchor" id="activity">&nbsp</a>
<legend>Активность</legend>
<div class="card mb-2">
    <div class="card-header d-flex align-items-center p-1">
        <select class="form-control selectpicker" name="year" onchange="document.location=this.options[this.selectedIndex].value;" aria-label="Год обучения">
            {% for yr, yr_display in study_year_choices %}
            <option value="{% get_full_path_with_updated_query_string request year=yr %}#activity" {% if year == yr %}selected{% endif %}>{{ yr_display }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="card-body">
        <canvas id="submissionsChart" height="100"></canvas>
    </div>
</div>
<div class="table-responsive-lg my-3">
    <table class="table table-sm table-hover">
        <tbody>
            <tr>
                <td>Выполнено заданий</td>
                <td class="text-center" style="width: 4%;">
                    {% with account.count_completed_assignments as completed_assignments_count %}
                    <span class="text-{{ completed_assignments_count|colorize_activity_count }}"><strong>{{ completed_assignments_count }}</strong></span>
                    {% endwith %}
                </td>
            </tr>
            <tr>
                <td>Решено задач</td>
                <td class="text-center" style="width: 4%;">
                    {% with account.count_solved_problems as solved_problems_count %}
                    <span class="text-{{ solved_problems_count|colorize_activity_count }}"><strong>{{ solved_problems_count }}</strong></span>
                    {% endwith %}
                </td>
            </tr>
            <tr>
                <td>Отправлено посылок</td>
                <td class="text-center" style="width: 4%;">
                    {% with account.user.submission_set.count as submissions_count %}
                    <span class="text-{{ submissions_count|colorize_activity_count }}"><strong>{{ submissions_count }}</strong></span>
                    {% endwith %}
                </td>
            </tr>
            <tr>
                <td>Написано комментариев</td>
                <td class="text-center" style="width: 4%;">
                    {% with account.user.comments.count as comments_count %}
                    <span class="text-{{ comments_count|colorize_activity_count }}"><strong>{{ comments_count }}</strong></span>
                    {% endwith %}
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% if perms.accounts.view_account or account.user_id == request.user.id %}
{% if credits %}
<legend>
    <span class="d-flex justify-content-between">
        <span>Результаты</span>
        <span class="d-flex justify-content-between gap-1">
            <a href="{% if account.user_id == request.user.id %} {% url 'contests:assignment-list' %} {% else %} {% url 'accounts:account-assignment-list' account.user_id %} {% endif %}" data-bs-toggle="tooltip" data-bs-placement="left" title="Задания"><i class="fa fa-list-ol fa-fw"></i></a>
        </span>
    </span>
</legend>
{% include 'accounts/account/account_results.html' %}
<div class="table-responsive-lg mb-3">
    <table class="table table-sm table-borderless">
        <tbody>
            <tr>
                <td>Точность</td>
                <td class="text-center align-middle" style="width: 70%;">
                    {% include 'progress.html' with progress=account.get_accuracy %}
                </td>
                <td class="text-center" style="width: 4%;">
                    <span data-bs-toggle="tooltip" data-bs-placement="left" title="Отражает способность решать задачи с первой попытки">
                        <i class="fa fa-question-circle fa-fw text-muted"></i>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endif %}
{% endif %}
{% elif account.is_instructor %}
{% if courses_leading.exists %}
<legend>Преподаваемые курсы</legend>
<div class="d-flex flex-column flex-md-row flex-md-wrap gap-2 mb-3">
    {% for course in courses_leading %}
    <div class="contest-course-card card">
        <div class="card-body">
            <a class="card-title h6 stretched-link text-reset text-decoration-none" href="{{ course.get_absolute_url }}">{{ course }}</a>
            <p class="card-text"><small class="text-muted">{{ course.get_level_display }}</small></p>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}
{% endif %}
{% endblock main_content %}

{% block main_scripts %}
<script src="{% static 'chart/chart.min.js' %}" type="text/javascript"></script>
<script>
const submissionsChartData = {
    labels: [{% for item in account_chart_data %} {% if year == 0 %} '{{ item.1 }} {{item.0}}' {% else %} '{{ item.1 }}' {% endif %}, {% endfor %}],
    datasets: [{
        label: 'Посылки',
        backgroundColor: 'rgb(91, 192, 222)',
        borderColor: 'rgb(91, 192, 222)',
        data: [{% for item in account_chart_data %} {{ item.2 }}, {% endfor %}],
    }, {
        label: 'Решения',
        backgroundColor: 'rgb(92, 184, 92)',
        borderColor: 'rgb(92, 184, 92)',
        data: [{% for item in account_chart_data %} {{ item.3 }}, {% endfor %}],
    }, {
        label: 'Комментарии',
        backgroundColor: 'rgb(108, 117, 125)',
        borderColor: 'rgb(108, 117, 125)',
        data: [{% for item in account_chart_data %} {{ item.4 }}, {% endfor %}],
    }]
};

const submissionsChartConfig = {
    type: 'bar',
    data: submissionsChartData,
    options: {
        scales: {
            y: {
                ticks: {
                    stepSize: 1
                }
            }
        }
    }
};
const submissionsChart = new Chart(document.getElementById('submissionsChart'), submissionsChartConfig);
</script>
{% endblock main_scripts %}
