{% extends 'base.html' %}
{% load forms %}

{% block title %}
Регистрация
{% endblock title %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li><a href="{% url 'contests:index' %}">Главная</a></li>
    <li><a href="{% url 'accounts:account-list' %}">Пользователи</a></li>
    <li class="active">Регистрация</li>
</ol>
{% endblock breadcrumbs %}

{% block content %}
<legend>Регистрация</legend>
<form action="" method="post" class="form-horizontal">
    {% csrf_token %}
    {% render_errors form %}
    {% with WIDGET_RENDER_TO_TEMPLATE="field.html" offset="3" width="9" %}
    {% render_field form.level class+="form-control selectpicker" %}
    {% render_field form.admission_year class+="form-control selectpicker" %}
    {% render_field form.names class+="form-control" rows="5" cols="20" placeholder="в формате: Фамилия Имя Отчество" %}
    {% endwith %}
    {% render_button value="Зарегистрировать" %}
</form>
{% endblock content %}
