{% load static %}
{% if account %}
<div class="card mb-2">
    {% if image %}
    <img src="https://ui-avatars.com/api/?name={{ account.last_name }}+{{ account.first_name }}&color=999999&format=svg" alt="Изображение профиля">
    {% endif %}
    <div class="card-body">
        <h5 class="card-title">{% if link %}<a href="{{ account.get_absolute_url }}">{% endif %}<strong>{{ account.get_full_name }}</strong>{% if link %}</a>{% endif %}</h5>
        <p class="card-text">{{ account.degree }}{% if account.degree and account.position %},{% endif %} {{ account.position }}{% if account.department %}<br>{% endif %}{{ account.department }}</p>
    </div>
</div>
{% endif %}
