{% extends 'base_wide.html' %}
{% load views forms static %}

{% block title %}
Пользователи
{% endblock title %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% breadcrumb "Пользователи" 'accounts:account-list' query_string=request|get_query_string %}
{% breadcrumb "Редактирование" %}
{% endblock breadcrumbs %}

{% block content %}
<legend>Редактирование профилей {% if type == 1 %}студентов{% else %}сотрудников{% endif %}</legend>
<form action="" method="post">
    {% csrf_token %}
    {{ formset.management_form }}
    <div class="table-responsive" style="overflow-x: scroll;">
        <table class="table table-borderless table-sm">
            <thead>
                <tr>
                    <th><div style="width: 12em;">Фамилия</div></th>
                    <th><div style="width: 12em;">Имя</div></th>
                    <th><div style="width: 12em;">Отчество</div></th>
                    <th><div style="width: 20em;">e-mail</div></th>
                    <th><div style="width: 15em;">Факультет</div></th>
                    {% if type == 1 %}
                    <th><div style="width: 12em;">Уровень</div></th>
                    <th><div style="width: 5em;">Группа</div></th>
                    <th><div style="width: 10em;">Год поступления</div></th>
                    <th><div style="width: 12em;">№ зачетной книжки</div></th>
                    <th class="text-center"><div style="width: 6em;">Обучается</div></th>
                    <th class="text-center"><div style="width: 6em;">Закончил обучение</div></th>
                    {% else %}
                    <th><div style="width: 12em;">Кафедра</div></th>
                    <th><div style="width: 15em;">Ученое звание</div></th>
                    <th><div style="width: 10em;">Должность</div></th>
                    <th><div style="width: 10em;">Тип учетной записи</div></th>
                    {% endif %}
                    <th class="text-center"><div style="width: 6em;">Активен</div></th>
                </tr>
            </thead>
            <tbody>
            {% render_form_errors formset %}
            {% for form in formset %}
                <tr>
                {% render_form_errors form %}
                {% render_field form.user %}
                {% with WIDGET_ERROR_CLASS="is-invalid" %}
                    <td>{% render_field form.last_name class+="form-control" %}</td>
                    <td>{% render_field form.first_name class+="form-control" %}</td>
                    <td>{% render_field form.patronymic class+="form-control" %}</td>
                    <td>{% render_field form.email class+="form-control" %}</td>
                    <td>{% render_field form.faculty class+="form-control selectpicker" data-container="body" %}</td>
                    {% if type == 1 %}
                    <td>{% render_field form.level class+="form-control selectpicker" data-container="body" %}</td>
                    <td>{% render_field form.group class+="form-control selectpicker" data-container="body" %}</td>
                    <td>{% render_field form.admission_year class+="form-control selectpicker" data-container="body" %}</td>
                    <td>{% render_field form.record_book_id class+="form-control" %}</td>
                    <td class="text-center">
                        <div class="custom-control custom-switch mt-2">
                            {% render_field form.enrolled class+="custom-control-input" %}
                            <label class="custom-control-label" for="{{ form.enrolled.id_for_label }}"></label>
                        </div>
                    </td>
                    <td class="text-center">
                        <div class="custom-control custom-switch mt-2">
                            {% render_field form.graduated class+="custom-control-input" %}
                            <label class="custom-control-label" for="{{ form.graduated.id_for_label }}"></label>
                        </div>
                    </td>
                    {% else %}
                    <td>{% render_field form.department class+="form-control" %}</td>
                    <td>{% render_field form.degree class+="form-control" %}</td>
                    <td>{% render_field form.position class+="form-control" %}</td>
                    <td>{% render_field form.type class+="form-control selectpicker" %}</td>
                    {% endif %}
                    <td class="text-center">
                        <div class="custom-control custom-switch mt-2">
                            {% render_field form.is_active class+="custom-control-input" %}
                            <label class="custom-control-label" for="{{ form.is_active.id_for_label }}"></label>
                        </div>
                    </td>
                {% endwith %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="mt-3">
        <input class="btn btn-light btn-block border" type="submit" value="Сохранить" />
    </div>
</form>
{% endblock content %}

{% block javascript %}
<script src="{% static 'js/bs-custom-file-input.min.js' %}" type="text/javascript"></script>
<script type="text/javascript">
$(function () {
    bsCustomFileInput.init()
});
</script>
{% endblock javascript %}
