{% extends 'base.html' %}
{% load views forms %}

{% block title %}
Профиль
{% endblock title %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% breadcrumb "Пользователи" 'accounts:account-list' %}
{% breadcrumb account account %}
{% breadcrumb "Редактирование" %}
{% endblock breadcrumbs %}

{% block content %}
<legend>Редактирование профиля</legend>
<form action="" method="post" class="form-horizontal">
    {% csrf_token %}
    {% render_errors form %}
    {% with WIDGET_RENDER_TO_TEMPLATE="field.html" %}
    {% render_field form.email class+="form-control" %}
    {% if perms.accounts.change_account %}
    {% render_field form.level class+="form-control selectpicker" %}
    {% render_field form.type class+="form-control selectpicker" %}
    {% render_field form.admission_year class+="form-control selectpicker" %}
    {% render_field form.enrolled class+="form-control" %}
    {% render_field form.graduated class+="form-control" %}
    {% endif %}
    {% endwith %}
    {% render_button value="Сохранить" %}
</form>
{% endblock content %}
