{% extends 'base_main.html' %}
{% load views %}

{% block title %}Реквизиты{% endblock title %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% breadcrumb "Пользователи" 'accounts:account-list' query_string=request|get_query_string %}
{% breadcrumb "Реквизиты" %}
{% endblock breadcrumbs %}

{% block main_content %}
<legend>
    <span class="d-flex justify-content-between">
        <span class="text-truncate">Реквизиты</span>
        <span class="text-muted d-none d-md-flex">{{ faculty }}</span>
    </span>
</legend>
<div class="alert alert-warning" role="alert">
    Реквизиты не сохраняются на сервере в открытом виде и станут недоступны для прочтения после обновления страницы.
</div>
<table class="table table-sm table-bordered table-hover">
    <thead>
        <tr>
            <th class="text-center">Ф.И.О.</th>
            <th class="text-center" style="width: 20%;">Логин</th>
            <th class="text-center" style="width: 20%;">Пароль</th>
        </tr>
    </thead>
    <tbody>
        {% for record in credentials %}
        <tr>
            <td>{{ record.0 }}</td>
            <td>{{ record.1 }}</td>
            <td>{{ record.2 }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="d-grid">
    <a href="{% url 'accounts:account-list' %}{{ request|get_query_string }}" class="btn btn-light">
        <i class="fa-solid fa-chevron-left fa-fw fa-lg"></i> Вернуться к списку
    </a>
</div>
{% endblock main_content %}
