{% extends 'base_main.html' %}
{% load views contests %}

{% block title %}Задания{% endblock title %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% breadcrumb "Пользователи" 'accounts:account-list' %}
{% breadcrumb account account.get_absolute_url %}
{% breadcrumb "Задания" %}
{% endblock breadcrumbs %}

{% block main_content %}
<legend>
    <span class="d-flex justify-content-between">
        <span class="text-truncate">Задания студента {{ account }}</span>
        <span class="d-flex justify-content-between gap-1">
            <a href="{% url 'contests:course-list' %}" data-bs-toggle="tooltip" data-bs-placement="left" title="Все курсы"><i class="fa fa-book fa-fw"></i></a>
        </span>
    </span>
</legend>
{% render_assignment_user_table assignments credits %}
{% render_assignment_progress assignments "Прогресс" %}
{% endblock main_content %}
