{% extends 'base.html' %}
{% load views forms %}

{% block title %}
Пользователи
{% endblock title %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% breadcrumb "Пользователи" %}
{% endblock breadcrumbs %}

{% block content %}
<legend>Студенты {% if graduated %}выпускники{% elif enrolled == False %}отчисленные{% endif %}</legend>
<form id="account_list_form" action="{{ request.get_full_path }}" method="post" class="form-horizontal">
    {% csrf_token %}
    {% render_errors form %}
    {% if form.accounts.errors %}
    <div class="alert alert-danger">
        {{ form.accounts.errors }}
    </div>
    {% endif %}
    <table class="table table-bordered table-sm table-hover">
        <thead>
            <tr>
                <th class="text-center" style="width: 4%;"><input id="check_all" type="checkbox"></th>
                <th class="text-center">Фамилия, Имя</th>
                <th class="text-center" style="width: 17%;">Уровень</th>
            </tr>
        </thead>
        <tbody>
            {% for account in accounts %}
            <tr>
                <td class="text-center"><input type="checkbox" class="check" name="accounts" value="{{ account.user_id }}"></td>
                <td><a href="{{ account.get_absolute_url }}">{{ account }}</a></td>
                <td class="text-center">{{ account.get_level_display }}</td>
            </tr>
            {% empty %}
            <tr>
                <td class="text-center" colspan="3">здесь никого нет</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</form>
{% endblock content %}

{% block submenu %}
<div class="list-group">
    {% for lvl, lvl_display in levels %}
    <a href="{% url 'accounts:account-list' %}?level={{ lvl }}" class="list-group-item list-group-item-action"><i class="fa fa-circle{% if enrolled is None and lvl != level %}-o{% endif %} fa-fw"></i> {{ lvl_display }}</a>
    {% endfor %}
</div>
<div class="list-group">
    <a href="{% url 'accounts:account-list' %}?enrolled=0&graduated=1" class="list-group-item list-group-item-action"><i class="fa fa-circle{% if enrolled != False or graduated != True %}-o{% endif %} fa-fw"></i> Выпускники</a>
    <a href="{% url 'accounts:account-list' %}?enrolled=0" class="list-group-item list-group-item-action"><i class="fa fa-circle{% if enrolled != False or graduated != False %}-o{% endif %} fa-fw"></i> Отчисленные</a>
</div>
<div class="list-group">
    {% if perms.accounts.add_account %}
    <a href="{% url 'accounts:account-create-set' %}" class="list-group-item list-group-item-action"><i class="fa fa-plus fa-fw"></i> Добавить студентов</a>
    {% endif %}
</div>
<legend>Действия</legend>
<div class="list-group">
    {% if perms.accounts.change_account %}
    <button type="submit" name="action" form="account_list_form" value="level_up" class="btn btn-info btn-block"><i class="fa fa-level-up fa-fw"></i> Повысить уровень</button>
    <button type="submit" name="action" form="account_list_form" value="level_down" class="btn btn-info btn-block"><i class="fa fa-level-down fa-fw"></i> Понизить уровень</button>
    <button type="submit" name="action" form="account_list_form" value="reset_password" class="btn btn-info btn-block"><i class="fa fa-key fa-fw"></i> Сбросить пароль</button>
    <button type="submit" name="action" form="account_list_form" value="enroll" class="btn btn-info btn-block"><i class="fa fa-undo fa-fw"></i> Восстановить</button>
    <button type="submit" name="action" form="account_list_form" value="graduate" class="btn btn-success btn-block"><i class="fa fa-graduation-cap fa-fw"></i> Выпустить</button>
    <button type="submit" name="action" form="account_list_form" value="expel" class="btn btn-danger btn-block"><i class="fa fa-ban fa-fw"></i> Отчислить</button>
    {% endif %}
</div>
{% endblock submenu %}

{% block javascript %}
<script type="text/javascript">
$("#check_all").click(function () {
    $(".check").prop('checked', $(this).prop('checked'));
});
</script>
{% endblock javascript %}

