{% extends 'base.html' %}
{% load forms %}

{% block title %}
Профиль
{% endblock title %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li><a href="{% url 'contests:index' %}">Главная</a></li>
    <li><a href="{% url 'accounts:account-list' %}">Пользователи</a></li>
    <li><a href="{{ account.get_absolute_url }}">{{ account }}</a></li>
    <li class="active">Редактирование</li>
</ol>
{% endblock breadcrumbs %}

{% block content %}
<legend>Редактирование профиля</legend>
<form action="" method="post" class="form-horizontal">
    {% csrf_token %}
    {% render_errors form %}
    {% with WIDGET_RENDER_TO_TEMPLATE="field.html" offset="3" width="9" %}
    {% render_field form.email class+="form-control" %}
    {% if perms.accounts.change_account %}
    {% render_field form.level class+="form-control selectpicker" %}
    {% render_field form.type class+="form-control selectpicker" %}
    {% render_field form.admission_year class+="form-control selectpicker" %}
    {% render_field form.enrolled class+="form-control" %}
    {% render_field form.graduated class+="form-control" %}
    {% endif %}
    {% endwith %}
    {% render_button value="Сохранить" %}
</form>
{% endblock content %}
