{% extends 'base_wide.html' %}
{% load views forms contests tutorial %}

{% block title %}
Пользователи
{% endblock title %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% breadcrumb "Пользователи" %}
{% endblock breadcrumbs %}

{% block content %}
<legend>
    {% if type == 1 %}Студенты{% else %}Сотрудники{% endif %}{% if graduated %}: выпускники{% elif enrolled == False %}: отчисленные{% endif %}
    <span class="pull-right">
    {% if perms.accounts.change_account %}
        <a href="{% url 'accounts:account-update-set' %}{{ request|get_query_string }}" id="account_list_update_set" class="text-decoration-none" data-toggle="tooltip" data-placement="left" title="Перейти в режим редактирования"><i class="fa fa-edit fa-fw"></i></a>
    {% endif %}
    {% if perms.accounts.add_account %}
        <a href="{% url 'accounts:account-create-set' %}?faculty_id={{ faculty.id }}" id="account_list_create_set" class="text-success text-decoration-none" data-toggle="tooltip" data-placement="top" title="Добавить пользователей"><i class="fa fa-plus fa-fw"></i></a>
    {% endif %}
    </span>
</legend>
<form>
    <div id="account_list_filters" class="form-row">
        <div class="col-6 col-md-2">
            <select id="type_select" name="type" class="form-control selectpicker" onchange="document.location=this.options[this.selectedIndex].value;">
                <option value="{% get_full_path_with_updated_query_string request type=1 %}" {% if type == 1 %}selected{% endif %}>Студенты</option>
                <option value="{% get_full_path_with_updated_query_string request type=2 %}" {% if type == 2 %}selected{% endif %}>Модераторы</option>
                <option value="{% get_full_path_with_updated_query_string request type=3 %}" {% if type == 3 %}selected{% endif %}>Преподаватели</option>
            </select>
            <label for="type_select"></label>
        </div>
        {% if perms.accounts.add_faculty %}
        <div class="col-6 col-md-2">
            <select id="faculty_select" name="faculty" class="form-control selectpicker" onchange="document.location=this.options[this.selectedIndex].value;">
                {% for fct_id, fct_display in faculty_choices %}
                <option value="{% get_full_path_with_updated_query_string request faculty_id=fct_id %}" {% if faculty.id == fct_id %}selected{% endif %}>{{ fct_display }}</option>
                {% endfor %}
            </select>
            <label for="faculty_select"></label>
        </div>
        {% endif %}
        {% if type == 1 %}
        <div class="col-6 col-md-2">
            <select id="student_type_select" name="student_type" class="form-control selectpicker" onchange="document.location=this.options[this.selectedIndex].value;">
                <option value="{% get_full_path_with_updated_query_string request enrolled=1 graduated=0 %}" {% if enrolled == True and graduated == False %}selected{% endif %}>Учащиеся</option>
                <option value="{% get_full_path_with_updated_query_string request enrolled=0 graduated=1 %}" {% if enrolled == False and graduated == True %}selected{% endif %}>Выпускники</option>
                <option value="{% get_full_path_with_updated_query_string request enrolled=0 graduated=0 %}" {% if enrolled == False and graduated == False %}selected{% endif %}>Отчисленные</option>
            </select>
            <label for="student_type_select"></label>
        </div>
        {% if enrolled == True %}
        <div class="col-6 col-md-2">
            <select id="level_select" name="level" class="form-control selectpicker" onchange="document.location=this.options[this.selectedIndex].value;">
                {% for lvl, lvl_display in level_choices %}
                <option value="{% get_full_path_with_updated_query_string request level=lvl enrolled=1 graduated=0 type=1 %}" {% if level == lvl %}selected{% endif %}>{{ lvl_display }}</option>
                {% endfor %}
            </select>
            <label for="level_select"></label>
        </div>
        {% endif %}
        {% endif %}
        {% if perms.accounts.change_account %}
        <div class="col-12 col-md-4 ml-auto mb-3 mb-md-0">
            <div class="pull-right">
                <div id="account_list_form_actions" class="btn-toolbar" style="visibility: hidden;" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group" role="group" aria-label="First group">
                        <button type="submit" name="action" form="account_list_form" value="reset_password" class="btn btn-sm btn-info" data-toggle="tooltip" data-placement="top" title="Выставить новый пароль для профилей выбранных пользователей"><i class="fa fa-key fa-fw"></i></button>
                    </div>
                {% if type == 1 %}
                    <div class="btn-group ml-2" role="group" aria-label="Second group">
                        <button type="submit" name="action" form="account_list_form" value="level_up" class="btn btn-info" data-toggle="tooltip" data-placement="top" title="Повысить уровень выбранных студентов на 1"><i class="fa fa-level-up fa-fw"></i></button>
                        <button type="submit" name="action" form="account_list_form" value="level_down" class="btn btn-info" data-toggle="tooltip" data-placement="top" title="Понизить уровень выбранных студентов на 1"><i class="fa fa-level-down fa-fw"></i></button>
                        <button type="submit" name="action" form="account_list_form" value="enroll" class="btn btn-info" data-toggle="tooltip" data-placement="top" title="Восстановить выбранных отчисленных студентов"><i class="fa fa-undo fa-fw"></i></button>
                        <button type="submit" name="action" form="account_list_form" value="graduate" class="btn btn-success" data-toggle="tooltip" data-placement="top" title="Пометить выбранных студентов как выпускников"><i class="fa fa-graduation-cap fa-fw"></i></button>
                        <button type="submit" name="action" form="account_list_form" value="expel" class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Пометить выбранных студентов как отчисленных"><i class="fa fa-ban fa-fw"></i></button>
                    </div>
                {% endif %}
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</form>
<form id="account_list_form" action="{{ request.get_full_path }}" method="post">
    {% csrf_token %}
    {% render_form_errors form %}
    {% render_field_errors form.accounts %}
    <table id="account_list_table" class="table table-bordered table-sm table-hover">
        <thead>
            <tr>
                {% if sort != 2 %}
                <th class="text-center" style="width: 4%;">
                    <div class="custom-control custom-checkbox" data-toggle="tooltip" data-placement="top" title="Выбрать всех пользователей">
                        <input id="check_all" type="checkbox" class="custom-control-input">
                        <label for="check_all" class="custom-control-label ml-2"></label>
                    </div>
                </th>
                {% endif %}
                <th class="text-right" style="width: 4%;">№</th>
                <th class="text-center">Ф.И.О.</th>
                {% if sort == 2 %}
                    <th class="text-center" style="width: 10%;">Баллы</th>
                {% endif %}
                <th class="text-center" style="width: 17%;">Уровень</th>
            </tr>
        </thead>
        <tbody>
            {% for account in form.accounts.field.queryset %}
            <tr>
                {% if sort != 2 %}
                <td class="text-center">
                    <div class="custom-control custom-checkbox">
                        <input id="check_{{ account.user_id }}" type="checkbox" class="custom-control-input check" name="accounts" value="{{ account.user_id }}">
                        <label for="check_{{ account.user_id }}" class="custom-control-label ml-2"></label>
                    </div>
                </td>
                {% endif %}
                <td class="text-right text-monospace">{{ forloop.counter|stringformat:"02d" }}</td>
                <td class="text-nowrap"><a href="{{ account.get_absolute_url }}">{{ account }}</a></td>
                {% if sort == 2 %}
                {% account_course_credit_score account course as accs %}
                <td class="text-center text-nowrap"><span class="text-{{ accs|colorize_progress }}"><strong>{{ accs }}</strong></span></td>
                {% endif %}
                <td class="text-center text-nowrap">{% if account.is_student %}{{ account.get_level_display }}{% else %}{{ account.get_type_display }}{% endif %}</td>
            </tr>
            {% empty %}
            <tr>
                <td class="text-center" colspan="4"><div class="alert alert-info mb-0">Здесь никого нет</div></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</form>
{% endblock content %}

{% block javascript %}
<script type="text/javascript">
function toggleToolbar() {
    let checkboxes = document.getElementsByName('accounts');
    let show = false;
    checkboxes.forEach(function (value) {
        if (value.checked) show = true;
    });
    let toolbar = document.getElementById('account_list_form_actions');
    if (show)
        toolbar.style.visibility = 'visible';
    else {
        toolbar.style.visibility = 'hidden';
        document.getElementById('check_all').checked = false;
    }
}
document.getElementById('check_all').addEventListener('click', function (e) {
    let checkboxes = document.getElementsByName('accounts');
    checkboxes.forEach(function (value) {
        value.checked = e.target.checked;
    });
    toggleToolbar();
});
document.getElementsByName('accounts').forEach(function (e) {
    e.addEventListener('click', toggleToolbar);
});
</script>
<script>
driver.defineSteps([
    {% if request.user.account.is_moderator %}
    {% if not request|have_passed_step:'account_list_table' %}
    {
        view: '{% tutorial_step_view request %}',
        step: 'account_list_table',
        element: '#account_list_table',
        popover: {
            title: "Список пользователей",
            description: "Это список всех пользователей выбранной группы.",
            position: 'top'
        }
    },
    {% endif %}
    {% if not request|have_passed_step:'account_list_filters' %}
    {
        view: '{% tutorial_step_view request %}',
        step: 'account_list_filters',
        element: '#account_list_filters',
        popover: {
            title: "Фильтр списка пользователей",
            description: "Здесь Вы можете выбирать, какую группу пользователей отображать. Для каждой группы также доступны дополнительные критерии.",
            position: 'bottom'
        }
    },
    {% endif %}
    {% if not request|have_passed_step:'account_list_update_set' %}
    {
        view: '{% tutorial_step_view request %}',
        step: 'account_list_update_set',
        element: '#account_list_update_set',
        popover: {
            title: " ",
            description: "С помощью этой кнопки Вы можете перейти к редактированию пользователей.",
            position: 'left'
        }
    },
    {% endif %}
    {% if not request|have_passed_step:'account_list_create_set' %}
    {
        view: '{% tutorial_step_view request %}',
        step: 'account_list_create_set',
        element: '#account_list_create_set',
        popover: {
            title: " ",
            description: "С помощью этой кнопки Вы можете добавить новых пользователей.",
            position: 'left'
        }
    },
    {% endif %}
    {% endif %}
]);
</script>
{% endblock javascript %}

