{% extends 'base.html' %}
{% load views %}

{% block title %}
Реквизиты
{% endblock title %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% breadcrumb "Пользователи" 'accounts:account-list' %}
{% breadcrumb "Реквизиты" %}
{% endblock breadcrumbs %}

{% block content %}
<legend>Реквизиты</legend>
<div class="alert alert-warning" role="alert">
    <p>Реквизиты не сохраняются на сервере и будут утеряны при обновлении страницы.</p>
</div>
<table class="table table-bordered table-sm table-hover">
    <thead>
        <tr>
            <th class="text-center">Фамилия, Имя</th>
            <th class="col-md-2 text-center">Логин</th>
            <th class="col-md-2 text-center">Пароль</th>
        </tr>
    </thead>
    <tbody>
        {% for record in credentials %}
        <tr>
            <td>{{ record.0 }} {{ record.1 }}</td>
            <td>{{ record.2 }}</td>
            <td>{{ record.3 }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}

{% block submenu %}
<div class="list-group mb-3">
    <a href="{% url 'accounts:account-list' %}" class="list-group-item list-group-item-action"><i class="fa fa-users fa-fw"></i> Вернуться к списку</a>
</div>
{% endblock submenu %}
