<div class="row mb-3">
    <label class="col-md-2 col-form-label" for="{{ field.id_for_label }}">
        {{ field.label }}{{ field.label_suffix }}
    </label>
    <div class="col-md-10 d-flex align-items-center">
        <div class="form-check form-switch">
            {{ field }}
            {% if field.errors %}
            <div class="invalid-feedback">
                {% for error in field.errors %}{{ error }} {% endfor %}
            </div>
            {% endif %}
            {% if field.help_text %}
            <div class="form-text">{{ field.help_text }}</div>
            {% endif %}
        </div>
    </div>
</div>
