{% extends 'base_main.html' %}
{% load views contests static %}

{% block title %}Курсы{% endblock title %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% breadcrumb "Курсы" %}
{% endblock breadcrumbs %}

{% block main_content %}
<legend>
    <span class="d-flex justify-content-between">
        <span class="text-truncate">Курсы</span>
        <span class="d-flex justify-content-between gap-2">
            {% if perms.contests.add_course %}
            <a href="{% url 'contests:course-create' %}" class="btn btn-light" data-bs-toggle="tooltip" data-bs-placement="left" title="Добавить курс">
                <svg class="contest-icon text-success"><use href="{% static 'icons/sprites/solid.svg' %}#plus"></use></svg>
            </a>
            {% endif %}
        </span>
    </span>
</legend>
<select class="form-control selectpicker mb-3" onchange="document.location=this.options[this.selectedIndex].value;" aria-label="Факультет">
    {% for f in faculties %}
    <option value="{% get_full_path_with_updated_query_string request faculty_id=f.id %}" {% if f.id == faculty.id %}selected{% endif %}>{{ f.short_name }}</option>
    {% endfor %}
</select>
<div class="d-flex flex-column">
    {% for course in courses %}
    {% ifchanged course.level %}
    {% if not forloop.first %}</div>{% endif %}
    <h5>{{ course.get_level_display }}</h5>
    <div class="d-flex flex-column flex-md-row flex-md-wrap gap-2 mb-3">
    {% endifchanged %}
        <div class="contest-course-card card">
            <div class="card-body">
                <a class="card-title h6 stretched-link text-reset text-decoration-none" href="{{ course.get_absolute_url }}">{{ course }}</a>
            </div>
        </div>
    {% if forloop.last %}</div>{% endif %}
    {% empty %}
    <div class="alert alert-info" role="alert">
        Курсы еще не добавлены
    </div>
    {% endfor %}
</div>
{% endblock main_content %}
