{% extends 'base_main.html' %}
{% load views accounts contests tutorial markdown static %}

{% block title %}Курс{% endblock title %}

{% block main_links %}
<link href="{% static 'ckeditor/ckeditor.content.css' %}" rel="stylesheet">
{% endblock main_links %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% breadcrumb course %}
{% endblock breadcrumbs %}

{% block main_content %}
<legend>
    <span class="d-flex justify-content-between flex-column flex-md-row">
        <span class="text-truncate">{{ course }}</span>
        <span class="d-flex justify-content-between gap-1">
            {% if 'Add contest' in permissions or request|has_author_permission:course or request|has_owner_permission:course %}
            <a href="{% url 'contests:contest-create' course.id %}" class="text-success" data-bs-toggle="tooltip" data-bs-placement="left" title="Добавить раздел"><i class="fa fa-plus fa-fw"></i></a>
            {% endif %}
            {% if 'View assignment table' in permissions or request|has_author_permission:course or request|has_owner_permission:course or perms.contests.view_assignment_list %}
            <a href="{% url 'contests:assignment-table' course.id %}" data-bs-toggle="tooltip" data-bs-placement="top" title="Таблица заданий"><i class="fa fa-table fa-fw"></i></a>
            {% endif %}
            {% if 'View submission list' in permissions or request|has_author_permission:course or request|has_owner_permission:course or perms.contests.view_submission_list%}
            <a href="{% url 'contests:submission-list' course.id %}" data-bs-toggle="tooltip" data-bs-placement="top" title="Посылки"><i class="fa fa-tasks fa-fw"></i></a>
            {% endif %}
            {% if request|has_owner_permission:course or request|has_author_permission:course or request|has_leader_permission:course %}
                {% if request|course_filtered:course %}
            <a href="{% url 'contests:filter-delete' %}?course_id={{ course.id }}&from={{ request.get_full_path }}" data-bs-toggle="tooltip" data-bs-placement="top" title="Открепить от главной страницы"><i class="fa fa-bookmark fa-fw"></i></a>
                {% else %}
            <a href="{% url 'contests:filter-create' %}?course_id={{ course.id }}&from={{ request.get_full_path }}" data-bs-toggle="tooltip" data-bs-placement="top" title="Закрепить на главной странице"><i class="fa fa-bookmark-o fa-fw"></i></a>
                {% endif %}
            {% endif %}
            {% if perms.contests.change_course or request|has_owner_permission:course or request|has_author_permission:course %}
            <a id="courseUpdateButton" href="{% url 'contests:course-update' course.id %}" data-bs-toggle="tooltip" data-bs-placement="top" title="Редактировать"><i class="fa fa-edit fa-fw"></i></a>
            {% endif %}
            {% if perms.contests.delete_course or request|has_owner_permission:course %}
            <span class="dropstart">
                <a href="#" role="button" id="dropdownMoreMenuLink" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-h fa-fw"></i></a>
                <div class="dropdown-menu shadow-sm" aria-labelledby="dropdownMoreMenuLink">
                    <a href="{% url 'contests:course-delete' course.id %}" class="dropdown-item text-danger"><i class="fa fa-trash-o fa-fw"></i> Удалить</a>
                </div>
            </span>
            {% endif %}
        </span>
    </span>
</legend>
<div class="accordion mb-3" id="courseDetails">
    <div class="accordion-item">
        <h2 class="accordion-header" id="courseDescriptionHeader">
            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#courseDescriptionCollapse" aria-expanded="true" aria-controls="courseDescriptionCollapse">
                Описание курса
            </button>
        </h2>
        <div class="accordion-collapse collapse show" id="courseDescriptionCollapse" aria-labelledby="courseDescriptionHeader">
            <div class="accordion-body ck-content overflow-scroll">
            {% if course.get_description_type_display == 'markdown' %}
                {{ course.description|markdown|safe }}
            {% else %}
                {{ course.description|safe }}
            {% endif %}
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="courseContestsHeader">
            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#courseContestsCollapse" aria-expanded="true" aria-controls="courseContestsCollapse">
                Разделы
            </button>
        </h2>
        <div class="accordion-collapse collapse show" id="courseContestsCollapse" aria-labelledby="courseContestsHeader">
            <div class="accordion-body">
                {% include 'contests/contest/contest_list.html' with contests=course.contest_set.all %}
            </div>
        </div>
    </div>
</div>
<div class="row mb-3">
    {% if course.title_unofficial and course.title_unofficial != course.title_official %}
    <div class="col-12">
        <div class="col-12 text-muted">Официальное название курса: {{ course.title_official }}</div>
    </div>
    {% endif %}
    <div class="col-12 col-md-6">
        <div class="col-12 text-muted text-start">Факультет: {{ course.faculty }}</div>
        <div class="col-12 text-muted text-start">Уровень: {{ course.get_level_display }}</div>
    </div>
    <div class="col-12 col-md-6">
        <div class="col-12 text-muted text-start text-md-end">Добавлен: {{ course.date_created|date:'d E Y г.' }}</div>
        <div class="col-12 text-muted text-start text-md-end">Добавил(а): <a href="{{ course.owner.account.get_absolute_url }}" class="text-muted">{{ course.owner.account }}</a></div>
    </div>
</div>
<div class="d-grid">
    <a class="btn btn-light border mb-3" href="{% url 'contests:course-discussion' course.id %}">
        {% unread_comments_count request.user.account course as ucc %}
        <i class="fa fa-comments fa-fw"></i> Обсуждение{% if ucc > 0 %} <span id="unread_comments_count" class="badge rounded-pill bg-secondary align-middle">{{ ucc }}</span>{% endif %}
    </a>
</div>
<legend>
    <span class="d-flex justify-content-between">
        <span class="text-truncate">Автор курса</span>
        <span class="d-flex justify-content-between gap-1">
            {% if perms.contests.change_course or request|has_owner_permission:course %}
            <a href="{% url 'contests:course-update-author' course.id %}" data-bs-toggle="tooltip" data-bs-placement="left" title="Изменить автора курса"><i class="fa fa-edit fa-fw"></i></a>
            {% endif %}
        </span>
    </span>
</legend>
<div class="row">
    {% if course.author %}
    <div class="col-12 col-md-4">
        {% include 'accounts/account/account_card.html' with account=course.author.account link=True %}
    </div>
    {% else %}
    <div class="col-12">
        <div class="alert alert-info">
            Автор этого курса не назначен. {% if perms.contests.change_course or request|has_owner_permission:course %}Вы можете это <a href="{% url 'contests:course-update-author' course.id %}">исправить</a>.{% endif %}
        </div>
    </div>
    {% endif %}
</div>

<legend>
    <span class="d-flex justify-content-between">
        <span class="text-truncate">Преподаватели</span>
        <span class="d-flex justify-content-between gap-1">
            {% if perms.contests.change_course or request|has_owner_permission:course or request|has_author_permission:course %}
            <a href="{% url 'contests:course-update-leaders' course.id %}" data-bs-toggle="tooltip" data-bs-placement="left" title="Изменить ведущих преподавателей"><i class="fa fa-edit fa-fw"></i></a>
            <a href="{% url 'contests:course-rules' course.id %}" data-bs-toggle="tooltip" data-bs-placement="left" title="Изменить права преподавателей"><i class="fa fa-edit fa-fw"></i></a>
            {% endif %}
        </span>
    </span>
</legend>
<div class="row">
    {% for leader in course.leaders.all %}
    <div class="col-12 col-md-4">
        {% include 'accounts/account/account_card.html' with account=leader.account link=True %}
    </div>
    {% empty %}
    <div class="col-12">
        <div class="alert alert-info">
            Ведущие преподаватели на этом курсе не назначены. {% if perms.contests.change_course or request|has_author_permission:course or request|has_owner_permission:course %}Вы можете это <a href="{% url 'contests:course-update-leaders' course.id %}">исправить</a>.{% endif %}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock main_content %}

{% block main_scripts %}
<script src="{% static 'mathjax/es5/tex-chtml.js' %}" type="text/javascript" defer></script>
<script type="text/javascript">
driverObj.setSteps([
    {% if request.user.account.is_instructor or request.user.is_superuser %}
    {% if not request|have_passed_step:'course_description' %}
    {
        view: '{% tutorial_step_view request %}',
        step: 'course_description',
        element: '#courseDescriptionCollapse',
        popover: {
            title: "Описание",
            description: "Это краткое описание целей, задач, тем и разделов курса. " +
                "Вы можете изменить или дополнить описание курса.",
            side: 'bottom'
        }
    },
    {% endif %}
    {% if not request|have_passed_step:'course_update_button' %}
    {
        view: '{% tutorial_step_view request %}',
        step: 'course_update_button',
        element: '#courseUpdateButton',
        popover: {
            title: "Редактирование",
            description: "Чтобы перейти на страницу редактирования курса, кликните по этой кнопке.",
            side: 'left'
        }
    },
    {% endif %}
    {% if not request|have_passed_step:'course_contests' %}
    {
        view: '{% tutorial_step_view request %}',
        step: 'course_contests',
        element: '#courseContestsCollapse',
        popover: {
            title: "Разделы",
            description: "Это структурное разделение курса на небольшие части, содержащие материалы по одной или " +
                "нескольким темам. К разделу Вы можете прикрепить учебные материалы в виде изображений, видеозаписей, " +
                "документов <em class='text-primary'>Microsoft Word</em>, <em class='text-success'>Excel</em>, " +
                "<em class='text-danger'>PowerPoint</em> и др.",
            side: 'top',
            popoverClass: 'driver-popover-md'
        }
    },
    {% endif %}
    {% if not request|have_passed_step:'course_contest_create_button' %}
    {
        view: '{% tutorial_step_view request %}',
        step: 'course_contest_create_button',
        element: '#contestCreateButton',
        popover: {
            title: "Добавить раздел",
            description: "Начать добавление раздела к этому курсу можно нажав на кнопку &laquo;Добавить раздел&raquo;",
            side: 'top',
            popoverClass: 'driver-popover-md'
        }
    },
    {% endif %}
    {% endif %}
])
</script>
{% endblock main_scripts %}
