{% extends 'base_wide.html' %}
{% load views forms %}

{% block title %}
Курс
{% endblock title %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% breadcrumb course course %}
{% breadcrumb "Удаление" %}
{% endblock breadcrumbs %}

{% block content %}
<legend>Удаление курса</legend>
{% if action == 'delete_permanently' %}
<form action="" method="post">
    {% csrf_token %}
    <div class="alert alert-info" role="alert">
        Вместе с курсом будут безвозвратно удалены:
        <ul>
            <li>все разделы этого курса</li>
            <li>все задачи из разделов этого курса</li>
            <li>все задания студентов по этому курсу, в том числе итоговые оценки</li>
            <li>все комментарии в обсуждениях курса, его разделов и задач</li>
        </ul>
    </div>
    <div class="alert alert-warning text-center" role="alert">
        Вы точно хотите удалить курс: {{ course }}?
    </div>
    <div class="d-grid">
        <input class="btn btn-danger" type="submit" value="Удалить" />
    </div>
</form>
{% else %}
{% render_delete_form course %}
{% endif %}
{% endblock content %}
