{% extends 'base.html' %}
{% load views accounts contests markdown static %}

{% block title %}
Курс
{% endblock title %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% breadcrumb course %}
{% endblock breadcrumbs %}

{% block content %}
<legend>{{ course }} <small class="text-muted">{{ course.get_level_display }}</small></legend>
<a class="btn btn-light btn-block border mb-3" href="{% url 'contests:course-discussion' course.id %}">
    {% unread_comments_count request.user.account course as ucc %}
    Обсуждение{% if ucc > 0 %} <span id="unread_comments_count" class="badge badge-pill badge-secondary align-middle">{{ ucc }}</span>{% endif %}
</a>
<div class="accordion mb-3" id="contest_details">
    <div class="card">
        <div class="card-header" id="course_description">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                        data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Описание курса
                </button>
            </h2>
        </div>
        <div id="collapseOne" class="collapse {% if request.user.account.type == 1 %}show{% endif %}" aria-labelledby="course_description">
            <div class="card-body">
                {{ course.description|markdown|safe }}
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="course_contests">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                        data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    Разделы
                </button>
            </h2>
        </div>
        <div id="collapseTwo" class="collapse show" aria-labelledby="course_contests">
            <div class="card-body">
                {% include 'list.html' with lst=course.contest_set.all mb=0 %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block submenu %}
<div class="list-group mb-3">
    {% if perms.contests.view_assignment_table %}
    <a href="{% url 'contests:assignment-table' course.id %}" class="list-group-item list-group-item-action"><i class="fa fa-table fa-fw"></i> Таблица заданий</a>
    {% endif %}
    {% if perms.contests.view_submission_list %}
    <a href="{% url 'contests:submission-list' course.id %}" class="list-group-item list-group-item-action"><i class="fa fa-tasks fa-fw"></i> Посылки</a>
    {% endif %}
</div>
<div class="list-group mb-3">
    {% if perms.account.add_subscription %}
        {% if request.user.id in subscribers_ids %}
            <a href="{% url 'accounts:subscription-delete' subscription_id 0 %}" class="list-group-item list-group-item-action" title="Подписка на оповещения о комметнариях к курсу и всем вложенным сущностям"><i class="fa fa-bell-slash fa-fw"></i> Отписаться</a>
        {% else %}
            <a href="{% url 'accounts:subscription-create' 'course' course.id 0 %}" class="list-group-item list-group-item-action" title="Подписка на оповещения о комметнариях к курсу и всем вложенным сущностям"><i class="fa fa-bell fa-fw"></i> Подписаться</a>
        {% endif %}
    {% endif %}
    {% if perms.contests.change_course %}
    <a href="{% url 'contests:course-update' course.id %}" class="list-group-item list-group-item-action"><i class="fa fa-edit fa-fw"></i> Редактировать курс</a>
    {% endif %}
    {% if perms.contests.delete_course %}
    <a href="{% url 'contests:course-delete' course.id %}" class="list-group-item list-group-item-action"><i class="fa fa-trash-o fa-fw"></i> Удалить курс</a>
    {% endif %}
</div>
<div class="list-group mb-3">
    {% if perms.contests.add_contest %}
    <a href="{% url 'contests:contest-create' course.id %}" class="list-group-item list-group-item-action"><i class="fa fa-plus fa-fw"></i> Добавить раздел</a>
    {% endif %}
</div>

{% if course.leaders.exists %}
<legend>Преподаватели курса:</legend>
{% for leader in course.leaders.all %}
{% include 'accounts/account/account_card.html' with account=leader.account %}
{% endfor %}
{% endif %}
{% endblock submenu %}

{% block javascript %}
<script src="{% static 'MathJax/es5/tex-chtml.js' %}" type="text/javascript"></script>
<!--<script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS_CHTML"></script>-->
{% endblock javascript %}
