{% extends 'base_main.html' %}
{% load views forms contests %}

{% block title %}Завершение курса{% endblock title %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% breadcrumb course course %}
{% breadcrumb "Задания" 'contests:assignment-table' course.id query_string=request|get_query_string %}
{% breadcrumb "Завершение курса" %}
{% endblock breadcrumbs %}

{% block main_content %}
<legend>Завершение курса {{ course }}</legend>
<div class="alert alert-info alert-dismissible fade show">
    В таблице ниже представлены студенты курса &laquo;{{ course }}&raquo;, которым ранее был назначен зачет.<br>
    Отметьте галочкой тех студентов из списка, кого Вы хотите перевести на следующий уровень, и нажмите кнопку &laquo;Завершить&raquo;.
    <hr>
    Студенты с оценкой в зачет выше &laquo;2&raquo; отмечены по-умолчанию.
</div>
<form action="" method="post">
    {% csrf_token %}
    {% include 'forms/errors/non_field_errors.html' %}
    {% include 'forms/errors/field_errors.html' with field=form.level_ups %}
    <table class="table table-bordered table-sm table-hover">
        <thead>
            <tr>
                <th style="width: 2%;">
                    <div class="form-check ms-2" data-bs-toggle="tooltip" data-bs-placement="top" title="Выбрать всех пользователей">
                        <input class="form-check-input" id="check_all" type="checkbox" {% if form.level_ups.field.initial.exists %}checked="checked"{% endif %} aria-label="Выбрать всех студентов">
                    </div>
                </th>
                <th class="text-end" style="width: 3%;">№</th>
                <th class="text-center">Ф.И.О.</th>
                <th class="text-center" style="width: 12%;">Факультет</th>
                <th class="text-center" style="width: 17%;">Уровень</th>
                <th class="text-center" style="width: 6%;">Зачет</th>
            </tr>
        </thead>
        <tbody>
            {% for account in form.level_ups.field.queryset %}
            <tr>
                <td>
                    <div class="form-check ms-2">
                        <input id="check_{{ account.user_id }}" type="checkbox" class="form-check-input check" name="level_ups" value="{{ account.user_id }}" {% if account in form.level_ups.field.initial %}checked="checked"{% endif %} aria-label="Выбрать студента">
                    </div>
                </td>
                <td class="text-end font-monospace">{{ forloop.counter|stringformat:"02d" }}</td>
                <td class="text-nowrap"><a href="{{ account.get_absolute_url }}">{{ account }}</a></td>
                <td class="text-center">{{ account.faculty.short_name }}</td>
                <td class="text-center text-nowrap">{% if account.is_student %}{{ account.get_level_display }}{% else %}{{ account.get_type_display }}{% endif %}</td>
                <td class="text-center">
                    <a href="{% url 'contests:credit-update' account.credit_id %}" class="contest-status-number contest-status-{{ account.credit_score|colorize }}" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Оценка">
                        {{ account.credit_score|default:'-' }}
                    </a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td class="text-center" colspan="6"><div class="alert alert-info mb-0">Студентов, которые могут завершить курс, не найдено</div></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include 'forms/submit_button.html' with value="Завершить" %}
</form>
{% endblock main_content %}

{% block main_scripts %}
<script type="text/javascript">
document.getElementById('check_all').addEventListener('click', function (e) {
    let checkboxes = document.getElementsByName('level_ups');
    checkboxes.forEach(function (value) {
        value.checked = e.target.checked;
    });
});
</script>
{% endblock main_scripts %}
