{% extends 'base_main.html' %}
{% load views accounts comments contests markdown static %}

{% block title %}Курс{% endblock title %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% breadcrumb course course %}
{% breadcrumb "Обсуждение" %}
{% endblock breadcrumbs %}

{% block main_content %}
<legend>Обсуждение курса {{ course.title }}</legend>
<div class="d-grid mb-3">
    <div class="btn-group">
        <a class="btn btn-light border col-md-2" href="{% url 'contests:course-detail' course.id %}">
            <i class="fa fa-chevron-left fa-fw"></i> Вернуться к курсу
        </a>
        <a class="btn btn-light border col-md-10 disabled">
            {% unread_comments_count request.user.account course as ucc %}
            <i class="fa fa-comments fa-fw"></i> Обсуждение{% if ucc > 0 %} <span id="unread_comments_count" class="badge rounded-pill bg-secondary align-middle">{{ ucc }}</span>{% endif %}
        </a>
    </div>
</div>
{% include 'accounts/comment/comment_list.html' with obj=course %}
{% endblock main_content %}
