{% extends 'base.html' %}
{% load views %}

{% block title %}
Курсы
{% endblock title %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% breadcrumb "Курсы" %}
{% endblock breadcrumbs %}

{% block content %}
<legend>Курсы</legend>
{% include 'list.html' with lst=courses warn_if_empty="Курсы еще не добавлены" %}
{% endblock content %}

{% block submenu %}
<div class="list-group mb-3">
    {% if perms.contests.add_course %}
    <a href="{% url 'contests:course-create' %}" class="list-group-item list-group-item-action"><i class="fa fa-plus fa-fw"></i> Добавить курс</a>
    {% endif %}
</div>
{% endblock submenu %}
