{% extends 'base.html' %}
{% load views forms %}

{% block title %}
Курс
{% endblock title %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% if course %}
{% breadcrumb course course %}
{% breadcrumb "Редактирование" %}
{% else %}
{% breadcrumb "Новый курс" %}
{% endif %}
{% endblock breadcrumbs %}

{% block content %}
<legend>{% if course %}Редактирование{% else %}Добавление{% endif %} курса</legend>
<form action="" method="post" class="form-horizontal">
    {% csrf_token %}
    {% render_form_errors form %}
    {% with WIDGET_RENDER_TO_TEMPLATE="field.html" WIDGET_ERROR_CLASS="is-invalid" %}
    {{ form.media }}
    {% render_field form.title class+="form-control" %}
    {% render_field form.description class+="form-control" %}
    {% render_field form.level class+="form-control selectpicker" %}
    {% render_field form.leaders class+="form-control selectpicker" %}
    {% endwith %}
    {% render_submit_button value="Сохранить" %}
</form>
{% endblock content %}
