{% extends 'base_wide.html' %}
{% load views accounts comments contests markdown static %}

{% block title %}
Курс
{% endblock title %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% breadcrumb course %}
{% endblock breadcrumbs %}

{% block content %}
<legend>Обсуждение курса {{ course }} <small class="text-muted">{{ course.get_level_display }}</small></legend>
<div class="btn-group btn-block mb-3">
    <a class="btn btn-light border col-6" href="{% url 'contests:course-detail' course.id %}">
        <i class="fa fa-chevron-left fa-fw"></i> Вернуться к курсу
    </a>
    <a class="btn btn-light border col-6 disabled">
        {% unread_comments_count request.user.account course as ucc %}
        <i class="fa fa-comments fa-fw"></i> Обсуждение{% if ucc > 0 %} <span id="unread_comments_count" class="badge badge-pill badge-secondary align-middle">{{ ucc }}</span>{% endif %}
    </a>
</div>
{% render_comments course comments %}
{% endblock content %}

{% block javascript %}
<script src="{% static 'MathJax/es5/tex-chtml.js' %}" type="text/javascript"></script>
<script src="{% static 'waypoints/lib/jquery.waypoints.min.js' %}" type="text/javascript"></script>
<script src="{% static 'waypoints/lib/shortcuts/infinite.min.js' %}" type="text/javascript"></script>
<script>
    var infinite = new Waypoint.Infinite({
        element: $('.comment-list')[0],
        items: '.comment-list-item',
        more: '.comment-list-more'
    });
</script>
{% endblock javascript %}
