{% extends 'base.html' %}
{% load views forms %}

{% block title %}
Начать курс
{% endblock title %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% breadcrumb course course %}
{% breadcrumb "Начать курс" %}
{% endblock breadcrumbs %}

{% block content %}
<legend>Начало курса</legend>
<form action="" method="post" class="form-horizontal">
    {% csrf_token %}
    {% render_errors form %}
    {% with WIDGET_RENDER_TO_TEMPLATE="field.html" %}
    {% render_field form.runner_ups class+="form-control selectpicker" data-actions-box="true" %}
    {% render_field form.non_credited class+="form-control selectpicker" data-actions-box="true" %}
    {% endwith %}
    {% render_button value="Начать" %}
</form>
{% endblock content %}
