{% extends 'base_wide.html' %}
{% load views contests %}

{% block title %}
Курсы
{% endblock title %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% breadcrumb "Курсы" %}
{% endblock breadcrumbs %}

{% block content %}
<legend>
    <div class="d-flex justify-content-between">
        <span class="text-truncate">Курсы</span>
        <span class="d-flex justify-content-between">
        {% if perms.contests.add_course %}
            <a href="{% url 'contests:course-create' %}" class="text-success" data-toggle="tooltip" data-placement="left" title="Добавить курс"><i class="fa fa-plus fa-fw"></i></a>
        {% endif %}
        </span>
    </div>
</legend>
<div class="mb-3">
    <div class="btn-group btn-group-sm" role="group" aria-label="Факультет">
        {% for f in faculties %}
        <a href="{% get_full_path_with_updated_query_string request faculty_id=f.id %}" class="btn btn-light {% if f.id == faculty.id %}active{% endif %}" {% if f.id == faculty.id %}aria-pressed="true"{% endif %}>{{ f.short_name }}</a>
        {% endfor %}
    </div>
</div>
{% if courses %}
<div class="table-responsive-lg mb-3">
    <table class="table">
        <thead>
            <th>Название</th>
            <th class="text-end">Уровень</th>
{#            <th class="text-center">Средняя оценка</th>#}
{#            <th class="text-center">Сложность</th>#}
        </thead>
        <tbody>
            {% for course in courses %}
            <tr>
                <td style="vertical-align: middle;"><a href="{{ course.get_absolute_url }}" class="me-auto text-truncate">{{ course }}</a></td>
                <td class="text-end text-truncate" style="width: 15%;">{{ course.get_level_display }}</td>
{#                <td class="text-center" style="vertical-align: middle; width: 14%;">#}
{#                    <span class="text-{{ course.avg_credit_score|colorize_course_avg_score }}"><strong>{{ course.avg_credit_score }}</strong></span>#}
{#                </td>#}
{#                <td class="text-center" style="vertical-align: middle; width: 14%;">#}
{#                    <span class="numtus status-{{ course.difficulty|colorize_course_difficulty }}">{{ course.difficulty|course_difficulty }}</span>#}
{#                </td>#}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<div class="alert alert-info mb-3" role="alert">
    Курсы еще не добавлены
</div>
{% endif %}
{% endblock content %}
