{% extends 'base_main.html' %}
{% load views forms tutorial static %}

{% block title %}Курс{% endblock title %}

{% block main_links %}
<link href="{% static 'ckeditor/ckeditor.min.css' %}" rel="stylesheet">
<link href="{% static 'ckeditor/ckeditor.fix.css' %}" rel="stylesheet">
<link href="{% static 'easymde/easymde.min.css' %}" rel="stylesheet">
<link href="{% static 'easymde/easymde.fix.css' %}" rel="stylesheet">
{% endblock main_links %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% if course %}
{% breadcrumb course course %}
{% breadcrumb "Редактирование" %}
{% else %}
{% breadcrumb "Новый курс" %}
{% endif %}
{% endblock breadcrumbs %}

{% block main_content %}
<legend>{{ title }}</legend>
<form action="" method="post">
    {% csrf_token %}
    {% include 'forms/errors/non_field_errors.html' %}
    {% with WIDGET_RENDER_TO_TEMPLATE="forms/fields/field.html" WIDGET_ERROR_CLASS="is-invalid" %}
    <div id="field_title_official">
        {% render_field form.title_official class+="form-control" %}
    </div>
    <div id="field_title_unofficial">
        {% render_field form.title_unofficial class+="form-control" %}
    </div>
    <div class="mb-3" id="field_description_type">
        <label class="form-label" for="description_type">Тип редактора</label>
        <div class="d-grid">
            <div class="btn-group" role="group">
                <input class="btn-check" type="radio" name="description_type" id="ckeditor" value="1" autocomplete="off" {% if form.description_type.value == 1 %}checked{% endif %}>
                <label class="btn btn-light" for="ckeditor"><i class="fa fa-file-word-o"></i> Обычный</label>
                <input class="btn-check" type="radio" name="description_type" id="markdown" value="2" autocomplete="off" {% if form.description_type.value == 2 %}checked{% endif %}>
                <label class="btn btn-light" for="markdown"><i class="fa fa-file-code-o"></i> Markdown</label>
            </div>
        </div>
    </div>
    {% endwith %}
    <div id="field_description">
        {% with WIDGET_RENDER_TO_TEMPLATE="forms/fields/textarea.html" %}
        {% render_field form.description class+="form-control" %}
        {% endwith %}
    </div>
    {% with WIDGET_RENDER_TO_TEMPLATE="forms/fields/field.html" WIDGET_ERROR_CLASS="is-invalid" %}
    <div id="field_faculty">
        {% render_field form.faculty class+="form-control selectpicker" %}
    </div>
    <div id="field_level">
        {% render_field form.level class+="form-control selectpicker" %}
    </div>
    {% endwith %}
    <div id="form_submit_button">
        {% include 'forms/submit_button.html' with value="Сохранить" %}
    </div>
</form>
{% endblock main_content %}

{% block main_scripts %}
<script src="{% static 'ckeditor/ckeditor.min.js' %}" type="text/javascript"></script>
<script src="{% static 'ckeditor/ckeditor.config.js' %}" type="text/javascript"></script>
<script src="{% static 'easymde/easymde.min.js' %}" type="text/javascript"></script>
<script src="{% static 'easymde/easymde.config.js' %}" type="text/javascript"></script>
<script type="text/javascript">
document.addEventListener("DOMContentLoaded", function(event) {
    {% if form.description_type.value == 1 %}
    initCKEditor(document.getElementById('id_description'), 'default');
    {% else %}
    initMDEditor(document.getElementById('id_description'), 'default');
    {% endif %}

    document.getElementsByName('description_type').forEach(function (element) {
        element.addEventListener('change', function (event) {
            if (event.target.checked) {
                if (event.target.id === 'markdown') {
                    dropCKEditor();
                    initMDEditor(document.getElementById('id_description'), 'default');
                    //initCKEditor(document.getElementById('id_description'), 'markdown');
                } else {
                    dropMDEditor();
                    //dropCKEditor();
                    initCKEditor(document.getElementById('id_description'), 'default');
                }
            }
        });
    });
});

driver.defineSteps([
    {% if request.user.account.is_instructor or request.user.is_superuser %}
    {% if not request|have_passed_step:'field_title_official' %}
    {
        view: '{% tutorial_step_view request %}',
        step: 'field_title_official',
        element: '#field_title_official',
        popover: {
            title: "Официальное название",
            description: "Официальное название курса будет использовано для автоматического заполнения отчетных документов. " +
                "<br>Это поле обязательное. Введите официальное название Вашего курса и нажмите &laquo;Далее&raquo;",
            position: 'bottom',
            className: 'driver-popover-md'
        }
    },
    {% endif %}
    {% if not request|have_passed_step:'field_title_unofficial' %}
    {
        view: '{% tutorial_step_view request %}',
        step: 'field_title_unofficial',
        element: '#field_title_unofficial',
        popover: {
            title: "Неофициальное название",
            description: "Неофициальное название курса будет использовано для отображения курса в Контесте для студентов и преподавателей. " +
                "<br>Это поле может быть пустым. Если Вы оставите поле незаполненным, то при отображении курса в Контесте будет использовано его официальное название",
            position: 'bottom',
            className: 'driver-popover-md'
        }
    },
    {% endif %}
    {% if not request|have_passed_step:'field_description' %}
    {
        view: '{% tutorial_step_view request %}',
        step: 'field_description',
        element: '#field_description',
        popover: {
            title: "Описание",
            description: "В описание курса можно добавлять изображения" +
                "",
            position: 'top'
        }
    },
    {% endif %}
    {% if not request|have_passed_step:'field_faculty' %}
    {
        view: '{% tutorial_step_view request %}',
        step: 'field_faculty',
        element: '#field_faculty',
        popover: {
            title: "Факультет",
            description: "Это поле устанавливается автоматически",
            position: 'bottom'
        }
    },
    {% endif %}
    {% if not request|have_passed_step:'field_level' %}
    {
        view: '{% tutorial_step_view request %}',
        step: 'field_level',
        element: '#field_level',
        popover: {
            title: "Уровень",
            description: "Выберите семестр, в котором начинается курс. Если курс годичный, то выберите первый семестр курса",
            position: 'bottom'
        }
    },
    {% endif %}
    {% if not request|have_passed_step:'form_submit_button' %}
    {
        view: '{% tutorial_step_view request %}',
        step: 'form_submit_button',
        element: '#form_submit_button',
        popover: {
            title: "Сохранение",
            description: "Когда заполните необходимые поля, нажмите на кнопку &laquo;Сохранить&raquo;",
            position: 'top'
        }
    },
    {% endif %}
    {% endif %}
])
</script>
{% endblock main_scripts %}
