{% extends 'base_main.html' %}
{% load views forms contests %}

{% block title %}Начало курса{% endblock title %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% breadcrumb course course %}
{% breadcrumb "Задания" 'contests:assignment-table' course.id query_string=request|get_query_string %}
{% breadcrumb "Начало курса" %}
{% endblock breadcrumbs %}

{% block main_content %}
<legend>Начало курса {{ course }}</legend>
<div class="alert alert-info alert-dismissible fade show">
    В таблице ниже представлены студенты, которым можно назначить зачет по курсу &laquo;{{ course }}&raquo;, после чего они появятся в таблице заданий у преподавателей.<br>
    Отметьте галочкой тех студентов из списка, кому Вы хотите назначить зачет, и нажмите кнопку &laquo;Начать&raquo;.
    <hr>
    Студенты, чей уровень совпадает с уровнем курса или меньше его на 1, отмечены по-умолчанию.
</div>
<form action="" method="post">
    {% csrf_token %}
    {% include 'forms/errors/non_field_errors.html' %}
    {% include 'forms/errors/field_errors.html' with field=form.runner_ups %}
    <table class="table table-bordered table-sm table-hover">
        <thead>
            <tr>
                <th style="width: 2%;">
                    <div class="form-check ms-2" data-bs-toggle="tooltip" data-bs-placement="top" title="Выбрать всех студентов">
                        <input class="form-check-input" id="check_all" type="checkbox" {% if form.runner_ups.field.initial.exists %}checked="checked"{% endif %} aria-label="Выбрать всех студентов">
                    </div>
                </th>
                <th class="text-end" style="width: 3%;">№</th>
                <th class="text-center">Ф.И.О.</th>
                <th class="text-center" style="width: 12%;">Факультет</th>
                <th class="text-center" style="width: 17%;">Уровень</th>
            </tr>
        </thead>
        <tbody>
            {% for account in form.runner_ups.field.queryset %}
            <tr>
                <td>
                    <div class="form-check ms-2">
                        <input class="form-check-input check" id="check_{{ account.user_id }}" type="checkbox" name="runner_ups" value="{{ account.user_id }}" {% if account in form.runner_ups.field.initial %}checked="checked"{% endif %} aria-label="Выбрать студента">
                    </div>
                </td>
                <td class="text-end font-monospace">{{ forloop.counter|stringformat:"02d" }}</td>
                <td class="text-nowrap"><a href="{{ account.get_absolute_url }}">{{ account }}</a></td>
                <td class="text-center">{{ account.faculty.short_name }}</td>
                <td class="text-center text-nowrap">{% if account.is_student %}{{ account.get_level_display }}{% else %}{{ account.get_type_display }}{% endif %}</td>
            </tr>
            {% empty %}
            <tr>
                <td class="text-center" colspan="5"><div class="alert alert-info mb-0">Студентов, которые могут начать курс, не найдено</div></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include 'forms/submit_button.html' with value="Начать" %}
</form>
{% endblock main_content %}

{% block main_scripts %}
<script type="text/javascript">
let checkboxes = document.getElementsByClassName('check');
document.getElementById('check_all').addEventListener('click', function (e) {
    for (let checkbox of checkboxes) {
        checkbox.checked = e.target.checked;
    }
});
</script>
{% endblock main_scripts %}
