{% extends 'base_main.html' %}
{% load views accounts contests markdown static %}

{% block title %}Задача{% endblock title %}

{% block main_links %}
<link href="{% static 'ckeditor/ckeditor.content.css' %}" rel="stylesheet">
{% endblock main_links %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% breadcrumb problem.course problem.course %}
{% breadcrumb problem.contest problem.contest %}
{% breadcrumb problem %}
{% endblock breadcrumbs %}

{% block main_content %}
<legend>
    <span class="d-flex justify-content-between flex-column flex-md-row">
        <span class="text-truncate"><span class="text-muted">№{{ problem.number }}</span> {{ problem.title }}</span>
        <span class="d-flex justify-content-between gap-1">
            {% if problem.type == 'Program' %}
            {% if perms.contests.change_problem or request|has_leader_permission:problem.course %}
            <span class="dropstart" data-bs-toggle="tooltip" data-bs-placement="top" title="Добавить тест">
                <a href="#" class="text-success" role="button" id="dropdownAddTestMenuLink" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-plus fa-fw"></i></a>
                <span class="dropdown-menu shadow-sm" aria-labelledby="dropdownAddTestMenuLink">
                    <a class="dropdown-item" href="{% url 'contests:iotest-create' problem.id %}"><i class="fa fa-keyboard-o fa-fw"></i> IO-тест</a>
                    <a class="dropdown-item" href="{% url 'contests:uttest-create' problem.id %}"><i class="fa fa-keyboard-o fa-fw"></i> UT-тест</a>
                    <a class="dropdown-item" href="{% url 'contests:fntest-create' problem.id %}"><i class="fa fa-keyboard-o fa-fw"></i> FN-тест</a>
                </span>
            </span>
            {% endif %}
            {% endif %}
            {% if problem.type == 'Program' or problem.type == 'Files' %}
            {% if perms.contests.add_submission_pattern or request|has_leader_permission:problem.course %}
            <a href="{% url 'contests:submission-pattern-create' problem.id %}" data-bs-toggle="tooltip" data-bs-placement="top" title="Добавить шаблон посылки"><i class="fa fa-clone fa-fw"></i></a>
            {% endif %}
            {% endif %}
            {% if perms.contests.change_problem or request|has_leader_permission:problem.course %}
            <a href="{% url 'contests:problem-update' problem.id %}" data-bs-toggle="tooltip" data-bs-placement="top" title="Редактировать"><i class="fa fa-edit fa-fw"></i></a>
            {% endif %}
            {% if perms.contests.delete_problem or request|has_leader_permission:problem.course %}
            <span class="dropstart">
                <a href="#" role="button" id="dropdownMoreMenuLink" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-h fa-fw"></i></a>
                <span class="dropdown-menu shadow-sm" aria-labelledby="dropdownMoreMenuLink">
                    <a class="dropdown-item" href="{% url 'contests:problem-update' problem.id %}?action=move"><i class="fa fa-share-square-o fa-fw"></i> Переместить</a>
                    <a class="dropdown-item text-danger" href="{% url 'contests:problem-delete' problem.id %}"><i class="fa fa-trash-o fa-fw"></i> Удалить</a>
                </span>
            </span>
            {% endif %}
        </span>
    </span>
</legend>
<div class="accordion mb-3" id="problem_details">
    <div class="accordion-item">
        <h2 class="accordion-header" id="problemDescriptionHeader">
            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#problemDescriptionCollapse" aria-expanded="true" aria-controls="problemDescriptionCollapse">
                Условия задачи
            </button>
        </h2>
        <div class="accordion-collapse collapse show" id="problemDescriptionCollapse" aria-labelledby="problemDescriptionHeader">
            <div class="accordion-body ck-content overflow-scroll">
            {% if problem.get_description_type_display == 'markdown' %}
                {{ problem.description|markdown|safe }}
            {% else %}
                {{ problem.description|safe }}
            {% endif %}
            {% if problem.type == 'Options' %}
                <h6 class="text-muted">Варианты ответа:</h6>
                <ul class="list-group list-group mb-3">
                    {% for option in problem.option_set.order_randomly %}
                    <li class="list-group-item d-flex">
                        {{ option.text }}
                        {% if perms.contests.change_problem or request|has_leader_permission:problem.course %}
                            {% if option.is_correct %}<span class="contest-correct-option text-success ms-auto d-none"><i class="fa fa-check fa-fw"></i></span>{% endif %}
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            {% elif problem.type == 'Test' %}
                <h6 class="text-muted">Подзадачи:</h6>
            {% for subproblem in subproblems %}
                <div class="card mb-3">
                    <div class="card-header d-flex align-items-center">
                        <small class="me-3" data-bs-toggle="tooltip" data-bs-placement="top" title="Номер в тесте">{{ subproblem.number }}</small>
                        {% if subproblem.sub_problem.title %}
                        <small class="text-truncate me-auto">
                            <a class="card-link" href="{% url 'contests:problem-detail' subproblem.sub_problem.id %}">
                                {{ subproblem.sub_problem.title }}
                            </a>
                        </small>
                        {% endif %}
                        <span class="ps-2" data-bs-toggle="tooltip" data-bs-placement="left" title="{{ subproblem.sub_problem.get_type_display }}">
                            <i class="fa {% get_problem_icon subproblem.sub_problem %} fa-fw"></i>
                        </span>
                        {% if perms.contests.change_subproblem and perms.contests.delete_subproblem or request|has_leader_permission:problem.course %}
                        <a href="{% url 'contests:subproblem-update' subproblem.id %}" class="ms-3" data-bs-toggle="tooltip" data-bs-placement="top" title="Изменить номер">
                            <i class="fa fa-edit fa-fw fa-lg"></i>
                        </a>
                        <a href="{% url 'contests:subproblem-delete' subproblem.id %}" class="text-danger ms-2" data-bs-toggle="tooltip" data-bs-placement="top" title="Удалить из теста">
                            <i class="fa fa-trash-o fa-fw fa-lg"></i>
                        </a>
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <div class="ck-content overflow-scroll">
                            {{ subproblem.sub_problem.description|safe }}
                        </div>
                        {% if subproblem.sub_problem.type == 'Options' %}
                        <h6 class="text-muted">Варианты ответа:</h6>
                        <div class="card">
                            <ul class="list-group list-group-flush">
                                {% for option in subproblem.sub_problem.option_set.order_randomly %}
                                    <li class="list-group-item d-flex">{{ option.text }}
                                    {% if perms.contests.change_problem or request|has_leader_permission:problem.course %}
                                        {% if option.is_correct %}<span class="contest-correct-option text-success ms-auto d-none"><i class="fa fa-check fa-fw"></i></span>{% endif %}
                                    {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
            {% endif %}
            {% if problem.type == 'Options' %}
            {% if perms.contests.change_problem or request|has_leader_permission:problem.course %}
                <div class="text-end d-flex mb-3">
                    <div class="text-end ms-auto">
                        <i class="fa fa-lock fa-fw" data-bs-toggle="tooltip" data-bs-placement="left" title="Отображается только преподавателям"></i>
                        <button class="btn btn-light" type="button" onclick="toggleCorrectOptions(this, 'Показать верные ответы', 'Скрыть верные ответы')" data-bs-toggle="button" aria-pressed="false">
                            Показать верные ответы
                        </button>
                    </div>
                </div>
            {% endif %}
            {% endif %}
                <table class="table table-sm">
                    <tr><td class="text-end">Тип</td><td style="width: 20%;"><span data-bs-toggle="tooltip" data-bs-placement="right" title="{{ problem.get_type_display }}"><i class="fa {% get_problem_icon problem %} fa-fw"></i></span></td></tr>
                    {% if problem.type != 'Test' %}
                    <tr><td class="text-end">Максимальная оценка в баллах</td><td style="width: 20%;">{{ problem.score_max }}</td></tr>
                    {% endif %}
                    <tr><td class="text-end">{% if problem.type == 'Test' %}Процентов{% else %}Баллов{% endif %} для <span class="contest-status-number contest-status-success">5</span></td><td style="width: 20%;">{{ problem.score_for_5 }}</td></tr>
                    <tr><td class="text-end">{% if problem.type == 'Test' %}Процентов{% else %}Баллов{% endif %} для <span class="contest-status-number contest-status-primary">4</span></td><td style="width: 20%;">{{ problem.score_for_4 }}</td></tr>
                    <tr><td class="text-end">{% if problem.type == 'Test' %}Процентов{% else %}Баллов{% endif %} для <span class="contest-status-number contest-status-warning">3</span></td><td style="width: 20%;">{{ problem.score_for_3 }}</td></tr>
                    <tr><td class="text-end">Сложность</td><td style="width: 20%;">{{ problem.get_difficulty_display }}</td></tr>
                    {% if problem.type == 'Program' %}
                    <tr><td class="text-end">Язык</td><td style="width: 20%;">{{ problem.get_language_display }}</td></tr>
                    {% if problem.compile_args %}
                    <tr><td class="text-end">Параметры компиляции</td><td style="width: 20%;"><code>{{ problem.compile_args|default:"-" }}</code></td></tr>
                    {% endif %}
                    {% if problem.launch_args %}
                    <tr><td class="text-end">Параметры запуска</td><td style="width: 20%;"><code>{{ problem.launch_args|default:"-" }}</code></td></tr>
                    {% endif %}
                    <tr><td class="text-end">Ограничение по времени</td><td style="width: 20%;">{{ problem.time_limit }} с</td></tr>
                    <tr><td class="text-end">Ограничение по памяти</td><td style="width: 20%;">{{ problem.memory_limit|filesizeformat }}</td></tr>
                    <tr><td class="text-end">Автоматическая проверка</td><td style="width: 20%;">{% if problem.is_testable %}<i class="fa fa-check-circle fa-lg text-success"></i>{% else %}<i class="fa fa-times-circle fa-lg text-danger"></i>{% endif %}</td></tr>
                    {% endif %}
                </table>
                <div class="w-100 mt-3">
                    {% render_attachment_list problem problem.course %}
                </div>
            {% if perms.contests.add_submission or request|has_leader_permission:problem.course %}
            {% if assignment and assignment.credit_incomplete or request.user.is_superuser %}
                <div class="d-grid mt-3">
                    <a href="{% url 'contests:submission-create' problem.id %}" class="btn btn-primary mb-2">
                        <i class="fa fa-file-o fa-fw"></i> Отправить решение
                    </a>
                </div>
            {% endif %}
            {% endif %}
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="contestDescriptionHeader">
            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#contestDescriptionCollapse" aria-expanded="true" aria-controls="contestDescriptionCollapse">
                Описание раздела
            </button>
        </h2>
        <div class="accordion-collapse collapse show" id="contestDescriptionCollapse" aria-labelledby="contestDescriptionHeader">
            <div class="accordion-body ck-content overflow-scroll">
            {% if problem.contest.get_description_type_display == 'markdown' %}
                {{ problem.contest.description|markdown|safe }}
            {% else %}
                {{ problem.contest.description|safe }}
            {% endif %}
                <div class="w-100 mt-3">
                    {% render_attachment_list problem.contest problem.course %}
                </div>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="problemSubmissionsHeader">
            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#problemSubmissionsCollapse" aria-expanded="true" aria-controls="problemSubmissionsCollapse">
                Посылки
            </button>
        </h2>
        <div class="accordion-collapse collapse show" id="problemSubmissionsCollapse" aria-labelledby="problemSubmissionsHeader">
            <div class="accordion-body">
                {% include 'contests/submission/submission_table.html' with borderless=True course=problem.course %}
            </div>
        </div>
    </div>
    {% if problem.type == 'Program' %}
    {% if perms.contests.view_submission_pattern or request|has_leader_permission:problem.course %}
    <div class="accordion-item">
        <h2 class="accordion-header" id="problemSubmissionPatternsHeader">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#problemSubmissionPatternsCollapse" aria-expanded="false" aria-controls="problemSubmissionPatternsCollapse">
                Шаблоны посылок
            </button>
        </h2>
        <div class="accordion-collapse collapse" id="problemSubmissionPatternsCollapse" aria-labelledby="problemSubmissionPatternsHeader">
            <div class="accordion-body">
                <div class="alert alert-warning"><i class="fa fa-lock fa-fw"></i> Доступно только преподавателям</div>
                {% include 'list.html' with lst=problem.submission_patterns.all warn_if_empty="Шаблоны посылки еще не добавлены" %}
            </div>
        </div>
    </div>
    {% endif %}
    {% if perms.contests.view_iotest or perms.contests.view_uttest or perms.contests.view_fntest or request|has_leader_permission:problem.course %}
    <div class="accordion-item">
        <h2 class="accordion-header" id="problemTestsHeader">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#problemTestsCollapse" aria-expanded="false" aria-controls="problemTestsCollapse">
                Тесты
            </button>
        </h2>
        <div class="accordion-collapse collapse" id="problemTestsCollapse" aria-labelledby="problemTestsHeader">
            <div class="accordion-body">
                <div class="alert alert-warning"><i class="fa fa-lock fa-fw"></i> Доступно только преподавателям</div>
                {% if problem.iotest_set.exists or problem.uttest_set.exists or problem.fntest_set.exists %}
                {% include 'list.html' with lst=problem.iotest_set.all title="IO-тесты:" %}
                {% include 'list.html' with lst=problem.uttest_set.all title="UT-тесты:" %}
                {% include 'list.html' with lst=problem.fntest_set.all title="FN-тесты:" %}
                {% else %}
                <div class="alert alert-info mb-0">Тестов нет</div>
                {% endif %}
            </div>
        </div>
    </div>
    {% endif %}
    {% endif %}
</div>
<div class="row mb-3">
    <div class="col-12 col-md-6">
        <div class="col-12 text-muted text-start">Факультет: {{ problem.course.faculty }}</div>
        <div class="col-12 text-muted text-start">Порядковый номер: {{ problem.number }}</div>
    </div>
    <div class="col-12 col-md-6">
        <div class="col-12 text-muted text-start text-md-end">Добавлена: {{ problem.date_created|date:'d E Y г.' }}</div>
        <div class="col-12 text-muted text-start text-md-end">Добавил(а): <a href="{{ problem.owner.account.get_absolute_url }}" class="text-muted">{{ problem.owner.account }}</a></div>
    </div>
</div>
<div class="d-grid">
    <a class="btn btn-light border" href="{% url 'contests:problem-discussion' problem.id %}">
        {% unread_comments_count request.user.account problem as ucc %}
        <i class="fa fa-comments fa-fw"></i> Обсуждение{% if ucc > 0 %} <span id="unread_comments_count" class="badge rounded-pill bg-secondary align-middle">{{ ucc }}</span>{% endif %}
    </a>
</div>
{% endblock main_content %}

{% block main_scripts %}
<script src="{% static 'mathjax/es5/tex-chtml.js' %}" type="text/javascript" defer></script>
{% if perms.contests.change_problem or request|has_leader_permission:problem.course %}
<script src="{% static 'contest/js/utils.js' %}" type="text/javascript"></script>
<script type="text/javascript">
let correct_option_elements = document.getElementsByClassName('contest-correct-option');
function toggleCorrectOptions(elem, firstText, secondText) {
    let toggle_fn;
    if (elem.innerText === firstText)
        toggle_fn = (elem) => elem.classList.remove('d-none');
    else
        toggle_fn = (elem) => elem.classList.add('d-none');
    for (let correct_option_element of correct_option_elements)
        toggle_fn(correct_option_element);
    toggleText(elem, firstText, secondText);
}
</script>
{% endif %}
{% endblock main_scripts %}
