{% extends 'base.html' %}
{% load attachments %}
{% load comments %}
{% load contests %}
{% load views %}

{% block title %}
Задача
{% endblock title %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li><a href="{% url 'contests:index' %}">Главная</a></li>
    <li><a href="{{ problem.contest.course.get_absolute_url }}">{{ problem.contest.course }}</a></li>
    <li><a href="{{ problem.contest.get_absolute_url }}">{{ problem.contest }}</a></li>
    <li class="active">{{ problem }}</li>
</ol>
{% endblock breadcrumbs %}

{% block content %}
<legend>{{ problem }}</legend>
<div>
    <p>{{ description|safe }}</p>
    <p>{{ contest_description|safe }}</p>
</div>
<div class="text-right">
    <p>Сложность: {{ problem.get_difficulty_display }}</p>
    <p>Язык: {{ problem.get_language_display }}</p>
    <p>Параметры компиляции:
        <code>{{ problem.compile_args|default:"-" }}</code>
    </p>
    <p>Параметры запуска:
        <code>{{ problem.launch_args|default:"-" }}</code>
    </p>
    <p>Ограничение по времени: {{ problem.time_limit }} с</p>
    <p>Ограничение по памяти: {{ problem.memory_limit|filesizeformat }}</p>
    <p>Доступно для тестирования: {{ problem.is_testable|yesno:'да,нет' }}</p>
    {% if latest_submission %}
    <p>Мой результат:
        <a href="{{ latest_submission.get_absolute_url }}">
            <span class="label {% get_label latest_submission.status %}" title="{{ latest_submission.get_status_display }}">
                {{ latest_submission.get_status_display }}
            </span>
        </a>
    </p>
    {% endif %}
</div>
{% render_attachment_list problem.contest legend="Файлы раздела" %}
{% render_attachment_list problem legend="Файлы задачи" %}
{% if perms.contests.add_solution %}
{% render_list problem.solution_set.all legend="Решения" %}
{% endif %}
{% if perms.contests.add_iotest %}
{% render_list problem.iotest_set.all legend="IO-тесты" %}
{% endif %}
{% if perms.contests.add_uttest %}
{% render_list problem.uttest_set.all legend="UT-тесты" %}
{% endif %}
{% if perms.contests.add_fntest %}
{% render_list problem.fntest_set.all legend="FN-тесты" %}
{% endif %}
{% render_submission_table %}
{% render_comments problem %}
{% endblock content %}

{% block submenu %}
<ul class="list-group">
    {% if perms.contests.change_problem %}
    <a href="{% url 'contests:problem-update' problem.id %}" class="list-group-item"><i class="fa fa-edit fa-fw"></i> Редактировать задачу</a>
    {% endif %}
    {% if perms.contests.delete_problem %}
    <a href="{% url 'contests:problem-delete' problem.id %}" class="list-group-item"><i class="fa fa-trash-o fa-fw"></i> Удалить задачу</a>
    {% endif %}
</ul>
<ul class="list-group">
    {% if perms.contests.add_solution %}
    <a href="{% url 'contests:solution-create' problem.id %}" class="list-group-item"><i class="fa fa-plus fa-fw"></i> Добавить решение</a>
    {% endif %}
</ul>
<ul class="list-group">
    {% if perms.contests.add_iotest %}
    <a href="{% url 'contests:iotest-create' problem.id %}" class="list-group-item"><i class="fa fa-plus fa-fw"></i> Добавить IO-тест</a>
    {% endif %}
    {% if perms.contests.add_uttest %}
    <a href="{% url 'contests:uttest-create' problem.id %}" class="list-group-item"><i class="fa fa-plus fa-fw"></i> Добавить UT-тест</a>
    {% endif %}
    {% if perms.contests.add_fntest %}
    <a href="{% url 'contests:fntest-create' problem.id %}" class="list-group-item"><i class="fa fa-plus fa-fw"></i> Добавить FN-тест</a>
    {% endif %}
</ul>
<ul class="list-group">
    {% if perms.contests.add_submission %}
    <a href="{% url 'contests:submission-create' problem.id %}" class="btn btn-info btn-block"><i class="fa fa-file-code-o fa-fw"></i> Отправить решение</a>
    {% endif %}
</ul>
{% endblock submenu %}

{% block javascript %}
<script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS_CHTML"></script>
{% endblock javascript %}
