{% extends 'base_wide.html' %}
{% load views forms %}

{% block title %}
Задача
{% endblock title %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% breadcrumb problem.course problem.course %}
{% breadcrumb problem.contest problem.contest %}
{% breadcrumb problem problem %}
{% breadcrumb "Удаление" %}
{% endblock breadcrumbs %}

{% block content %}
<legend>Удаление задачи</legend>
{% if action == 'delete_permanently' %}
<form action="" method="post">
    {% csrf_token %}
    <div class="alert alert-info" role="alert">
        Вместе с задачей будут безвозвратно удалены:
        <ul>
            <li>все задания студентов по этой задаче</li>
            <li>все комментарии в обсуждении этой задачи</li>
        </ul>
    </div>
    <div class="alert alert-warning text-center" role="alert">
        Вы точно хотите удалить задачу: {{ problem }}?
    </div>
    <div class="d-grid">
        <input class="btn btn-secondary" type="submit" value="Удалить" />
    </div>
</form>
{% else %}
{% render_delete_form problem %}
{% endif %}
{% endblock content %}
