{% load contests %}

{% if problems.exists %}
<div class="list-group mb-0">
    {% for problem in problems %}
    <a href="{{ problem.get_absolute_url }}" class="list-group-item list-group-item-action d-flex">
        {{ problem }}
        {% if problem.type == 'Test' %}
        <span class="ml-auto mr-2 text-muted">[{% get_problem_subproblems problem %}]</span>
        {% endif %}
        <span class="{% if problem.type != 'Test' %}ml-auto{% endif %}" data-toggle="tooltip" data-placement="left" title="{{ problem.get_type_display }}"><i class="fa {% get_problem_icon problem %} fa-fw"></i></span>
    </a>
    {% endfor %}
</div>
{% else %}
<div class="alert alert-info mb-0" role="alert">Задачи еще не добавлены</div>
{% endif %}
