{% extends 'base.html' %}
{% load views accounts contests comments markdown static %}

{% block title %}
Задача
{% endblock title %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% breadcrumb problem.contest.course problem.contest.course %}
{% breadcrumb problem.contest problem.contest %}
{% breadcrumb problem %}
{% endblock breadcrumbs %}

{% block content %}
<legend>Обсуждение задачи {{ problem.title }} <small class="text-muted">№{{ problem.number }}</small></legend>
<div class="btn-group btn-block mb-3">
    <a class="btn btn-light border col-6" href="{% url 'contests:problem-detail' problem.id %}">Вернуться к задаче</a>
    <a class="btn btn-light border col-6 disabled">
        {% unread_comments_count request.user.account problem as ucc %}
        Обсуждение{% if ucc > 0 %} <span id="unread_comments_count" class="badge badge-pill badge-secondary align-middle">{{ ucc }}</span>{% endif %}
    </a>
</div>
{% render_comments problem comments %}
{% endblock content %}

{% block submenu %}
<div class="list-group mb-3">
    {% if perms.contests.change_problem %}
    <a href="{% url 'contests:problem-update' problem.id %}" class="list-group-item list-group-item-action"><i class="fa fa-edit fa-fw"></i> Редактировать задачу</a>
    {% endif %}
    {% if perms.contests.delete_problem %}
    <a href="{% url 'contests:problem-delete' problem.id %}" class="list-group-item list-group-item-action"><i class="fa fa-trash-o fa-fw"></i> Удалить задачу</a>
    {% endif %}
</div>
<div class="list-group mb-3">
    {% if perms.contests.add_submission_pattern %}
    <a href="{% url 'contests:submission-pattern-create' problem.id %}" class="list-group-item list-group-item-action"><i class="fa fa-plus fa-fw"></i> Добавить решение</a>
    {% endif %}
</div>
<div class="list-group mb-3">
    {% if perms.contests.add_iotest %}
    <a href="{% url 'contests:iotest-create' problem.id %}" class="list-group-item list-group-item-action"><i class="fa fa-plus fa-fw"></i> Добавить IO-тест</a>
    {% endif %}
    {% if perms.contests.add_uttest %}
    <a href="{% url 'contests:uttest-create' problem.id %}" class="list-group-item list-group-item-action"><i class="fa fa-plus fa-fw"></i> Добавить UT-тест</a>
    {% endif %}
    {% if perms.contests.add_fntest %}
    <a href="{% url 'contests:fntest-create' problem.id %}" class="list-group-item list-group-item-action"><i class="fa fa-plus fa-fw"></i> Добавить FN-тест</a>
    {% endif %}
</div>
<div class="list-group mb-3">
    {% if perms.contests.add_submission %}
    <a href="{% url 'contests:submission-create' problem.id %}" class="btn btn-info btn-block"><i class="fa fa-file-code-o fa-fw"></i> Отправить решение</a>
    {% endif %}
</div>
{% endblock submenu %}

{% block javascript %}
<script src="{% static 'MathJax/es5/tex-chtml.js' %}" type="text/javascript"></script>
<script src="{% static 'waypoints/lib/jquery.waypoints.min.js' %}" type="text/javascript"></script>
<script src="{% static 'waypoints/lib/shortcuts/infinite.min.js' %}" type="text/javascript"></script>
<script>
    var infinite = new Waypoint.Infinite({
        element: $('.comment-list')[0],
        items: '.comment-list-item',
        more: '.comment-list-more'
    });
</script>
{% endblock javascript %}
