{% extends 'base_wide.html' %}
{% load views static %}

{% block title %}
Задача
{% endblock title %}

{% block stylesheets %}
<link href="{% static 'css/highlight.css' %}" rel="stylesheet"/>
{% endblock stylesheets %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% breadcrumb problem.course problem.course %}
{% breadcrumb problem.contest problem.contest %}
{% breadcrumb problem problem %}
{% breadcrumb attachment.filename %}
{% endblock breadcrumbs %}

{% block content %}
<legend>{{ problem }}</legend>
<samp>{{ attachment.filename }}</samp>
<div class="alert alert-light border mt-2">{{ code|safe }}</div>
{% endblock content %}
