html {
    overflow-y: scroll;
}

body {
	margin-top: 70px;
}

pre, code, kbd, samp {
    @include font-size($font-size-base); // Correct the odd `em` font sizing in all browsers.
}

label {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.content {
	min-height: 850px;
}

.breadcrumb {
    padding: .5rem .75rem;
    font-size: .7rem;
}

.status {
    @extend .badge;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    width: 30px;
    padding: .25rem .3rem;
    font-size: .75rem;
    color: #fff;
    border-radius: .2rem;
}

.numtus {
    @extend .badge;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    display: inline-block;
    padding: .25rem .3rem;
    font-size: .75rem;
    color: #fff;
    border-radius: .2rem;
}

.status:hover,
.status:focus,
.numtus:hover,
.numtus:focus {
    color: #fff;
    text-decoration: none;
}

.status-default {
  background-color: #777;
}
.status-default[href]:hover,
.status-default[href]:focus {
  background-color: #5e5e5e;
}
.status-primary {
  background-color: #AFE1AF;
}
.status-primary[href]:hover,
.status-primary[href]:focus {
  background-color: #50C878;
}
.status-success {
  background-color: #5cb85c;
}
.status-success[href]:hover,
.status-success[href]:focus {
  background-color: #449d44;
}
.status-info {
  background-color: #5bc0de;
}
.status-info[href]:hover,
.status-info[href]:focus {
  background-color: #31b0d5;
}
.status-warning {
  background-color: #f0ad4e;
}
.status-warning[href]:hover,
.status-warning[href]:focus {
  background-color: #ec971f;
}
.status-danger {
  background-color: #d9534f;
}
.status-danger[href]:hover,
.status-danger[href]:focus {
  background-color: #c9302c;
}

.pebble {
	opacity: 0;
	transition: opacity 200ms;
}

.lake:hover > .pebble {
	opacity: 1;
}

.progress > .status-display {
    font-size: .9rem !important;
}

.comment-anchor {
    display: block;
    position: relative;
    width: 0;
    height: 60px;
    margin-top: -60px;
}

.comment-datetime {
    display: none;
}

.comment-timesince:hover > .comment-datetime {
    display: inline;
}

.comment-timesince:hover > .comment-naturaltime {
    display: none;
}

#activity_settings #id_object_type {
    list-style-type: none;
    padding: 0;
}

.django-ckeditor-widget {
    width: 100%;
}

table {
    @include media-breakpoint-up(lg) {
        //table-layout: fixed;
    }
}


.news-header {
  padding: 0.4rem 1.25rem;
  /*background-color: rgb(2, 175, 167, 0.5);*/
}

.news-btn-link {
  font-weight: 600;
  color: #0c5460;
}

.news-btn-link:hover {
  color: #0a3b44;
}

.news-btn-link:focus {
  box-shadow: 0 0 0 0.2rem rgba(10, 59, 68, 0.25);
}

.news-line-header {
  padding: 0.25rem 0.75rem !important;
}

.news-list-line-btn {
  padding: 0.375rem 0.45rem !important;
  line-height: 0.5 !important;
}

.short-announcement-list {
  max-height: 200px;
  overflow:hidden;
  overflow-y:scroll;
}

.actual-word {
  border-bottom: 1px dotted #0c5460
}
