html {
	position: relative;
	min-height: 100%;
}

body {
	padding-top: 70px;
	margin-bottom: 70px;
	background-color: #e7f1f5;
}

.box-shadow {
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}

.mb20 {
	margin-bottom: 20px;
}

.mt-clear {
	margin-top: 0;
}

.page-header {
	margin-top: 0px;
}

.user-profile {
	.user-avatar {
		margin-right: 10px;
	}
	.user-info {
		a {
			line-height: 50px;
		}
	}
}

.main {
	padding: 15px 0;
	background: #fff;
	@extend .box-shadow;
}

.panel-toggle {
	border-bottom: none;

	.panel-heading  {
		cursor: pointer;
		user-select: none;

		.fa-file-text-o {
			margin-right: 2px;
		}

		a {
			color: #555;
			transform: rotate(0);
			animation: arrow-up 0.2s;

			&.active {
				transform: rotate(180deg);
				animation: arrow-down 0.2s;
			}
		}
	}

	.panel-body {
		display: none;
		border-bottom: 1px solid #e7f1f5;
	}
}

.advert-card-item {
	position: relative;
	font-size: 12px;
	padding: 15px 0;
	margin-bottom: 20px;
	border: 1px solid #e7f1f5;

	.col-md-5 {
		min-height: 115px;
		border-right: 1px solid #e7f1f5;

		&.last {
			border-right: none;
		}
	}

	p {
		margin: 0;
	}

	.h4 {
		color: #333;
	}

	.controls {
		top: 5px;
		right: 5px;
		display: none;
		font-size: 14px;
		position: absolute;

		a {
			color: #337ab7;
			display: inline-block;

			&:hover {
				color: #333;
			}
		}
	}

	.text-muted {
		cursor: default;
		color: #ccc;

		&:hover {
			color: #333;
		}
	}

	p.mb10 {
		margin-bottom: 10px;
	}
	p.mb15 {
		margin-bottom: 15px;
	}

	&:hover {
		@extend .box-shadow;

		.controls {
			display: block;
		}
	}

	.price {
		font-size: 18px;
	}
}

.social-icons {
	font-size: 24px;

	a {
		margin: 0 5px;
	}

	.fa-facebook {
		color: #4a6195;
	}

	.fa-vk {
		color: #6a96c7;
	}

	.fa-odnoklassniki {
		color: #ff9c44;
	}
}

.gallery-item {
	margin: 5px;
	width: 40px;
	height: 40px;
	display: inline-block;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 50px;

	.copyright {
		margin: 0;
		line-height: 50px;
	}
}

/* Login & Register from */

.form-signin {
	max-width: 330px;
	padding: 20px;
	margin: 0 auto;
	background: #fff;
	@extend .box-shadow;
}

.form-signin .checkbox {
	font-weight: normal;
}

.form-signin .form-control {
  margin-bottom: 10px;
}

@keyframes arrow-down {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(-180deg);
	}
}

@keyframes arrow-up {
	from {
		transform: rotate(-180deg);
	}
	to {
		transform: rotate(0);
	}
}

.msu-problem-set > a {
	text-decoration: none;
}

.msu-problem-set .label:hover {
	box-shadow: 0px 0px 1px rgba(0, 0, 0, 1);
}

.lake:hover > .pebble {
	visibility: visible;
}

.pebble {
	visibility: hidden;
}

.pagination {
	margin: 0 0;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.breadcrumb {
	font-size: 10px;
}

.label-activity {
	font-weight: 400;
}

.comment-list {
    width: 100%;
    overflow: hidden;
    position: relative;
    margin: 0 0 15px 0;

    .comment-list-item {
        min-height: 50px;
        padding: 5px 0;

        .comment-avatar {
            position: relative;
            width: 50px;
            height: 50px;
            background-color: #eee;
        }

        .comment-main {
            .comment-header {
                padding: 0;

                .comment-user {

                }

                .comment-timesince {
                    padding: 0 0 0 15px;
                }
            }

            .comment-text {
                padding: 5px 0;
                color: black;
            }

            .comment-footer {
                padding: 0;

                a {
                    font-size: 9pt;
                }
            }
        }
    }
}

.message-hidden-scroll {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: -15px;
    overflow-y: scroll;
}

.message-list {
    height: 500px;
    width: 100%;
    overflow: hidden;
    position: relative;
    margin: 0 0 15px 0;

    a:hover, a:focus {
        text-decoration: none;
    }

    .message-list-item {
        min-height: 50px;
        padding: 15px 5px;

        &:hover {
            background-color: #eee;
        }

        .message-user {
            height: 100%;
        }

        .message-main {
            .message-text {
                height: 90%;
                color: black;
            }

            .message-footer {
                padding: 10px 0 0 0;
                height: 10%;
            }
        }
    }
}
