// Required
$font-size-base: .875rem;
$custom-file-text: (
  en: "Browse",
  ru: "Выбрать"
);

@import "/Library/Developer/CommandLineTools/SDKs/node_modules/bootstrap/scss/functions";
@import "/Library/Developer/CommandLineTools/SDKs/node_modules/bootstrap/scss/variables";
@import "/Library/Developer/CommandLineTools/SDKs/node_modules/bootstrap/scss/mixins";
// Optional
@import "/Library/Developer/CommandLineTools/SDKs/node_modules/bootstrap/scss/root";
@import "/Library/Developer/CommandLineTools/SDKs/node_modules/bootstrap/scss/reboot";
@import "/Library/Developer/CommandLineTools/SDKs/node_modules/bootstrap/scss/type";
@import "/Library/Developer/CommandLineTools/SDKs/node_modules/bootstrap/scss/images";
@import "/Library/Developer/CommandLineTools/SDKs/node_modules/bootstrap/scss/code";
@import "/Library/Developer/CommandLineTools/SDKs/node_modules/bootstrap/scss/grid";
@import "/Library/Developer/CommandLineTools/SDKs/node_modules/bootstrap/scss/tables";
@import "/Library/Developer/CommandLineTools/SDKs/node_modules/bootstrap/scss/forms";
@import "/Library/Developer/CommandLineTools/SDKs/node_modules/bootstrap/scss/buttons";
@import "/Library/Developer/CommandLineTools/SDKs/node_modules/bootstrap/scss/transitions";
@import "/Library/Developer/CommandLineTools/SDKs/node_modules/bootstrap/scss/dropdown";
@import "/Library/Developer/CommandLineTools/SDKs/node_modules/bootstrap/scss/button-group";
@import "/Library/Developer/CommandLineTools/SDKs/node_modules/bootstrap/scss/input-group";
@import "/Library/Developer/CommandLineTools/SDKs/node_modules/bootstrap/scss/custom-forms";
@import "/Library/Developer/CommandLineTools/SDKs/node_modules/bootstrap/scss/nav";
@import "/Library/Developer/CommandLineTools/SDKs/node_modules/bootstrap/scss/navbar";
@import "/Library/Developer/CommandLineTools/SDKs/node_modules/bootstrap/scss/card";
@import "/Library/Developer/CommandLineTools/SDKs/node_modules/bootstrap/scss/breadcrumb";
@import "/Library/Developer/CommandLineTools/SDKs/node_modules/bootstrap/scss/pagination";
@import "/Library/Developer/CommandLineTools/SDKs/node_modules/bootstrap/scss/badge";
@import "/Library/Developer/CommandLineTools/SDKs/node_modules/bootstrap/scss/jumbotron";
@import "/Library/Developer/CommandLineTools/SDKs/node_modules/bootstrap/scss/alert";
@import "/Library/Developer/CommandLineTools/SDKs/node_modules/bootstrap/scss/progress";
@import "/Library/Developer/CommandLineTools/SDKs/node_modules/bootstrap/scss/media";
@import "/Library/Developer/CommandLineTools/SDKs/node_modules/bootstrap/scss/list-group";
@import "/Library/Developer/CommandLineTools/SDKs/node_modules/bootstrap/scss/close";
@import "/Library/Developer/CommandLineTools/SDKs/node_modules/bootstrap/scss/toasts";
@import "/Library/Developer/CommandLineTools/SDKs/node_modules/bootstrap/scss/modal";
@import "/Library/Developer/CommandLineTools/SDKs/node_modules/bootstrap/scss/tooltip";
@import "/Library/Developer/CommandLineTools/SDKs/node_modules/bootstrap/scss/popover";
@import "/Library/Developer/CommandLineTools/SDKs/node_modules/bootstrap/scss/carousel";
@import "/Library/Developer/CommandLineTools/SDKs/node_modules/bootstrap/scss/spinners";
@import "/Library/Developer/CommandLineTools/SDKs/node_modules/bootstrap/scss/utilities";
@import "/Library/Developer/CommandLineTools/SDKs/node_modules/bootstrap/scss/print";
// Custom
@import "main";
//@import "highlight";
