{% extends 'base_wide.html' %}
{% load views accounts contests comments static %}

{% block title %}
Посылка
{% endblock title %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% breadcrumb submission.problem.contest.course submission.problem.contest.course %}
{% breadcrumb submission.problem.contest submission.problem.contest %}
{% breadcrumb submission.problem submission.problem %}
{% breadcrumb submission.id %}
{% endblock breadcrumbs %}

{% block content %}
<legend>
    Посылка {{ submission.id }}
    {% if perms.contests.delete_submission %}
    <a href="{% url 'contests:submission-delete' submission.id %}" class="text-danger text-decoration-none pull-right" data-toggle="popover" data-placement="top" data-content="Удалить посылку" style="position: relative; top: -0.08rem;"><i class="fa fa-times fa-fw"></i></a>
    {% endif %}
    {% if perms.contests.moss_submission and submission.problem.type == 'Program' %}
    <a href="{% url 'contests:submission-moss' submission.id %}" class="text-secondary text-decoration-none pull-right" data-toggle="popover" data-placement="left" data-content="MOSS"><i class="fa fa-maxcdn fa-fw"></i></a>
    {% endif %}
</legend>
<table class="table table-sm">
    <tr><td class="text-right" style="width: 20%;">Автор</td><td><a href="{{ submission.owner.account.get_absolute_url }}">{{ submission.owner.account }}</a></td></tr>
    <tr><td class="text-right" style="width: 20%;">К задаче</td><td><a href="{{ submission.problem.get_absolute_url }}">{{ submission.problem }}</a></td></tr>
    {% if submission.assignment %}
    <tr><td class="text-right" style="width: 20%;">По заданию</td><td><a href="{{ submission.assignment.get_absolute_url }}"><span class="numtus status-{{ submission.assignment.score|colorize }}">{{ submission.assignment.score|default:'-' }}</span></a></td></tr>
    {% endif %}
    <tr><td class="text-right" style="width: 20%;">Отправлена</td><td>{{ submission.date_created }}</td></tr>
    {% if submission.date_updated %}
    <tr><td class="text-right" style="width: 20%;">Проверена</td><td>{{ submission.date_updated }}</td></tr>
    {% endif %}
    {% if submission.problem.type == 'Test' %}
    <tr><td class="text-right" style="width: 20%;">Решено подзадач</td><td>{{ submission.sub_submissions.count }} из {{ submission.problem.sub_problems.count }}</td></tr>
    {% endif %}
</table>
{% if submission.score > 0 %}
    {% with score=submission.score|stringformat:"i" score_max=submission.problem.score_max|stringformat:"i" %}
    {% with score|add:" из "|add:score_max|add:" баллов" as title %}
    {% render_submission_progress submission title %}
    {% endwith %}
    {% endwith %}
{% endif %}
<div class="progress justify-content-center mb-3" style="height: 25px;">
    <div id="progress-bar" class="progress-bar bg-{% get_submission_style submission %}" role="progressbar" aria-valuenow="{% if submission.task_id %}0{% else %}100{% endif %}" aria-valuemin="0" aria-valuemax="100" style="width: {% if submission.task_id %}0{% else %}100{% endif %}%;"></div>
    <span class="status-display align-self-center" style="position: absolute;"><strong id="progress-bar-message" style="color: white;">{{ submission.get_status_display }}</strong></span>
</div>
{% if not submission.problem.type == 'Program' or not submission.problem.is_testable %}
{% if perms.contests.change_submission %}
<a href="{% url 'contests:submission-update' submission.id %}{% if from_url %}?from={{ from_url }}{% endif %}" class="btn btn-light btn-block border mb-3">Изменить статус</a>
{% else %}
<span class="btn btn-warning btn-block mb-3" title="Решение может быть проверено вручную преподавателем">Автоматическая проверка решения этой задачи временно отключена</span>
{% endif %}
{% elif submission.is_un %}
<a href="{% url 'contests:submission-evaluate' submission.id %}{% if from_url %}?from={{ from_url }}{% endif %}" class="btn btn-light btn-block border mb-3">Проверить</a>
{% elif perms.contests.evaluate_submission %}
<a href="{% url 'contests:submission-evaluate' submission.id %}{% if from_url %}?from={{ from_url }}{% endif %}" class="btn btn-light btn-block border mb-3">Проверить еще раз</a>
{% endif %}
<div class="accordion mb-3" id="execution_list">
    {% render_execution_list submission.execution_set.all %}
</div>
{% if submission.problem.type == 'Program' or submission.problem.type == 'Files' %}
<div class="text-right text-muted">
    {% if perms.contests.download_submission %}
    <p class="text-warning text-break" title="Отображается только преподавателям"><i class="fa fa-lock fa-fw"></i>директория на сервере: {{ submission.attachment_set.all.0.dirname }}</p>
    {% endif %}
    {% if perms.contests.moss_submission %}
        {% if submission.moss_to_submissions %}
    <p class="text-warning text-wrap" title="Отображается только преподавателям"><i class="fa fa-lock fa-fw"></i>с посылками MOSS: {% for to_submission_id in submission.moss_to_submissions_list %}<a href="{% url 'contests:submission-detail' to_submission_id %}">{{ to_submission_id }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</p>
    <p class="text-warning text-wrap" title="Отображается только преподавателям"><i class="fa fa-lock fa-fw"></i>ссылка на отчет MOSS: {% if submission.moss_report_url %}<a href="{{ submission.moss_report_url }}" target="_blank">{{ submission.moss_report_url }}</a>{% else %}ожидание ответа...{% endif %}</p>
        {% endif %}
    {% endif %}
</div>
<legend>Файлы {% if perms.contests.download_submission %}<a href="{% url 'contests:submission-download' submission.id %}" title="Скачать все файлы"><i class="fa fa-download fa-fw"></i></a>{% endif %}</legend>
<div class="list-group mb-3">
    {% for attachment in submission.attachment_set.all %}
    <span class="list-group-item d-flex">
        {% if perms.contests.download_submission %}
        <a class="mr-auto" href="{% url 'contests:submission-attachment' submission.id attachment.id %}"><samp>{{ attachment.filename }}</samp></a>
        <a href="{{ attachment.file.url }}" title="Скачать"><i class="fa fa-download fa-fw"></i></a>
        {% else %}
        <samp>{{ attachment.filename }}</samp>
        {% endif %}
    </span>
    {% endfor %}
</div>
{% endif %}
{% if submission.problem.type == 'Text' %}
<h6 class="text-muted">Ответ:</h6>
<div class="card mb-3">
    <div class="card-body">
        {{ submission.text|safe }}
    </div>
</div>
{% if perms.contests.change_submission %}
<div class="card mb-3">
    <div class="card-body">
        <canvas id="footprintChart" height="120"></canvas>
    </div>
</div>
{% endif %}
{% endif %}
{% if submission.problem.type == 'Options' %}
<h6 class="text-muted">Ответ:</h6>
<ul class="list-group mb-3">
    {% for option in submission.problem.option_set.all %}
    <li class="list-group-item {% if option in submission.options.all %}{% if option.is_correct %}text-success{% else %}text-danger{% endif %}{% endif %}">
        {% if option in submission.options.all %}{% if option.is_correct %}<i class="fa fa-check-circle-o" aria-hidden="true"></i>{% else %}<i class="fa fa-times-circle-o" aria-hidden="true"></i>{% endif %}{% endif %} {{ option.text }}
    </li>
    {% endfor %}
</ul>
{% endif %}
{% if submission.problem.type == 'Test' %}
<h6 class="text-muted">Подпосылки:</h6>
{% for sub_submission in submission.sub_submissions.all %}
<div class="card mb-3">
    <div class="card-header d-flex align-items-center">
        <small class="mr-3" title="Номер в тесте">{{ sub_submission.problem.number }}</small>
        {% if sub_submission.problem.title %}
        <small class="mr-auto" title="Перейти к задаче">
            <a href="{% url 'contests:problem-detail' sub_submission.problem.id %}" class="card-link">
                {{ sub_submission.problem.title }}
            </a>
        </small>
        {% endif %}
        <small>{{ sub_submission.problem.get_type_display }}</small>
        {% if perms.contests.change_subproblem and perms.contests.delete_subproblem %}
        <a href="{% url 'contests:submission-update' sub_submission.id %}" class="card-link ml-3" title="Изменить статус">
            <i class="fa fa-edit fa-fw fa-lg"></i>
        </a>
        {% endif %}
        <a href="{{ sub_submission.get_absolute_url }}" class="status status-{{ sub_submission.status|colorize }} ml-3" title="{{ sub_submission.get_status_display }}">
            {{ sub_submission.status }}
        </a>
    </div>
    <div class="card-body">
        {{ sub_submission.problem.description|safe }}
        <h6 class="text-muted">Ответ:</h6>
        {% if sub_submission.problem.type == 'Program' or sub_submission.problem.type == 'Files' %}
        <div class="text-right text-muted">
            {% if perms.contests.moss_submission %}
                {% if sub_submission.moss_to_submissions %}
            <p class="text-warning text-wrap" title="Отображается только преподавателям"><i class="fa fa-lock fa-fw"></i>с посылками MOSS: {% for to_submission_id in sub_submission.moss_to_submissions_list %}<a href="{% url 'contests:submission-detail' to_submission_id %}">{{ to_submission_id }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</p>
            <p class="text-warning text-wrap" title="Отображается только преподавателям"><i class="fa fa-lock fa-fw"></i>ссылка на отчет MOSS: {% if sub_submission.moss_report_url %}<a href="{{ sub_submission.moss_report_url }}" target="_blank">{{ sub_submission.moss_report_url }}</a>{% else %}ожидание ответа...{% endif %}</p>
                {% endif %}
            {% endif %}
        </div>
        <legend>Файлы {% if perms.contests.download_submission %}<a href="{% url 'contests:submission-download' sub_submission.id %}" title="Скачать все файлы"><i class="fa fa-download fa-fw"></i></a>{% endif %}</legend>
        <div class="list-group">
            {% for attachment in sub_submission.attachment_set.all %}
            <span class="list-group-item d-flex">
                {% if perms.contests.download_submission %}
                <a class="mr-auto" href="{% url 'contests:submission-attachment' sub_submission.id attachment.id %}"><samp>{{ attachment.filename }}</samp></a>
                <a href="{{ attachment.file.url }}" title="Скачать"><i class="fa fa-download fa-fw"></i></a>
                {% else %}
                <samp>{{ attachment.filename }}</samp>
                {% endif %}
            </span>
            {% endfor %}
        </div>
        {% endif %}
        {% if sub_submission.problem.type == 'Text' %}
        <div class="card">
            <div class="card-body">
                {{ sub_submission.text|safe }}
            </div>
        </div>
        {% endif %}
        {% if sub_submission.problem.type == 'Options' %}
        <ul class="list-group mb-3">
            {% for option in sub_submission.problem.option_set.all %}
            <li class="list-group-item {% if option in sub_submission.options.all %}{% if option.is_correct %}text-success{% else %}text-danger{% endif %}{% endif %}">
                {% if option in sub_submission.options.all %}{% if option.is_correct %}<i class="fa fa-check-circle-o" aria-hidden="true"></i>{% else %}<i class="fa fa-times-circle-o" aria-hidden="true"></i>{% endif %}{% endif %} {{ option.text }}
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</div>
{% endfor %}
{% endif %}
<legend>Комментарии</legend>
{% render_comments submission comments %}
{% endblock content %}

{% block javascript %}
<script type="text/javascript" src="{% static 'js/submissions.js' %}"></script>
<script src="{% static 'waypoints/lib/jquery.waypoints.min.js' %}" type="text/javascript"></script>
<script src="{% static 'waypoints/lib/shortcuts/infinite.min.js' %}" type="text/javascript"></script>
<script>
    var infinite = new Waypoint.Infinite({
        element: $('.comment-list')[0],
        items: '.comment-list-item',
        more: '.comment-list-more'
    });
</script>
<script type="text/javascript">
{% if submission.task_id %}
$(function () {
    let bar = new TaskProgress("{% url 'contests:submission-get-progress' submission.task_id %}", "{% url 'contests:submission-get-executions' submission.id %}");
    bar.poll();
});
{% endif %}
</script>
{% if submission.problem.type == 'Text' and perms.contests.change_submission %}
<script>

const interval = 10;

let footprint = JSON.parse("{{ submission.footprint }}");
let labels = Array(footprint.length)

for (let i = 0; i < labels.length; i++) {
    labels[i] = i * interval;
}

const footprintData = {
    labels: labels,
    datasets: [
        {
            label: 'Длина текста',
            data: footprint,
            borderColor: 'rgb(91, 192, 222)',
            backgroundColor: 'rgb(91, 192, 222)',
        },
    ],
};

const footprintChartConfig = {
    type: 'line',
    data: footprintData,
    options: {
        responsive: true,
        plugins: {
            legend: {
                display: false,
            },
        },
        scales: {
            x: {
                ticks: {
                    stepSize: 1,
                },
                title: {
                    display: true,
                    text: 'Секунды'
                },
            },
            y: {
                title: {
                    display: true,
                    text: 'Количество символов'
                },
                ticks: {
                    stepSize: 1,
                }
            },
        },
    },
};

var footprintChart = new Chart(
    document.getElementById('footprintChart'),
    footprintChartConfig
);

</script>
{% endif %}
{% endblock javascript %}
