{% extends 'base_wide.html' %}
{% load views contests humanize %}

{% block title %}
Посылки
{% endblock title %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% breadcrumb "Посылки" %}
{% endblock breadcrumbs %}

{% block content %}
<legend>Посылки {% if course %}<small class="text-muted">{{ course }}</small>{% endif %}</legend>
<div class="table-responsive">
    <table id="p" class="table table-bordered table-sm">
        <thead>
            <tr>
                <th class="text-center" style="width: 15%;">Дата</th>
                <th>Студент</th>
                {% if not course %}
                <th>Курс</th>
                {% endif %}
                <th>Раздел</th>
                <th style="width: 6%;">Задача</th>
                <th class="text-center" style="width: 6%;">Статус</th>
            </tr>
        </thead>
        <tbody>
            {% now 'Y' as current_year %}
            {% for submission in page_obj %}
            <tr>
                <td class="text-center text-nowrap" title="{{ submission.date_created|naturaltime }}">{% if submission.date_created|date:'Y' == current_year %}{{ submission.date_created|date:'d b в H:i' }}{% else %}{{ submission.date_created|date:'d b y г. в H:i' }}{% endif %}</td>
                <td class="text-nowrap"><a href="{{ submission.owner.account.get_absolute_url }}">{{ submission.owner.account }}</a></td>
                {% if not course %}
                <td class="text-truncate"><a href="{{ submission.problem.contest.course.get_absolute_url }}">{{ submission.problem.contest.course }}</a></td>
                {% endif %}
                <td class="text-truncate"><a href="{{ submission.problem.contest.get_absolute_url }}">{{ submission.problem.contest }}</a></td>
                <td><a href="{{ submission.problem.get_absolute_url }}" title="{{ submission.problem.title }}">{{ submission.problem.number }}</a></td>
                <td class="text-center">
                    <a href="{{ submission.get_absolute_url }}?from={{ request.get_full_path }}" class="status status-{{ submission.status|colorize }}" title="{{ submission.get_status_display }}">
                        {{ submission.status }}
                    </a>
                </td>
            </tr>
            {% empty %}
            <tr><td colspan="{% if not course %}6{% else %}5{% endif %}" class="text-center">нет посылок</td></tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% render_page_nav %}
{% endblock content %}
