{% if submissions %}
{% load views contests %}
<div class="table-responsive">
    <table id="p" class="table table-bordered table-sm">
        <thead>
            <tr>
                <th class="text-center" style="width: 18%;">Дата</th>
                {% if perms.contests.view_submission_list and not assignment %}
                <th>Студент</th>
                {% endif %}
                {% if not assignment and not problem %}
                <th>Задача</th>
                {% endif %}
                <th class="text-center" style="width: 8%;">Статус</th>
            </tr>
        </thead>
        <tbody>
            {% now 'Y' as current_year %}
            {% for submission in page_obj %}
            <tr>
                <td class="text-center">{% if submission.date_created|date:'Y' == current_year %}{{ submission.date_created|date:'d b в H:i' }}{% else %}{{ submission.date_created|date:'d b y г. в H:i' }}{% endif %}</td>
                {% if perms.contests.view_submission_list and not assignment %}
                <td><a href="{{ submission.owner.account.get_absolute_url }}">{{ submission.owner.account }}</a></td>
                {% endif %}
                {% if not assignment and not problem %}
                <td><a href="{{ submission.problem.get_absolute_url }}">{{ submission.problem }}</a></td>
                {% endif %}
                <td class="text-center">
                    <a href="{{ submission.get_absolute_url }}{% if from_url_name %}?from={{ from_url_name }}{% endif %}" class="status status-{{ submission.status|colorize }}" title="{{ submission.get_status_display }}">
                        {{ submission.status }}
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% render_page_nav %}
{% endif %}
