{% extends 'base.html' %}
{% load forms %}

{% block title %}
Посылка
{% endblock title %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li><a href="{% url 'contests:index' %}">Главная</a></li>
    <li><a href="{{ problem.contest.course.get_absolute_url }}">{{ problem.contest.course }}</a></li>
    <li><a href="{{ problem.contest.get_absolute_url }}">{{ problem.contest }}</a></li>
    <li><a href="{{ problem.get_absolute_url }}">{{ problem }}</a></li>
    <li class="active">Новая посылка</li>
</ol>
{% endblock breadcrumbs %}

{% block content %}
<legend>Отправить решение</legend>
<form action="" id="submission-form" method="post" enctype="multipart/form-data" class="form-horizontal">
    {% csrf_token %}
    <div class="alert alert-warning" role="alert">
        <p>Решения компилируются средствами gcc под операционной системой семейства Linux.</p>
        <p>Некоторые ошибки компиляции могут быть связаны с различием компиляторов.</p>
        <p>Принимаются файлы только с кодировкой UTF-8.</p>
    </div>
    {% if problem.solution_set.exists %}
    <div class="alert alert-info" role="contentinfo">
        {% for solution in problem.solution_set.all %}
        <p>{{ solution.description|safe|linebreaksbr }}</p>
        {% endfor %}
    </div>
    {% endif %}
    {% render_errors form %}
    {% with WIDGET_RENDER_TO_TEMPLATE="field.html" offset="1" width="11" %}
    {% render_field form.files class+="form-control" %}
    {% endwith %}
    {% render_button value="Отправить" %}
</form>
{% endblock content %}
