{% extends 'base_wide.html' %}
{% load views static %}

{% block title %}
Посылка
{% endblock title %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% if from_assignment and submission.get_assignment %}
{% if perms.contests.view_assignment_table %}
{% breadcrumb submission.course submission.course %}
{% breadcrumb "Задания" 'contests:assignment-table' submission.course.id %}
{% else %}
{% breadcrumb "Мои задания" 'contests:assignment-list' %}
{% endif %}
{% breadcrumb submission.get_assignment submission.get_assignment %}
{% if submission.main_submission %}
{% breadcrumb submission.main_submission.short_title submission.main_submission query_string='?from_assignment=1' %}
{% endif %}
{% breadcrumb submission.short_title submission query_string='?from_assignment=1' %}
{% else %}
{% breadcrumb submission.course submission.course %}
{% breadcrumb submission.contest submission.contest %}
{% breadcrumb submission.problem submission.problem %}
{% if submission.main_submission %}
{% breadcrumb submission.main_submission.short_title submission.main_submission %}
{% endif %}
{% breadcrumb submission.short_title submission %}
{% endif %}
{% breadcrumb attachment.filename %}
{% endblock breadcrumbs %}

{% block content %}
<legend>{{ submission }}</legend>
<samp>{{ attachment.filename }}</samp>
<div class="alert alert-light border mt-2">{{ code|safe }}</div>
{% endblock content %}

{% block stylesheets %}
<link href="{% static 'css/highlight.css' %}" rel="stylesheet"/>
{% endblock stylesheets %}
