{% extends 'base.html' %}
{% load views forms static %}

{% block title %}
Посылка
{% endblock title %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% breadcrumb problem.contest.course problem.contest.course %}
{% breadcrumb problem.contest problem.contest %}
{% breadcrumb problem problem %}
{% breadcrumb "Новая посылка" %}
{% endblock breadcrumbs %}

{% block content %}
<legend>Отправить решение</legend>
<form action="" id="submission-form" method="post" enctype="multipart/form-data" class="form-horizontal">
    {% csrf_token %}
    <div class="alert alert-warning" role="alert">
        Решения компилируются средствами gcc под операционной системой семейства Linux.<br>
        Некоторые ошибки компиляции могут быть связаны с различием компиляторов.<br>
        Принимаются файлы только с кодировкой UTF-8.<br>
    </div>
    {% if problem.solution_set.exists %}
    <div class="alert alert-info" role="contentinfo">
        {% for solution in problem.solution_set.all %}
        {{ solution.description|safe|linebreaksbr }}
        {% endfor %}
    </div>
    {% endif %}
    {% render_form_errors form %}
    {% with WIDGET_RENDER_TO_TEMPLATE="field_file.html" WIDGET_ERROR_CLASS="is-invalid" %}
    {% render_field form.files class+="custom-file-input"%}
    {% endwith %}
    {% render_submit_button value="Отправить" %}
</form>
{% endblock content %}

{% block javascript %}
<script src="{% static 'js/bs-custom-file-input.min.js' %}" type="text/javascript"></script>
<script type="text/javascript">
$(function () {
    bsCustomFileInput.init()
});
</script>
{% endblock javascript %}
