{% extends 'base_main.html' %}
{% load views forms %}

{% block title %}Посылка{% endblock title %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% if from_assignment and submission.get_assignment %}
{% if perms.contests.view_assignment_table or request|has_leader_permission:submission.course %}
{% breadcrumb submission.course submission.course %}
{% breadcrumb "Задания" 'contests:assignment-table' submission.course.id %}
{% else %}
{% breadcrumb "Мои задания" 'contests:assignment-list' %}
{% endif %}
{% breadcrumb submission.get_assignment submission.get_assignment %}
{% if submission.main_submission %}
{% breadcrumb submission.main_submission.short_title submission.main_submission query_string='?from_assignment=1' %}
{% endif %}
{% breadcrumb submission.short_title submission query_string='?from_assignment=1' %}
{% else %}
{% breadcrumb submission.course submission.course %}
{% breadcrumb submission.contest submission.contest %}
{% breadcrumb submission.problem submission.problem %}
{% if submission.main_submission %}
{% breadcrumb submission.main_submission.short_title submission.main_submission %}
{% endif %}
{% breadcrumb submission.short_title submission %}
{% endif %}
{% breadcrumb "Редактирование" %}
{% endblock breadcrumbs %}

{% block main_content %}
<legend>Изменение статуса посылки</legend>
<form id="submission-form" action="" method="post">
    {% csrf_token %}
    {% include 'forms/errors/non_field_errors.html' %}
    {% with WIDGET_RENDER_TO_TEMPLATE="forms/fields/field.html" WIDGET_ERROR_CLASS="is-invalid" %}
    {% render_field form.status class+="form-control selectpicker" %}
    {% render_field form.score class+="form-control" %}
    {% endwith %}
    {% include 'forms/submit_button.html' with value="Сохранить" %}
</form>
{% endblock main_content %}
