{% extends 'base.html' %}
{% load views forms %}

{% block title %}
Посылка
{% endblock title %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% breadcrumb problem.contest.course problem.contest.course %}
{% breadcrumb problem.contest problem.contest %}
{% breadcrumb problem problem %}
{% breadcrumb "Новая посылка" %}
{% endblock breadcrumbs %}

{% block content %}
<legend>Отправить решение</legend>
<form action="" id="submission-form" method="post" enctype="multipart/form-data" class="form-horizontal">
    {% csrf_token %}
    <div class="alert alert-warning" role="alert">
        Решения компилируются средствами gcc под операционной системой семейства Linux.<br>
        Некоторые ошибки компиляции могут быть связаны с различием компиляторов.<br>
        Принимаются файлы только с кодировкой UTF-8.<br>
    </div>
    {% if problem.solution_set.exists %}
    <div class="alert alert-info" role="contentinfo">
        {% for solution in problem.solution_set.all %}
        {{ solution.description|safe|linebreaksbr }}
        {% endfor %}
    </div>
    {% endif %}
    {% render_errors form %}
    <div class="form-group">
        <div class="custom-file">
            {% with is_invalid=form.files.errors|yesno:"is-invalid," %}
            {% render_field form.files class+="custom-file-input" class+=is_invalid %}
            {% endwith %}
            <label class="custom-file-label" for="{{ form.files.id_for_label }}">{{ form.files.label }}</label>
            {% if form.files.errors %}
            <div class="invalid-feedback">
                {% for error in form.files.errors %}
                {{ error }}
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
    {% render_button value="Отправить" %}
</form>
{% endblock content %}
