{% extends 'base_wide.html' %}
{% load views forms %}

{% block title %}
Посылка
{% endblock title %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% breadcrumb submission.problem.contest.course submission.problem.contest.course %}
{% breadcrumb submission.problem.contest submission.problem.contest %}
{% breadcrumb submission.problem submission.problem %}
{% breadcrumb submission.id submission %}
{% breadcrumb "Удаление" %}
{% endblock breadcrumbs %}

{% block content %}
<legend>Удаление посылки</legend>
{% render_delete_form submission %}
{% endblock content %}
