{% extends 'base_main.html' %}
{% load views accounts comments static %}

{% block title %}{{ discussion }}{% endblock title %}

{% block main_links %}
<link href="{% static 'easymde/easymde.min.css' %}" rel="stylesheet">
<link href="{% static 'easymde/easymde.fix.css' %}" rel="stylesheet">
{% endblock main_links %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% breadcrumb "Помощь" 'support:index' %}
{% breadcrumb discussion %}
{% endblock breadcrumbs %}

{% block main_content %}
<legend>{{ discussion }}</legend>
<div class="d-grid mb-3">
    <div class="btn-group">
        <a class="btn btn-light border disabled">
            {% unread_comments_count request.user.account discussion as ucc %}
            <i class="fa-regular fa-comments fa-fw"></i> Обсуждение{% if ucc > 0 %} <span id="unread_comments_count" class="badge rounded-pill bg-secondary align-middle">{{ ucc }}</span>{% endif %}
        </a>
    </div>
</div>
{% include 'accounts/comment/comment_list.html' with obj=discussion %}
{% endblock main_content %}
