{% extends 'base_main.html' %}
{% load views accounts comments static %}

{% block title %}{{ discussion }}{% endblock title %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% breadcrumb "Помощь" 'support:index' %}
{% breadcrumb discussion %}
{% endblock breadcrumbs %}

{% block main_content %}
<legend>{{ discussion }}</legend>
<div class="btn-group mb-3">
    <a class="btn btn-light border disabled">
        {% unread_comments_count request.user.account discussion as ucc %}
        <i class="fa fa-comments fa-fw"></i> Обсуждение{% if ucc > 0 %} <span id="unread_comments_count" class="badge rounded-pill bg-secondary align-middle">{{ ucc }}</span>{% endif %}
    </a>
</div>
{% include 'accounts/comment/comment_list.html' with obj=discussion %}
{% endblock main_content %}
