{% extends 'base_wide.html' %}
{% load views accounts comments static %}

{% block title %}
{{ discussion }}
{% endblock title %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% breadcrumb "Помощь" 'support:index' %}
{% breadcrumb discussion %}
{% endblock breadcrumbs %}

{% block content %}
<legend>{{ discussion }}</legend>
<div class="btn-group btn-block mb-3">
    <a class="btn btn-light border disabled">
        {% unread_comments_count request.user.account discussion as ucc %}
        <i class="fa fa-comments fa-fw"></i> Обсуждение{% if ucc > 0 %} <span id="unread_comments_count" class="badge rounded-pill bg-secondary align-middle">{{ ucc }}</span>{% endif %}
    </a>
</div>
{% include 'accounts/comment/comment_list.html' with obj=discussion %}
{% endblock content %}

{% block javascript %}
<script src="{% static 'waypoints/lib/jquery.waypoints.min.js' %}" type="text/javascript"></script>
<script src="{% static 'waypoints/lib/shortcuts/infinite.min.js' %}" type="text/javascript"></script>
<script>
    var infinite = new Waypoint.Infinite({
        element: $('.comment-list')[0],
        items: '.comment-list-item',
        more: '.comment-list-more'
    });
</script>
{% endblock javascript %}
