{% extends 'base_main.html' %}
{% load views humanize %}

{% block title %}Фильтры{% endblock title %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% breadcrumb "Фильтры" %}
{% endblock breadcrumbs %}

{% block main_content %}
<legend>Фильтры</legend>
<select class="form-control selectpicker mb-3" id="user_select" name="user" onchange="document.location=this.options[this.selectedIndex].value;" aria-label="Пользователь" data-live-search="true">
    {% for user in users %}
    <option value="{% get_full_path_with_updated_query_string request user_id=user.id %}" {% if user_id == user.id %}selected{% endif %} data-subtext="{{ user.account.faculty.short_name }}">{{ user.account }}</option>
    {% endfor %}
</select>
<div class="d-flex flex-column flex-md-row flex-md-wrap gap-2 mb-3">
    {% for filter in filter_list %}
    <div class="card shadow-sm">
        <div class="card-body">
            <a href="{{ filter.course.get_absolute_url }}" class="card-title">{{ filter.course }}</a>
            <p class="card-text"><small class="text-muted">{{ filter.course.get_level_display }}, {{ filter.course.faculty.short_name }}</small></p>
            <div class="d-flex gap-3">
                {% if filter.exists %}
                <a href="{% url 'contests:filter-delete' %}?user_id={{ user_id }}&course_id={{ filter.course.id }}&from={{ request.get_full_path }}"><i class="fa fa-bookmark fa-fw fa-2x"></i></a>
                {% else %}
                <a href="{% url 'contests:filter-create' %}?user_id={{ user_id }}&course_id={{ filter.course.id }}&from={{ request.get_full_path }}"><i class="fa fa-bookmark-o fa-fw fa-2x"></i></a>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock main_content %}
