{% extends 'base.html' %}
{% load views %}

{% block title %}
Событие
{% endblock title %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% breadcrumb "Расписание" 'contests:event-schedule' %}
{% breadcrumb event %}
{% endblock breadcrumbs %}

{% block content %}
<legend>{{ event }}</legend>
<table class="table table-sm">
    <tr>
        <td class="text-right" style="width: 20%;">Преподаватель</td><td>{{ event.tutor.account }}</td>
    </tr>
    <tr>
        <td class="text-right" style="width: 20%;">Место проведения</td><td>{{ event.place|default:'-' }}</td>
    </tr>
    <tr>
        <td class="text-right" style="width: 20%;">Начало</td><td>{{ event.date_start|date:'d.m.y, H:i' }}</td>
    </tr>
    <tr>
        <td class="text-right" style="width: 20%;">Окончание</td><td>{{ event.date_end|date:'d.m.y, H:i' }}</td>
    </tr>
    <tr>
        <td class="text-right" style="width: 20%;">Метки</td><td>{% for tag in event.tags.all %}<span class="badge badge-secondary">{{ tag }}</span>{% endfor %}</td>
    </tr>
</table>
{% endblock content %}

{% block submenu %}
<div class="list-group mb-3">
    {% if perms.contests.change_event %}
    <a href="{% url 'contests:event-update' event.id %}" class="list-group-item list-group-item-action"><i class="fa fa-edit fa-fw"></i> Редактировать событие</a>
    {% endif %}
    {% if perms.contests.delete_event %}
    <a href="{% url 'contests:event-delete' event.id %}" class="list-group-item list-group-item-action"><i class="fa fa-trash-o fa-fw"></i> Удалить событие</a>
    {% endif %}
</div>
{% endblock submenu %}