{% extends 'base.html' %}
{% load views events %}

{% block title %}
Расписание
{% endblock title %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% breadcrumb "Расписание" %}
{% endblock breadcrumbs %}

{% block content %}
<legend>Расписание</legend>
{% render_schedule_weekly year week events %}
{% endblock content %}

{% block submenu %}
<div class="list-group mb-3">
    {% if perms.contests.add_event %}
    <a href="{% url 'contests:event-create' %}" class="list-group-item list-group-item-action"><i class="fa fa-plus fa-fw"></i> Добавить событие</a>
    {% endif %}
</div>
{% endblock submenu %}
