{% extends 'base.html' %}
{% load views forms static %}

{% block title %}
Событие
{% endblock title %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css' %}"/>
{% endblock stylesheets %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% breadcrumb "Расписание" 'contests:event-schedule' %}
{% if event %}
{% breadcrumb event event %}
{% breadcrumb "Редактирование" %}
{% else %}
{% breadcrumb "Новое событие" %}
{% endif %}
{% endblock breadcrumbs %}

{% block content %}
<legend>{% if event %}Редактирование{% else %}Добавление{% endif %} события</legend>
<form action="" method="post" class="form-horizontal">
    {% csrf_token %}
    {% render_errors form %}
    {% with WIDGET_RENDER_TO_TEMPLATE="field.html" %}
    {% render_field form.title class+="form-control" %}
    {% render_field form.place class+="form-control" %}
    {% render_field form.tutor class+="form-control selectpicker" %}
    {% render_field form.type class+="form-control selectpicker" %}
    {% render_field form.tags class+="form-control selectpicker" %}
    {% render_field form.date_start class+="form-control" %}
    {% render_field form.date_end class+="form-control" %}
    {% endwith %}
    {% render_button value="Сохранить" %}
</form>
{% endblock content %}

{% block javascript %}
<script type="text/javascript" src="{% static 'moment/min/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'moment/min/locales.min.js' %}"></script>
<script type="text/javascript" src="{% static 'eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js' %}"></script>
<script type="text/javascript">
$(function () {
    $("#id_date_start").datetimepicker({
        locale: 'ru',
        format: 'DD.MM.YYYY HH:mm:ss',
        sideBySide: true,
    });
    $("#id_date_end").datetimepicker({
        useCurrent: false,
        locale: 'ru',
        format: 'DD.MM.YYYY HH:mm:ss',
        sideBySide: true,
    });
    $("#id_date_start").on("dp.change", function (e) {
        $("#id_date_end").data("DateTimePicker").minDate(e.date);
    });
    $("#id_date_end").on("dp.change", function (e) {
        $("#id_date_start").data("DateTimePicker").maxDate(e.date);
    });
});
</script>
{% endblock javascript %}
