{% extends 'base_wide.html' %}
{% load views forms static %}

{% block title %}
Сгенерировать ведомость
{% endblock title %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css' %}"/>
{% endblock stylesheets %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% breadcrumb course course %}
{% breadcrumb "Задания" 'contests:assignment-table' course.id %}
{% breadcrumb "Генератор ведомости" %}
{% endblock breadcrumbs %}

{% block content %}
<legend>Сгенерировать ведомость</legend>
<form action="" method="post" class="form-horizontal">
    {% csrf_token %}
    {% render_form_errors form %}
    {% with WIDGET_RENDER_TO_TEMPLATE="field.html" WIDGET_ERROR_CLASS="is-invalid" %}
    {% render_field form.group_name class+="form-control" %}
    {% render_field form.students class+="form-control selectpicker" title="..." data-actions-box="true" data-selected-text-format="count > 3" %}
    {% render_field form.type class+="form-control selectpicker" %}
    {% render_field form.examiners class+="form-control selectpicker" title="..." data-actions-box="true" data-selected-text-format="count > 3" %}
    {% render_field form.faculty class+="form-control" %}
    {% render_field form.discipline class+="form-control" %}
    {% render_field form.semester class+="form-control" %}
    {% render_field form.date class+="form-control" %}
    {% endwith %}
    {% render_submit_button value="Сгенерировать" %}
</form>
{% endblock content %}

{% block javascript %}
<script type="text/javascript" src="{% static 'moment/min/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'moment/min/locales.min.js' %}"></script>
<script type="text/javascript" src="{% static 'eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js' %}"></script>
<script type="text/javascript">
$(function () {
    $("#id_date").datetimepicker({
        locale: 'ru',
        format: 'DD.MM.YYYY',
        sideBySide: true,
        icons: {
            time: 'fa fa-clock-o fa-fw',
            date: 'fa fa-calendar fa-fw',
            up: 'fa fa-chevron-up fa-fw',
            down: 'fa fa-chevron-down fa-fw',
            previous: 'fa fa-chevron-left fa-fw',
            next: 'fa fa-chevron-right fa-fw',
            today: 'fa fa-map-marker fa-fw',
            clear: 'fa fa-refresh fa-fw',
            close: 'fa fa-times fa-fw'
        }
    });
});
</script>
{% endblock javascript %}
