{% extends 'base_wide.html' %}
{% load views forms %}

{% block title %}
Зачет
{% endblock title %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% breadcrumb credit.course credit.course %}
{% breadcrumb "Задания" 'contests:assignment-table' credit.course.id %}
{% breadcrumb credit %}
{% breadcrumb "Редактирование" %}
{% endblock breadcrumbs %}

{% block content %}
<legend>Редактирование зачета</legend>
<form action="" method="post" class="form-horizontal">
    {% csrf_token %}
    {% render_form_errors form %}
    {% with WIDGET_RENDER_TO_TEMPLATE="field.html" WIDGET_ERROR_CLASS="is-invalid" %}
    {% render_field form.score class+="form-control selectpicker" %}
    {% endwith %}
    {% render_submit_button value="Сохранить" %}
</form>
{% endblock content %}
