{% extends 'base_main.html' %}
{% load views forms %}

{% block title %}Зачет{% endblock title %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% breadcrumb credit.course credit.course %}
{% breadcrumb "Задания" 'contests:assignment-table' credit.course.id %}
{% breadcrumb credit %}
{% breadcrumb "Редактирование" %}
{% endblock breadcrumbs %}

{% block main_content %}
<legend>{{ credit }}</legend>
<form action="" method="post">
    {% csrf_token %}
    {% include 'forms/errors/non_field_errors.html' %}
    {% with WIDGET_RENDER_TO_TEMPLATE="forms/fields/field.html" WIDGET_ERROR_CLASS="is-invalid" %}
    {% render_field form.score class+="form-control selectpicker" %}
    {% endwith %}
    {% include 'forms/submit_button.html' with value="Сохранить" %}
</form>
{% endblock main_content %}
