{% extends 'base.html' %}
{% load views humanize %}

{% block title %}
Сообщения
{% endblock title %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% breadcrumb "Сообщения" %}
{% endblock breadcrumbs %}

{% block content %}
<legend>Диалоги</legend>
<div class="message-list">
    {% for chat in chats %}
    {% if request.user.id == chat.user_a.id %}
    <a href="{% url 'accounts:message-create' chat.user_b.id %}">
        <div class="message-list-item col-md-12">
            <div class="message-user col-md-2 text-right">
                {{ chat.user_b.account }}
    {% elif request.user.id == chat.user_b.id %}
    <a href="{% url 'accounts:message-create' chat.user_a.id %}">
        <div class="message-list-item col-md-12">
            <div class="message-user col-md-2 text-right">
                {{ chat.user_a.account }}
    {% endif %}
            </div>
            <div class="message-main col-md-10">
                <div class="message-text">
                    {{ chat.latest_message.text }}
                </div>
                <div class="message-footer">
                    <span class="text-muted">{{ chat.latest_message.date_created|naturaltime }}
                        {% if request.user.id != chat.latest_message.sender.id and not chat.latest_message.is_read %}
                        <span class="badge badge-primary">Новое</span>
                        {% endif %}
                    </span>
                </div>
            </div>
        </div>
    </a>
    {% endfor %}
</div>
{% endblock content %}
