<!DOCTYPE html>
{% load static %}
{% block html %}
<html lang="ru">
    {% block head %}
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
        <title>{% block title %}Вход{% endblock title %} | МГУ Контест</title>
        <link rel="stylesheet" href="{% static 'icons/css/fontawesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'icons/css/regular.min.css' %}">
        <link rel="stylesheet" href="{% static 'icons/css/solid.min.css' %}">
        <link rel="stylesheet" href="{% static 'icons/css/brands.min.css' %}">
        <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}"/>
        {% block links %}{% endblock links %}
        <link rel="stylesheet" href="{% static 'contest/css/contest.css' %}"/>
    </head>
    {% endblock head %}
    {% block body %}
    <body>
        {% block content %}{% endblock content %}
        <script type="text/javascript" src="{% static 'bootstrap/bootstrap.min.js' %}"></script>
        {% block scripts %}{% endblock scripts %}
    </body>
    {% endblock body %}
</html>
{% endblock html %}
