<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{% block title %}Главная{% endblock title %} | МГУ Контест</title>
    <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/contest.css' %}" rel="stylesheet"/>
    <link href="{% static 'bootstrap-select/dist/css/bootstrap-select.min.css' %}" rel="stylesheet"/>
    {% block stylesheets %}
    {% endblock stylesheets %}
</head>
<body>
{% block navigation %}
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
        <a class="navbar-brand" href="{% url 'contests:index' %}">
            <img src="{% static 'msu-logo.png' %}" class="mr-2" style="width:30px; height: 30px;" alt="Московский Государственный Университет имени М.В. Ломоносова"><span>Контест</span><sup> β</sup>
        </a>
        <button aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarToggler" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                {% if request.user.is_authenticated %}
                <li title="Объявления">
                    <a class="nav-link" href="{% url 'accounts:announcement-list' %}">Объявления</a>
                </li>
                <li title="Расписание">
                    <a class="nav-link" href="{% url 'schedule:schedule-list' %}">Расписание</a>
                </li>
                <li title="Помощь">
                    <a class="nav-link" href="{% url 'support:index' %}">Помощь</a>
                </li>
                <li title="Сообщить об ошибке">
                    <a class="nav-link" href="{% url 'support:report-create' %}?from={{ request.path }}">Сообщить об ошибке</a>
                </li>
                {% if request.user.is_staff %}
                <li title="Админка">
                    <a class="nav-link" href="{% url 'admin:index' %}">Админка</a>
                </li>
                {% endif %}
                {% endif %}
            </ul>
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                {% if request.user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="navbarDropdown" role="button">
                        {{ request.user.account.get_short_name }}
                    </a>
                    <div aria-labelledby="navbarDropdown" class="dropdown-menu shadow-sm">
                        <a class="dropdown-item" href="{{ request.user.account.get_absolute_url }}"><i class="fa fa-user-o fa-fw"></i> Профиль</a>
                        {% with request.user.notifications.unread.count as notification_count %}
                        <a class="dropdown-item" href="{% url 'accounts:activity-list' %}"><i class="fa fa-bell-o fa-fw"></i> Оповещения{% if notification_count %} <span id="unread_activities_count" class="badge badge-pill badge-secondary align-middle">{{ notification_count }}</span>{% endif %}</a>
                        {% endwith %}
                        {% with request.user.received_messages.unread.count as messages_count %}
                        <a class="dropdown-item" href="{% url 'accounts:chat-list' %}"><i class="fa fa-envelope-o fa-fw"></i> Сообщения{% if messages_count %} <span class="badge badge-pill badge-secondary align-middle">{{ messages_count }}</span>{% endif %}</a>
                        {% endwith %}
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'logout' %}"><i class="fa fa-sign-out fa-fw"></i> Выйти</a>
                    </div>
                </li>
                {% else %}
                <li>
                    <a class="nav-link" href="{% url 'password-reset' %}">Забыли пароль?</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
{% endblock navigation %}
<div class="container content">
    {% block container %}
    <div class="row">
        <div class="col-12 col-md-9">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    {% block breadcrumbs %}
                    {% endblock breadcrumbs %}
                </ol>
            </nav>
            {% block content %}
            {% endblock content %}
        </div>
        <div class="col-12 col-md-3">
            {% if not perms.contests.view_assignment_table %}
            <div class="list-group mb-3">
                <a class="list-group-item list-group-item-action" href="{% url 'contests:course-list' %}">
                    <i class="fa fa-book fa-fw"></i> Курсы
                </a>
            </div>
            <div class="list-group mb-3">
                <a class="list-group-item list-group-item-action" href="{% url 'contests:assignment-list' %}">
                    <i class="fa fa-list-ol fa-fw"></i> Мои задания
                </a>
            </div>
            {% endif %}
            {% block submenu %}
            {% endblock submenu %}
        </div>
    </div>
    {% endblock container %}
</div>
{% block footer %}
<div class="footer text-center mt-3">
    <div class="container">
        <p class="copyright">Филиал МГУ им. М.В. Ломоносова в г. Ташкент &copy; {% now "Y" %}</p>
    </div>
</div>
{% endblock footer %}
<script src="{% static 'jquery/dist/jquery.min.js' %}" type="text/javascript"></script>
<script src="{% static 'bootstrap/dist/js/bootstrap.bundle.min.js' %}" type="text/javascript"></script>
<script src="{% static 'bootstrap-select/dist/js/bootstrap-select.min.js' %}" type="text/javascript"></script>
<script src="{% static 'bootstrap-select/dist/js/i18n/defaults-ru_RU.min.js' %}" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        $('.selectpicker').selectpicker({
            style: 'form-control'
        });
    });
    $(function () {
        let tooltips = $('[data-toggle="tooltip"]');
        tooltips.tooltip({
            trigger: "hover",
            delay: {"show": 500, "hide": 100}
        });
        tooltips.each(function (){
            $(this).attr("onclick", "closeTooltips()");
        });
    });
    function closeTooltips() {
        $('[data-toggle="tooltip"]').tooltip('hide');
    }
</script>
{% block javascript %}
{% endblock javascript %}
</body>
</html>
