<div class="form-group">
    <label for="{{ field.id_for_label }}">
        {{ field.label }}{{ field.label_suffix }}
    </label>
    {% if field.errors %}
    <div class="alert alert-danger">
        {% for error in field.errors %}
        {{ error }}<br>
        {% endfor %}
    </div>
    {% endif %}
    <div class="input-group">
        {{ field }}
        {% if field.field.append_text %}
        <div class="input-group-append">
            <span class="input-group-text">{{ field.field.append_text }}</span>
        </div>
        {% endif %}
    </div>
    {% if field.help_text %}
    <small class="form-text text-muted">
        {{ field.help_text }}
    </small>
    {% endif %}
</div>
