<div class="form-group row">
    <div class="input-group">
        <label class="col-2 col-form-label" for="{{ field.id_for_label }}">
            {{ field.label }}{{ field.label_suffix }}
        </label>
        <div class="col-10">
            {{ field }}
            {% if field.field.append_text %}
            <div class="input-group-append">
                <span class="input-group-text">{{ field.field.append_text }}</span>
            </div>
            {% endif %}
            {% if field.errors %}
            <div class="invalid-feedback">
                {% for error in field.errors %}{{ error }}{% endfor %}
            </div>
            {% endif %}
            {% if field.help_text %}
            <small class="form-text text-muted">{{ field.help_text }}</small>
            {% endif %}
        </div>
    </div>
</div>
