<div class="form-group form-row">
    <div class="input-group">
        <label class="col-md-2 col-form-label" for="{{ field.id_for_label }}">
            {{ field.label }}{{ field.label_suffix }}
        </label>
        <div class="col-md-10 d-flex align-items-center">
            <div class="custom-control custom-switch mt-0">
                {{ field }}
                <label class="custom-control-label" for="{{ field.id_for_label }}"></label>
            </div>
        </div>
    </div>
</div>
