<div class="form-group">
    <label for="{{ field.id_for_label }}">
        {{ field.label }}{{ field.label_suffix }}
    </label>
    <div class="input-group">
        {{ field }}
        {% if field.field.append_text %}
        <div class="input-group-append">
            <span class="input-group-text">{{ field.field.append_text }}</span>
        </div>
        {% endif %}
        {% if field.errors %}
        <div class="invalid-feedback">
            {% for error in field.errors %}{{ error }} {% endfor %}
        </div>
        {% endif %}
    </div>
    {% if field.help_text %}
    <small class="form-text text-muted">{{ field.help_text }}</small>
    {% endif %}
</div>


