{% for problem_group in problem_groups %}
<div class="list-group {% if forloop.counter > 1 %}mt-3{% endif %} mb-0">
    {% for problem in problem_group.problems %}
    <a href="{{ problem.get_absolute_url }}" class="list-group-item list-group-item-action" title="{{ problem.get_type_display }}">
        {{ problem }}<span class="pull-right"><i class="fa {{ problem_group.icon }} fa-fw"></i></span>
    </a>
    {% endfor %}
</div>
{% empty %}
<div class="alert alert-info mb-0" role="alert">Задачи еще не добавлены</div>
{% endfor %}
