{% extends 'base_wide.html' %}
{% load views forms static %}

{% block title %}
Тест
{% endblock title %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% breadcrumb problem.course problem.course %}
{% breadcrumb problem.contest problem.contest %}
{% breadcrumb problem problem %}
{% if uttest %}
{% breadcrumb uttest uttest %}
{% breadcrumb "Редактирование" %}
{% else %}
{% breadcrumb "Новый UT-тест" %}
{% endif %}
{% endblock breadcrumbs %}

{% block content %}
<legend>{% if uttest %}Редактирование{% else %}Добавление{% endif %} UT-теста</legend>
<form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
    {% csrf_token %}
    {% render_form_errors form %}
    {% with WIDGET_RENDER_TO_TEMPLATE="field.html" WIDGET_ERROR_CLASS="is-invalid" %}
    {% render_field form.title class+="form-control" %}
    {% render_field form.compile_args class+="form-control" %}
    {% render_field form.compile_args_override class+="form-control" %}
    {% render_field form.launch_args class+="form-control" %}
    {% render_field form.launch_args_override class+="form-control" %}
    {% with WIDGET_RENDER_TO_TEMPLATE="field_file.html" WIDGET_ERROR_CLASS="is-invalid" %}
    {% render_field form.files class+="form-control" %}
    {% endwith %}
    {% endwith %}
    {% render_submit_button value="Сохранить" %}
</form>
{% endblock content %}
