{% extends 'base_main.html' %}
{% load views forms %}

{% block title %}UT-Тест{% endblock title %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% breadcrumb uttest.course uttest.course %}
{% breadcrumb uttest.contest uttest.contest %}
{% breadcrumb uttest.problem uttest.problem %}
{% breadcrumb uttest uttest %}
{% breadcrumb "Удаление" %}
{% endblock breadcrumbs %}

{% block main_content %}
<legend>Удаление UT-теста</legend>
{% render_delete_form uttest %}
{% endblock main_content %}
