{% extends 'base_wide.html' %}
{% load views forms %}

{% block title %}
Тест
{% endblock title %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% breadcrumb uttest.problem.contest.course uttest.problem.contest.course %}
{% breadcrumb uttest.problem.contest uttest.problem.contest %}
{% breadcrumb uttest.problem uttest.problem %}
{% breadcrumb uttest uttest %}
{% breadcrumb "Удаление" %}
{% endblock breadcrumbs %}

{% block content %}
<legend>Удаление UT-теста</legend>
{% render_delete_form uttest %}
{% endblock content %}
