{% extends 'base_wide.html' %}
{% load views contests %}

{% block title %}
UT-Тест
{% endblock title %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% breadcrumb uttest.course uttest.course %}
{% breadcrumb uttest.contest uttest.contest %}
{% breadcrumb uttest.problem uttest.problem %}
{% breadcrumb uttest %}
{% endblock breadcrumbs %}

{% block content %}
<legend>
    <div class="d-flex justify-content-between">
        <span class="text-truncate">{{ uttest }}</span>
        <span class="d-flex justify-content-between">
            {% if perms.contests.change_uttest or request|has_leader_permission:uttest.course %}
            <a href="{% url 'contests:uttest-update' uttest.id %}" data-toggle="tooltip" data-placement="left" title="Редактировать UT-тест"><i class="fa fa-edit fa-fw"></i></a>
            {% endif %}
            {% if perms.contests.delete_uttest or request|has_leader_permission:uttest.course %}
            <a href="{% url 'contests:uttest-delete' uttest.id %}" class="text-danger" data-toggle="tooltip" data-placement="top" title="Удалить UT-тест" style="position: relative; top: -0.08rem;"><i class="fa fa-trash-o fa-fw"></i></a>
            {% endif %}
        </span>
    </div>
</legend>
<table class="table table-sm">
    <tr>
        <td class="text-end" style="width: 22%;">Параметры компиляции</td>
        <td>
            <code class="me-2">{{ uttest.compile_args|default:"не указаны" }}</code>
            {% if uttest.compile_args_override %}
            <span title="Затирают параметры задачи!" class="badge bg-danger" style="position: relative; top: -0.08rem;"><i class="fa fa-exclamation-circle fa-fw"></i></span>
            {% else %}
            <span title="Дополняют параметры задачи!" class="badge bg-info" style="position: relative; top: -0.08rem;"><i class="fa fa-exclamation-circle fa-fw"></i></span>
            {% endif %}
        </td>
    </tr>
    <tr>
        <td class="text-end" style="width: 22%;">Параметры запуска</td>
        <td>
            <code class="me-2">{{ uttest.launch_args|default:"не указаны" }}</code>
            {% if uttest.launch_args_override %}
            <span title="Затирают параметры задачи!" class="badge bg-danger" style="position: relative; top: -0.08rem;"><i class="fa fa-exclamation-circle fa-fw"></i></span>
            {% else %}
            <span title="Дополняют параметры задачи!" class="badge bg-info" style="position: relative; top: -0.08rem;"><i class="fa fa-exclamation-circle fa-fw"></i></span>
            {% endif %}
        </td>
    </tr>
</table>
{% render_attachment_list uttest uttest.course %}
{% endblock content %}
