{% extends 'base.html' %}
{% load views contests %}

{% block title %}
Тест
{% endblock title %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% breadcrumb uttest.problem.contest.course uttest.problem.contest.course %}
{% breadcrumb uttest.problem.contest uttest.problem.contest %}
{% breadcrumb uttest.problem uttest.problem %}
{% breadcrumb uttest %}
{% endblock breadcrumbs %}

{% block content %}
<legend>{{ uttest }}</legend>
<table class="table table-sm">
    <tr>
        <td class="text-right" style="width: 20%;">Параметры компиляции</td>
        <td>
            <code class="mr-2">{{ uttest.compile_args|default:"не указаны" }}</code>
            {% if uttest.compile_args_override %}
            <span title="Затирают параметры задачи!" class="badge badge-danger"><i class="fa fa-exclamation-circle fa-fw"></i></span>
            {% else %}
            <span title="Дополняют параметры задачи!" class="badge badge-info"><i class="fa fa-exclamation-circle fa-fw"></i></span>
            {% endif %}
        </td>
    </tr>
    <tr>
        <td class="text-right" style="width: 20%;">Параметры запуска</td>
        <td>
            <code class="mr-2">{{ uttest.launch_args|default:"не указаны" }}</code>
            {% if uttest.launch_args_override %}
            <span title="Затирают параметры задачи!" class="badge badge-danger"><i class="fa fa-exclamation-circle fa-fw"></i></span>
            {% else %}
            <span title="Дополняют параметры задачи!" class="badge badge-info"><i class="fa fa-exclamation-circle fa-fw"></i></span>
            {% endif %}
        </td>
    </tr>
</table>
{% render_attachment_list uttest %}
{% endblock content %}

{% block submenu %}
<div class="list-group mb-3">
    {% if perms.contests.change_uttest %}
    <a href="{% url 'contests:uttest-update' uttest.id %}" class="list-group-item list-group-item-action"><i class="fa fa-edit fa-fw"></i> Редактировать UT-тест</a>
    {% endif %}
    {% if perms.contests.delete_uttest %}
    <a href="{% url 'contests:uttest-delete' uttest.id %}" class="list-group-item list-group-item-action"><i class="fa fa-trash-o fa-fw"></i> Удалить UT-тест</a>
    {% endif %}
</div>
{% endblock submenu %}
