{% extends 'base.html' %}
{% load views forms markdown static %}

{% block title %}
Новое решение набора тестов
{% endblock title %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% breadcrumb testsuite.contest.course testsuite.contest.course %}
{% breadcrumb testsuite.contest testsuite.contest %}
{% breadcrumb testsuite testsuite %}
{% breadcrumb "Новое решение набора тестов" %}
{% endblock breadcrumbs %}

{% block content %}
<legend>Решить набор тестов</legend>
<h5>{{ testsuite }}</h5>
<p>{{ testsuite.description|markdown|safe }}</p>
<form action="" id="testsuitesubmission-form" method="post" enctype="multipart/form-data" class="form-horizontal">
    {% csrf_token %}
    {% render_form_errors form %}

    {{ testsubmission_formset.management_form }}
    {% for form in testsubmission_pairs %}
    <div class="form-row card mb-4">
        <div class="form-group mb-0 card-body">
            {{ form.0.question|markdown|safe }}
            {% with form.1.answer as field %}
            <div class="input-group {% if field.errors %}is-invalid{% endif %}">
                {% with WIDGET_RENDER_TO_TEMPLATE="field.html" %}
                {% with is_invalid=field.errors|yesno:"is-invalid," %}
                {% render_field field class+="form-control" class+=is_invalid lang="ru" %}
                {% endwith %}
                {% endwith %}
            </div>
            {% if field.errors %}
            <div class="invalid-feedback">
                {% for error in field.errors %}{{ error }}{% endfor %}
            </div>
            {% endif %}
            {% endwith %}
        </div>
    </div>
    {% endfor %}

    {% render_submit_button value="Отправить" %}
</form>
{% endblock content %}

{% block javascript %}
<script type="text/javascript" src="{% static 'js/bs-custom-file-input.min.js' %}"></script>
{% endblock javascript %}
