{% extends 'base.html' %}
{% load views forms %}

{% block title %}
Посылка
{% endblock title %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% breadcrumb testsuitesubmission.testsuite.contest.course testsuitesubmission.testsuite.contest.course %}
{% breadcrumb testsuitesubmission.testsuite.contest testsuitesubmission.testsuite.contest %}
{% breadcrumb testsuitesubmission.testsuite testsuitesubmission.testsuite %}
{% breadcrumb testsuitesubmission.id testsuitesubmission %}
{% breadcrumb "Удаление" %}
{% endblock breadcrumbs %}

{% block content %}
<legend>Удаление посылки</legend>
{% render_delete_form testsuitesubmission %}
{% endblock content %}
