{% extends 'base.html' %}
{% load views %}

{% block title %}
Решение
{% endblock title %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% breadcrumb solution %}
{% endblock breadcrumbs %}

{% block content %}
<legend>{{ solution }}</legend>
<div>
    <p>Описание:</p>
    <div class="alert alert-secondary">
        {{ solution.description|safe|linebreaksbr }}
    </div>
    <p>Шаблон:</p>
    <div class="alert alert-secondary">
        <samp>{{ solution.pattern|safe|linebreaksbr }}</samp>
    </div>
    <p>Задачи:</p>
    {% render_list solution.problems.all %}
</div>
{% endblock content %}

{% block submenu %}
<div class="list-group mb-3">
    {% if perms.contests.change_solution %}
    <a href="{% url 'contests:solution-update' solution.id %}" class="list-group-item list-group-item-action"><i class="fa fa-edit fa-fw"></i> Редактировать решение</a>
    {% endif %}
    {% if perms.contests.delete_solution %}
    <a href="{% url 'contests:solution-delete' solution.id %}" class="list-group-item list-group-item-action"><i class="fa fa-trash-o fa-fw"></i> Удалить решение</a>
    {% endif %}
</div>
{% endblock submenu %}
