{% extends 'base.html' %}
{% load views forms %}

{% block title %}
Решение
{% endblock title %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% if solution %}
{% breadcrumb solution solution %}
{% breadcrumb "Редактирование" %}
{% else %}
{% breadcrumb "Новое решение" %}
{% endif %}
{% endblock breadcrumbs %}

{% block content %}
<legend>{% if solution %}Редактирование{% else %}Добавление{% endif %} решения</legend>
<form action="" method="post" class="form-horizontal">
    {% csrf_token %}
    {% render_form_errors form %}
    {% with WIDGET_RENDER_TO_TEMPLATE="field.html" %}
    {% render_field form.problems class+="form-control selectpicker" data-actions-box="true" %}
    {% render_field form.title class+="form-control" %}
    {% render_field form.description class+="form-control" %}
    {% render_field form.pattern class+="form-control" %}
    {% endwith %}
    {% render_submit_button value="Сохранить" %}
</form>
{% endblock content %}
