{% if attachments %}
<legend>{{ legend }}</legend>
<ul class="list-group">
    {% for attachment in attachments %}
    <li class="list-group-item">
        <a href="{{ attachment.file.url }}">{{ attachment.filename }}</a>
        <span class="text-muted">{{ attachment.date_created|date:'d.m.y, H:i' }}</span>
        {% if perms.contests.delete_attachment %}
        <a href="{% url 'contests:attachment-delete' attachment.id %}" type="button" class="close" aria-label="Удалить">
            <span aria-hidden="true">&times;</span>
        </a>
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% endif %}