{% load views %}
<ul class="list-group w-100">
    {% for attachment in attachments %}
    <li class="list-group-item d-flex">
        <a class="text-truncate mr-auto" href="{% url path_name obj.id attachment.id %}" target="_blank">
            <samp>{{ attachment.filename }}</samp>
        </a>
        <span class="text-muted text-nowrap mr-2">{% if attachment.file|exists %}{{ attachment.file.size|filesizeformat }} ∙ {% endif %}{{ attachment.date_created|date:'d b Y H:i' }}</span>
        {% if attachment.extension == '.pdf' or attachment.extension == '.ppt' or attachment.extension == '.pptx' or attachment.extension == '.doc' or attachment.extension == '.docx' or attachment.extension == '.xls' or attachment.extension == '.xlsx' or attachment.extension == '.csv' %}
        <a href="https://docs.google.com/viewer?url=https://{{ contest_domain }}{{ attachment.file.url }}" class="mr-2" data-toggle="tooltip" data-placement="top" title="Смотреть в Google Docs" target="_blank"><i class="fa fa-external-link"></i></a>
        {% endif %}
        {% if attachment.file|exists %}
        <a href="{{ attachment.file.url }}" download="{{ attachment.filename }}" class="mr-2" data-toggle="tooltip" data-placement="top" title="Скачать"><i class="fa fa-download fa-fw"></i></a>
        {% endif %}
        {% if perms.contests.delete_attachment or request|has_leader_permission:course %}
        <a href="{% url 'contests:attachment-delete' attachment.id %}" class="text-danger" data-toggle="tooltip" data-placement="top" title="Удалить"><i class="fa fa-trash-o fa-fw"></i></a>
        {% endif %}
    </li>
    {% endfor %}
</ul>
