{% extends 'base_wide.html' %}
{% load views forms contests tutorial static %}

{% block title %}
Посещаемость
{% endblock title %}

{% block stylesheets %}
<link href="{% static 'tempus-dominus/css/tempus-dominus.css' %}" rel="stylesheet">
<link href="{% static 'tempus-dominus/css/tempus-dominus.patch.css' %}" rel="stylesheet">
{% endblock stylesheets %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% breadcrumb course course %}
{% breadcrumb "Задания" 'contests:assignment-table' course.id query_string=request|get_query_string %}
{% breadcrumb "Посещаемость" %}
{% endblock breadcrumbs %}

{% block content %}
<legend>Посещаемость</legend>
<form action="" method="post">
    {% csrf_token %}
    {% render_form_errors form %}
    <div id="field_date_interval" class="row">
        {% with WIDGET_ERROR_CLASS="is-invalid" %}
        <div class="col-4 col-lg-3">
            {% render_field form.date class+="form-control" %}
            {% if form.date.errors %}
            <div class="invalid-feedback">
                {% for error in form.date.errors %}{{ error }}{% endfor %}
            </div>
            {% endif %}
        </div>
        <div class="col-8 col-lg-9">
            {% render_field form.time_interval class+="form-control selectpicker" %}
            {% if form.time_interval.errors %}
            <div class="invalid-feedback">
                {% for error in form.time_interval.errors %}{{ error }}{% endfor %}
            </div>
            {% endif %}
        </div>
        {% endwith %}
    </div>
    {{ formset.management_form }}
    {% include 'formset_errors.html' with formset=formset %}
    <div id="attendance_formset_table" class="table-responsive-lg mt-3">
        <table class="table table-bordered table-sm table-hover">
            <thead>
                <tr id="attendance_formset_table_header">
                    <th class="text-end" style="width: 4%;">№</th>
                    <th style="width: 25%;">Студент</th>
                    <th class="text-center" style="width: 4%;">
                        <div class="form-check" data-bs-toggle="tooltip" data-bs-placement="top" title="Отметить всех студентов">
                            <input class="form-check-input" id="check_all" type="checkbox">
                            <label class="form-check-label ms-2" for="check_all"></label>
                        </div>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for form in formset %}
                <tr>
                    <td class="text-end font-monospace">{{ forloop.counter|stringformat:"02d" }}</td>
                    <td class="text-truncate"><a href="{{ form.account.get_absolute_url }}" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ form.account.get_full_name }}">{{ form.account.get_short_name }}</a></td>
                    <td class="text-center">
                        <div class="form-check">
                            {% render_field form.flag class+="form-check-input check" %}
                            <label class="form-check-label ms-2" for="{{ form.flag.id_for_label }}"></label>
                        </div>
                    </td>
                    <td>
                        {% render_field form.user %}
                        {% render_field form.course %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div id="form_submit_button">
    {% render_submit_button value="Сохранить" %}
    </div>
</form>
{% endblock content %}

{% block javascript %}
<script src="{% static 'popper/popper.min.js' %}" type="text/javascript"></script>
<script src="{% static 'tempus-dominus/js/tempus-dominus.js' %}" type="text/javascript"></script>
<script src="{% static 'tempus-dominus/tempus-dominus.options.js' %}" type="text/javascript"></script>
<script type="text/javascript">
let checkboxes = document.getElementsByClassName('check');
document.getElementById('check_all').addEventListener('click', function (e) {
    for (let checkbox of checkboxes) {
        checkbox.checked = e.target.checked;
    }
});
document.addEventListener("DOMContentLoaded", function() {
    tdOptions.display.components.clock = false;
    const picker = new tempusDominus.TempusDominus(document.getElementById('id_date'), tdOptions);
});
</script>
<script type="text/javascript">
driver.defineSteps([
    {% if request.user.account.is_instructor or request.user.is_superuser %}
    {% if not request|have_passed_step:'field_date_interval' %}
    {
        view: '{% tutorial_step_view request %}',
        step: 'field_date_interval',
        element: '#field_date_interval',
        popover: {
            title: "Пара",
            description: "Выберите текущую или прошедшую пару.",
            position: 'bottom'
        }
    },
    {% endif %}
    {% if not request|have_passed_step:'attendance_formset_table_header' %}
    {
        view: '{% tutorial_step_view request %}',
        step: 'attendance_formset_table_header',
        element: '#attendance_formset_table_header',
        popover: {
            title: "Отметки",
            description: "В этой таблице отображены все студенты данного курса.",
            position: 'bottom',
        }
    },
    {% endif %}
    {% if not request|have_passed_step:'attendance_formset_table' %}
    {
        view: '{% tutorial_step_view request %}',
        step: 'attendance_formset_table',
        element: '#attendance_formset_table',
        popover: {
            title: "Отметки",
            description: "Отметьте присутствующих на паре студентов. Неотмеченные как присутствующие студенты будут учтены как отсутствующие.",
            position: 'mid-center',
        }
    },
    {% endif %}
    {% if not request|have_passed_step:'form_submit_button' %}
    {
        view: '{% tutorial_step_view request %}',
        step: 'form_submit_button',
        element: '#form_submit_button',
        popover: {
            title: "Сохранение",
            description: "Чтобы сохранить отметки посещаемости, нажмите эту кнопку.",
            position: 'top'
        }
    },
    {% endif %}
    {% endif %}
])
</script>
{% endblock javascript %}
