<div class="table-responsive-lg" style="overflow-x: scroll;">
    <table id="attendance_table" class="table table-sm table-hover assignment-table">
        <thead>
            <tr>
                <th class="sticky-column text-end" style="width: 4%;">№</th>
                <th class="sticky-column" style="width: 25%;">Студент</th>
                <th class="sticky-column text-center" style="width: 4%;"><span data-bs-toggle="tooltip" data-bs-placement="top" title="Посещаемость">П</span></th>
                {% for day in days %}
                <th class="text-center">
                    {{ day|date:'d.m.y' }}
                </th>
                {% empty %}
                <th class="text-center">отметок посещаемости не обнаружено</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in table %}
            <tr>
                <td class="sticky-column text-end font-monospace">{{ forloop.counter|stringformat:"02d" }}</td>
                <td class="sticky-column text-truncate"><a href="{{ row.student.get_absolute_url }}" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ row.student.get_full_name }}">{{ row.student.get_short_name }}</a></td>
                <td class="sticky-column text-center">
                    <span class="badge bg-light" style="position:relative; top:-0.06rem;">
                        {{ row.student.attendance_sum }}
                    </span>
                </td>
                {% for col in row.columns %}
                <td class="text-truncate">
                    {% for a in col.attendance %}
                    <span data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ a.date_from|date:'H:i' }} - {{ a.date_to|date:'H:i' }}">
                        {% if a.flag %}
                        <i class="fa fa-check fa-fw text-success"></i>
                        {% else %}
                        <i class="fa fa-times fa-fw text-danger"></i>
                        {% endif %}
                    </span>
                    {% endfor %}
                </td>
                {% empty %}
                <td class="text-center">&nbsp;</td>
                {% endfor %}
            </tr>
            {% empty %}
            <tr><td colspan="4" class="text-center">нет отметок посещаемости</td></tr>
            {% endfor %}
        </tbody>
    </table>
</div>
