{% extends 'base_main.html' %}
{% load views contests tutorial static %}

{% block title %}Посещаемость{% endblock title %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% breadcrumb course course %}
{% breadcrumb "Задания" 'contests:assignment-table' course.id query_string=request|get_query_string %}
{% breadcrumb "Посещаемость" %}
{% endblock breadcrumbs %}

{% block main_content %}
<legend>Посещаемость</legend>
{% render_attendance_course_table students attendance %}
{% endblock main_content %}

{% block main_scripts %}
<script src="{% static 'js/utils.js' %}" type="text/javascript"></script>
<script type="text/javascript">
document.addEventListener("DOMContentLoaded", function() {
    adjustStickyColumns(document.getElementById("attendance_table"), 3);
});
</script>
{% endblock main_scripts %}
