{% extends 'base.html' %}
{% load views %}

{% block title %}
Помощь
{% endblock title %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% breadcrumb "Помощь" %}
{% endblock breadcrumbs %}

{% block content %}
<legend>Помощь</legend>

{% endblock content %}

{% block submenu %}
<div class="list-group">
    <a href="{% url 'support:question-list' %}" class="list-group-item list-group-item-action"><i class="fa fa-question fa-fw"></i> Вопросы</a>
    {% if user.is_staff %}
    <a href="{% url 'support:report-list' %}" class="list-group-item list-group-item-action"><i class="fa fa-bug fa-fw"></i> Багрепорты</a>
    {% endif %}
</div>
<div class="list-group">
    {% if perms.support.add_question %}
    <a href="{% url 'support:question-create' %}" class="list-group-item list-group-item-action"><i class="fa fa-plus fa-fw"></i> Задать вопрос</a>
    {% endif %}
    <a href="{% url 'support:report-create' %}" class="list-group-item list-group-item-action"><i class="fa fa-plus fa-fw"></i> Сообщить об ошибке</a>
</div>
{% endblock submenu %}
