{% extends 'base_wide.html' %}
{% load views humanize %}

{% block title %}
Помощь
{% endblock title %}

{% block breadcrumbs %}
{% breadcrumb "Главная" 'contests:index' %}
{% breadcrumb "Помощь" %}
{% endblock breadcrumbs %}

{% block content %}
<legend>Помощь</legend>

<div class="row">
    <div class="col-12 col-md-6 mb-3">
        <div class="card mb-3">
            <div class="card-header d-flex align-items-center">
                <span class="mr-auto"><a href="{% url 'support:question-list' %}" class="btn btn-block btn-light"><i class="fa fa-question fa-fw"></i> Вопросы</a></span>
                {% if perms.support.add_question %}
                <span>
                    <a href="{% url 'support:question-create' %}" class="btn btn-block btn-light" title="Задать вопрос"><i class="fa fa-plus fa-fw"></i></a>
                </span>
                {% endif %}
            </div>
        </div>
        {% if questions %}
        {% for question in questions %}
        <div class="card mt-3">
            <div class="card-header d-flex align-items-center bg-white">
                <span class="text-primary mr-auto"><a href="{{ question.get_absolute_url }}">{{ question }}</a></span>
                {% if question.addressee == request.user %}
                <span class="text-warning">
                    <i class="fa fa-star fa-fw" title="Вопрос адресован вам"></i>
                </span>
                {% endif %}
            </div>
            <div class="card-footer d-flex align-items-center">
                {% if request.user.is_superuser %}
                <span class="text-muted mr-auto">{{ question.owner.account }}</span>
                {% endif %}
                <span class="text-muted ml-auto">{{ question.date_created|naturaltime }}</span>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="alert alert-info mb-3" role="alert">
            Вопросов нет
        </div>
        {% endif %}
    </div>
    <div class="col-12 col-md-6 mb-3">
        <div class="card mb-3">
            <div class="card-header d-flex align-items-center">
                <span class="mr-auto"><a href="{% url 'support:report-list' %}" class="btn btn-block btn-light"><i class="fa fa-bug fa-fw"></i> Сообщения об ошибках</a></span>
                {% if perms.support.add_question %}
                <span>
                    <a href="{% url 'support:report-create' %}" class="btn btn-block btn-light" title="Сообщить об ошибке"><i class="fa fa-plus fa-fw"></i></a>
                </span>
                {% endif %}
            </div>
        </div>
        {% if reports %}
        {% for report in reports %}
        <div class="card mt-3">
            <div class="card-header d-flex align-items-center bg-white">
                <span class="text-primary mr-auto"><a href="{{ report.get_absolute_url }}">{{ report }}</a></span>
                {% if report.closed %}
                <span class="numtus status-success">Закрыто</span>
                {% else %}
                <span class="numtus status-warning">Открыто</span>
                {% endif %}
            </div>
            <div class="card-footer d-flex align-items-center">
                {% if request.user.is_superuser %}
                <span class="text-muted mr-auto">{{ report.owner.account }}</span>
                {% endif %}
                <span class="text-muted ml-auto">{{ report.date_created|naturaltime }}</span>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="alert alert-info mb-3" role="alert">
            Сообщений об ошибках нет
        </div>
        {% endif %}
    </div>
{% endblock content %}
